<div class="row g-3">
  <div class="col-sm-8">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="text-main">Actions</div>
      </mat-card-header>
      <mat-card-header class="card-header-control">
        <form [formGroup]="filterFrm">
          <div class="row g-2 w-100">
            <div class="col-sm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Scheme</mat-label>
                <mat-select formControlName="schemeTypeId">
                  <mat-option *ngFor=" let scheme of schemeFilterArr"
                    [value]="scheme.value">{{scheme.textEnglish}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Search Action Name</mat-label>
                <input matInput formControlName="textSearch"  placeholder="Search Name" 
                (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-auto">
              <div class="d-flex align-items-center gap-2">
                <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button"
                (click)="getTableData('filter')">
                  <mat-icon class="material-symbols-rounded">
                    search
                  </mat-icon>
                </button>
                <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit"
                type="button" (click)="clearSearchFilter()">
                  <mat-icon class="material-symbols-rounded">
                    close
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-header>
      <mat-card-content class="card-body">
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <form [formGroup]="actionFrm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
      <div class="card plain-card">
        <div class="card-header text-main">
           {{editFlag ? "Update Actions" : "Add Actions"}}
        </div>
        <div class="card-body">
          <div class="row gx-2">
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Scheme</mat-label>
                <mat-select formControlName="schemeTypeId">
                  <mat-option *ngFor=" let scheme of schemeArray"
                    [value]="scheme.value">{{scheme.textEnglish}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Action Name (English)</mat-label>
                <input matInput formControlName="actionName"  maxlength="50"
                  (keypress)="validator.noFirstSpaceAllow($event);validator.alphaNumericWithSpacesAndSpecChars($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Action Name (Marathi)</mat-label>
                <input matInput formControlName="m_ActionName"  maxlength="50"
                  (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiValidation($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"  maxlength="500" 
                (keypress)="validator.noFirstSpaceAllow($event);validator.alphaNumericWithSpacesAndSpecChars($event)"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end gap-2 my-2">
            <button mat-flat-button class="btn-main-light" (click)="clearFormData()" type="button">Cancel</button>
            <button mat-flat-button class="btn-main" type="submit">{{!editFlag ? 'Save' : 'Update'}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>