<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">{{!data ? ('grainage.add_Grainage'|translate) :isViewFlag ? ("grainage.view_Grainage" |
      translate): ('grainage.update_Grainage'|translate)}} </div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<div *ngIf="isViewFlag">
  <div mat-dialog-content class="modal-body form-container">
    <div class="row g-2 align-items-center">
      <div class="col-sm-4 form-label mb-0">{{lang == 'en' ? 'Type ': 'प्रकार'}}</div>
      <div class="col-sm-8 form-data">: {{lang == 'en' ? data?.type : data?.m_Type}}</div>
      <div class="col-sm-4 form-label mb-0">{{'grainage.grainageName_en' | translate}}</div>
      <div class="col-sm-8 form-data">: {{data?.grainage || '-'}}</div>
      <div class="col-sm-4 form-label mb-0">{{'grainage.grainageName_mr' | translate}}</div>
      <div class="col-sm-8 form-data">: {{data?.m_Grainage || '-'}}</div>
      <div class="col-sm-4 form-label mb-0">{{lang == 'en' ? 'State': 'राज्य'}}</div>
      <div class="col-sm-8 form-data">: {{lang == 'en' ? data?.state : data?.m_State}}</div>
      <div class="col-sm-4 form-label mb-0">{{lang == 'en' ? 'District': 'जिल्हा'}}</div>
      <div class="col-sm-8 form-data">: {{lang == 'en' ? data?.district : data?.m_District}}</div>
      <div class="col-sm-4 form-label mb-0" *>{{lang == 'en' ? 'Taluka': 'तालुका'}}</div>
      <div class="col-sm-8 form-data" >: {{lang == 'en' ? data?.taluka : data?.m_Taluka}}</div>
      <div class="col-sm-4 form-label mb-0">{{lang == 'en' ? 'Grampanchayat': 'ग्रामपंचायत'}}</div>
      <div class="col-sm-8 form-data">: {{lang == 'en' ? data?.grampanchayatName : data?.m_GrampanchayatName}}</div>
      <div class="col-sm-4 form-label mb-0">{{"grainage.pincode" | translate}}</div>
      <div class="col-sm-8 form-data">: {{data?.pincode || '-'}}</div>
      <div class="col-sm-4 form-label mb-0">{{"grainage.address" | translate}} </div>
      <div class="col-sm-8 form-data">: {{data?.address || '-'}}</div>
      <div class="col-sm-4 form-label mb-0">{{"grainage.remark" | translate}} </div>
      <div class="col-sm-8 form-data">: {{data?.remark || '-'}}</div>
    </div>
  </div>
</div>

<div class="" *ngIf="!isViewFlag">
  <form [formGroup]="grainageFrm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
    <div mat-dialog-content class="modal-body form-container">
      <div class="row gx-2">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"grainage.Type" | translate}}</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor=" let grain of grainageArr" [value]="grain.id">{{lang == 'en' ? grain.textEnglish :
                grain.textMarathi}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['type']?.hasError('required')">{{'grainage.Type_reqired'|translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"grainage.grainageName_en" | translate}}</mat-label>
            <input formControlName="grainage" matInput
              (keypress)="validator.noFirstSpaceAllow($event);validator.englishNumericspecialChar($event)">
            <mat-error
              *ngIf="f['grainage']?.hasError('required')">{{'grainage.grainageName_en_require'|translate}}</mat-error>
            <mat-error
              *ngIf="f['grainage']?.hasError('pattern')">{{'grainage.grainageName_en_pattern'|translate}}</mat-error>
            <mat-error
              *ngIf="f['grainage']?.hasError('maxLengthExceeded')">{{'grainage.grainageName_en_limit'|translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"grainage.grainageName_mr" | translate}}</mat-label>
            <input formControlName="m_Grainage" matInput (keypress)="validator.noFirstSpaceAllow($event)">
            <!-- validator.MarathiCharacterValidator() -->
            <mat-error *ngIf="f['m_Grainage'].hasError('required') ">{{'grainage.grainageName_mr_require'| translate}}</mat-error>
            <mat-error *ngIf="f['m_Grainage']?.errors">
              <span class="text-danger"
                *ngIf="f['m_Grainage']?.hasError('maxLengthExceeded') || f['m_Grainage']?.hasError('marathiCharacters')">
                {{f['m_Grainage'].hasError('maxLengthExceeded') ? ('grainage.grainageName_mr_limit'| translate) : ('grainage.grainageName_mr_pattern'| translate)}}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"common.state" | translate}}</mat-label>
            <mat-select formControlName="stateId" (selectionChange)="clearDropdown('state');getDisrict()">
              <mat-option>
                <ngx-mat-select-search [formControl]="stateCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search State Name' : 'राज्याचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor=" let state of stateSubject | async" [value]="state.id">{{lang == 'en' ?
                state.textEnglish : state.textMarathi}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['stateId']?.hasError('required')">{{'common.Please_select_state'|translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"common.district" | translate}}</mat-label>
            <mat-select formControlName="districtId" (selectionChange)="clearDropdown('district');getTaluka()"
              [class]="!f['stateId'].getRawValue() ? f['districtId'].disable({ onlySelf: true }) : f['districtId'].enable({ onlySelf: true })">
              <mat-option>
                <ngx-mat-select-search [formControl]="districtCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search District Name' : 'जिल्ह्याचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor=" let district of districtSubject | async" [value]="district.id">{{lang == 'en' ?
                district.textEnglish : district.textMarathi}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="f['districtId']?.hasError('required')">{{'common.Please_select_district'|translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"common.taluka" | translate}}</mat-label>
            <mat-select formControlName="talukaId" (selectionChange)="clearDropdown('taluka');getGrampanchayat()"
              [class]="!f['districtId'].getRawValue() ? f['talukaId'].disable({ onlySelf: true }) : f['talukaId'].enable({ onlySelf: true })">
              <mat-option>
                <ngx-mat-select-search [formControl]="talukaCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Taluka Name' : 'तालुक्याचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor=" let taluka of talukaSubject | async" [value]="taluka.id">{{lang == 'en' ?
                taluka.textEnglish : taluka.textMarathi}}</mat-option>
            </mat-select>
            <!-- <mat-error
              *ngIf="f['talukaId']?.hasError('required')">{{'common.Please_select_taluka'|translate}}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.select_grampanchayat' | translate}}</mat-label>
            <mat-select formControlName="grampanchyatId"
              [class]="!f['talukaId'].getRawValue() ? f['grampanchyatId'].disable({ onlySelf: true }) : f['grampanchyatId'].enable({ onlySelf: true })">
              <mat-option>
                <ngx-mat-select-search [formControl]="gramPCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Grampanchayat Name' : 'ग्रामपंचायतीचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let village of gramPSubject | async" [value]="village.id">{{lang != 'en' ?
                village.textMarathi : village.textEnglish}}</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="f['grampanchayatId']?.hasError('required')">
              {{'officerreg.please_select_grampanchayat'|translate}} </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"grainage.pincode" | translate}}</mat-label>
            <input formControlName="pincode" matInput maxlength="6"
              (keypress)="validator.noFirstSpaceAllow($event);validator.onlyDigits($event)">
            <mat-error *ngIf="f['pincode']?.hasError('required')">{{'grainage.pincode_require'|translate}}</mat-error>
            <mat-error *ngIf="f['pincode']?.hasError('pattern')">{{'grainage.pincode_maxlength'|translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"grainage.address" | translate}}</mat-label>
            <textarea rows="3" formControlName="address" matInput
              (keypress)="validator.noFirstSpaceAllow($event)"></textarea>
            <mat-error *ngIf="f['address']?.hasError('required')">{{'grainage.address_require'|translate}}</mat-error>
            <mat-error
              *ngIf="f['address']?.hasError('maxLengthExceeded')">{{'grainage.address_limit'|translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"grainage.remark" | translate}}</mat-label>
            <textarea rows="3" formControlName="remark" matInput
              (keypress)="validator.noFirstSpaceAllow($event)"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="modal-footer">
      <div class="d-flex align-items-center justify-content-end gap-2 w-100">
        <button mat-flat-button class="btn-main-light" (click)="clearFormData()"
          type="button">{{'common.clear'|translate}} </button>
        <button mat-flat-button class="btn-main" type="submit">{{data ? ('common.update'|translate) :
          ('common.add'|translate)}}</button>
      </div>
    </div>
  </form>
</div>