<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main fw-bold">Chowki Order Details</div>
    <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<div mat-dialog-content class="modal-body form-container">
  <h6 class="text-main border-bottom border-success border-opacity-50">Booking Details</h6>
  <div class="row">
    <div class="col-sm-8">
      <div class="row gy-2">
        <div class="col-sm-12">
          <div class="row gx-2">
            <div class="col-sm-2 form-label">Farmer Name</div>
            <div class="col-sm-10 form-data">: Jayram Ramesh Tandale</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Mobile No</div>
            <div class="col-sm-8 form-data">: 8669264767</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Delivery Slab</div>
            <div class="col-sm-8 form-data">: 13 December 2023</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">District </div>
            <div class="col-sm-8 form-data">: Dharahsiv</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Taluka </div>
            <div class="col-sm-8 form-data">: Dharahsiv</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Village </div>
            <div class="col-sm-8 form-data">: Dharahsiv Nagar</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Pincode </div>
            <div class="col-sm-8 form-data">: 411053</div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row gx-2">
            <div class="col-sm-2 form-label">Address </div>
            <div class="col-sm-10 form-data">: </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row gx-2">
            <div class="col-sm-2 form-label">Payment Reciept </div>
            <div class="col-sm-10 form-data">:
              <a href="">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <div class="form-label">Order ID</div>
            </th>
            <th>
              <div class="form-label">202362518495</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Order Date</div>
            </th>
            <th>
              <div class="form-data">13-12-2023</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Product Name</div>
            </th>
            <th>
              <div class="form-data">Chowki</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Quantity</div>
            </th>
            <th>
              <div class="form-data">200</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Rate (INR)</div>
            </th>
            <th>
              <div class="form-data">2700.00</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Total Amount ( INR )</div>
            </th>
            <th>
              <div class="form-data">2700.00</div>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <section>
  <h6 class="text-main border-bottom border-success border-opacity-50">Delivery Details</h6>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex gap-2">
      <div class="form-label">Order Quantity</div>
      <div class="form-data">:  350 DLFs</div>
    </div>
    <div class="d-flex gap-2 ">
      <div class="form-label text-danger">Balance Quantity</div>
      <div class="form-data text-danger">:   100 DLFs</div>
    </div>
  </div>
</section>
<div class="table-responsive scrollbar">
  table
</div>

</div>
