<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main fw-bold">{{lang == 'en' ? 'Chowki Order Details' : 'चौकी ऑर्डर तपशील'}}</div>
    <button mat-icon-button class="btn-icon btn-modal-close" mat-dialog-close="true">
      <span class="material-symbols-rounded">close</span>
    </button>

  </div>
</div>
<div mat-dialog-content class="modal-body form-container">
  <h6 class="text-main border-bottom border-success border-opacity-50">{{lang == 'en' ? 'Booking Details' : 'बुकिंग तपशील'}}</h6>
  <div class="row">
    <div class="col-sm-8">
      <div class="row gy-2">
        <div class="col-sm-12">
          <div class="row gx-2">
            <div class="col-sm-2 form-label">Farmer Name </div>
            <div class="col-sm-10 form-data">: {{lang == 'en' ? tableDataArray?.name : tableDataArray?.m_Name || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Mobile No</div>
            <div class="col-sm-8 form-data">: {{tableDataArray?.mobNo1 || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Delivery Slab</div>
            <div class="col-sm-8 form-data">: {{tableDataArray?.deliverySlab || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">District </div>
            <div class="col-sm-8 form-data">: {{lang == 'en' ? tableDataArray?.district : tableDataArray?.m_District || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Taluka </div>
            <div class="col-sm-8 form-data">: {{lang == 'en' ? tableDataArray?.taluka : tableDataArray?.m_Taluka || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Village </div>
            <div class="col-sm-8 form-data">: {{lang == 'en' ? tableDataArray?.village : tableDataArray?.m_Village || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row gx-2">
            <div class="col-sm-4 form-label">Pincode </div>
            <div class="col-sm-8 form-data">: {{tableDataArray?.pinCode || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row gx-2">
            <div class="col-sm-2 form-label">Address </div>
            <div class="col-sm-10 form-data">: {{lang == 'en' ? tableDataArray?.address : tableDataArray?.m_Address || '-'}}</div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row gx-2">
            <div class="col-sm-2 form-label">Payment Reciept </div>
            <div class="col-sm-10 form-data" (click)="viewreceipt()">:
              <a href="">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <div class="form-label">Order ID</div>
            </th>
            <th>
              <div class="form-label">{{orderDataArray?.orderId || '-'}}</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Order Date</div>
            </th>
            <th>
              <div class="form-data">{{orderDataArray?.orderDate | date:'dd-MM-yyyy' || '-'}}</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Product Name</div>
            </th>
            <th>
              <div class="form-data">{{orderDataArray?.productName || '-'}}</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Quantity</div>
            </th>
            <th>
              <div class="form-data">{{orderDataArray?.quantity || '-'}}</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Rate (INR)</div>
            </th>
            <th>
              <div class="form-data">{{orderDataArray?.rate || '-'}}</div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="form-label">Total Amount ( INR )</div>
            </th>
            <th>
              <div class="form-data">{{orderDataArray?.totalAmount || '-'}}</div>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <section>
  <h6 class="text-main border-bottom border-success border-opacity-50">Delivery Details</h6>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex gap-2">
      <div class="form-label">Order Quantity</div>
      <div class="form-data">: {{totalCountData?.orderedQty}}</div>
    </div>
    <div class="d-flex gap-2 ">
      <div class="form-label text-danger">Balance Quantity</div>
      <div class="form-data text-danger">:   {{totalCountData?.receivedQty}}</div>
    </div>
  </div>
</section>
<div class="table-responsive scrollbar">
  <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
</div>

</div>
