<div class="row gx-2">
  <div class="col-sm-8">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="text-main">{{'faq.faq' | translate}}</div>
          <button mat-flat-button class="btn-main" (click)="addfaq()">
            <mat-icon class="material-symbols-rounded">
              add
            </mat-icon>
            Add FAQ
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="card-body">
        <form [formGroup]="filterFrm" class="w-100">
          <div class="row gx-2">
            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'faq.searchfaq' | translate}}</mat-label>
                <input matInput formControlName="textSearch"
                  (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-auto">
              <div class="d-flex align-items-center gap-2">
                <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button"
                  (click)="getTableData('filter')">
                  <mat-icon class="material-symbols-rounded">
                    search
                  </mat-icon>
                </button>
                <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button"
                  (click)="clearSearchFilter()">
                  <mat-icon class="material-symbols-rounded">
                    close
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <form [formGroup]="faqFrm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
      <mat-card class="plain-card">
        <mat-card-header class="card-header">
          <div class="text-main">
            {{editFlag ? ('faq.update_faq'|translate) : ('faq.add_faq'|translate)}}
          </div>
        </mat-card-header>
        <mat-card-content class="card-body">
          <div class="mb-0">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'faq.question_en' | translate}}</mat-label>
              <input matInput formControlName="question"
              (keypress)="validator.noFirstSpaceAllow($event);validator.alphaNumericWithQuetion($event)">
               <mat-error *ngIf="f['question']?.hasError('required')">{{'faq.question_required' | translate}} </mat-error>
               <mat-error *ngIf="f['question']?.hasError('pattern')">{{'faq.question_pattern' | translate}} </mat-error>
                <mat-error *ngIf="f['question']?.hasError('maxLengthExceeded')">{{'faq.question_maxLength' | translate}} </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-0">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'faq.question_mr' | translate}}</mat-label>
              <input matInput formControlName="m_Question"
              (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiQuetionValidation($event)">
               <mat-error *ngIf="f['m_Question']?.hasError('required')">{{'faq.question_required' | translate}} </mat-error>
               <mat-error *ngIf="f['m_Question']?.hasError('pattern')">{{'faq.question_pattern' | translate}}  </mat-error>
                <mat-error *ngIf="f['m_Question']?.hasError('maxLengthExceeded')">{{'faq.question_maxLength' | translate}} </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'faq.answer_en' | translate}}</mat-label>
              <textarea matInput formControlName="answer"
                (keypress)="validator.noFirstSpaceAllow($event);validator.alphaNumericWithQuetion($event)"></textarea>
              <mat-error *ngIf="f['answer']?.hasError('required')">{{'faq.Answer_required' | translate}} </mat-error>
              <mat-error *ngIf="f['answer']?.hasError('pattern')">{{'faq.Answer_pattern' | translate}}  </mat-error>
               <mat-error *ngIf="f['answer']?.hasError('maxLengthExceeded')">{{'faq.answer_maxLength' | translate}} </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'faq.answer_mr' | translate}}</mat-label>
              <textarea matInput formControlName="m_Answer"
                (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiQuetionValidation($event)"></textarea>
              <mat-error *ngIf="f['m_Answer']?.hasError('required')">{{'faq.Answer_required' | translate}} </mat-error>
              <mat-error *ngIf="f['m_Answer']?.hasError('pattern')">{{'faq.Answer_pattern' | translate}}  </mat-error>
               <mat-error *ngIf="f['m_Answer']?.hasError('maxLengthExceeded')">{{'faq.answer_maxLength' | translate}} </mat-error>
            </mat-form-field>
          </div>
          <div class="d-flex align-items-center justify-content-end gap-2">
            <button mat-flat-button class="btn-main-light" (click)="clearFormData()" type="button">{{'faq.clear'|translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{!editFlag ? ('faq.add'|translate) :
              ('faq.update'|translate)}}</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
