<div class="row gx-2">
  <div class="col-sm-12">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="text-main">{{'faq.faq' | translate}}</div>
          <button mat-flat-button class="btn-main" (click)="addfaq()">
            <mat-icon class="material-symbols-rounded">
              add
            </mat-icon>
            {{('faq.add_faq'|translate)}}
          </button>
        </div>
      </mat-card-header>
      <mat-card-header class="card-header-control">
        <form [formGroup]="filterFrm" class="w-100" (ngSubmit)="getTableData('filter')">
          <div class="row gx-2">
            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'faq.searchfaq' | translate}}</mat-label>
                <input matInput formControlName="textSearch"
                  (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-auto">
              <div class="d-flex align-items-center gap-2">
                <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="submit">
                  <mat-icon class="material-symbols-rounded">
                    search
                  </mat-icon>
                </button>
                <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button"
                  (click)="clearSearchFilter()">
                  <mat-icon class="material-symbols-rounded">
                    close
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-header>
      <mat-card-content class="card-body">
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
