<mat-card class="plain-card form-container">
    <mat-card-header class="card-header">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="text-main">{{'manrega.manrega'| translate}}</div>
        <button mat-flat-button class="btn-main" [routerLink]="['/create-manarega-app']">
          <mat-icon class="material-symbols-rounded">
            add
          </mat-icon>
          {{'approvalProcess.Add_Manarega' | translate}}
        </button>
        <button mat-flat-button class="btn-main" [routerLink]="['/create-samgra-app']">
          <mat-icon class="material-symbols-rounded">
            add
          </mat-icon>
          Add Samgra
        </button>
        
      </div>
    </mat-card-header>
    <mat-card-header class="card-header-control">
      <form [formGroup]="filterFrm" class="w-100">
        <div class="row gx-2 gy-2">
         <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'manrega.district'| translate}}</mat-label> -->
              <mat-select formControlName="districtId" (selectionChange)="getTaluka()" placeholder="District"
              [class]="webStorage.getDistrictId() ? f['districtId'].disable({ onlySelf: true }) : f['districtId'].enable({ onlySelf: true })">
                <mat-option *ngFor=" let dist of districtArr" [value]="dist.id">{{lang == 'en' ? dist.textEnglish :
                  dist.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'manrega.taluka'| translate}}</mat-label> -->
              <mat-select formControlName="talukaId" (selectionChange)="clearDropdown('Taluka');getGrampanchayat()" placeholder="All Taluka"
              [class]="webStorage.getTalukaId() ? f['talukaId'].disable({ onlySelf: true }) : f['talukaId'].enable({ onlySelf: true })">
              <mat-option>
                <ngx-mat-select-search [formControl]="talukaCtrl"
                    placeholderLabel="{{lang == 'en' ? 'Search Grampanchayat Name' : 'ग्रामपंचायतीचे नाव शोधा'}}"
                    noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
            </mat-option>
              <mat-option *ngFor=" let taluka of talukaSubject | async" [value]="taluka.id">{{lang == 'en' ? taluka.textEnglish :
                  taluka.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'common.grampanchayat_filter'| translate}} </mat-label> -->
              <mat-select formControlName="grampanchayatId" placeholder="{{lang == 'en' ? 'Grampanchayat' :'ग्रामपंचायत'}}"
              [class]="webStorage.getGrampanchayatId() || !filterFrm.getRawValue().talukaId ? f['grampanchayatId'].disable({ onlySelf: true }) : f['grampanchayatId'].enable({ onlySelf: true })">
              <mat-option>
                <ngx-mat-select-search [formControl]="gramPCtrl"
                    placeholderLabel="{{lang == 'en' ? 'Search Grampanchayat Name' : 'ग्रामपंचायतीचे नाव शोधा'}}"
                    noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
            </mat-option>
                <mat-option *ngFor=" let gram of gramPSubject | async" [value]="gram.id">{{lang == 'en' ? gram.textEnglish :
                  gram.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'manrega.scheme'| translate}}</mat-label> -->
              <mat-select formControlName="schemeTypeId" placeholder="All Scheme">
                <mat-option *ngFor=" let scheme of schemeFilterArr" [value]="scheme.id">{{lang == 'en' ?
                  scheme.textEnglish : scheme.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'manrega.status'| translate}}</mat-label> -->
              <mat-select formControlName="statusId" placeholder="All Status">
                <mat-option *ngFor=" let status of statusArr" [value]="status.id">{{lang == 'en' ? status.textEnglish
                  : status.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'manrega.search_by'| translate}}</mat-label> -->
              <input matInput formControlName="textSearch" (keypress)="validator.noFirstSpaceAllow($event)" placeholder="{{lang == 'en' ? 'Application ID/ Farmer Name/ Mobile No.' : 'अर्ज आयडी/ शेतकऱ्याचे नाव/ मोबाईल क्र.'}}">
            </mat-form-field>
          </div>
          <div class="col-sm-1">
            <div class="d-flex gap-2">
              <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button"
                (click)="getTableData('filter')">
                <mat-icon class="material-symbols-rounded">
                  search
                </mat-icon>
              </button>
              <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button"
                (click)="clearSearchFilter()">
                <mat-icon class="material-symbols-rounded">
                  close
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
      <!-- <div class="row">
        <div class="col-sm-auto">
          <div class="d-flex gap-2 text-primary">
            <div class="form-label">Total Application </div>
            <div class="form-label">: 100</div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="d-flex gap-2 text-primary">
            <div class="form-label">Pending </div>
            <div class="form-label">: 20</div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="d-flex gap-2 text-warning">
            <div class="form-label">In Progress </div>
            <div class="form-label">: 20</div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="d-flex gap-2 text-success">
            <div class="form-label">Approved </div>
            <div class="form-label">: 40</div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="d-flex gap-2 text-danger">
            <div class="form-label">Rejected </div>
            <div class="form-label">: 40</div>
          </div>
        </div>
      </div> -->
      <div class="table-responsive scrollbar">
        <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        <!-- <table mat-table [dataSource]="dataSource" class="dashboard-table">
  
          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
            <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
          </ng-container>
  
          <ng-container matColumnDef="applicationid">
            <th mat-header-cell *matHeaderCellDef> Application ID </th>
            <td mat-cell *matCellDef="let element"> {{element.applicationid}} </td>
          </ng-container>
  
          <ng-container matColumnDef="farmername">
            <th mat-header-cell *matHeaderCellDef> Farmer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.farmername}} </td>
          </ng-container>
  
          <ng-container matColumnDef="mobileno">
            <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
            <td mat-cell *matCellDef="let element"> {{element.mobileno}} </td>
          </ng-container>
          <ng-container matColumnDef="taluka">
            <th mat-header-cell *matHeaderCellDef> Taluka </th>
            <td mat-cell *matCellDef="let element"> {{element.taluka}} </td>
          </ng-container>
          <ng-container matColumnDef="village">
            <th mat-header-cell *matHeaderCellDef> Village </th>
            <td mat-cell *matCellDef="let element"> {{element.village}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <div class="text-primary">{{element.status}}</div>
              <div class="text-warning">{{element.status}}</div>
              <div class="text-success">{{element.status}}</div>
              <div class="text-danger">{{element.status}}</div>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="../approval-process">
                {{element.action}}
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->
  
  
      </div>
    </mat-card-content>
  </mat-card>
  