<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                    schemes & programs
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Schemes & Programs</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row g-5 mb-5" id="schemes">
        <div class="col-sm-12">
            <h3>योजना - <span>मनरेगा</span></h3>
            <div class="card card-body mb-3 rounded-4 border-0">
                <div class="row g-5">
                    <div class="col-md-2">
                        <img src="assets/images/mgn-logo.png" alt="Manarega Logo">
                    </div>
                    <div class="col-md-10">
                        <h5 class="card-title">योजनेचा सारांश</h5>
                        <h6 class="card-text fw-bold">
                            प्रति लाभार्थी मर्यादा 1 एकर पर्यन्त
                        </h6>
                        <p>
                            मनरेगा रेशीम उद्योग विकासांतर्गत एक एकर तुती लागवडीकरिता जमीन तयार करणे, नर्सरी रोपे करून
                            तुति लागवड, किटक संगोपन, किटक संगोपन साहित्य, कोष उत्पादन व किटक संगोपन गृह या सर्वकष
                            बाबींना मान्यता देऊन योजना संपूर्ण जिल्ह्यात लागू करण्यात आली आहे. या योजनेअंतर्गत
                            शेतकर्‍यांना 1 एकर तुती लागवडीसाठी रु. 2.18186 लक्ष तीन वर्षांत विभागून दिले जाते व कीटक
                            संगोपन गृह(1100 चौ. फुट) बांधकामासाठी रु. 1.79149 लक्ष असे एकूण रु. 3.97335 लक्ष रक्कम येवढे
                            अनुदान देण्यात येत आहे.
                        </p>
                        <h6 class="card-text fw-bold">
                            योजनेचा फायदा
                        </h6>
                        <p>
                            रेशीम शेती उद्योग हा कृषि वर आधारित, रोजगाराची प्रचंड क्षमता असलेला व ग्रामीण भागातील
                            लोकांचा स्तर उंचवण्यासाठी मदत करणारा उद्योग आहे. महाराष्ट्रची भौगोलिक परिस्थिती व हवामान
                            रेशीम शेती उद्योगास पूरक असून या उद्योगाद्वारे हमखास आर्थिक उत्पन्न मिळू शकते. शेतकर्‍यांना
                            स्वंताःचे शेतात काम करून रोजगार मिळतोच, तसेच या अनुदानाबरोबर कोष उत्पादनातुन आर्थिक उत्पन्न
                            असे दुहेरी उत्पन्न मिळते. जिल्ह्यातील शेतकरी/लाभार्थ्यांना स्थानिक रोजगार निर्मिती व या
                            उद्योगाद्वारे आर्थिक उन्नती साध्य होईल.
                        </p>
                        <h6 class="card-text fw-bold">
                            पात्रता
                        </h6>
                        <ul>
                            <li>शेतकरी हा अल्पभूधारक, अनुसूचित जाती/जमाती, महिला यांना प्राधान्य.</li>
                            <li>सर्व साधारण प्रवर्गातील देखील भाग घेऊ शकतो.</li>
                            <li>शेतकरी हा मनरेगा जॉब कार्ड धारक असावा.</li>
                            <li>स्वतः मजूर म्हणून काम करणे आवश्यक.</li>
                            <li>शेतकऱ्याने या आधी रेशीम संचालनालया अंतर्गत कुठल्याही शासकीय योजनेचा लाभ घेतलेला
                                नसावा.</li>
                            <li>शेतकऱ्याकडे सिंचनाची बारमाही किंवा आठमाही सुविधा असलेली बागायती स्वतः ची जमीन
                                असावी.</li>
                        </ul>
                        <h6 class="card-text fw-bold">
                            आवश्यक कागदपत्रे
                        </h6>
                        <ul>
                            <li>अर्ज नोंदणी फी : 500 रुपये</li>
                            <li>आधार कार्ड</li>
                            <li>७/१२ उतारा</li>
                            <li>८ अ दाखला</li>
                            <li>मनरेगा जॉब कार्ड</li>
                            <li>रास्ट्रीयकृत बँक पासबूक छायांकित प्रत</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h3>योजना - <span>सिल्क समग्र - २</span></h3>
            <div class="card card-body mb-3 rounded-4 border-0">
                <div class="row g-5">
                    <div class="col-md-2">
                        <img src="assets/images/silk-samagra.png" alt="Manarega Logo">
                    </div>
                    <div class="col-md-10">
                        <h5 class="card-title">योजनेचा सारांश</h5>
                        <h6 class="card-text fw-bold">
                            प्रति लाभार्थी मर्यादा 1 किंवा 2 एकर
                        </h6>
                        <p>
                            जिल्ह्यातील मनरेगा निकषा मध्ये बसत नसलेल्या शेतकर्‍यांनी तुती रेशीम विकासात सहभागी व्हावे व
                            कोषोत्तर प्रक्रियेसाथी सिल्क समग्र-२ योजना लागू करण्यात आलेली आहे.
                        </p>
                        <p>
                            जिल्ह्यात यामध्ये प्रामुख्याने खालीलप्रमाणे तुती लागवड पूर्व तसेच कोषोत्तर प्रक्रिया अनुदान
                            अर्थसहाय्य योजना राबविण्यात येते.
                        </p>
                        <ul>
                            <li>तुती लागवड &ndash; रु. 0.38 लक्ष प्रति एकर</li>
                            <li>किटक संगोपन साहित्य &ndash; रु. 0.45 लक्ष</li>
                            <li>किटक संगोपनगृह बांधकाम(1000 स्वे. फू.) &ndash; रु. 1.26 लक्ष</li>
                            <li>मुल्टिएंड रिलिंग युनिट &ndash; रु. 12.56 लक्ष</li>
                            <li>ॲटोमॅटीक रिलिंग युनिट (200 एन्डस) &ndash; रु. 57.62 लक्ष</li>
                            <li>ॲटोमॅटीक रिलिंग युनिट (400 एन्डस) &ndash; रु. 92.04 लक्ष</li>
                            <li>ट्विस्टिंग मशीन &ndash; रु. 7.53 लक्ष</li>
                        </ul>
                        <h6 class="card-text fw-bold">
                            योजनेचा फायदा
                        </h6>
                        <p>
                            शेतकर्‍यांना तुती लागवड, संगोपन साहित्य तसेच संगोपनगृह बांधकामासाठी सहाय्य देणे व त्याद्वारे
                            शेतकर्‍यांना आर्थिक उत्पादनाचे स्त्रोत निर्माण करणे
                        </p>
                        <p>
                            राज्यातील कोष राज्यातच प्रक्रिया करणेसाठी पुढील साखळी उभारणी करून स्थानिक रोजगार निर्मिती
                            करणे
                        </p>
                        <h6 class="card-text fw-bold">
                            पात्रता
                        </h6>
                        <ul>
                            <li>शेतकर्‍याकडे सिंचनाची बारमाही किंवा आठमाही सुविधा असलेली बागायती स्वतः ची जमीन असावी.
                            </li>
                            <li>शेतकर्‍याने या आधी रेशीम संचालनालया अंतर्गत कुठल्याही शासकीय योजनेचा लाभ घेतलेला नसावा.
                            </li>
                        </ul>
                        <h6 class="card-text fw-bold">
                            आवश्यक कागदपत्रे
                        </h6>
                        <ul>
                            <li>अर्ज नोंदणी फी : 500 रुपये(प्रति एकर)</li>
                            <li>आधार कार्ड</li>
                            <li>7/12 तुती नोंद असलेला किंव्हा तलाठी प्रमाणपत्र</li>
                            <li>8-अ उतारा</li>
                            <li>चतु:सीमा नकाशा</li>
                            <li>रास्ट्रीयकृत बँक पासबूक छायांकित प्रत</li>
                            <li>जातीचे प्रमाणपत्र ( अनु.जाती/अनु. जमाती शेतकऱ्यांसाठी)</li>
                            <li>पाणी उपलब्धता प्रमाणपत्र</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>