<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                  {{'publicFooter.schemes_programs' |translate}}
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">{{'contactUs.home' |translate}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'publicFooter.schemes_programs' |translate}}</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row g-4 mb-5" id="schemes">
        <div class="col-sm-12">
            <h3>{{'action.scheme' |translate}} - <span>{{'dashboard.manrega' |translate}}</span></h3>
            <div class="card card-body mb-3 rounded-4 border-0">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/images/mgn-logo.png" alt="Manarega Logo">
                    </div>
                    <div class="col-md-10">
                        <h5 class="card-title">{{'schemes_programs.scheme_summary' |translate}}</h5>
                        <h6 class="card-text fw-bold">
                            <!-- प्रति लाभार्थी मर्यादा 1 एकर पर्यन्त -->
                            {{'schemes_programs.Limit_up_to_1_acre_per_beneficiary' |translate}}
                        </h6>
                        <p>
                            <!-- मनरेगा रेशीम उद्योग विकासांतर्गत एक एकर तुती लागवडीकरिता जमीन तयार करणे, नर्सरी रोपे करून
                            तुति लागवड, किटक संगोपन, किटक संगोपन साहित्य, कोष उत्पादन व किटक संगोपन गृह या सर्वकष
                            बाबींना मान्यता देऊन योजना संपूर्ण जिल्ह्यात लागू करण्यात आली आहे. या योजनेअंतर्गत
                            शेतकर्‍यांना 1 एकर तुती लागवडीसाठी रु. 2.18186 लक्ष तीन वर्षांत विभागून दिले जाते व कीटक
                            संगोपन गृह(1100 चौ. फुट) बांधकामासाठी रु. 1.79149 लक्ष असे एकूण रु. 3.97335 लक्ष रक्कम येवढे
                            अनुदान देण्यात येत आहे. -->
                            {{'schemes_programs.scheme_summary_description' |translate}}

                        </p>
                        <h6 class="card-text fw-bold">
                            <!-- योजनेचा फायदा -->
                            {{'schemes_programs.Benefit_of_the_scheme' |translate}}
                        </h6>
                        <p>
                            <!-- रेशीम शेती उद्योग हा कृषि वर आधारित, रोजगाराची प्रचंड क्षमता असलेला व ग्रामीण भागातील
                            लोकांचा स्तर उंचवण्यासाठी मदत करणारा उद्योग आहे. महाराष्ट्रची भौगोलिक परिस्थिती व हवामान
                            रेशीम शेती उद्योगास पूरक असून या उद्योगाद्वारे हमखास आर्थिक उत्पन्न मिळू शकते. शेतकर्‍यांना
                            स्वंताःचे शेतात काम करून रोजगार मिळतोच, तसेच या अनुदानाबरोबर कोष उत्पादनातुन आर्थिक उत्पन्न
                            असे दुहेरी उत्पन्न मिळते. जिल्ह्यातील शेतकरी/लाभार्थ्यांना स्थानिक रोजगार निर्मिती व या
                            उद्योगाद्वारे आर्थिक उन्नती साध्य होईल. -->
                            {{'schemes_programs.benefit_scheme_description' |translate}}
                        </p>
                        <h6 class="card-text fw-bold">
                            <!-- पात्रता -->
                            {{'schemes_programs.Eligibility' |translate}}
                        </h6>
                        <ul>
                            <li>{{'schemes_programs.Eligibility_pt1' |translate}}</li>
                            <li>{{'schemes_programs.Eligibility_pt2' |translate}}</li>
                            <li>{{'schemes_programs.Eligibility_pt3' |translate}}</li>
                            <li>{{'schemes_programs.Eligibility_pt4' |translate}}.</li>
                            <li>{{'schemes_programs.Eligibility_pt5' |translate}}</li>
                            <li>{{'schemes_programs.Eligibility_pt6' |translate}}</li>
                        </ul>
                        <h6 class="card-text fw-bold">
                            <!-- आवश्यक कागदपत्रे -->
                            {{'schemes_programs.required_document' |translate}}
                        </h6>
                        <ul>
                            <li> {{'schemes_programs.necessary_document_pt1' |translate}}</li>
                            <li> {{'schemes_programs.necessary_document_pt2' |translate}}</li>
                            <li> {{'schemes_programs.necessary_document_pt3' |translate}}</li>
                            <li> {{'schemes_programs.necessary_document_pt4' |translate}}</li>
                            <li> {{'schemes_programs.necessary_document_pt5' |translate}}</li>
                            <li> {{'schemes_programs.necessary_document_pt6' |translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <!-- <h3>योजना - <span>सिल्क समग्र - २</span></h3> -->
            <h3>{{'schemes_programs.Scheme_Silk_Samagra2' |translate}}</h3>
            <div class="card card-body mb-3 rounded-4 border-0">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/images/silk-samagra.png" alt="Manarega Logo">
                    </div>
                    <div class="col-md-10">
                        <h5 class="card-title">{{'schemes_programs.scheme_summary' |translate}}</h5>
                        <h6 class="card-text fw-bold">
                            <!-- प्रति लाभार्थी मर्यादा 1 किंवा 2 एकर -->
                            {{'schemes_programs.Limit_1_or_2_acres_per_beneficiary' |translate}}
                        </h6>
                        <p>
                            <!-- जिल्ह्यातील मनरेगा निकषा मध्ये बसत नसलेल्या शेतकर्‍यांनी तुती रेशीम विकासात सहभागी व्हावे व
                            कोषोत्तर प्रक्रियेसाथी सिल्क समग्र-२ योजना लागू करण्यात आलेली आहे. -->
                            {{'schemes_programs.Farmers_who_do_not_fit_the_MNREGA_criteria_of_the_district' |translate}}
                        </p>
                        <p>
                            <!-- जिल्ह्यात यामध्ये प्रामुख्याने खालीलप्रमाणे तुती लागवड पूर्व तसेच कोषोत्तर प्रक्रिया अनुदान
                            अर्थसहाय्य योजना राबविण्यात येते. -->
                            {{'schemes_programs.mulberry_plantation_pre_planting_and_post_planting_process' |translate}}
                        </p>
                        <ul>
                            <li>{{'schemes_programs.pre_planting_and_post_planting_process_pt1' |translate}}</li>
                            <li>{{'schemes_programs.pre_planting_and_post_planting_process_pt2' |translate}}</li>
                            <li>{{'schemes_programs.pre_planting_and_post_planting_process_pt3' |translate}}</li>
                            <li>{{'schemes_programs.pre_planting_and_post_planting_process_pt4' |translate}}</li>
                            <li>{{'schemes_programs.pre_planting_and_post_planting_process_pt5' |translate}}</li>
                            <li>{{'schemes_programs.pre_planting_and_post_planting_process_pt6' |translate}}</li>
                            <li>{{'schemes_programs.pre_planting_and_post_planting_process_pt7' |translate}}</li>
                        </ul>
                        <h6 class="card-text fw-bold">
                            <!-- योजनेचा फायदा -->
                            {{'schemes_programs.silk_samagra2_Benefit_of_the_scheme' |translate}}
                        </h6>
                        <p>
                            <!-- शेतकर्‍यांना तुती लागवड, संगोपन साहित्य तसेच संगोपनगृह बांधकामासाठी सहाय्य देणे व त्याद्वारे
                            शेतकर्‍यांना आर्थिक उत्पादनाचे स्त्रोत निर्माण करणे -->
                            {{'schemes_programs.silk_samagra2_Benefit_of_the_scheme_pt1' |translate}}
                        </p>
                        <p>
                            <!-- राज्यातील कोष राज्यातच प्रक्रिया करणेसाठी पुढील साखळी उभारणी करून स्थानिक रोजगार निर्मिती
                            करणे -->
                            {{'schemes_programs.silk_samagra2_Benefit_of_the_scheme_pt2' |translate}}
                        </p>
                        <h6 class="card-text fw-bold">
                            <!-- पात्रता -->
                            {{'schemes_programs.Eligibility' |translate}}
                        </h6>
                        <ul>
                            <li> {{'schemes_programs.silk_samagra2_eligibility_pt1' |translate}}
                            </li>
                            <li> {{'schemes_programs.silk_samagra2_eligibility_pt2' |translate}}
                            </li>
                        </ul>
                        <h6 class="card-text fw-bold">
                            <!-- आवश्यक कागदपत्रे -->
                            {{'schemes_programs.required_document' |translate}}
                        </h6>
                        <ul>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt1' |translate}}</li>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt2' |translate}}</li>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt3' |translate}}</li>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt4' |translate}}</li>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt5' |translate}}</li>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt6' |translate}}</li>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt7' |translate}}</li>
                            <li>{{'schemes_programs.silk_samagra2_req_docs_pt8' |translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
