<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">{{!this.data ? ('grainage.add_Grainage'|translate) :isViewFlag ? ("grainage.view_Grainage" |
      translate): ('grainage.update_Grainage'|translate)}} </div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<form [formGroup]="grainageFrm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
  <div mat-dialog-content class="modal-body">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>{{"grainage.Type" | translate}}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor=" let grain of grainageArr" [value]="grain.id">{{lang == 'en' ? grain.textEnglish :
          grain.textMarathi}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="row gx-2">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.grainageName_en" | translate}}</mat-label>
          <input formControlName="grainage" matInput >
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.grainageName_mr" | translate}}</mat-label>
          <input formControlName="m_Grainage" matInput >
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.state" | translate}}</mat-label>
          <mat-select formControlName="stateId" (selectionChange)="getDisrict()"
          [class]="grainageFrm.controls['stateId'].disable({ onlySelf: true })">
            <mat-option *ngFor=" let state of stateArr"
            [value]="state.id">{{lang == 'en' ? state.textEnglish : state.textMarathi}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.district" | translate}}</mat-label>
          <mat-select formControlName="districtId" (selectionChange)="getTaluka()"
          [class]="grainageFrm.controls['districtId'].disable({ onlySelf: true })">
            <mat-option *ngFor=" let dist of districtArr"
            [value]="dist.id">{{lang == 'en' ? dist.textEnglish : dist.textMarathi}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.taluka" | translate}}</mat-label>
          <mat-select formControlName="talukaId">
            <mat-option *ngFor=" let taluka of talukaArr"
            [value]="taluka.id">{{lang == 'en' ? taluka.textEnglish : taluka.textMarathi}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.pincode" | translate}}</mat-label>
          <input formControlName="pincode" matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.address" | translate}}</mat-label>
          <textarea formControlName="address" matInput placeholder=""></textarea>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{"grainage.remark" | translate}}</mat-label>
          <textarea formControlName="remark" matInput placeholder=""></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="modal-footer">
    <div class="d-flex align-items-center justify-content-end gap-2 w-100">
      <button mat-flat-button class="btn-main-light" (click)="clearFormData()" type="button">{{'action.clear'|translate}} </button>
      <button mat-flat-button  class="btn-main" type="submit">{{this.data ? ('action.update'|translate) :
        ('action.add'|translate)}}</button>
    </div>
  </div>
</form>