<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">Add Grainage</div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<div mat-dialog-content class="modal-body">
  <mat-form-field appearance="outline" class="w-50">
    <mat-label>Type</mat-label>
    <mat-select>
      <mat-option>Government</mat-option>
      <mat-option>Private</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row gx-2">
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Grainage Name (English)</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Grainage Name (Marathi)</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>State</mat-label>
        <mat-select>
          <mat-option>Maharashtra</mat-option>
          <mat-option>Goa</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>District</mat-label>
        <mat-select>
          <mat-option>Pune</mat-option>
          <mat-option>Nagar</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Taluka</mat-label>
        <mat-select>
          <mat-option>Haveli</mat-option>
          <mat-option>Junnar</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Pincode</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Remark</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end gap-2 w-100">
    <button mat-flat-button class="btn-main-light" >Clear</button>
    <button mat-flat-button [mat-dialog-close]=true class="btn-main">Add</button>
  </div>
</div>


