<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">{{data ? 'Update Block' : 'Add Block'}}</div>
    <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
      <mat-icon class="material-symbols-outlined">
          close
      </mat-icon>
  </button>
  </div>
</div>
<form [formGroup]="addBlockForm" #FormGroupDirective="ngForm">
<mat-dialog-content class="modal-body">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>State</mat-label>
        <mat-select formControlName="stateId" (selectionChange)="getDistrict()">
          <mat-option *ngFor="let state of stateArr" [value]="state.id">{{state.state}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label> District</mat-label>
        <mat-select formControlName="districtId" (selectionChange)="getTaluka()">
          <mat-option *ngFor="let district of districtArr" [value]="district.id">{{district.district}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="col-sm-12">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Block (Taluka)</mat-radio-button>
        <mat-radio-button value="2">Circle (Village)</mat-radio-button>
      </mat-radio-group>
    </div> -->
    <div class="col-sm-6">
      <!-- <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Taluka</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value?.[0] || ''}}
            <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Taluka</mat-label>
        <mat-select formControlName="talukas" multiple>
          <!-- <mat-select-trigger>
            {{talukas.value?.[0] || ''}}
            <span *ngIf="(talukas.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(talukas.value?.length || 0) - 1}} {{talukas.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger> -->
          <mat-option *ngFor="let taluka of talukaArr" [value]="taluka.id">{{taluka.taluka}}</mat-option>
        </mat-select>
        <mat-error *ngIf="f['talukas'].hasError('required') ">Please Select Taluka</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter Block Name</mat-label>
        <input matInput  formControlName="blockName" (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)" maxlength="30">
        <mat-error *ngIf="f['blockName'].hasError('required') ">Please Enter Block Name</mat-error>
      </mat-form-field>
    </div>
    <!-- <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Village</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value?.[0] || ''}}
            <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <!-- <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter Circle Name</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div> -->
  </div>

  <div class="d-flex align-items-center justify-content-end gap-2">
    <button mat-flat-button mat-dialog-close type="button" class="btn-main-light">Cancel</button>
    <button mat-flat-button class="btn-main" type="submit" (click)="onSubmit()">{{data ? 'Update' : 'Submit'}}</button>
  </div>
</mat-dialog-content>
</form>
