<mat-card class="plain-card form-container">
  <mat-card-header class="card-header">
    <div class="text-main fw-bold">Application / {{applicantDetails?.schemeType}} / View Application </div>
  </mat-card-header>

  <mat-card-content class="card-body">
    <div class="card card-body mb-3">
      <div class="row g-2">
        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Application ID (Date):</div>
            <div class="form-data">{{(applicationData?.applicationNo +' ( '+(applicationData?.applicationDate |
              date:'dd-MM-yyyy')+')') | dash }}</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Applicant Name (Mobile No.):</div>
            <div class="form-data">{{(lang == 'en' ? (applicantDetails?.fullName | dash ) :
              (applicantDetails?.m_FullName | dash))+' ('+(applicantDetails?.mobileNo1 | dash)+')'}} </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Scheme:</div>
            <div class="form-data">{{lang == 'en' ? (applicationData?.schemeType | dash) :
              (applicationData?.m_SchemeType | dash)}} </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Process Department :</div>
            <div class="form-data">{{lang == 'en' ? (applicationData?.departmentName | dash) :
              (applicationData?.m_DepartmentName | dash)}} </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Plantation Area :</div>
            <div class="form-data">{{applicationData?.mulberryCultivationArea | dash}} </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Address :</div>
            <div class="form-data">{{applicantDetails?.state +', '+applicantDetails?.taluka+','+applicantDetails?.village}}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="table-content table-responsive mb-3">
      <table mat-table [dataSource]="approvalStatus" class="dashboard-table">
        <ng-container matColumnDef="sr_no">
          <th mat-header-cell *matHeaderCellDef>Sr.No.</th>
          <td mat-cell *matCellDef="let element; let i=index" class="mxw-200">{{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="designationName">
          <th mat-header-cell *matHeaderCellDef> Designation </th>
          <td mat-cell *matCellDef="let element" class="mnw-200">{{element.designationName ? element.designationName
            :'-'}}</td>
        </ng-container>
        <ng-container matColumnDef="actionName">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="mnw-200">{{element.actionName ? element.actionName :'-'}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Approval Status</th>
          <td mat-cell *matCellDef="let element">
            <h6 class="mb-0"><span class="badge"
                [ngClass]="element.status=='Approved' ? 'text-bg-success' : (element.status == 'Pending' || element.status == 'pending') ? 'text-bg-warning' : 'bg-danger-subtle text-danger'">
                {{element.status ? element.status :'-'}}
              </span></h6>
          </td>
        </ng-container>
        <ng-container matColumnDef="modifiedDate">
          <th mat-header-cell *matHeaderCellDef> Approval Date</th>
          <td mat-cell *matCellDef="let element">{{element.modifiedDate == '0001-01-01T00:00:00' ? '-' :
            element.modifiedDate | date :'dd-MM-YYYY hh:mm a'}}</td>
        </ng-container>

        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef> Approval Remark</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element?.remark?.length > 10 ? (element?.remark?.slice(0 , 10))+'...' : element?.remark}} </span>
            <a *ngIf="element?.remark?.length > 10" (click)="remarkDialogBox(element.remark)">More</a>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef>Approval Remark </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.remark && element.remark.length > 2; else elseBlock">
              <button mat-raised-button color="primary" type="button" (click)="openDialog(element.remark)">
                Show Remark
              </button>
            </ng-container>
            <ng-template #elseBlock>
              {{element.remark ? element.remark : '-'}}
            </ng-template>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>View </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element?.documnetApprovalPath else elseBlock">
              <button matTooltipPosition="above" mat-icon-button class="btn-icon bg-dark bg-opacity-10"
                (click)="viewDocument(element?.documnetApprovalPath)">
                <span class="material-symbols-rounded text-dark">
                  visibility
                </span>
              </button>
            </ng-container>
            <ng-template #elseBlock>
              <div *ngIf="applicationData.getSiteInspectionDataModel.isSiteInspectionDone && applicationData?.isLastLevel; else elseBlockSec">
                <button matTooltipPosition="above" mat-icon-button class="btn-icon bg-dark bg-opacity-10" (click)="addGeoTagging()">
                  <span class="material-symbols-rounded text-dark">
                    visibility
                  </span>
                </button>
              </div>
              <ng-template #elseBlockSec>
                -
              </ng-template>
            </ng-template>
          </td>
        </ng-container>

        <tr class="mat-row p-2 w-100" *matNoDataRow>
          <td class="" colspan="12">
            <div class="alert alert-danger text-center m-2 p-2" colspan="12">No Data Found </div>
          </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayColumnRemark"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumnRemark;"></tr>
      </table>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <div class="form-data text-main">Application Details</div>
      </div>
      <div class="card-body">
        <div class="row application-details">
          <div class="col-sm-3">
            <img src="{{applicantDetails?.profilePhotoPath}}" alt="view Application Image">
          </div>
          <div class="col-sm-9">
            <div class="row g-2 mb-2 pb-2 border-bottom">
              <div class="col-sm-2 col-4">
                <div class="form-label">Applicant Name</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.fullName | dash ) :
                  (applicantDetails?.m_FullName | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Manarega Job Card No.</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{applicantDetails?.mn_JobCardNo | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Mobile No.</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{applicantDetails?.mobileNo1 | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Aadhar Number</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data"> : {{applicantDetails?.aadharNo | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Date of Birth</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{(applicantDetails?.birthDate | date: 'dd-MM-yyyy') | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">State</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.state | dash ) :
                  (applicantDetails?.m_State | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Taluka</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.taluka | dash ) :
                  (applicantDetails?.m_Taluka | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Village </div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.village | dash ) :
                  (applicantDetails?.village | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Pincode </div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{applicantDetails?.pinCode | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Alt. Mobile No.</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data"> : {{applicantDetails?.mobileNo2 | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Gender</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.gender | dash ) :
                  (applicantDetails?.m_gender | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Education</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.qualification | dash ) :
                  (applicantDetails?.m_Qualification | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">District</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.district | dash ) :
                  (applicantDetails?.m_District | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Village Committee</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data"> : {{lang == 'en' ? (applicantDetails?.grampanchayatName | dash ) :
                  (applicantDetails?.m_GrampanchayatName | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Address </div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.address | dash ) :
                  (applicantDetails?.m_Address | dash)}}</div>
              </div>
            </div>
            <div class="form-label">Beneficiary Category (Selected Options)</div>
            <ol class="form-data mb-0">
              <li>Scheduled Caste</li>
              <li>Beneficiaries of Land Reform</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <div class="text-main fw-bold">Land Details</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="form-label">Total Land in Hectares(up to 2.0 hectares) in favor of beneciaries(as per 8-A):
                </div>
                <div class="form-data"> {{applicantDetails?.benificiaryTotalFarm | dash}}</div>
              </li>
              <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="form-label">Cultivated Area in Hectares:</div>
                <div class="form-data">{{applicantDetails?.cultivatedFarmInHector | dash}}</div>
              </li>
              <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="form-label"> Irrigation Facility :</div>
                <div class="form-data">{{lang == 'en' ? (applicantDetails?.irrigationFacility | dash ) :
                  (applicantDetails?.m_IrrigationFacility | dash)}}</div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="form-label">Cultivation Land Survey Number:</div>
                <div class="form-data">{{applicantDetails?.mulberryCultivatedSurveyNo | dash}}</div>
              </li>
              <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="form-label"> Land Type:</div>
                <div class="form-data">{{lang == 'en' ? (applicantDetails?.farmType | dash ) :
                  (applicantDetails?.m_FarmType
                  | dash)}}</div>
              </li>
            </ul>
          </div>
        </div>

        <ul class="list-group list-group-flush mb-3">
          <li class=" list-group-item d-flex justify-content-between align-items-center">
            <div class="form-label"> Are you a joined account Holder ?</div>
            <mat-radio-group aria-label="Select an option" class="d-flex gap-2" [class.disable]="true">
              <mat-radio-button value="yes" [checked]="applicantDetails?.isJointAccHolder == true"
                class="form-data">Yes</mat-radio-button>
              <mat-radio-button value="no" [checked]="applicantDetails?.isJointAccHolder == false"
                class="form-data">No</mat-radio-button>
            </mat-radio-group>
          </li>
          <ng-container *ngIf="applicantDetails?.isJointAccHolder">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2">
              <div class="form-label">Land Survey No. of land to be cultivated as per applicant's share: </div>
              <div class="form-data">{{applicantDetails?.applicantFarmSurveyNo | dash}}</div>
            </div>
            <div class="d-flex gap-2">
              <div class="form-label">Its area(Hector): </div>
              <div class="form-data">{{applicantDetails?.applicantFarmArea | dash}}</div>
            </div>
          </li>
        </ng-container>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="form-label"> Will take the silk industry training himself or send the candidate ?</div>
            <mat-radio-group aria-label="Select an option" class="d-flex gap-2" [class.disable]="true">
              <mat-radio-button value="1" [checked]="applicantDetails?.isSelfTraining == true">
                <div class="fw-bold">Send Candidate</div>
              </mat-radio-button>
              <mat-radio-button value="2" [checked]="applicantDetails?.isSelfTraining == false">
                <div class="fw-bold">MySelf</div>
              </mat-radio-button>
            </mat-radio-group>
          </li>
          <ng-container *ngIf="applicantDetails?.isSelfTraining">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex gap-3">
              <div class="form-label">Candidate Name : </div>
              <div class="form-data">{{applicantDetails?.candidateName | dash}}</div>
            </div>
            <div class="d-flex gap-2">
              <div class="form-label">Relation : </div>
              <div class="form-data">{{lang == 'en' ? (applicantDetails?.relationName | dash ) :
                (applicantDetails?.m_RelationName | dash)}}</div>
            </div>
          </li>
        </ng-container>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="form-label"> Have you done orchards/flowers/trees before under the government schemes other than
              employement guarantee ?</div>
            <div class="form-data">
              <mat-radio-group aria-label="Select an option" class="d-flex gap-2" [class.disable]="true">
                <mat-radio-button value="11" [checked]="applicantDetails?.isAnyPlantedBeforeGovScheme == true"
                  class="form-data">Yes</mat-radio-button>
                <mat-radio-button value="12" [checked]="applicantDetails?.isAnyPlantedBeforeGovScheme == false"
                  class="form-data">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </li>
        </ul>
     
        <div class="table-responsive scrollbar" *ngIf="!applicantDetails?.sAnyPlantedBeforeGovScheme">
          <table class="dashboard-table table table-bordered w-100 mb-0">
            <thead>
              <tr>
                <th>Orchard/Flower/Tree Name</th>
                <th>Group No.</th>
                <th>Group Area (Hectares)</th>
                <th>Cultivated Area (Hectares)</th>
                <th>Number of trees planted</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{lang == 'en' ? (applicantDetails?.plantName | dash ) : ('')}}</td>
                <td>{{applicantDetails?.gutNo | dash}}</td>
                <td>{{applicantDetails?.gutArea | dash}}</td>
                <td>{{applicantDetails?.plantCultivatedArea | dash}}</td>
                <td>{{applicantDetails?.noOfPlant | dash}}</td>
              </tr>
            </tbody>
          </table>
        </div>
       
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-header">
        <div class="text-main fw-bold">Bank Details</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="d-flex gap-2">
              <div class="form-label mb-0">Bank Name :</div>
              <div class="form-data"> {{lang == 'en' ? (applicantDetails?.bankName | dash ) :
                (applicantDetails?.m_BankName | dash)}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="d-flex gap-2">
              <div class="form-label mb-0">Branch :</div>
              <div class="form-data">{{lang == 'en' ? (applicantDetails?.branchName | dash ) :
                (applicantDetails?.m_BranchName | dash)}}</div>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="d-flex gap-2">
              <div class="form-label mb-0">IFSC Code :</div>
              <div class="form-data">{{applicantDetails?.bankIFSCCode | dash}} </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex gap-2">
              <div class="form-label mb-0">Bank Account No :</div>
              <div class="form-data">{{applicantDetails?.bankAccountNo | dash}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex align-items-center mb-2">
      <mat-checkbox checked disabled></mat-checkbox>
      <div class="form-label text-justify">
        will plant the above mentioned trees as per the rules and conditions prescribed by the Government and also
        declare myself / efficient person of my family as a certified laborer under the Mahatma Gandhi National
        Rural Employment Guarantee Scheme. Proper care and protection of seedlings after planting. So let me
        participate in this plan. 7/12 excerpt ond 8-A are attached
      </div>
    </div> -->

    <div class="card mb-3">
      <div class="card-body">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChanged();">
          <mat-tab label="Applicant Document">
            <div class="table-responsive mt-2">
              <table mat-table [dataSource]="dataSource" class="dashboard-table mb-0">
                <ng-container matColumnDef="srNo">
                  <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                  <td mat-cell *matCellDef="let element;let i=index"> {{i + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="documentType">
                  <th mat-header-cell *matHeaderCellDef> Document Name </th>
                  <td mat-cell *matCellDef="let element"> {{element?.documentType}} </td>
                </ng-container>

                <ng-container matColumnDef="docNo">
                  <th mat-header-cell *matHeaderCellDef>Document No
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element?.docNo}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element; ; let i = index;">
                    <div class="d-flex gap-2">
                      <button matTooltipPosition="above" mat-icon-button [disabled]="!element?.docPath"
                        class="btn-icon bg-dark bg-opacity-10" (click)="viewDocument(element.docPath)">
                        <span class="material-symbols-rounded text-dark">
                          visibility
                        </span>
                      </button>
                      <input type="file" class="d-none" (change)="imageUplod($event,'applicantDoc', i)" #editImg>
                      <!-- <button matTooltipPosition="above" mat-icon-button class="btn-icon bg-warning bg-opacity-10"
                        (click)="editImg.click()" [class.disable]="!applicationData?.isEdit">
                        <span class="material-symbols-rounded text-warning">
                          edit_square
                        </span>
                      </button> -->
                      <!-- <button matTooltipPosition="above" mat-icon-button class="btn-icon bg-danger bg-opacity-10" (click)="deleteImage(i,'applicantDoc')">
                        <span class="material-symbols-rounded text-danger">
                          delete
                        </span>
                      </button> -->
                    </div>
                  </td>
                </ng-container>
                <tr class="mat-row p-2 w-100" *matNoDataRow col>
                  <td colspan="12">
                    <div class="alert alert-danger text-center m-2 p-2" colspan="12">
                      No Data Found
                    </div>
                  </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Other Document">
            <div class="container-fluid">
              <!--  -->
              <form [formGroup]="uploadFrm" #formDirective="ngForm" (ngSubmit)="onSubmit()" class="w-100 mt-2" [class.disable]="!applicationData?.isEdit">
                <div class="row g-2">
                  <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Document Name</mat-label>
                      <input matInput placeholder="" formControlName="documentType"
                        (keypress)="validation.noSpacesAtStart($event)">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Document Number</mat-label>
                      <input matInput placeholder="" formControlName="docNo"
                        (keypress)="validation.noSpacesAtStart($event)">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <div class="file-upload border rounded-2 p-1">
                      <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                        (click)="uplodLogo.click()" data-placement="right">
                        Upload Document
                      </button>
                      <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file"
                        (change)="imageUplod($event,'otherDocForm')" hidden="hidden" />
                      <div class="d-flex gap-2" *ngIf="uploadFrm.value.docPath">
                        <button type="button" mat-flat-button (click)="viewDocument(uploadFrm.value.docPath)"
                          class="bg-primary-subtle text-primary btn-icon btn-action" matTooltip="view">
                          <mat-icon class="material-symbols-rounded">
                            preview
                          </mat-icon>
                        </button>
                        <button type="button" mat-flat-button (click)="deleteOtherDoc()"
                          class="bg-danger-subtle text-danger btn-icon btn-action" matTooltip="delete">
                          <mat-icon class="material-symbols-rounded">
                            delete
                          </mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-auto">
                    <button mat-flat-button class="btn-main">
                      <mat-icon class="material-symbols-rounded">
                        add
                      </mat-icon>
                      {{editOtherDocForm ? 'Update':'Add'}} Document
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="table-responsive">
              <table mat-table [dataSource]="otherDocArray" class="dashboard-table mb-0">
                <ng-container matColumnDef="srNo">
                  <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                  <td mat-cell *matCellDef="let element;let i=index"> {{i + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="documentType">
                  <th mat-header-cell *matHeaderCellDef> Document Name </th>
                  <td mat-cell *matCellDef="let element"> {{element?.documentType}} </td>
                </ng-container>

                <ng-container matColumnDef="docNo">
                  <th mat-header-cell *matHeaderCellDef>Document No
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element?.docNo}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    <div class="d-flex gap-02">
                      <button matTooltipPosition="above" mat-icon-button [disabled]="!element?.docPath"
                        class="btn-icon bg-dark bg-opacity-10" (click)="viewDocument(element.docPath)">
                        <span class="material-symbols-rounded text-dark">
                          visibility
                        </span>
                      </button>
                      <!-- <button matTooltipPosition="above" mat-icon-button class="btn-icon bg-warning bg-opacity-10"
                        [class.disable]="!applicationData?.isEdit" (click)="editOtherDoc(element)">
                        <span class="material-symbols-rounded text-warning">
                          edit_square
                        </span>
                      </button> -->
                      <!-- [disabled]="!element?.isDeleteAction" -->
                      <button matTooltipPosition="above" mat-icon-button class="btn-icon bg-danger bg-opacity-10"
                        (click)="deleteOtherDocument(i)" >
                        <span class="material-symbols-rounded text-danger">
                          delete
                        </span>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr class="mat-row p-2 w-100" *matNoDataRow col>
                  <td colspan="12">
                    <div class="alert alert-danger text-center m-2 p-2" colspan="12">
                      No Data Found
                    </div>
                  </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <!-- <div class="card mb-3">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="form-data text-main">Declaration</div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-label">
          <p>वरील प्रमाणे महात्मा गांधी रोजगार हमी योजनेशी निगडित रेशीम उद्योग विकास /तुती लागवड योजनेअंतर्गत मी अर्ज
            केला आहे. त्यास मंजुरी मिळाल्यास त्याकरिता माझ्या / आमच्या मालकीच्या /जमिनीवर हि योजना राबविण्यास संमती देत
            आहे / आहोत.</p>
          <ol class="mb-0">
            <li>सदर ची योजना राबविण्याकरिता मी स्वतः /माझे कुटुंबातील कार्यक्षम व्यक्ती महात्मा गांधी राष्ट्रीय ग्रामीण
              रोजगार हमी योजनेतील प्रामाणिक मजूर म्हणून घोषित करीत आहे / आहोत. या योजनेकरिता होणारी सर्व कामे
              प्रामुख्याने पूर्ण करण्याची जबाबदारी माझी किंव्हा जॉबकार्ड धारक मजुरांकडून करून घेण्याची जबाबदारी माझी /
              आमची राहील.</li>
            <li>योजनेअंतर्गत आवश्यक कलमे /रोपांची वाहतूक मला स्वतः करावी लागेल याची मला कल्पना देण्यात आलेली असून मला ते
              मान्य आहे.</li>
            <li>झाडांची लागवड केल्यानंतर हप्ता रक्कम मिळण्यासाठीचे पात्रता निकष मला अवगत</li>
            <li>या योजनेचे नियम व अटी मला बंधनकारक आहे व त्यानुसार मी कलाम / रोपांची लागवड / संगोपन / संरक्षण करीन.</li>
            <li>सदर योजनेअंतर्गत एकूण क्षेत्राप्रमाणे व नमुन्याप्रमाणे शासनाने प्रतिवर्षी मंजूर केलेल्या मर्यादेच्या
              प्रमाणकापेक्षा जास्त खर्च झाल्यास तो खर्च मी / स्वतः करील</li>
            <li>महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजनेशी निगडित रेशीम उद्योग विकास / तुती लागवड योजनेची माहिती
              मला / आम्हाला मान्य असल्याचे काबुल करून त्याप्रमाणे करार पत्रावर सह्या केल्या आहेत.</li>
            <li>या योजनेअंतर्गत शासन वेळोवेळी जे बदल करेल अथवा अटी घालेल त्या अटी / बदल मला / आम्हाला मान्य राहतील.</li>
            <li>महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजनेअंतर्गत रेशीम उद्योग विकास / तुती लागवड योजनेमध्ये
              समाविष्ठ करून / घ्या करीता मी / आम्ही दिलेला तपशील ७/१२ चे उताऱ्याप्रमाणे बरोबर आहे.</li>
            <li>मी / आम्ही संयुक्त खातेदार असून माझ्या / आमच्या हिश्याच्या भूमापन क्र. १२६० मध्ये १ हेक्टर क्षेत्रावर
              लागवड करण्यास परवानगी दिल्यास वरील अटी मला / आम्हाला मान्य राहतील.</li>
          </ol>
        </div>
      </div>
    </div> -->
    <div class="card" [class.d-none]="!applicationData?.isEdit">
      <div class="card-body">
        <form [formGroup]="approvalFrm" (ngSubmit)="onSubmitApprovalDetails()" #formDirectives="ngForm">
          <div class="row g-2">
            <div class="col-sm-auto">
              <div class="d-flex gap-2">
                <div>
                  <label class="form-label">Select Status</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="applicationStatus" (selectionChange)="getReason()">
                      <mat-option *ngFor="let apporvalStatus of approvalStatusArray" [value]="apporvalStatus?.id">{{lang
                        =="en" ? apporvalStatus?.textEnglish : apporvalStatus?.textMarathi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div
                  *ngIf="approvalFrm.getRawValue()?.applicationStatus == 5 || approvalFrm.getRawValue()?.applicationStatus == 11">
                  <label class="form-label">Select Reason</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="reason">
                      <mat-option *ngFor="let reason of reasonArray" [value]="reason?.id">{{lang
                        == "en" ? reason?.textEnglish : reason?.textMarathi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="file-upload border rounded-2 p-1"
                *ngIf="this.applicationData?.uploadDocTypeId !=0 && approvalFrm.value.applicationStatus == 12">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                  data-placement="right" (click)="uploadDepDocument.click()">
                  Upload Document
                </button>
                <input type="file" class="d-none" #uploadDepDocument (change)="imageUplod($event,'uplDepDoc')">
                <div class="d-flex gap-2" *ngIf="uploadedDepDoc?.docPath">
                  <button type="button" (click)="viewimage('uplDepDoc')" mat-flat-button
                    class="bg-primary-subtle text-primary btn-icon btn-action" matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" (click)="delDepDocument()" mat-flat-button
                    class="bg-danger-subtle text-danger btn-icon btn-action" matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-sm">
              <label class="form-label">Remark</label>
              <mat-form-field appearance="outline" class="w-100">
                <textarea matInput placeholder="" formControlName="remark"
                  (keypress)="validation.noFirstSpaceAllow($event)" style="height: 83px;"></textarea>
                <!-- <mat-error *ngIf="approvalFrm.controls['remark']?.errors">
                  <span class="text-danger"
                    *ngIf="approvalFrm.controls['remark']?.hasError('maxLengthExceeded') || approvalFrm.controls['remark'].hasError('pattern')">
                    {{approvalFrm.controls['remark'].hasError('maxLengthExceeded') ? "Maximum limit 50 character" :
                    "Please Enter Valid Remark"}}
                  </span>
                </mat-error> -->
              </mat-form-field>
            </div>

          </div>
          <div class="d-flex align-items-center justify-content-end gap-2 my-2">
            <button mat-flat-button class="btn-main-light" type="button" [mat-dialog-close]="true">Cancel</button>
            <button mat-flat-button class="btn-main" type="submit">Submit</button>
          </div>
        </form>





        <!-- <div class="example-button-row" *ngIf="actionNameLabel">
          <button mat-raised-button color="primary" type="button"
            (click)="uploadDepDocument.click()">{{actionNameLabel}}</button>
        </div>
        <div *ngIf="uploadedDepDoc?.docPath">

          <button type="button" mat-flat-button (click)="viewimage('uplDepDoc')"
            class="bg-primary-subtle text-primary btn-icon btn-action" matTooltip="view">
            <mat-icon class="material-symbols-rounded">
              preview
            </mat-icon>
          </button>
          <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
            (click)="delDepDocument()" matTooltip="delete">
            <mat-icon class="material-symbols-rounded">
              delete
            </mat-icon>
          </button>
        </div> -->

      </div>
    </div>

    <!--  <section>
      <div class="form-data text-main">Application</div>
      <div class="row gx-2 gy-2">
        <div class="col-sm-4">
          <div class="card card-body">
            <div class="d-flex gap-5 align-items-center">
              <div class="text-center">
                <mat-icon class="material-symbols-outlined text-success ">
                  check_circle
                </mat-icon>
                <div class="form-label text-success">Approved</div>
              </div>
              <div class="d-flex flex-column justify-content-between w-100">
                <div class="d-flex flex-column">
                  <div class="form-data">Application Review</div>
                  <div class="form-label">Shamrao Kalamkar, GramSevak</div>
                  <div class="form-label">Remark :</div>
                  <div class="form-label">26-10-2023 10:00 AM</div>
                </div>
              </div>
            </div>
            <div class="card-footer pb-0">
              <div class="d-flex justify-content-end">
                <button mat-flat-button class="btn-main">Village Committee Approval Letter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-body">
            <div class="d-flex gap-5 align-items-center">
              <div class="text-center">
                <mat-icon class="material-symbols-outlined text-success ">
                  check_circle
                </mat-icon>
                <div class="form-label text-success">Approved</div>
              </div>
              <div class="d-flex flex-column justify-content-between w-100">
                <div class="d-flex flex-column">
                  <div class="form-data">Village Committee Approval</div>
                  <div class="form-label">Shamrao Kalamkar, GramSevak</div>
                  <div class="form-label">Remark :</div>
                  <div class="form-label">26-10-2023 10:00 AM</div>
                </div>
              </div>
            </div>
            <div class="card-footer pb-0">
              <div class="d-flex justify-content-end">
                <button mat-flat-button class="btn-main">Village Committee Approval Letter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-body">
            <div class="d-flex gap-5 align-items-center">
              <div class="text-center">
                <mat-icon class="material-symbols-outlined text-success ">
                  check_circle
                </mat-icon>
                <div class="form-label text-success">Approved</div>
              </div>
              <div class="d-flex flex-column justify-content-between w-100">
                <div class="d-flex flex-column">
                  <div class="form-data">Technical Estimate</div>
                  <div class="form-label">Shamrao Kalamkar, GramSevak</div>
                  <div class="form-label">Remark :</div>
                  <div class="form-label">26-10-2023 10:00 AM</div>
                </div>
              </div>
            </div>
            <div class="card-footer pb-0">
              <div class="d-flex justify-content-end">
                <button mat-flat-button class="btn-main">Technical Estimate</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-body">
            <div class="d-flex gap-5 align-items-center">
              <div class="text-center">
                <mat-icon class="material-symbols-outlined text-success ">
                  check_circle
                </mat-icon>
                <div class="form-label text-success">Approved</div>
              </div>
              <div class="d-flex flex-column justify-content-between w-100">
                <div class="d-flex flex-column">
                  <div class="form-data">Technical Sanction</div>
                  <div class="form-label">Shamrao Kalamkar, GramSevak</div>
                  <div class="form-label">Remark :</div>
                  <div class="form-label">26-10-2023 10:00 AM</div>
                </div>
              </div>
            </div>
            <div class="card-footer pb-0">
              <div class="d-flex justify-content-end">
                <button mat-flat-button class="btn-main">Technical Sanction</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-body">
            <div class="d-flex gap-5 align-items-center">
              <div class="text-center">
                <mat-icon class="material-symbols-outlined text-success ">
                  check_circle
                </mat-icon>
                <div class="form-label text-success">Approved</div>
              </div>
              <div class="d-flex flex-column justify-content-between w-100">
                <div class="d-flex flex-column">
                  <div class="form-data">Administrative Approval</div>
                  <div class="form-label">Shamrao Kalamkar, GramSevak</div>
                  <div class="form-label">Remark :</div>
                  <div class="form-label">26-10-2023 10:00 AM</div>
                </div>
              </div>
            </div>
            <div class="card-footer pb-0">
              <div class="d-flex flex-column">
                <button mat-flat-button class="btn-main">Administrative Approval</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>
    <section class="">
      <div class="d-flex align-items-center justify-content-between">
        <div class="form-data text-main">Land Survey (After Plantation)</div>
     
      </div>
      <div class="d-flex align-items-center justify-content-between gap-3 w-100">
        <div class="d-flex gap-2">
          <div class="form-label">Land Survey Date :</div>
          <div class="form-data">26-10-2023</div>
        </div>
        <div class="d-flex gap-2 text-danger">
          <div class="form-label">Reminder :</div>
          <div class="form-data">01</div>
        </div>
      </div>
    </section>

    <section>
      <div class="row gy-5">
        <div class="col-sm-6">
          <div class="form-data my-3 ">Land Demarcation (After Plantation)</div>
          land graph
        </div>
        <div class="col-sm-6">
          <div class="form-data my-3">Mulberry Garden Photos with farmers</div>
          <div class="row gy-3">
            <div class="col-sm-6">
              <img src="" alt="mulberry photo 1">
            </div>
            <div class="col-sm-6">
              <img src="" alt="mulberry photo 2">
            </div>
            <div class="col-sm-6">
              <img src="" alt="mulberry photo 3">
            </div>
            <div class="col-sm-6">
              <img src="" alt="mulberry photo 4">
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section>
      <div class="d-flex align-items-center justify-content-between gap-3">
        <div class="form-data text-main">Mulberry Plantation Details</div>
      </div>
      <div class="row gy-3 gx-2">
        <div class="col-sm-6">
          <table class="dashboard-table border  table  w-100 table-bordered ">
            <tbody>
              <tr>
                <td>Mulberrry Plantation Date</td>
                <td class="form-data">12-07-2023</td>
              </tr>
              <tr>
                <td>Mulberrry Plantation Area (Hectares) </td>
                <td class="form-data">1</td>
              </tr>
              <tr>
                <td>Mulberrry Plantation Type </td>
                <td class="form-data">Plant</td>
              </tr>
              <tr>
                <td>Mulberrry Plantation Cultivars </td>
                <td class="form-data">Plant</td>
              </tr>
              <tr>
                <td>Mulberrry Plantation Distance </td>
                <td class="form-data">1 Feet</td>
              </tr>
              <tr>
                <td>Mulberrry Plantation Area Length & Feet (Width) </td>
                <td class="form-data">60 * 40</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <table class="dashboard-table table-bordered table w-100 table-bordered ">
            <tbody>
              <tr>
                <td>Total Number of Mulberry Rows/Lines</td>
                <td class="form-data">226</td>
              </tr>
              <tr>
                <td>Number of trees in Mulberrry Row </td>
                <td class="form-data">1</td>
              </tr>
              <tr>
                <td>Number of surviving trees in mulberry rows/lines </td>
                <td class="form-data">221</td>
              </tr>
              <tr>
                <td>Total Numbers of Mulberry trees </td>
                <td class="form-data">5876</td>
              </tr>
              <tr>
                <td>Total Number of Surviving Mulberry Trees</td>
                <td class="form-data">5746</td>
              </tr>
              <tr>
                <td>Percentage of surviving mulberry trees</td>
                <td class="form-data">98%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Status</mat-label>
                <mat-select>
                  <mat-option>Approved</mat-option>
                  <mat-option>Rejected</mat-option>
                  <mat-option>Resend Document</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <div class="mb-0">
                <div class="file-upload border rounded-2 p-1">
                  <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                    (click)="uplodLogo.click()" data-placement="right">
                    Upload Gramsabha Approval Document
                  </button>
                  <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" />
                  <div class="d-flex gap-2">
                    <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                      matTooltip="view">
                      <mat-icon class="material-symbols-rounded">
                        preview
                      </mat-icon>
                    </button>
                    <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                      matTooltip="delete">
                      <mat-icon class="material-symbols-rounded">
                        delete
                      </mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Reason</mat-label>
                <mat-select>
                  <mat-option>Reason 1</mat-option>
                  <mat-option>Reason 2</mat-option>
                  <mat-option>Reason 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Remark</mat-label>
                <textarea matInput placeholder=""></textarea>
              </mat-form-field>
            </div>
          </div>
      </div>

    </div>
    </section>
    <div class="d-flex align-items-center justify-content-end gap-2 my-2">
      <button mat-flat-button class="btn-main-light">Cancel</button>
      <button mat-flat-button class="btn-main">Submit</button>
    </div>
  </mat-card-content>-->


  </mat-card-content>