<div class="container">
    <div class="row g-lg-5 g-3 align-items-center" *ngFor="let data of blogDetails">
        <div class="col-sm-8 demo">
            <img src="{{data?.thumbnailImage}}" class="img-fluid m-1">
            <h2 class="section-head mt-2">{{data?.title}}</h2>
            <p class="card-text" [innerHTML]="data?.description"> </p>
        </div>
        <div class="col-sm-4 demo">
            <div>
                <div class="text-center">
                    <h4 class="section-head">Case Studies</h4>
                </div>
                <div  *ngFor="let data of allBlogDetails">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <img src="{{data?.thumbnailImage}}" class="img-thumbnail m-1"
                            style="max-width:80px; height:auto">
                        </div>
                        <div class="col-md-6">
                            <a style="cursor: pointer;" (click)="getBlogsDetailsById(data.id, 'click')">
                                <h5 class="section-head">{{data?.title}}</h5><span>
                                    <mat-icon>calendar_today</mat-icon>{{data?.publishDate | date:'MMM d, y'}}</span>
                            </a>
                        </div>
                    </div>
                    <hr>
                </div>
                <mat-paginator class="hide-mdc-paginator-range" [length]="length" [pageSize]="10" hidePageSize="true" (page)="change($event)" showFirstLastButtons> </mat-paginator>
            </div>
        </div>
    </div>
</div>