.demo {
    border-style: groove;
    padding: 2;
}
.card{
  padding: 0 !important;
}
.card .card-header img{
  width: 100%;
  height: 350px;
  border: 0 !important;
}
.case_studies .card-body img{
  width: 100px;
   height: 75px;
   border-radius: 5px;
   border: none !important;
}

.plain-card .card-body{
  padding: 5px !important;
}
