<div mat-dialog-title class="modal-header">   
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main" *ngIf="data?.header">{{data?.header}}</div>
      <button mat-icon-button class="btn-modal-close" mat-dialog-close="true" type="button">
        <span class="material-symbols-rounded">close</span>
      </button>
    </div>
  </div>
<ng-container >
    <!-- *ngIf="verifyOTPContainer" -->
    <!-- <form > -->
        <div class="mb-3">
            <label class="form-label">Enter OTP</label>
           <div class="row">
            <div class="d-flex gap-2 no-subscript-wrapper mb-1">
                <!-- <div class="otp-text">
                    <mat-form-field appearance="outline" class="w-25">
                        <input matInput placeholder="X" maxlength="1" class="text-center"
                            autocomplete="off"  #input1                        
                            (keyup)="(input1.value.length == 1) ? input2.focus() : 'input1.focus()'">
                    </mat-form-field>
                </div>
                <div class="otp-text">
                    <mat-form-field appearance="outline" class="w-25">
                        <input matInput placeholder="X" maxlength="1" class="text-center"
                            autocomplete="off" #input2                           
                            (keyup)="(input2.value.length == 1) ? input3.focus() : 'input2.focus()'"
                            (keyup.backspace)="input1.focus()">
                    </mat-form-field>
                </div>
                <div class="otp-text">
                    <mat-form-field appearance="outline" class="w-25">
                        <input matInput placeholder="X" maxlength="1" class="text-center"
                            autocomplete="off"  #input3                         
                            (keyup)="(input3.value.length == 1) ? input4.focus() : 'input3.focus()'"
                            (keyup.backspace)="input2.focus()">
                    </mat-form-field>
                </div>
                <div class="otp-text">
                    <mat-form-field appearance="outline" class="w-25">
                        <input matInput placeholder="X" maxlength="1" class="text-center"
                            autocomplete="off"  #input4                           
                            (keyup)="(input4.value.length == 1) ? input5.focus() : 'input4.focus()'"
                            (keyup.backspace)="input3.focus()">
                    </mat-form-field>
                </div>

                <div class="otp-text">
                    <mat-form-field appearance="outline" class="w-25">
                        <input matInput placeholder="X" maxlength="1" class="text-center"
                            autocomplete="off" #input5                            
                            (keyup)="(input5.value.length == 1) ? input5.focus() : ''"
                            (keyup.backspace)="input4.focus()">
                    </mat-form-field>
                </div> -->
                <div>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput  maxlength="5"  [formControl]="otpFormControl"
                        (keypress)="validator.noFirstSpaceAllow($event);validator.onlyDigits($event)">                          
                    </mat-form-field>
                </div>
            </div>
           </div>

            <div class="text-end" >
                <a class="text-main" (click)=sendOTP() *ngIf="otpTimerFlag == true">Resend OTP?</a>
            </div>
            <div  class="text-end">
                <span  class="mb-2 ml-4 text-main">
                    Wait for 00: {{otpTimer}} Sec.</span>
            </div>         
        </div>

        <div class="forgotPwd mb-1">
            <a class="d-flex align-items-center justify-content-end text-main" (click)="getlogin()" >
                <mat-icon class="">chevron_left</mat-icon>
                <span >Back To Login</span>
            </a>
        </div>
        <div class="col-sm-auto">
            <button mat-flat-button type="button" class="btn-main"  (click)="verifyOTP()">{{data.button}}</button>
        </div>
    <!-- </form> -->
</ng-container>
