<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                    contact us
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row mb-5" id="contactus">
        <div class="col-sm-12">
            <h3 class="text-center mb-4 fw-bold">District Sericulture Office, Dharashiv</h3>
        </div>
        <div class="col-sm-4">
            <div class="card card-body h-100">
                <img src="assets/images/contactus/address.svg">
                <p>Mayur Federation Building, Bhanunagar Corner, Dharashiv, Maharashtra - 413501 </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body h-100">
                <img src="assets/images/contactus/email.svg">
                <p>02472 223885 </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body h-100">
                <img src="assets/images/contactus/call.svg">
                <a href="mailto:dsoobd@gmail.com" class="text-main-dark">dsoobd@gmail.com</a>
            </div>
        </div>
    </div>
</div>