<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                    {{'contactUs.contact_us' | translate}}
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">{{'contactUs.home' | translate}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'contactUs.contact_us' | translate}}</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row mb-5" id="contactus">
        <div class="col-sm-12">
            <h3 class="text-center mb-4 fw-bold">{{'contactUs.dist_sericulture_office_dharashiv' | translate}}</h3>
        </div>
        <div class="col-sm-4">
            <div class="card card-body h-100">
                <img src="assets/images/contactus/address.svg">
                <p>{{'contactUs.mayur_federation_building_bhanunagar_corner' | translate}} </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body h-100">
                <img src="assets/images/contactus/email.svg">
                <p>{{'contactUs.02472_223885' | translate}} </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body h-100">
                <img src="assets/images/contactus/call.svg">
                <a href="mailto:dsoobd@gmail.com" class="text-main-dark">dsoobd@gmail.com</a>
            </div>
        </div>
    </div>
</div>