@media print {
    * {
        overflow-y: visible !important;
        -webkit-print-color-adjust: exact !important;
        -moz-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    @page {
        margin: 5px;
    }

    @page :first {
        size: landscape;
        margin: 10px;
    }

    @page {
        size: A4 portrait;
        margin: 0.3in;
    }

    html,
    body {
        height: 99%;
        margin: 0 !important;
        padding: 0 !important;
    }

    .wrapper {
        display: block !important;
        width: 100vw !important;
        height: 0 !important;
    }

    .sidebar-wrapper {
        display: none !important;
        width: 0 !important;
        position: relative !important;
    }

    nav.navbar {
        display: none !important;
    }

    .wrapper .content-wrapper {
        margin-left: 0 !important;
        width: 100% !important;
        height: 0 !important;
    }

    .d-print-none {
        display: none;
    }

    .pagebreak {
        page-break-after: always !important;
    }
}