<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex alig-items-center justify-content-between w-100">
      <div class="text-main mb-0">Silk Cacoon Sell List</div>
      <button mat-flat-button class="btn-main" (click)="addsilkcacoon()">
        <mat-icon class="material-symbols-rounded">
          add
        </mat-icon>
        Add Cacoon
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="table-responsive scrollbar silk_cacoon_table">
      <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
    </div>
  </mat-card-content>
</mat-card>
