<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <form [formGroup]="filterForm"  #formDirective="ngForm">
    <div class="row gx-2 w-100">
      <div class="col-sm">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'cocoonSilkSell.Bill_no' | translate}}</mat-label>
          <input matInput formControlName="BillNo" 
          (keypress)="validator.noFirstSpaceAllow($event)">
        </mat-form-field>
      </div>
      <div class="col-sm">    
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'cocoonSilkSell.Select_a_sales_center' | translate}}</mat-label>
            <mat-select formControlName="MarketCommiteeId">
              <mat-option *ngFor="let marketCommittee of marketCommitteeArr" [value]="marketCommittee.id">{{lang == 'en' ?
                marketCommittee.textEnglish : marketCommittee.textMarathi}}</mat-option>
            </mat-select>            
          </mat-form-field>    
      </div>
      <div class="col-sm-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'marketPrice.from_date'|translate}}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="FromDate" (click)="picker.open()" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div class="col-sm-2">
        <mat-form-field class="w-100" appearance="outline"
        [class]="filterForm.value.FromDate ? this.f['ToDate'].enable({ onlySelf: true }): this.f['ToDate'].disable({ onlySelf: true })">
          <mat-label>{{'marketPrice.to_date'|translate}}</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="ToDate"
          [min]="f['FromDate'].value" max="maxDate" (click)="picker1.open()" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-auto">
        <div class="d-flex align-items-center gap-2">
          <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button"  (click)="filterFlag=true;getTableData('filter')">
            <mat-icon class="material-symbols-rounded">
              search
            </mat-icon>
          </button>
          <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button"
            (click)="filterFlag=false;clearFilter()">
            <mat-icon class="material-symbols-rounded">
              close
            </mat-icon>
          </button>
        </div>
      </div>


      <div class="col-sm-auto">
        <button mat-flat-button class="btn-main" (click)="addsilkcacoon()">
          <mat-icon class="material-symbols-rounded">
            add
        </mat-icon>
        {{'cocoonSilkSell.Add_Cacoon' | translate}}
      </button>
    </div>
    </div>
  </form>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="table-responsive scrollbar silk_cacoon_table">
      <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
    </div>
  </mat-card-content>
</mat-card>
