<mat-tab-group>
    <mat-tab label="Profile"> 
        <app-crc-profile></app-crc-profile>
    </mat-tab>
    <mat-tab label="Delivery Slabs">  <ng-template matTabContent><app-crc-delivery-slabs></app-crc-delivery-slabs></ng-template> </mat-tab>
    <mat-tab label="Chawki Order"> <ng-template matTabContent><app-crc-chawki-order></app-crc-chawki-order></ng-template></mat-tab>
    <mat-tab label="Inventory"> <ng-template matTabContent><app-inventory></app-inventory></ng-template></mat-tab>
    <!-- <mat-tab label="Chawki Order Details"> <app-crc-chawki-order-details></app-crc-chawki-order-details> </mat-tab> -->
  </mat-tab-group>




