
<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main fw-bold">{{lang == 'en' ? 'CRC Center Details' : 'CRC केंद्र तपशील' || '-'}} </div>
      <button mat-flat-button class="btn-main-light" (click)="backToPage()">
        <mat-icon class="material-symbols-rounded">
          chevron_left
        </mat-icon>
        Back
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="card-content">
    <mat-tab-group class="my-2">
      <mat-tab label=" {{lang == 'en' ? 'Profile' : 'प्रोफाइल'}}"><app-crc-profile></app-crc-profile></mat-tab>
      <mat-tab label="{{lang == 'en' ? 'Delivery Slabs' : 'वितरण स्लॅब'}}">  <ng-template matTabContent><app-crc-delivery-slabs></app-crc-delivery-slabs></ng-template> </mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Chawki Order' : 'चौकी ऑर्डर'}}"> <ng-template matTabContent><app-crc-chawki-order></app-crc-chawki-order></ng-template></mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Grainage Order' : 'ग्रेनेज ऑर्डर'}}"> <ng-template matTabContent><app-crc-grainage-order></app-crc-grainage-order></ng-template></mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Inventory' : 'इन्व्हेंटरी'}}"> <ng-template matTabContent><app-inventory></app-inventory></ng-template></mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>





