<div class="login-wrapper">

</div>
<div class="login-box">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/login.jpg" class="login-img">
        </div>
        <div class="col-sm-6">
            <div class="login form-container">
                <div class="mb-3">
                    <img src="assets/images/logo-text.svg" class="img-fluid w-50">
                </div>
                <h4 class="mb-4">FORGOT PASSWORD</h4>
                <ng-container *ngIf="sendOTPContainer">
                    <form [formGroup]="sendOTPForm" (ngSubmit)="sendOTP()">
                        <div class="row g-2">
                            <div class="col-sm">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter Mobile No.</mat-label>
                                    <input matInput placeholder="Enter Mobile No." formControlName="mobileno"
                                        maxlength="10" (keypress)="validation.noSpaceAllow($event)">
                                    <mat-error *ngIf="f['mobileno'].errors">
                                        <span class="text-danger" *ngIf="f['mobileno'].hasError('required')">Please
                                            enter mobile number
                                        </span>
                                        <span class="text-danger" *ngIf="f['mobileno'].hasError('pattern')">Please enter
                                            valid mobile number
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="forgotPwd mb-1">
                                <a (click)="getlogin()" class="d-flex align-items-center justify-content-end">
                                    <mat-icon class="">chevron_left</mat-icon>
                                    <span>Back To Login</span>
                                </a>
                                <!-- <a [routerLink]="['/forgot-password']" class="text-secondary">Back To Login</a> -->
                            </div>
                            <div class="col-sm-auto">
                                <button mat-flat-button type="submit" class="btn-main">Send OTP</button>
                            </div>
                        </div>
                    </form>
                </ng-container>
                <ng-container *ngIf="verifyOTPContainer">
                    <!-- *ngIf="verifyOTPContainer" -->
                    <form [formGroup]="verifyOTPForm" (ngSubmit)="verifyOTP()">
                        <div class="mb-3">
                            <label class="form-label">Enter OTP</label>
                            <div class="d-flex gap-2 no-subscript-wrapper mb-1">
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpA" #input1
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input1.value.length == 1) ? input2.focus() : 'input1.focus()'">
                                    </mat-form-field>
                                </div>
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpB" #input2
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input2.value.length == 1) ? input3.focus() : 'input2.focus()'"
                                            (keyup.backspace)="input1.focus()">
                                    </mat-form-field>
                                </div>
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpC" #input3
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input3.value.length == 1) ? input4.focus() : 'input3.focus()'"
                                            (keyup.backspace)="input2.focus()">
                                    </mat-form-field>
                                </div>
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpD" #input4
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input4.value.length == 1) ? input5.focus() : 'input4.focus()'"
                                            (keyup.backspace)="input3.focus()">
                                    </mat-form-field>
                                </div>

                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpE" #input5
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input5.value.length == 1) ? input5.focus() : ''"
                                            (keyup.backspace)="input4.focus()">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="text-end" *ngIf="verifyOTPContainer">
                                <a class="text-main" (click)="sendOTP()" *ngIf="otpTimerFlag == true">Resend OTP?</a>
                            </div>
                            <div *ngIf="verifyOTPContainer">
                                <span *ngIf="otpTimerFlag == false" class="mb-2 ml-4 text-main">
                                    OTP valid for 00:{{otpTimer}} Sec.</span>
                            </div>

                            <div class="col-sm-auto">
                                <button mat-flat-button type="submit" class="btn-main">Verify OTP</button>
                            </div>
                        </div>
                    </form>
                </ng-container>

                <ng-container *ngIf="changePassContainer">
                    <!-- *ngIf="changePassContainer" -->
                    <form [formGroup]="changePasswordfrm" (ngSubmit)="ChangePassword()">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter New Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter New Password"
                                formControlName="newpassword" maxlength="42"
                                (keypress)="validation.noSpaceAllow($event)">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Retype Password</mat-label>
                            <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Retype"
                                formControlName="confirmPassword" maxlength="42"
                                (keypress)="validation.noSpaceAllow($event)">
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon class="material-symbols-rounded">{{hide1 ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                        </mat-form-field>
                        <div class="d-flex justify-content-between align-items-center">
                            <button mat-flat-button class="btn-main w-50" type="submit">Set Password</button>
                        </div>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>