<div class="login-wrapper">

</div>
<div class="login-box">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/login.jpg" class="login-img">
        </div>
        <div class="col-sm-6">
            <div class="login form-container">
                <div class="mb-3">
                    <img src="assets/images/logo-text.svg" class="img-fluid w-50">
                </div>
                <h4 class="mb-4">FORGOT PASSWORD</h4>
                <ng-container *ngIf="sendOTPContainer">
                    <form [formGroup]="sendOTPForm" (ngSubmit)="sendOTP()">
                        <div class="row g-3">
                            <div class="col-sm">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> Mobile No.</mat-label>
                                    <input matInput placeholder="Enter Mobile No." formControlName="mobileno"
                                        (keypress)="validation.noSpaceAllow($event);validation.acceptedOnlyNumbers($event)"
                                        (keyup.enter)="sendOTP()">
                                    <!-- <mat-error *ngIf="f['mobileno'].errors"> -->
                                        <mat-error class="text-danger" *ngIf="f['mobileno'].hasError('required')">Please
                                            enter mobile number
                                        </mat-error>
                                        <mat-error class="text-danger" *ngIf="f['mobileno'].hasError('pattern')">Please enter
                                            valid mobile number
                                        </mat-error>
                                        <mat-error class="text-danger" *ngIf="f['mobileno'].hasError('maxLengthExceeded')">Maximum Limit 10
                                           Character
                                        </mat-error>
                                    <!-- </mat-error> -->
                                </mat-form-field>
                            </div>

                            <div class="forgotPwd mb-1 d-flex justify-content-between mt-0">
                                <a class="d-flex align-items-center justify-content-end text-main">
                                    <mat-icon class="">chevron_left</mat-icon>
                                    <span (click)="getlogin()">Back To Login</span>
                                </a>
                                <button mat-flat-button type="submit" class="btn-main">Send OTP</button>
                                <!-- <a [routerLink]="['/forgot-password']" class="text-secondary">Back To Login</a> -->
                            </div>
                            <!-- <div class="col-sm-auto">
                                <button mat-flat-button type="submit" class="btn-main">Send OTP</button>
                            </div> -->
                        </div>
                    </form>
                </ng-container>
                <ng-container *ngIf="verifyOTPContainer">
                    <!-- *ngIf="verifyOTPContainer" -->
                    <form [formGroup]="verifyOTPForm" (ngSubmit)="verifyOTP()">
                        <div class="mb-3">
                            <label class="form-label">Enter OTP</label>
                            <div class="d-flex gap-2 no-subscript-wrapper mb-1">
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpA" #input1
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input1.value.length == 1) ? input2.focus() : 'input1.focus()'">
                                    </mat-form-field>
                                </div>
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpB" #input2
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input2.value.length == 1) ? input3.focus() : 'input2.focus()'"
                                            (keyup.backspace)="input1.focus()">
                                    </mat-form-field>
                                </div>
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpC" #input3
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input3.value.length == 1) ? input4.focus() : 'input3.focus()'"
                                            (keyup.backspace)="input2.focus()">
                                    </mat-form-field>
                                </div>
                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpD" #input4
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input4.value.length == 1) ? input5.focus() : 'input4.focus()'"
                                            (keyup.backspace)="input3.focus()">
                                    </mat-form-field>
                                </div>

                                <div class="otp-text">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" maxlength="1" class="text-center"
                                            autocomplete="off" formControlName="otpE" #input5
                                            (keypress)="validation.acceptedOnlyNumbers($event)"
                                            (keyup)="(input5.value.length == 1) ? input5.focus() : ''"
                                            (keyup.backspace)="input4.focus()">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="text-end" *ngIf="verifyOTPContainer">
                                <a class="text-main" (click)="sendOTP()" *ngIf="otpTimerFlag == true">Resend OTP?</a>
                            </div>
                            <div *ngIf="verifyOTPContainer" class="text-end">
                                <span *ngIf="otpTimerFlag == false" class="mb-2 ml-4 text-main">
                                    Wait for 00:{{otpTimer}} Sec.</span>
                            </div>

                            <div class="col-sm-auto">
                                <button mat-flat-button type="submit" class="btn-main">Verify OTP</button>
                            </div>
                        </div>

                        <div class="forgotPwd mb-1">
                            <a class="d-flex align-items-center justify-content-end text-main">
                                <mat-icon class="">chevron_left</mat-icon>
                                <span (click)="getlogin()">Back To Login</span>
                            </a>
                        </div>
                    </form>
                </ng-container>

                <ng-container *ngIf="changePassContainer">
                    <!-- *ngIf="changePassContainer" -->
                    <form [formGroup]="changePasswordfrm" (ngSubmit)="ChangePassword()">
                      <div class="mb-4">

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label> New Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter New Password"
                                formControlName="newpassword"
                                (keypress)="validation.noSpaceAllow($event)">
                            <!-- <mat-error *ngIf="g['newpassword'].errors"> -->
                                <mat-error class="text-danger" *ngIf="g['newpassword'].hasError('required')">Please enter new
                                    password
                                </mat-error>
                                <mat-error class="text-danger" *ngIf="g['newpassword'].hasError('pattern')">Please enter
                                    valid password
                                </mat-error>

                                <mat-error class="text-danger" *ngIf="g['newpassword'].hasError('maxLengthExceeded')">Maximum Limit 42
                                    Character
                                </mat-error>
                            <!-- </mat-error> -->
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="mb-2">

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Enter Confirm Password"
                                formControlName="confirmPassword"
                                (keypress)="validation.noSpaceAllow($event)" (copy)="$event.preventDefault()"
                                (paste)="$event.preventDefault()">
                            <!-- <mat-error *ngIf="g['confirmPassword'].errors"> -->
                                <mat-error class="text-danger" *ngIf="g['confirmPassword'].hasError('required')">Please enter
                                    confirm password
                                </mat-error>
                                <mat-error class="text-danger" *ngIf="g['confirmPassword'].hasError('pattern')">Please enter
                                    confirm
                                    valid password
                                </mat-error>
                                <mat-error class="text-danger" *ngIf="g['confirmPassword'].hasError('maxLengthExceeded')">Maximum Limit is 42
                                    Character
                                </mat-error>
                            <!-- </mat-error> -->
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon class="material-symbols-rounded">{{hide1 ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                        </mat-form-field>
                      </div>

                        <div class="d-flex justify-content-between align-items-center form-container">
                          <a class="d-flex align-items-center justify-content-end form-label">
                            <mat-icon class="">chevron_left</mat-icon>
                            <span (click)="getlogin()">Back To Login</span>
                        </a>
                        <button mat-flat-button class="btn-main w-50" type="submit">Set Password</button>
                        </div>

                        <!-- <div class="forgotPwd mb-1">
                            <a class="d-flex align-items-center justify-content-end">
                                <mat-icon class="">chevron_left</mat-icon>
                                <span (click)="getlogin()">Back To Login</span>
                            </a>
                        </div> -->
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>
