<div mat-dialog-title class="modal-header">
  <div class="text-main">Profile</div>
</div>
<mat-dialog-content class="modal-body">
  <div class="row">
    <div class="col-sm-6">
      <div class="d-flex align-items-center justify-content-center">
        <div class="profile-pic position-relative">
          <img src="assets/images/user.png" class="">
          <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" #uploadDocument />
          <div class="profile-btn text-center">
            <input type="file" class="profile-upload d-none">
            <button type="button" mat-icon-button class="btn text-primary add-btn">
              <mat-icon class="material-symbols-outlined">add</mat-icon>
            </button>
            <!-- <button type="button" mat-icon-button class="btn text-danger">
              <mat-icon class="material-symbols-outlined">delete</mat-icon>
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      profile data
    </div>
  </div>
</mat-dialog-content>
