<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="text-main">Chowki Orders</div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="row gx-2">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>District</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Taluka</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Village</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by order ID/Farmer Name/Mobile Number</mat-label>
          <input matInput placeholder="Search by order ID/Farmer Name/Mobile Number">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <div class="d-flex align-items-center gap-2">
          <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button">
            <mat-icon class="material-symbols-rounded">
              search
            </mat-icon>
          </button>
          <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button">
            <mat-icon class="material-symbols-rounded">
              close
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      Table
    </div>
  </mat-card-content>
</mat-card>
