<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                    {{'publicFooter.track_application'| translate}}
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">{{'contactUs.home'| translate}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'publicFooter.track_application'| translate}}</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-sm-4">
            <div class="card p-2 plain-card">
                <div class="card-header-control">
                    <div class="d-flex gap-2 align-items-start">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="{{lang == 'en' ? 'Application ID':'अर्ज आयडी'}}"
                                [formControl]="appId" maxlength="20" (keypress)="validation.noSpaceAllow($event)">
                        </mat-form-field>
                        <button mat-flat-button class="btn-main btn-icon" (click)="searchAppliation()"> <mat-icon class="material-symbols-rounded">
                            search
                          </mat-icon></button>
                          <button mat-flat-button class="btn-main-light btn-icon" (click)="searchAppliation('clear')" matTooltip="edit" >
                            <mat-icon class="material-symbols-rounded">
                              close
                            </mat-icon>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-track-application  [class.optionl_class]="router.url == '/track-application'"
            [childMessage]="applicationId" ></app-track-application>
</div>