<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                    track application
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Track Application</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-sm-4">
            <div class="card p-2 plain-card">
                <div class="card-header-control">
                    <div class="d-flex gap-2 align-items-start">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Application ID" [formControl]="appId" maxlength="20"  (keypress)="validation.noSpaceAllow($event)">
                        </mat-form-field>
                        <button mat-flat-button class="btn-main" (click)="searchAppliation()" >{{lang == "en" ? 'Search' : 'शोधा'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-track-application [childMessage]="applicationId"></app-track-application>
</div>