<header>
    <div class="container">
        <div id="headerCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row align-items-center">
                        <div class="col-sm-6 animate__animated animate__slideInUp">
                            <h1>Silk <span>Dharashiv</span></h1>
                            <h3>Online Application</h3>
                            <p>Like Dairy and poultry farming, silk farming can also be done as a side business along
                                with agriculture. This business can be started at a very low cost and the available
                                materials that the farmers already have. </p>
                        </div>
                        <div class="col-sm-6 text-center animate__animated animate__slideInDown">
                            <img src="assets/images/Dharashiv-map.svg" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-sm-6 animate__animated animate__slideInDown">
                            <h1>Silk <span>Dharashiv</span></h1>
                            <h3>Online Application</h3>
                            <p>Like Dairy and poultry farming, silk farming can also be done as a side business along
                                with agriculture. This business can be started at a very low cost and the available
                                materials that the farmers already have. </p>
                        </div>
                        <div class="col-sm-6 text-center animate__animated animate__slideInUp">
                            <img src="https://jaihokisan.in/images/blog/Silkworm.png" alt="..." class="blob-image">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-sm-6 animate__animated animate__slideInUp">
                            <h1>Silk <span>Dharashiv</span></h1>
                            <h3>Online Application</h3>
                            <p>Like Dairy and poultry farming, silk farming can also be done as a side business along
                                with agriculture. This business can be started at a very low cost and the available
                                materials that the farmers already have. </p>
                        </div>
                        <div class="col-sm-6 text-center animate__animated animate__slideInDown">
                            <img src="https://th-i.thgim.com/public/incoming/kuuxzx/article65065762.ece/alternates/FREE_1200/10295_19_2_2022_16_56_58_3_IMG_20220218_WA0015.JPG"
                                class="blob-image" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="about-us">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-sm-6">
                <img src="assets/images/login-bg.jpg" class="img-fluid rounded-5 h-100">
            </div>
            <div class="col-sm-6">
                <h2 class="section-head">About Sericulture</h2>
                <p>Like Dairy and poultry farming, silk farming can also be done as a side business along with
                    agriculture. This business can be started at a very low cost and the available materials that the
                    farmers already have. With the new style of Tuti plantation and silkworm cultivation, this business
                    can be done with very little effort and on a large scale. This business can be done with the help of
                    all members of the family; big and small. In a month's period, the farmers can gain maximum profit
                    in minimum time.</p>
                <p>The Government has assured the farmers of purchasing their yield at good prices. Tuti plantation can
                    be done in any type of soil. If the plantation is done in a Striped pattern, it helps in the growth
                    of the final yield. Striped Pattern consumes very less water. </p>
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Read More</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section id="scheme">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-head">Schemes & Information</h2>
            </div>
        </div>
    </div>
</section>
<section id="process">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-head">Portal Process</h2>
                <img src="assets/images/process-marathi.svg" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="stats">
    <div class="container">
        <div class="row g-3">
            <div class="col-sm-12">
                <h2 class="section-head">Site Statistics</h2>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <img src="assets/images/home/applications.svg">
                        </div>
                        <h2>152</h2>
                    </div>
                    <div class="card-footer">
                        <p>Applications</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <img src="assets/images/home/Beneficiaries.svg">
                        </div>
                        <h2>152</h2>
                    </div>
                    <div class="card-footer">
                        <p>Beneficiaries</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <img src="assets/images/home/cultivation.svg">
                        </div>
                        <h2>
                            152
                            <small>(Hectare)</small>
                        </h2>
                    </div>
                    <div class="card-footer">
                        <p>Land Cultivated</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <img src="assets/images/home/distribution.svg">
                        </div>
                        <h2>₹ 1523453425.00</h2>
                    </div>
                    <div class="card-footer">
                        <p>Subsidy Distributed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newssuccess">
    <div class="container">
        <div class="row">
            <div class="col-sm-5" id="news">
                <h2 class="section-head">News</h2>
                <a class="d-flex news" href="#">
                    <div class="flex-shrink-0">
                        <img src="https://www.knnindia.co.in/uploads/newsfiles/Sericulture-16-3-2023.jpg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p>Bihar govt to support sericulture farmers with advanced technology</p>
                        <small>12-02-2023</small>
                    </div>
                </a>
                <a class="d-flex news" href="#">
                    <div class="flex-shrink-0">
                        <img src="https://d3lzcn6mbbadaf.cloudfront.net/media/details/ANI-20230115150755.jpg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p>J-K govt approves Rs 91 crore project for revival of sericulture, setting up 100 new rearing
                            centres.</p>
                        <small>10-01-2023</small>
                    </div>
                </a>
                <a class="d-flex news" href="#">
                    <div class="flex-shrink-0">
                        <img src="https://thewire.in/wp-content/uploads/2017/05/fogging.jpg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p>Fogging System Can Help Improve Indian Sericulture</p>
                        <small>20-12-2022</small>
                    </div>
                </a>
                <a class="d-flex news" href="#">
                    <div class="flex-shrink-0">
                        <img src="https://www.knnindia.co.in/uploads/newsfiles/Sericulture-16-3-2023.jpg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p>Bihar govt to support sericulture farmers with advanced technology</p>
                        <small>12-02-2023</small>
                    </div>
                </a>
                <div class="d-flex align-items-center justify-content-end">
                    <a class="read-more">
                        Read More
                        <span class="material-symbols-rounded">
                            arrow_right_alt
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-sm-7">
                <h2 class="section-head">Success Story</h2>
                <div class="row row-cols-1 row-cols-md-3 g-2 mb-3" id="success">
                    <div class="col">
                        <a class="card">
                            <img src="https://jaihokisan.in/images/blog/Silkworm.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Sericulture: The Secret Of Silk Making And The Benefits Of Silk
                                    Making</p>
                                <small class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</small>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="card">
                            <img src="https://sericulture.assam.gov.in/sites/default/files/styles/76x84/public/swf_utility_folder/departments/seri_medhassu_in_oid_5/slider/slider2%20copy.png"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Sericulture: The Secret Of Silk Making And The Benefits Of Silk
                                    Making</p>
                                <small class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</small>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="card">
                            <img src="https://content.jdmagicbox.com/comp/def_content/sericulture/screenshot-3-sericulture-3-uxc0t.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Sericulture: The Secret Of Silk Making And The Benefits Of Silk
                                    Making</p>
                                <small class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <a class="read-more">
                        Read More
                        <span class="material-symbols-rounded">
                            arrow_right_alt
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container bg-main rounded-5 px-5 py-4">
    <section id="download">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <img src="assets/images/download.png" class="img-fluid w-75">
                </div>
            </div>
            <div class="col-sm-6">
                <h1>download</h1>
                <h2>the app</h2>
                <p>Like Dairy and poultry farming, silk farming can also be done as a side business along with
                    agriculture. This business can be started at a very low cost and the available materials that the
                    farmers already have. With the new style of Tuti plantation and silkworm cultivation, this business
                    can be done with very little effort and on a large scale.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column gap-3">
                        <img src="assets/images/GoogleStore.png" class="store">
                        <img src="assets/images/AppleStore.png" class="store">
                    </div>
                    <img class="qrcode"
                        src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg">
                </div>
            </div>
        </div>
    </section>
</div>
<section id="blogs">
    <div class="container">
        <h2 class="section-head">Blogs</h2>
        <div class="row mb-4 g-2">
            <div class="col-sm-3">
                <a class="card h-100">
                    <img src="https://agriculturereview.com/wp-content/uploads/2022/07/bombyx-mori.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Guide On Sericulture: Know How It Can Uplift Farmer’s Life</h5>
                        <p class="card-text">From this ultimate guide on sericulture you will be able to know what is
                            sericulture, how to cultivate mulberry, silk rearing and production. If you are willing to
                            gain good information on this topic then this article is definitely going to help you a lot.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a class="card h-100">
                    <img src="https://content.jdmagicbox.com/comp/def_content/sericulture/screenshot-3-sericulture-3-uxc0t.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">What is Sericulture? Process, Importance & Benefits of Sericulture</h5>
                        <p class="card-text">From this ultimate guide on sericulture you will be able to know what is
                            sericulture, how to cultivate mulberry, silk rearing and production. If you are willing to
                            gain good information on this topic then this article is definitely going to help you a lot.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a class="card h-100">
                    <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-139734,resizemode-75,msid-48854331/news/economy/agriculture/punjab-scheme-to-boost-sericulture-in-the-state.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Punjab scheme to boost sericulture in the state - The Economic Times</h5>
                        <p class="card-text">From this ultimate guide on sericulture you will be able to know what is
                            sericulture, how to cultivate mulberry, silk rearing and production. If you are willing to
                            gain good information on this topic then this article is definitely going to help you a lot.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a class="card h-100">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQki7anruPcaxmK9OvXbkNckjewo2iuMDLrJg&usqp=CAU"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sericulture: A Profitable Agribusiness for Farmers</h5>
                        <p class="card-text">From this ultimate guide on sericulture you will be able to know what is
                            sericulture, how to cultivate mulberry, silk rearing and production. If you are willing to
                            gain good information on this topic then this article is definitely going to help you a lot.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <a class="read-more">
                Read More
                <span class="material-symbols-rounded">
                    arrow_right_alt
                </span>
            </a>
        </div>
    </div>
</section>