header {
    height: 70vh;
}

header img {
    height: 70vh;
}

header .carousel-control-next,
header .carousel-control-prev {
    width: 40px;
    height: 40px;
    background-color: rgba(20, 60, 0, 0.95);
    top: 42%;
}

header .carousel-caption {
    top: 25%;
}

header .carousel-caption h5 {
    font-size: 4.5rem;
    font-weight: 900;
    color: #E6670B !important;
    text-shadow: 1px 1px 1px #111;
}

header .carousel-caption p {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #E6670B;
    color: #fff;
    width: max-content;
    margin: 0 auto;
    padding: 10px 20px;
}

section#about-us {
    padding-block: 3rem;
}

section .section-head {
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

section .section-head::after {
    content: '';
    border-bottom: solid 5px #E6670B;
    display: block;
    width: 10%;
    margin-top: 0.5rem;
    border-radius: 10px;
}

section p {
    font-size: 0.95rem;
    font-weight: 400;
    color: #353535;
}

button.learn-more {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--main-color);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}