header .carousel-inner {
    padding-block: 2rem;
}

header .carousel-item img {
    height: 50vh;
}

header .carousel-item img.blob-image {
    border-radius: 81% 23% 30% 57% / 65% 38% 64% 23%;
}

header .carousel-item h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--main-color);
}

header .carousel-item h1 span {
    color: #E6670B;
}

header .carousel-item h3 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #353535;
}

header .carousel-item p {
    font-size: 0.9rem;
    color: #353535;
    line-height: 1.8rem;
}


section#about-us,
section#scheme,
section#process,
section#stats,
section#newssuccess,
section#download,
section#blogs {
    padding-block: 2rem;
}

section#download {
    background-color: var(--main-color);
    padding: 3rem 4rem;
    color: #fff;
}

section .section-head {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

section .section-head::after {
    content: '';
    border-bottom: solid 2px #E6670B;
    display: block;
    width: 80px;
    margin-top: 0.5rem;
}

section p {
    font-size: 0.95rem;
    font-weight: 400;
    color: #353535;
}

button.learn-more {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--main-color);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

a.read-more {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.85rem;
    color: #151515;
    background: #efefef;
    padding: 5px 15px;
    border-radius: 10px;
}

a.read-more:hover {
    color: var(--main-color);
    background-color: #eaeaea;
}

a.read-more:hover span {
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}

@keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(3px);
    }
}

#stats .card {
    border-radius: 20px;
    border: none;
    text-align: center;
}

#stats .card .card-footer {
    background-color: transparent;
    border-radius: 0 0 20px 20px;
    border: 0;
    transition: background-color cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

#stats .card:hover .card-footer {
    background-color: var(--main-color);
    transition: background-color cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

#stats .card:hover .card-footer p {
    color: #fff !important;
}

#stats .card .icon {
    width: 100px;
    height: 100px;
    line-height: 70px;
    background-color: #eee;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    padding: 15px;
    transition: background-color cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

#stats .card:hover .icon {
    background-color: var(--main-color);
    transition: background-color cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

#stats .card .icon img {
    width: 60px;
}

#stats .card h2 {
    font-weight: 900;
    color: var(--main-color);
    margin-bottom: 0;
}

#stats .card h2 small {
    font-weight: 500;
    color: #757575;
    font-size: 0.85rem;
}

#stats .card p {
    margin-bottom: 0;
    font-weight: 500;
}

#news .news {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#news .news:hover {
    background-color: #fff;
}

#news .news img {
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

#news .news p {
    font-weight: 500;
    margin-bottom: 5px;
}

#news .news small {
    color: #757575;
    font-size: 0.8rem;
}

#news .news:hover p {
    color: var(--main-color);
}

#success .card {
    text-decoration: none;
    padding: 10px;
    border-color: transparent;
}

#success .card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#success .card .card-img-top {
    height: 150px;
    border-radius: 10px;
}

#success .card .card-body {
    padding: 15px 5px 5px 5px;
}

#success .card .card-title {
    font-weight: 500;
    font-size: 0.95rem;
}

#success .card:hover .card-title {
    color: var(--main-color);
}

#success .card .card-text {
    font-size: 0.85rem;
    color: #858585;
}

#download h1,
#download h2 {
    text-transform: uppercase;
    font-weight: 900;
}

#download .download-app {
    width: 75%;
}

#download h1 {
    font-size: 3rem;
}

#download h2 {
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin-bottom: 1rem;
}

#download p {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

#download .qrcode {
    height: 150px;
    background-color: #fff;
}

#download .store {
    width: 200px;
}

#blogs .card {
    border: none;
    border-radius: 15px;
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
}

#blogs .card:hover {
    background-color: #fff;
}

#blogs .card:hover .card-title {
    color: var(--main-color);
}

#blogs .card-body {
    padding: 15px 5px 5px 5px;
}

#blogs .card-img-top {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

#blogs .card-title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

#blogs .card-text {
    font-size: 0.85rem;
    color: #555;
}


@media only screen and (max-width: 600px) {
    header .carousel-item h1 {
        font-size: 2.5rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: var(--main-color);
        text-align: center;
    }

    header .carousel-item h1 span {
        color: #E6670B;
    }

    header .carousel-item h3 {
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: #353535;
        text-align: center;
    }

    header .carousel-item p {
        font-size: 0.85rem;
        color: #353535;
        line-height: 1.6rem;
        text-align: center;
    }

    header .carousel-item img {
        height: auto;
    }

    section p {
        font-size: 0.85rem;
    }

    #news .news img {
        width: 60px;
        height: 55px;
    }

    #news .news small {
        font-size: 0.75rem;
    }

    #download .download-app {
        width: 100%;
    }

    section#download {
        padding: 2rem 2rem;
    }

    #download h1 {
        font-size: 2rem;
        text-align: center;
    }

    #download h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #download p {
        font-size: 0.85rem;
        text-align: center;
    }

    #download .store {
        width: 120px;
    }
}