<div class="row g-3">
  <div class="col-sm-12">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="text-main">{{lang == 'en' ? "Market List" : "मार्केट यादी"}}</div>
          <button mat-flat-button class="btn-main"  (click)="addMarket()">
            <mat-icon class="material-symbols-rounded">
              add
            </mat-icon>{{lang == 'en' ? "Add Market List" : "मार्केट यादी जोडा"}}
            </button>
        </div>
      </mat-card-header>
      <mat-card-header class="card-header-control">
        <form [formGroup]="filterFrm">
        <div class="row g-2">
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'common.state' | translate}}</mat-label>
              <mat-select formControlName="stateId" [class]="filterFrm.controls['stateId'].disable({ onlySelf: true })">
                <mat-option *ngFor="let state of stateArray"
                  [value]="state.id">{{lang == 'en' ? state.textEnglish : state.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'common.district' | translate}}</mat-label>
              <mat-select formControlName="districtId" [class]="filterFrm.controls['districtId'].disable({ onlySelf: true })">
                <mat-option *ngFor="let district of districtArray"
                    [value]="district.id">{{lang == 'en' ? district.textEnglish : district.textMarathi}}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'common.taluka' | translate}}</mat-label>
              <mat-select formControlName="talukaId">
                <mat-option *ngFor="let taluka of talukaArray"
                  [value]="taluka.id">{{lang == 'en' ? taluka.textEnglish : taluka.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'marketRate.search_by' | translate}}</mat-label>
              <input matInput formControlName="textSearch"  (keypress)="validation.noFirstSpaceAllow($event)" maxlength="50">
            </mat-form-field>
          </div>
          <div class="col-sm">
            <div class="d-flex align-items-center gap-2">
              <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button" (click)="bindTable('filter')">
                <mat-icon class="material-symbols-rounded">
                  search
                </mat-icon>
              </button>
              <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button" (click)="clearForm()">
                <mat-icon class="material-symbols-rounded">
                  close
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
      </mat-card-header>
      <mat-card-content class="card-body">
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
