<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="text-main">Delivery Slabs</div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="row gx-2">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Grainage</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      table
    </div>
  </mat-card-content>
</mat-card>
