<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="text-main">Create Samgra Application</div>
  </mat-card-header>
  <mat-card-content class=" card-body form-container">
    <mat-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>मूळ तपशील</ng-template>
        <form [formGroup]="samgraForm">
        <div class="container-fluid">
          <div class="row gx-2 mb-4">
            <div class="col-sm-2">
              <img src="https://demosilkapi.mahamining.com/Upload/profilePhoto/Farmer.png" alt="Applicant image"
                class="img-fluid">
            </div>
            <div class="col-sm">
              <div class="row gy-2 gx-2 align-items-center ">
                <div class="col-sm-6">
                  <div class="d-flex gap-2">
                    <div class="form-label">Mobile Number</div>
                    <div class="form-data">: 8669264767</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="d-flex gap-2">
                    <div class="form-label">Aadhar Number</div>
                    <div class="form-data">: 8669 2647 6774</div>
                  </div>
                </div>
                <!-- <div class="col-sm-12">
                  <div class="form-label"> 1.तुति लागवड कारचे क्षेत्र ( एकर )</div>
                  <div class="form-label">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput placeholder="" >
                    </mat-form-field>
                  </div>
                </div> -->
                <div class="col-sm-12">
                  <div class="form-label"> 2. Applicant Name</div>
                  <div class="form-label">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput placeholder="" formControlName="fullName">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="col-sm-12">
                  <div class="form-label">2. माझ्या शेतीवर रेशीम विकास योजने अंतर्गत तुति लागवड विभाग मार्फत करण्यात
                    यावी
                    (कोणतेही १ निवडा )</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                      <mat-option>रेशीम संचालनाय</mat-option>
                      <mat-option>कृषि व फलौत्पादन</mat-option>
                      <mat-option>पंचायत समिती</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row gx-2 align-items-center">
            <div class="col-sm-3">
              <div class="form-label">3. पर्यायी मोबाइल क्रमांक</div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="mobileNo1">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <mat-label class="form-label">4. जन्मतारीख</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [matDatepicker]="picker" formControlName="birthDate"  (click)="picker.open()" readonly
                [max]="todayDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="d-flex align-items-center gap-3">
                <mat-label class="form-label">5. लिंग निवडा</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                  <mat-radio-button *ngFor="let gender of genderArray" [value]="gender.id">{{gender.name}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-label">6. शिक्षण</div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="qualificationId">
                  <mat-option *ngFor="let qualification of qualificationArray" [value]="qualification.id">{{qualification.textEnglish}}</mat-option>         
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="form-label">7. राज्य</div>
              <mat-form-field appearance="outline" class="w-100"
              [class]="WebStorageService.getStateId() ? f['stateId'].disable({ onlySelf: true }) : f['stateId'].enable({ onlySelf: true })">
                <mat-select formControlName="stateId" (selectionChange)="getDisrict()">
                  <mat-option *ngFor="let state of stateArray" [value]="state.id">{{state.textEnglish}}</mat-option>             
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="form-label">8. जिल्हा</div>
              <mat-form-field appearance="outline" class="w-100" >
                <mat-select formControlName="districtId" (selectionChange)="getTaluka()">
                  <mat-option *ngFor="let district of districtArray" [value]="district.id">{{district.textEnglish}}</mat-option>         
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="form-label">9. तालुका</div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="talukaId" (selectionChange)="getGrampanchayat()">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="talukaCtrl"
                    placeholderLabel="Search Lead Name" noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let taluka of talukaSubject | async" [value]="taluka.id">{{lang != 'en' ? taluka.textMarathi
                    :taluka.textEnglish}}</mat-option>


                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="form-label">10. ग्रामपंचायत</div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="grampanchayatId">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="gramPCtrl"
                      placeholderLabel=""
                      noEntriesFoundLabel=""></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let village of gramPSubject | async" [value]="village.id">{{lang != 'en' ?
                    village.textMarathi : village.textEnglish}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="form-label">11. गाव</div>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="" formControlName="village">
              </mat-form-field>
            </div>

            <div class="col-sm-3">
              <div class="form-label">12. पिन कोड </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="pinCode">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-label">13. लाभर्त्याची वर्गवारी</div>
              <mat-form-field appearance="outline" class="w-100">

                <mat-select (click)="categoryDialogBox()" formControlName="categoryId">
                </mat-select>

                <!-- <mat-select formControlName="categoryId">
                  <mat-option>
                    <mat-radio-button value="1">अनीसीचीत जाती</mat-radio-button>
                  </mat-option>
                  <mat-option>
                    <mat-radio-button value="1">अनीसीचीत जमाती</mat-radio-button>
                  </mat-option>
                  <mat-option>
                    <mat-radio-button value="1">भटक्या जमाती</mat-radio-button>
                  </mat-option>
                  <mat-option>
                    <mat-radio-button value="1">निरधिसूचित जमाती</mat-radio-button>
                  </mat-option>
                  <mat-option>
                    <mat-radio-button value="1">इतर मागसवर्ग</mat-radio-button>
                  </mat-option>
                  <mat-option>
                    <mat-radio-button value="1">सर्वसाधारण</mat-radio-button>
                  </mat-option> 
                   <mat-option>
                    <mat-checkbox class="example-margin">दारिद्र्य रेषेखालील कुटुंबे </mat-checkbox>
                  </mat-option>
                  <mat-option>
                    <mat-checkbox class="example-margin">स्त्री कुटुंब प्रमुख असेलेले कुटुंबे </mat-checkbox>
                  </mat-option>
                  <mat-option>
                    <mat-checkbox class="example-margin">दिव्यांग व्यक्ति प्रमुख असेलेले कुटुंबे </mat-checkbox>
                  </mat-option>
                  <mat-option>
                    <mat-checkbox class="example-margin">जमीन सुधरणांचे लाभार्थी </mat-checkbox>
                  </mat-option>
                  <mat-option>
                    <mat-checkbox class="example-margin">प्रधानमंत्री आवास योजना - ग्रामीण योजनेखालील लाभार्थी
                    </mat-checkbox>
                  </mat-option>
                  <mat-option>
                    <mat-checkbox class="example-margin">अनिसूचित जमाती व इतर पारंपरिक वानवशि (वनहक्क मान्य करणे );
                      आधिनियम २००६(2007) च 2 खलील पात्रलाभार्थी </mat-checkbox>
                  </mat-option>
                  <mat-option>
                    <mat-checkbox class="example-margin">कृषि कर्ज माफी योजना सान 2008 नुसार अल्पभूधारक (1हेक्टर
                      )पेक्स्गा कमी क्षेत्र. </mat-checkbox>
                  </mat-option> -->
                <!-- </mat-select> -->
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="form-label">14. मतदान नोंदणी क्रं</div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="sm_VoterRegistrationNo">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <mat-label>15. पत्ता</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <textarea matInput placeholder="" formControlName="address"></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <div class="d-flex align-items-center gap-3">
                <mat-label class="form-label">16. लाभार्थी दारिद्र्यरेशेखालील आहे का ?</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="sm_IsBelowPovertyLine">
                  <mat-radio-button *ngFor="let check of checkedArray" [value]="check.id" class="pe-3">{{check.name}}</mat-radio-button>            
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-button matStepperPrevious class="btn-main">Back</button>
          <button mat-button matStepperNext class="btn-main" (click)="onSubmit()">Next</button>
        </div>
      </form>
      </mat-step>
      <!-- ////////////////// start 2 form -->
      <mat-step>
        <ng-template matStepLabel>जमीन तपशील</ng-template>
        <form  [formGroup]="landDetailsForm">
        <div class="container-fluid">
          <div class="row align-items-center g-3">
            <div class="col-sm-4">
              <div class="form-label"> 17. लाभरट्याच्या नावे (8-A )प्रमाणे एकूण जमीन हेक्टर </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="benificiaryTotalFarm">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">18. भुदरन वर्गवारी निवडा</div>
              <mat-form-field appearance="outline" class="w-100" >
                <mat-select formControlName="sm_LandTenureCategories">
                  <mat-option *ngFor="let landTenure of landTenureCatArray" [value]="landTenure.id">{{landTenure.textEnglish}}</mat-option>                
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <div class="form-label">19. जमिनीचा प्रकार </div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="farmTypeId">
                  <mat-option *ngFor="let farmType of farmTypeArray" [value]="farmType.id">{{farmType.textEnglish}}</mat-option>             
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <div class="form-label">20. सिंचांनाची सुविधा </div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="irrigationFacilityId">
                  <mat-option *ngFor="let irrigationFacility of irrigationFacilityArray" [value]="irrigationFacility.id">{{irrigationFacility.textEnglish}}</mat-option>             
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <div class="form-label">21. सिंचन कालावधी </div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="sm_IrrigationPeriod">
                 <mat-option *ngFor="let irrigationPeriod of irrigationPeriodArray" [value]="irrigationPeriod.id">{{irrigationPeriod.textEnglish}}</mat-option>            
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <div class="d-flex flex-column">
                <mat-label class="form-label mb-0">22. शासकीय योजने अंतर्गत तुति लागवड केली आहे का ?</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="isAnyPlantedBeforeGovScheme">
                  <mat-radio-button *ngFor="let check of checkedArray" [value]="check.id" class="pe-3" checked>{{check.name}}</mat-radio-button>              
                </mat-radio-group>
              </div>
            </div>
            <div class="col-sm-4">
              <mat-label class="form-label">22.A. लागवड वर्षं</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [matDatepicker]="picker1" formControlName="sm_YearOfPlanting">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <div class="form-label"> 22.B. लागवड क्षेत्र </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="sm_CultivatedArea">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label"> 22.C. भुमपण क्रमांक </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="sm_LandSurveyNo">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="d-flex align-items-center justify-content-between">
                <div class="form-label"> 23. सध्या घेत असलेल्या पीक व उत्पादन तपशील </div>
                <button mat-flat-button class="btn-main" (click)="adddetails()">
                  <mat-icon class="material-symbols-rounded">
                    add
                  </mat-icon>
                  तपशील जोडा
                </button>
              </div>
              <div class="table-responsive scrollbar">
                <table mat-table [dataSource]="dataSource" class="dashboard-table">

                  <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cropId">
                    <th mat-header-cell *matHeaderCellDef> Crop Name </th>
                    <td mat-cell *matCellDef="let element"> {{element?.cropId || '-'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef> क्षेत्र एकर </th>
                    <td mat-cell *matCellDef="let element"> {{element?.area || '-'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="totalProduction">
                    <th mat-header-cell *matHeaderCellDef> झालेले उत्पादन क्विंटल </th>
                    <td mat-cell *matCellDef="let element"> {{element?.totalProduction || '-'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="averageRate">
                    <th mat-header-cell *matHeaderCellDef> मिळालेला सरासरी दर प्रती क्विं रु </th>
                    <td mat-cell *matCellDef="let element"> {{element?.averageRate || '-'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="totalProductionAmt">
                    <th mat-header-cell *matHeaderCellDef> झालेला उत्पादन रु </th>
                    <td mat-cell *matCellDef="let element"> {{element?.totalProductionAmt || '-'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="totalExpenses">
                    <th mat-header-cell *matHeaderCellDef> आलेला खर्चा रु </th>
                    <td mat-cell *matCellDef="let element"> {{element?.totalExpenses || '-'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="netIncome">
                    <th mat-header-cell *matHeaderCellDef> झालेले निव्वळ उत्पन्न रु </th>
                    <td mat-cell *matCellDef="let element"> {{element?.netIncome || '-'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="acreNetIncome">
                    <th mat-header-cell *matHeaderCellDef> प्रती एकर निव्वळ उत्पन्नरु </th>
                    <td mat-cell *matCellDef="let element"> {{element?.acreNetIncome || '-'}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="!currentCropDetailsArray.length" class="alert alert-danger text-center mt-1 py-2 mb-0">
                  <span> {{lang == 'en' ? 'Data not available' :'डेटा उपलब्ध नाही'}}</span>
                </div>
              </div>
            </div>

            <div class="form-label">24. तुति लागवड करावयाचा तपशील :</div>
						<div class="card card-body">
              <div class="row g-3">
                <div class="col-sm-4">
                  <div class="form-label">24.A. तुतीची सुधारित जात निवडा</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                      <mat-option *ngFor="let mulberryCast of mulberryCastArray" [value]="mulberryCast.id">{{mulberryCast.textEnglish}}</mat-option>             
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <div class="form-label">24.B. तुति लागवड अंतर फुट :</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="" formControlName="sm_MulberryPlantingDistance">
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <div class="form-label">24.C. तुति लागवडीचा भुमपण क्रमांक ( गत नं / सर्व्हे नं ) :</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="" formControlName="sm_LandSurveyNo">
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <div class="form-label">24.D. तुति लागवड करावयाचे क्षेत्र ( एकर )</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="sm_MulberryCultivationArea">
                      <mat-option *ngFor="let mulberryArea of mulberryAreaArray" [value]="mulberryArea.id">{{mulberryArea.textEnglish}}</mat-option>                
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <div class="form-label">24.E. तुति लागवड करवायची पद्धत :</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="sm_PlantationMethod">
                      <mat-option *ngFor="let pantationMethod of pantationMethodArray" [value]="pantationMethod.id">{{pantationMethod.textEnglish}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="d-flex align-items-center gap-3">
                <mat-label class="form-label">25. रेशीम उद्योगातील अनुभव आहे का ?</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="sm_IsExperienceSilkIndustry" (change)="radioEvent($event,'isExperience')">
                  <mat-radio-button *ngFor="let check of checkedArray" [value]="check.id"  >{{check.name}}</mat-radio-button>               
                </mat-radio-group>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="IsExperienceSilk">
              <div class="form-label"> 25.A. किती वर्षाचा ते नमूद करावे : </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" >
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="d-flex flex-column ">
                <mat-label class="form-label">26. रेशीम उद्योगातील प्रशिक्षण घेतले आहे ?</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="sm_IsSilkIndustrtyTrainingReceived" (change)="radioEvent($event,'isTraining')">
                  <mat-radio-button *ngFor="let check of checkedArray" [value]="check.id">{{check.name}}</mat-radio-button>                
                </mat-radio-group>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="isIndustrtyTraining">
              <mat-label class="form-label">26.A. रेशीम उद्योगातील घेतलेले प्रशिक्षण </mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <textarea matInput placeholder="" rows="3" formControlName="sm_SilkIndustrtyTrainingDetails"></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <div class="d-flex flex-column">
                <mat-label class="form-label">27. रेशीम उद्योग करणार्‍या शेतकर्‍याकडे प्रत्यक्ष जाऊन माहिती घेतली आहे का  ?</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="sm_IsEngagedInSilkIndustry">
                  <mat-radio-button *ngFor="let check of checkedArray" [value]="check.id">{{check.name}}</mat-radio-button>              
                </mat-radio-group>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="d-flex flex-column">
                <mat-label class="form-label">28. यापूर्वी रेशीम संचालनालय अंतर्गत कुठल्या योजनेचा लाभ घेतला आहे ka  ?</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="sm_IsTakenBenefitOfInternalScheme">
                  <mat-radio-button *ngFor="let check of checkedArray" [value]="check.id" (change)="radioEvent($event,'isBenefit')">{{check.name}}</mat-radio-button>          
                </mat-radio-group>
              </div>
            </div>
            <ng-container *ngIf="isTakenBenefit">
            <form [formGroup]="internalSchemes">         
            <div class="col-sm-4">
              <mat-label class="form-label">28.A. यापूर्वी रेशीम संचालनालय अंतर्गत कुठल्या योजनेचा लाभ घेतला आहे ?</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <textarea matInput placeholder="" rows="3" formControlName="internalSchemeName" ></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-label class="form-label">28.B. तारीख ?</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <textarea matInput placeholder="" rows="3"  formControlName="schemeTakenDate"></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-label class="form-label">28.C. एकूण घेतलेला लाभ ?</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <textarea matInput placeholder="" rows="3" formControlName="totalBenefitTaken"></textarea>
              </mat-form-field>
            </div>          
            <div class="col-sm-auto">
              <button mat-flat-button class="btn-main" (click)="addInternalSchemes()">आणखी तपशील जोडा </button>
            </div>
          </form>
        


        <div class="table-responsive scrollbar">
          <table mat-table [dataSource]="dataSource1" class="dashboard-table">

            <ng-container matColumnDef="srno">
              <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="internalSchemeName">
              <th mat-header-cell *matHeaderCellDef> Crop Name </th>
              <td mat-cell *matCellDef="let element"> {{element?.internalSchemeName || '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="schemeTakenDate">
              <th mat-header-cell *matHeaderCellDef> क्षेत्र एकर </th>
              <td mat-cell *matCellDef="let element"> {{element?.schemeTakenDate || '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="totalBenefitTaken">
              <th mat-header-cell *matHeaderCellDef> झालेले उत्पादन क्विंटल </th>
              <td mat-cell *matCellDef="let element"> {{element?.totalBenefitTaken || '-'}} </td>
            </ng-container>            

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
          <div *ngIf="!internalSchemesArray.length" class="alert alert-danger text-center mt-1 py-2 mb-0">
            <span> {{lang == 'en' ? 'Data not available' :'डेटा उपलब्ध नाही'}}</span>
          </div>
        </div>
      </ng-container>



          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-button matStepperPrevious class="btn-main">Back</button>
          <button mat-button matStepperNext class="btn-main">Next</button>
        </div>
      </form>
      </mat-step>

      <!-- ////////////////// start 3 form -->
      <mat-step>
        <ng-template matStepLabel>बँक तपशील</ng-template>
        <form [formGroup]="bankDetailsForm">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-label">29. बँक निवडा</div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="bankId" (selectionChange)="getBankBranch()">
                  <mat-option *ngFor="let bank of bankArray" [value]="bank.id">{{bank.textEnglish}}</mat-option>
                  <!-- <mat-option>Bank of maharashtra</mat-option>
                  <mat-option>Bank of Badoda</mat-option>
                  <mat-option>HDFC</mat-option> -->
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <div class="form-label">30. बँक शाखा निवडा</div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="bankBranchId">
                  <mat-option *ngFor="let branch of branchArray" [value]="branch.id">{{branch.textEnglish}} </mat-option>
                  <!-- <mat-option>Dharahsiv</mat-option> -->
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <div class="form-label">31. आय एफ एस सी कोड </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="bankIFSCCode">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">32. राष्ट्रीय बँक खाते क्रमांक </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="" formControlName="bankAccountNo">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-button matStepperPrevious class="btn-main">Back</button>
          <button mat-button matStepperNext class="btn-main">Next</button>
        </div>
      </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>कागदपत्रे</ng-template>
        <div class="container-fluid">
          <div class="row align-items-center g-3">
            <div class="col-sm-4">
              <div class="form-label">1. आधारर कार्ड छायांकित प्रत </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" 
                (change)="fileUpload($event,'addhar',16)" AddharPhoto.value="" #AddharPhoto />
                <ng-container *ngFor="let document of documentArray;let i =index">
                  <div class="d-flex gap-2" *ngIf="document?.docTypeId == 16">
                    <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                      matTooltip="view" (click)="viewimage(document.docPath)">
                      <mat-icon class="material-symbols-rounded">
                        preview
                      </mat-icon>
                    </button>
                    <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                      matTooltip="delete" (click)="deleteDocument(i);AddharPhoto.value='' " >
                      <mat-icon class="material-symbols-rounded">
                        delete
                      </mat-icon>
                    </button>
                  </div>
                </ng-container>
            
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">2. जमिनीचा 7/12 तुति नोंद असलेला किवा तलाठी प्रांणपतरा अपलोड करा </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" 
                (change)="fileUpload($event,'satbara',18)" satbara.value="" #satbara/>
                <ng-container *ngFor="let document of documentArray;let i= index">
                <div class="d-flex gap-2" *ngIf="document?.docTypeId == 18">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view" (click)="viewimage(document.docPath)">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete" (click)="deleteDocument(i)">
                    <mat-icon class="material-symbols-rounded" >
                      delete
                    </mat-icon>
                  </button>
                </div>
              </ng-container>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">3. जमिनीचा 8-अ उतारा येथे जोडा </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">4.जमिनीचा चतुःसीमा नकाशा अपलोड करा </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">5. आधार संलग्न राष्ट्रीय बँक पासबूक प्रथम पानाची छायांकित प्रत (फोटोसहित ) अपलोड करा </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">6. जातीचे प्रमाणपत्र ( अनूजाती / अनू जमाती शेतकर्‍यांसाठी येथे अपलोड करा ) </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">7. पाणी उपलब्धता प्रमाणपत्र अपलोड करा </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-label">8. इतर कागदपत्रे जोडा </div>
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <button mat-flat-button class="btn-main-light" type="button">इतर कागदपत्रे जोडा</button>
            </div>
            <div class="col-sm-4">
              <div class="form-label">8.A. कागदपत्राचे नाव </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="form-label">8.B. क्रमांक </div>
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="">
                </mat-form-field>
              </div>
            </div> -->
            <div class="col-sm-4">
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">Other
                  docx File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-button matStepperPrevious class="btn-main">Back</button>
          <button mat-button matStepperNext class="btn-main">Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>स्वयंघोशापत्र</ng-template>
        <div class="container-fluid">
          <ul class="list-unstyled">
            <li>
              <div class="d-flex align-items-center  gap-2">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <p class="form-label mb-0">
                  नविन तुती लागवड मी स्वखर्चाने करण्यास तयार आहे रेशीम. □ संचालनालयाचे वेळोवेळी ठरवुन दिलेल्या नियम व अटी मला मान्य आहे.
                </p>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-center  gap-2">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <p class="form-label mb-0">
                  योजने अंतर्गत ठरवुन दिलेल्या माणकाप्रमाणे तुती लागवडीस योग्य जमीनीत, सुधारित वाणाची तुती लागवड कार्यालयाने शिफारस □ केलेल्या अंतरावर करणेस व तुती लागवडीची सुयोग्य जोपासना करण्याची मी हमी देत आहे.
                </p>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-center  gap-2">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <p class="form-label mb-0">
                  अर्जामध्ये वरिलप्रमाणे नमूद केलेली सर्व माहिती बरोबर असून त्यात काही चुकीची माहीती भरुन अनुदानाचा फायदा उचल केल्याचे निर्देशनास आल्यास मी कायदेशीर कारवाईस पात्र ठरेन □ तरी मला केंद्र पुरस्कृत 'सिल्क समग्र-2' योजने अंतर्गत 02 एकर तुती लागवड योजने सहभागी होणेस आपली पुर्वसंमती मिळावी हि विनंती
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-button matStepperPrevious class="btn-main">मागे जा</button>
          <button mat-button matStepperNext class="btn-main">पुरवलोकण करा </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>चलन जोडा</ng-template>
        <div class="container-fluid">
          <h6 class="my-4">
            रेशीम संचालनालय मध्ये जाऊन नोंदणी फी प्रति एकर ५०० रुपये प्रमाणे भरून मिळालेली पावती येथे अपलोड करा
          </h6>
          <div class="row align-items-center ">
            <div class="col-sm-4">
              <div class="file-upload border rounded-2 p-1">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip">File
                  Upload<span class="text-danger fs-6">*</span>
                </button>
                <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <button mat-flat-button class="btn-main">प्रस्तुत करा</button>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="d-flex flex-column align-items-center gap-3">
            <img src="assets/images/success (1)/success/check.png" alt="" class="img-fluid" width="200px">
            <h2 class="fw-bold">अभिनंदन</h2>
            <div class="form-label">आपला आरजा यशस्वी रित्या सादर झाला आहे.</div>
            <div class="form-data">आरजा क्रं : MNR202306210859</div>
            <div class="form-data">26/06/2023 11:22:10 AM</div>
            <div>
              <a href="">आरजा डाऊनलोड करा</a>
            </div>
            <button mat-flat-button class="btn-main">OK</button>
          </div>
        </div>
      </mat-step>



    </mat-stepper>




  </mat-card-content>
</mat-card>
