.upload-buttons {
    position: absolute;
    bottom: -15px;
    right: -15px;
}
.applicant_img img{
  height: 180px !important;
  width: 100% !important;
}

@media print {
  body * {
    display: none;
  }
  button{
    display: none;
  }

  .myDivToPrint {
      background-color: white;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 15px;
      font-size: 14px;
      line-height: 18px;
  }
}