<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between">
    <div class="text-main">Add Market List</div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded" >close</span>
    </button>
  </div>
</div>
<form [formGroup]="marketFrm">
<div mat-dialog-content class="modal-body">
  <div class="row gx-2">
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{'designation.designation_mr'|translate}}Market Name(English)</mat-label>
        <input matInput formControlName="marketName"
        (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
        <mat-error *ngIf="a['marketName'].hasError('required')">{{'marketRate.market_Name_en'|translate}}</mat-error>
         <!-- <mat-error *ngIf="a['marketName']?.errors">
          <span class="text-danger"
              *ngIf="a['marketName']?.hasError('maxLengthExceeded') || a['marketName']?.hasError('pattern')">
              {{a['marketName'].hasError('maxLengthExceeded') ? ('designation.designation_maxLength'|translate) : ('designation.please_enter_valid_designation_name(Marathi)'|translate)}}
          </span>
      </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Market Name(Marathi)</mat-label>
        <input matInput formControlName="m_MarketName"
        (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact No 1 </mat-label>
        <input matInput formControlName="conactNo"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact No 2</mat-label>
        <input matInput formControlName="mobileNo"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email ID</mat-label>
        <input matInput formControlName="emailId"
        (keypress)="validation.noFirstSpaceAllow($event);validation.emailRegex($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Farm Goods/शेत माल</mat-label>
        <mat-select multiple formControlName="shetMalId">
         <mat-option *ngFor="let farm of farmGoodsArray" [value]="farm.id">{{lang == 'en' ?
            farm.textEnglish : farm.textMarathi}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{'common.state' | translate}}</mat-label>
        <mat-select formControlName="stateId"
          [class]="marketFrm.controls['stateId'].disable({ onlySelf: true })">
          <mat-option *ngFor="let state of stateArray" [value]="state.id">{{lang == 'en' ? state.textEnglish : state.textMarathi}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{'common.district' | translate}}</mat-label>
        <mat-select formControlName="districtId"
          [class]="marketFrm.controls['districtId'].disable({ onlySelf: true })">
          <mat-option *ngFor="let district of districtArray" [value]="district.id">{{lang == 'en' ? district.textEnglish : district.textMarathi }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{'common.taluka' | translate}}</mat-label>
        <mat-select formControlName="talukaId">
          <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{lang == 'en' ? taluka.textEnglish : taluka.textMarathi}}</mat-option>
        </mat-select>
        <mat-error *ngIf="a['talukaId']?.hasError('required')">{{'common.Please_select_taluka'|translate}}  </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"
        (keypress)="validation.noFirstSpaceAllow($event);validation.alphaNumericWithSpacesAndSpecChars($event)"></textarea>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Pin Code</mat-label>
        <input matInput formControlName="pincode"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Est. Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="estDate"
         (click)="picker.open()" readonly [max]="maxDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Latitude</mat-label>
        <input matInput formControlName="latitude"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="longitude"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Administrator</mat-label>
        <input matInput formControlName="administratior"
        (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
      </mat-form-field> 
     </div>
     <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Working Hours</mat-label>
        <textarea matInput formControlName="workingHours"
        (keypress)="validation.noFirstSpaceAllow($event);validation.alphaNumericWithSpacesAndSpecChars($event)"></textarea>
      </mat-form-field> 
     </div>
  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end gap-2 w-100">
    <button mat-button class="btn-main-light" type="button" mat-dialog-close>Cancel</button>
    <button mat-button class="btn-main" type="submit" (click)="onSubmit()">Add</button>
  </div>
</mat-dialog-actions>
</form>