<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between">
    <div class="text-main">{{!editFlag ? ('marketRate.add_Market_List'|translate) :isViewFlag ?
      ("marketRate.view_Market_List" | translate): ('marketRate.update_Market_List'|translate)}}</div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded" >close</span>
    </button>
  </div>
</div>

<div class="" *ngIf="!isViewFlag">
<form [formGroup]="marketFrm" #formDirective="ngForm">
<div mat-dialog-content class="modal-body form-container scrollbar">
  <div class="row gx-2">
    <div class="col-sm-6">
      <mat-label class="form-label">{{'marketRate.market_en' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.market_en' | translate}}</mat-label> -->
        <input matInput formControlName="marketName"
        (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
        <mat-error *ngIf="a['marketName'].hasError('required')">{{'marketRate.market_Name_en'|translate}}</mat-error>
         <mat-error *ngIf="a['marketName']?.errors">
          <span class="text-danger"
              *ngIf="a['marketName']?.hasError('maxLengthExceeded') || a['marketName']?.hasError('pattern')">
              {{a['marketName'].hasError('maxLengthExceeded') ? ('marketRate.market_Name_limit'|translate) : ('marketRate.please_enter_valid_marketName'|translate)}}
          </span>
      </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label">{{'marketRate.market_mr' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.market_mr' | translate}}</mat-label> -->
        <input matInput formControlName="m_MarketName"
        (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)">
        <mat-error *ngIf="a['m_MarketName'].hasError('required')">{{'marketRate.market_Name_mr'|translate}}</mat-error>
         <mat-error *ngIf="a['m_MarketName']?.errors">
          <span class="text-danger"
              *ngIf="a['m_MarketName']?.hasError('maxLengthExceeded') || a['m_MarketName']?.hasError('pattern')">
              {{a['m_MarketName'].hasError('maxLengthExceeded') ? ('marketRate.market_Name_limit'|translate) : ('marketRate.please_enter_valid_marketName_mr'|translate)}}
          </span>
      </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label"> {{'common.mobile' | translate}} 1 </mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label> {{'common.mobile' | translate}} 1 </mat-label> -->
        <input matInput formControlName="conactNo" maxlength="10"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
        <mat-error *ngIf="a['conactNo'].hasError('pattern')">{{'common.please_enter_valid_mobile_number'|translate}} </mat-error>

      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label">{{'common.mobile' | translate}} 2</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'common.mobile' | translate}} 2</mat-label> -->
        <input matInput formControlName="mobileNo" maxlength="10"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
        <mat-error *ngIf="a['mobileNo'].hasError('pattern')">{{'common.please_enter_valid_mobile_number'|translate}} </mat-error>
   </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-label class="form-label">{{'common.email' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'common.email' | translate}}</mat-label> -->
        <input matInput formControlName="emailId"
        (keypress)="validation.noFirstSpaceAllow($event);validation.emailRegex($event)">
        <mat-error *ngIf="a['emailId'].hasError('email')">{{'common.Please_enter_valid_email_id'|translate}}</mat-error>
        </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-label class="form-label">{{'marketRate.farm_goods' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.farm_goods' | translate}}</mat-label> -->
        <mat-select multiple formControlName="shetMalId">
         <mat-option *ngFor="let farm of farmGoodsArray" [value]="farm.id">{{lang == 'en' ?
            farm.textEnglish : farm.textMarathi}}</mat-option>
        </mat-select>
        <mat-error *ngIf="a['shetMalId']?.hasError('required')">{{'marketRate.farms_good_Dropdown'|translate}}  </mat-error>
     </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-label class="form-label">{{'common.state' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'common.state' | translate}}</mat-label> -->
        <mat-select formControlName="stateId" (selectionChange)="getDistrict()"
        [class]="WebStorageService.getStateId() ? a['stateId'].disable({ onlySelf: true }) : a['stateId'].enable({ onlySelf: true })">
          <mat-option *ngFor="let state of stateArray" [value]="state.id">{{lang == 'en' ? state.textEnglish : state.textMarathi}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label">{{'common.district' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'common.district' | translate}}</mat-label> -->
        <mat-select formControlName="districtId" (selectionChange)="getTaluka()"
          [class]="WebStorageService.getDistrictId() ? a['districtId'].disable({ onlySelf: true }) : a['districtId'].enable({ onlySelf: true })">
          <mat-option *ngFor="let district of districtArray" [value]="district.id">{{lang == 'en' ? district.textEnglish : district.textMarathi }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label">{{'common.taluka' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'common.taluka' | translate}}</mat-label> -->
        <mat-select formControlName="talukaId">
          <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{lang == 'en' ? taluka.textEnglish : taluka.textMarathi}}</mat-option>
        </mat-select>
        <mat-error *ngIf="a['talukaId']?.hasError('required')">{{'common.Please_select_taluka'|translate}}  </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-label class="form-label">{{'common.address' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'common.address' | translate}}</mat-label> -->
        <textarea matInput formControlName="address"
        (keypress)="validation.noFirstSpaceAllow($event);lang == 'en' ? validation.alphaNumericWithSpacesAndSpecChars($event):validation.unicodeMarathiQuetionValidation($event)"></textarea>
        <mat-error *ngIf="a['address'].hasError('maxLengthExceeded')">{{ ('marketRate.market_Name_limit'|translate)}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label">{{'marketRate.pin_Code' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.pin_Code' | translate}}</mat-label> -->
        <input matInput formControlName="pincode"
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
        <mat-error *ngIf="a['pincode'].hasError('required')">{{'marketRate.please_enter_pinCode'|translate}}</mat-error>
        <mat-error *ngIf="a['pincode']?.errors">
         <span class="text-danger"
             *ngIf="a['pincode']?.hasError('maxLengthExceeded') || a['pincode']?.hasError('pattern')">
             {{a['pincode'].hasError('maxLengthExceeded') ? ('common.pin_limit'|translate) : ('marketRate.please_enter_valid_pinCode'|translate)}}
         </span>
     </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
       <mat-label class="form-label">{{'marketRate.establishment_Date' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.establishment_Date' | translate}}</mat-label> -->
        <input matInput [matDatepicker]="picker" formControlName="estDate"
         (click)="picker.open()" readonly [max]="maxDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label">{{'marketRate.latitude' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.latitude' | translate}}</mat-label> -->
        <input matInput formControlName="latitude"
        (keypress)="validation.noFirstSpaceAllow($event)">
        <mat-error *ngIf="a['latitude']?.hasError('required')">{{'marketRate.please_enter_latitude'|translate}}</mat-error>
        <mat-error *ngIf="a['latitude']?.hasError('pattern')">{{'marketRate.please_enter_valid_latitude'|translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-label class="form-label">{{'marketRate.longitude' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.longitude' | translate}}</mat-label> -->
        <input matInput formControlName="longitude"
        (keypress)="validation.noFirstSpaceAllow($event)">
        <mat-error *ngIf="a['longitude']?.hasError('required')">{{'marketRate.please_enter_longitude'|translate}}  </mat-error>
        <mat-error *ngIf="a['longitude']?.hasError('pattern')">{{'marketRate.please_enter_valid_longitude'|translate}}</mat-error>
     </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-label class="form-label">{{'marketRate.administrator' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.administrator' | translate}}</mat-label> -->
        <input matInput formControlName="administratior"
        (keypress)="validation.noFirstSpaceAllow($event); lang == 'en' ? validation.alphabetsWithSpaces($event) : validation.unicodeMarathiValidation($event)">
        <mat-error *ngIf="a['administratior']?.errors">
          <span class="text-danger"
              *ngIf="a['administratior']?.hasError('maxLengthExceeded') || a['administratior']?.hasError('pattern')">
              {{a['administratior'].hasError('maxLengthExceeded') ? ('department.department_maxLength'|translate) : ('marketRate.please_enter_valid_administrator'|translate)}}
          </span>
      </mat-error>
      </mat-form-field>
     </div>
     <div class="col-sm-12">
      <mat-label class="form-label">
        {{'marketRate.working_hours' | translate}}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'marketRate.working_hours' | translate}}</mat-label> -->
        <textarea matInput formControlName="workingHours"
        (keypress)="validation.noFirstSpaceAllow($event);validation.alphaNumericWithSpacesAndSpecChars($event)"></textarea>
        <mat-error *ngIf="a['workingHours']?.hasError('required')">{{'marketRate.please_enter_hours'|translate}}  </mat-error>
      </mat-form-field>
     </div>
  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end gap-2 w-100">
    <button mat-button class="btn-main-light" type="button" (click)="clearMainForm()">{{'department.clear'|translate}}</button>
    <button mat-button class="btn-main" type="submit" (click)="onSubmit()">{{editFlag ? ('designation.update'|translate) :('designation.add'|translate)}}</button>
  </div>
</mat-dialog-actions>
</form>
</div>

<div class="" *ngIf="isViewFlag">
<div mat-dialog-content class="modal-body form-container">
  <div class="row gy-2">
    <div class="col-sm-12">
      <div class="d-flex gap-2">
        <div class="form-label">{{'marketRate.market' | translate}}</div>
        <div class=" form-data">: {{lang == 'en' ? (data?.marketName || '-') : (data?.m_MarketName || '-')}}</div>
      </div>
    </div>
   <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'common.mobile' | translate}} 1</div>
        <div class="col-sm-7 form-data">: {{data?.conactNo || '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'common.mobile' | translate}} 2</div>
        <div class="col-sm-7 form-data">: {{data?.mobileNo || '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'common.email' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.emailId || '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'marketRate.farm_goods' | translate}}</div>
       <ng-container>
       <div class="col-sm-7 form-data">:<span *ngFor="let arr of data?.getCommitteeAssignShetmal">
        {{lang == 'en' ? (arr?.shetmalCast|| '-') + "," : (arr?.m_ShetmalCast || '-') + ","}}
       </span></div>
      </ng-container>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'common.state' | translate}}</div>
        <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.state || '-') : (data?.m_State || '-')}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'common.district' | translate}}</div>
        <div class="col-sm-7 form-data">:  {{lang == 'en' ? (data?.district || '-') : (data?.m_District || '-')}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'common.taluka' | translate}}</div>
        <div class="col-sm-7 form-data">:  {{lang == 'en' ? (data?.taluka || '-') : (data?.m_Taluka || '-')}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'common.address' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.address || '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'marketRate.pin_Code' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.pincode || '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'marketRate.establishment_Date' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.estDate | date:'dd/MM/YYYY'|| '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'marketRate.latitude' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.latitude|| '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'marketRate.longitude' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.longitude || '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'marketRate.administrator' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.administratior || '-'}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row gx-2">
        <div class="col-sm-5 form-label">{{'marketRate.working_hours' | translate}}</div>
        <div class="col-sm-7 form-data">: {{data?.workingHours || '-'}}</div>
      </div>
    </div>
  </div>
</div>
</div>
