<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between">
    <div class="text-main">Add Market List</div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded" >close</span>
    </button>
  </div>
</div>
<form [formGroup]="marketFrm">
<div mat-dialog-content class="modal-body">
  <div class="row gx-2">
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Market Name(English)</mat-label>
        <input matInput formControlName="marketName">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Market Name(Marathi)</mat-label>
        <input matInput formControlName="m_MarketName">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact No 1 </mat-label>
        <input matInput formControlName="conactNo">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact No 1</mat-label>
        <input matInput formControlName="mobileNo">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email ID</mat-label>
        <input matInput formControlName="emailId">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Farm Goods/शेत माल</mat-label>
        <mat-select multiple formControlName="shetMalId">
         <mat-option *ngFor="let farm of farmGoodsArray" [value]="farm.id">{{lang == 'en' ?
            farm.textEnglish : farm.textMarathi}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>State</mat-label>
        <input matInput formControlName="stateId">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>District</mat-label>
        <input matInput formControlName="districtId">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Taluka</mat-label>
        <input matInput formControlName="talukaId">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Pin Code</mat-label>
        <input matInput formControlName="pincode">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Est. Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="estDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Latitude</mat-label>
        <input matInput formControlName="latitude">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="longitude">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Administrator</mat-label>
        <input matInput formControlName="administratior">
      </mat-form-field> 
     </div>
  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end gap-2 w-100">
    <button mat-button class="btn-main-light">Clear</button>
    <button mat-button class="btn-main">Add</button>
  </div>
</mat-dialog-actions>
</form>