.timeline {
    position: relative;
    margin: 10px auto 50px;
    padding: 40px 0;
    // width: 1000px;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif !important;
}

.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 94%;
    background: #c5c5c5;
    top: 64px;
}

.timeline ul li.start .time {
    background-color: rgb(4, 117, 247) !important;
    box-shadow: 0 0 0 3px rgb(0, 70, 150) !important;
}

.timeline ul li.end .time {
    background-color: rgb(252, 56, 56) !important;
    box-shadow: 0 0 0 3px rgb(223, 0, 0) !important;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 20px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--main-dark-color);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--main-dark-color);
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    // color: var(--main-color);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Public Sans', sans-serif !important;
}

.timeline ul li p {
    margin: 5px 0 0;
    padding: 0;
    font-size: 0.85rem;
    font-family: 'Public Sans', sans-serif !important;
}

.timeline ul li p small {
    margin: 5px 0 0;
    padding: 0;
    font-size: 0.85rem;
    font-family: 'Public Sans', sans-serif !important;
    line-height: 18px;
    color: #111;
}

.timeline ul li .time1 h4,
.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    font-family: 'Public Sans', sans-serif !important;
}

.timeline ul li:nth-child(odd).end .time,
.timeline ul li:nth-child(odd).start .time {
    right: -85px !important;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -190px;
    margin: 0;
    padding: 8px 16px;
    background: var(--main-color);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px var(--main-dark-color);
}

.timeline ul li:nth-child(odd) .time1 {
    position: absolute;
    top: 12px;
    right: -190px;
    margin: 0;
    padding: 8px 16px;
    background: orange;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px orangered;
}

.timeline ul li:nth-child(even).end .time {
    left: -89px !important;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -190px;
    margin: 0;
    padding: 8px 16px;
    background: var(--main-color);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px var(--main-dark-color);
}

.timeline ul li:nth-child(even) .time1 {
    position: absolute;
    top: 12px;
    left: -190px;
    margin: 0;
    padding: 8px 16px;
    background: orange;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px orangered;
}

@media(max-width:1000px) {
    .timeline {
        width: 100%;
    }
}

@media(max-width:767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }

    .timeline:before {
        left: 20px;
        height: 95.8%;
        top: 20px;
    }

    .timeline ul li.start .time,
    .timeline ul li.end .time {
        width: fit-content !important;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time1,
    .timeline ul li:nth-child(even) .time1,
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}