<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100 ">
      <div class="text-main">{{'setRule.set_rule' | translate }}</div>
      <button mat-flat-button class="btn-main" *ngIf="pageAccessObject?.writeRight == true" (click)="setrules()">
        <mat-icon class="material-symbols-rounded">
          add
        </mat-icon>
        {{'setRule.set_rule' | translate }}
      </button>
    </div>
  </mat-card-header>
  <mat-card-header class="card-header-control">
    <form [formGroup]="filterFrm" (ngSubmit)="bindTable('filter')" #formDirective="ngForm" class="w-100">
      <div class="row gx-2">
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.select_state' | translate }}</mat-label>
            <mat-select formControlName="state"
            [class]="filterFrm.controls['state'].disable({ onlySelf: true })">
              <mat-option *ngFor="let data of statresponse" [value]="data.id">{{lang == 'en' ?
                data.textEnglish : data.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'setRule.select_district' | translate }}</mat-label>
            <mat-select formControlName="district"
            [class]="filterFrm.controls['district'].disable({ onlySelf: true })">
              <mat-option *ngFor="let data of districtresp" [value]="data.id">{{lang == 'en' ?
                data.textEnglish : data.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'setRule.select_scheme' | translate}}</mat-label>
            <mat-select formControlName="scheme" placeholder="{{'setRule.select_scheme' | translate}}">
              <mat-option *ngFor="let data of schemeTyperesp" [value]="data.id">{{lang == 'en' ?
                data.textEnglish : data.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'designation.depertment'|translate}}</mat-label>
            <mat-select formControlName="department" placeholder="{{'designation.depertment'|translate}}">
              <mat-option *ngFor="let data of departmentresp" [value]="data.id">{{lang == 'en' ?
                data.textEnglish : data.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-1">
          <div class="d-flex align-items-center gap-2">
            <button mat-flat-button class="btn-main btn-icon" type="submit" matTooltip="search">
              <mat-icon class="material-symbols-rounded">
                search
              </mat-icon>
            </button>
            <button mat-flat-button class="btn-main-light btn-icon" matTooltip="close" type="button" (click)="clearFilterForm()">
              <mat-icon class="material-symbols-rounded">
                close
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-header>
  <mat-card-content class="card-body">

    <div class="table-responsive scrollbar">
      <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
    </div>
  </mat-card-content>
</mat-card>
