<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                    about us
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row g-5 mb-5" id="aboutus">
        <div class="col-sm-5">
            <img src="assets/images/Dharashiv-map.svg" class="img-fluid">
        </div>
        <div class="col-sm-7">
            <p>धाराशिव जिल्हयातील भौगोलिक परिस्थिती व हवामान रेशीम शेती उदयोगास अत्यंत अनुकूल आहे. रेशीम शेती उदयोगात
                नवनवीन तंत्रज्ञानाचा वापर करुन जिल्हयातील बहुतांश शेतकरी वार्षीक एकरी ९.०० ते १.५० लाखाच्यावर उत्पादन
                घेत आहेत. मराठवाडा विभागामध्ये धाराशिव जिल्हा रेशीम शेती उदयोगात अंडीपुज वापर व कोष उत्पादनात दुस-या
                स्थानावर आहे. </p>
            <p>जिल्हयात १०० टक्के चॉकोपुरवठा होत असल्याने प्रती एकरी व प्रती १०० अंडीपुंज्यास होणा-या रेशीम कोषाच्या
                उत्पादनात धाराशिव जिल्हा महाराष्ट्रात अग्रेसर आहे. रेशीम उदयोग हा तुतीची लागवड ते कापड निमिती पर्यंत
                प्रत्येक टप्यावर ग्रामीण क्षेत्रामध्ये ग्रामीण लोकाना रोजगार मिळवुन देणारा व ग्रामीण भागातील
                अर्थव्यवस्था बदलण्याची क्षमता असलेला असा एकमेव ग्रामोदयोग आहे. अनेक जिल्हयांमध्ये तुती लागवडीस मिळणारा
                प्रतिसाद विचारात घेता व या उदयोगातुन शेतक-यांना मिळणा-या आर्थिक उत्पन्नाची हमी पाहता दिनांक ०३ सप्टेंबर
                २०१५ व दिनांक ३१ मार्च २०१६ च्या शासन निर्णयान्वये महात्मा गांधी राष्ट्रीय रोजगार हमी योजना संपुर्ण
                राज्यात राबविण्यास शासनकडुन मान्यता प्रदान करण्यात आलेली आहे. याव्दारे ३ वर्षात १ एकरच्या मर्यादीत
                केलेल्या 'कामकाजानुसार कमाल रु. ३,९७,११५ अनुदान देय आहे. मनरेगा तुती लागवडीच्या कामकाजात धाराशिव जिल्हा
                महाराष्ट्रात दुस-या स्थानावर आहे.</p>
        </div>
        <div class="col-sm-7">
            <h3>रेशीम उद्योग / व्यवसाय</h3>
            <p>मनरेगा अंतर्गत सुरू झाल्यानंतर जिल्ह्यात रेशीम उद्योग वाढीस चालना मिळालेली आहे.</p>
            <p>जिल्ह्यातील सरासरी अल्प पर्जन्यमान, त्याचप्रमाणे होणाऱ्या अवेळी पावसामुळे इतर पिकाच्या तुलनेत रेशीम कोष
                उत्पादनापासून जिल्ह्यातील लाभार्थी कमी पाण्यावर रेशीम उद्योगातून चांगल्याप्रकारे उत्पादन घेत आहेत. रेशीम
                उदयोगामुळे जिल्हयातील शेतक-यांचे जिवनमान उंचावण्यास मदत झालीआहे.</p>
            <p>सद्या जिल्हयात मनेरगा अंतर्गत १३८९ तुती लागवड कामे चालु असुन यामधील ३५४ कामे हे पुर्ण झाले असुन त्याच्या
                कामपुर्णत्वाचे दाखले देण्याचे कामकाज सुरु आहे. जिल्हयात सदयस्थितीत १९२२
                शेतक-यांकडे तुती लागवड अस्तीत्वात आहे.रेशीम उद्योगमध्ये रोजगारची क्षमता मोठया प्रमाणात असल्याने शासनाने
                सान २०१६-१७ पासून जिल्ह्यात मनरेगा अंतर्गत रेशीम उद्योगास सुरुवात केलेली आहे. या योजनेमध्ये प्रती एकरी
                रु. ३.९७ लक्ष पर्यंतचा लाभ शेतकर्‍यांना देण्यात येतो.
            </p>
        </div>
        <div class="col-sm-5">
            <img src="assets/images/silk-about-us.jpg" class="img-fluid rounded-5">
        </div>
    </div>
</div>