<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="page-name">
                    {{'aboutUs.about'| translate}}
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">{{'contactUs.home'| translate}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'aboutUs.about'| translate}}</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row g-5 mb-5" id="aboutus">
        <div class="col-sm-5">
            <img src="assets/images/Dharashiv-map.svg" class="img-fluid">
        </div>
        <div class="col-sm-7">
            <p>{{'aboutUs.geographical_conditions'| translate}} </p>
            <p>{{'aboutUs.Dharashiv_district_is_the_leader'| translate}}</p>
        </div>
        <div class="col-sm-7">
            <h3>{{'aboutUs.silk_industry'| translate}}</h3>
            <p>{{'aboutUs.after_its_introduction'| translate}}</p>
            <p>{{'aboutUs.average_rainfall'| translate}}</p>
            <p>{{'aboutUs.mulberry_plantation_works'| translate}}</p>
        </div>
        <div class="col-sm-5">
            <img src="assets/images/silk-about-us.jpg" class="img-fluid rounded-5">
        </div>
    </div>
</div>