<nav class="navbar bg-white py-1 border-bottom shadow-sm">
    <div class="container-fluid justify-content-end gap-1">
        <div class="d-flex justify-content-end align-items-center">
            <button mat-flat-button class="btn-icon btn-sidebar-close" (click)="onClickSidebar()">
                <span class="material-symbols-rounded">
                    menu
                </span>
            </button>
         
            <div class="dropdown">
                <button mat-flat-button class="btn-icon" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                          <img src="assets/images/language.svg">
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <ng-container *ngFor="let getLag of lag">
                        <button class="dropdown-item" (click)="changeLanguage(getLag)"
                            [class.active]="getLag == selLang">
                            <div class="d-flex align-items-center">
                                <img [src]="getLag == 'English' ? 'assets/images/english.svg' : 'assets/images/marathi.svg'">
                                <span>{{getLag}}</span>
                            </div>
                        </button>
                    </ng-container>
                </div>
            </div>


            <button mat-flat-button class="btn-icon">
                <mat-icon class="material-symbols-rounded">
                    notifications_active
                </mat-icon>
            </button>
            <div class="dropdown">
                <button class="btn profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex align-items-center gap-2">
                        <img [src]="profileImg ? profileImg : 'assets/images/user.png'">
                        <div class="d-flex flex-column align-items-start">
                            <p>{{userName ? userName : loginData.name}}</p>
                            <small>{{designationName ? designationName : loginData.designationName}}</small>
                        </div>
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" (click)="myprofile()">
                            <mat-icon class="material-symbols-rounded">
                                account_circle
                            </mat-icon>
                            My Profile
                        </a>
                    </li>
                    <li><a class="dropdown-item" (click)="openChangePasswordDialog()">
                            <mat-icon class="material-symbols-rounded">
                                lock
                            </mat-icon>
                            Change Password
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" (click)="openLogOutDialog()">
                            <mat-icon class="material-symbols-rounded">
                                logout
                            </mat-icon>
                            Logout
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>