<nav class="navbar bg-white py-1 border-bottom shadow-sm">

    <div class="container-fluid justify-content-between gap-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item small"  *ngFor="let breadCrumb of breadCrumbLabels; let i = index" [class.active]="breadCrumbLabels.length - 1 == i">{{breadCrumb}}</li>
            </ol>
          </nav>
        <div class="d-flex justify-content-end align-items-center">
            <button mat-flat-button class="btn-icon btn-sidebar-close" (click)="onClickSidebar()">
                <span class="material-symbols-rounded">
                    menu
                </span>
            </button>

            <div class="dropdown">
                <button mat-flat-button class="btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/language.svg">
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <ng-container *ngFor="let getLag of lag">
                        <button class="dropdown-item" (click)="changeLanguage(getLag)" [class.active]="getLag == setLang"   >
                            <div class="d-flex align-items-center" >
                                <img
                                    [src]="getLag == 'English' ? 'assets/images/english.svg' : 'assets/images/marathi.svg'">
                                <span>{{getLag}}</span>
                            </div>
                        </button>
                    </ng-container>
                </div>
            </div>


            <button mat-flat-button class="btn-icon">
                <mat-icon class="material-symbols-rounded">
                    notifications_active
                </mat-icon>
            </button>
            <div class="dropdown">
                <button class="btn profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex align-items-center gap-2">
                        <img [src]="profileImg ? profileImg : loginData.profileImagePath ? loginData.profileImagePath : 'assets/images/user.png'"
                            class="profile-photo">
                        <div class="d-flex flex-column align-items-start">
                            <p>{{userName ? userName : loginData.name}}</p>
                            <small>{{designationName ? designationName : loginData.designationName}}</small>
                        </div>
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" (click)="myprofile()">
                            <mat-icon class="material-symbols-rounded">
                                account_circle
                            </mat-icon>
                            {{'common.my_profile' | translate}}
                        </a>
                    </li>
                    <li><a class="dropdown-item" (click)="openChangePasswordDialog()">
                            <mat-icon class="material-symbols-rounded">
                                lock
                            </mat-icon>
                            {{'common.change_password' | translate}}
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" (click)="openLogOutDialog()">
                            <mat-icon class="material-symbols-rounded">
                                logout
                            </mat-icon>
                            {{'common.logout' | translate}}
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
