<nav class="navbar bg-white py-1">
    <div class="container-fluid justify-content-between gap-1">
        <div class="d-flex justify-content-between align-items-center w-100">
            <button mat-flat-button class="btn-icon btn-sidebar-close" (click)="onClickSidebar()">
                <span class="material-symbols-rounded">
                    menu
                </span>
            </button>
            <div class="d-flex justify-content-end align-items-center">
                <!-- <div class="dropdown">
                    <button mat-flat-button class="btn-icon" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="assets/images/language.svg">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><img src="assets/images/english.svg">English</a></li>
                        <li><a class="dropdown-item" href="#"><img src="assets/images/marathi.svg">Marathi</a></li>
                    </ul>
                </div> -->
                <div class="dropdown">
                    <button mat-flat-button class="btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img [src]="selLang == 'Marathi' ? 'assets/images/marathi.svg':'assets/images/english.svg'"> -->
                        <img src="assets/images/language.svg">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <ng-container *ngFor="let getLag of lag">
                            <button class="dropdown-item" (click)="changeLanguage(getLag)"
                                [class.active]="getLag == selLang">
                                <div class="d-flex align-items-start">
                                    <img
                                        [src]="getLag == 'English' ? 'assets/images/english.svg' : 'assets/images/marathi.svg'">
                                    <span>{{getLag}}</span>
                                </div>
                            </button>
                        </ng-container>
                    </div>
                </div>
                
                <button mat-flat-button class="btn-icon">
                    <span class="material-symbols-rounded">
                        notifications_active
                    </span>
                </button>
                <div class="dropdown">
                    <button class="btn profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="d-flex align-items-center gap-2">
                            <img src="assets/images/user.png">
                            <div class="d-flex flex-column align-items-start">
                                <p>Ramesh Kambale</p>
                                <small>Headmaster</small>
                            </div>
                        </div>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><span class="dropdown-header text-main">Government Primary School,<br>Belwadi</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="myprofile()">
                                <span class="material-symbols-rounded">
                                    account_circle
                                </span>
                                My Profile
                            </a>
                        </li>
                        <li><a class="dropdown-item" (click)="openChangePasswordDialog()">
                                <span class="material-symbols-rounded">
                                    lock
                                </span>
                                Change Password
                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="openLogOutDialog()">
                                <span class="material-symbols-rounded">
                                    logout
                                </span>
                                Logout
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
