<!-- <p>categorydetails works!</p> -->
<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between">
    <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
      <mat-icon class="material-symbols-outlined">
        close
      </mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content class="modal-body form-container scrollbar">
  <ng-container *ngFor="let list of data; let i = index">
    <p class="mb-2">
       <mat-radio-button [value]="list.textEnglish" *ngIf="list?.isRadioButton" class="ms-2" (change)="onOptionChange($event,i,'radio')">{{list.textEnglish}}</mat-radio-button></p>
    <p class="mb-0"><mat-checkbox class="example-margin" *ngIf="list?.isCheckBox" (change)="onOptionChange($event,i,'checkbox')"> {{list.textEnglish}}</mat-checkbox></p>
  </ng-container>

  <button (click)="getSelectedItems()">Selected</button>
</mat-dialog-content>