<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100 ">
      <div class="text-main">Set Rules</div>
      <button mat-flat-button class="btn-main" (click)="setrules()">
        <mat-icon class="material-symbols-rounded">
          add
        </mat-icon>
        Set Rules
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="table-responsive scrollbar">
      <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
    </div>
  </mat-card-content>
</mat-card>
