<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100 ">
      <div class="text-main">Set Rules</div>
      <button mat-flat-button class="btn-main" (click)="setrules()">
        <mat-icon class="material-symbols-rounded">
          add
        </mat-icon>
        Set Rules
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="row gx-2">
      <div class="col-sm-auto">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>All State</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-auto">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>All District</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-auto">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>All Scheme</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>All Process Department</mat-label>
          <mat-select>
            <mat-option>Option 1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-1">
        <div class="d-flex align-items-center gap-2">
          <button mat-flat-button class="btn-main btn-icon" type="button" matTooltip="search">
            <mat-icon class="material-symbols-rounded">
              search
            </mat-icon>
          </button>
          <button mat-flat-button class="btn-main-light btn-icon" matTooltip="close" type="button">
            <mat-icon class="material-symbols-rounded">
              close
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
    </div>
  </mat-card-content>
</mat-card>
