<mat-card class="plain-card form-container">
    <mat-card-header class="card-header-control">
        <form [formGroup]="filterFrm" class="w-100">
            <div class="row w-100 g-2">
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'manrega.district'| translate}}</mat-label>
                        <mat-select formControlName="districtId" (selectionChange)="getTaluka()" placeholder="District"
                            [class]="WebStorageService.getDistrictId() ? f['districtId'].disable({ onlySelf: true }) : f['districtId'].enable({ onlySelf: true })">
                            <mat-option *ngFor=" let dist of districtArr" [value]="dist.id">{{lang == 'en' ?
                                dist.textEnglish :
                                dist.textMarathi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'manrega.taluka'| translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropdown('Taluka');getGrampanchayat()" placeholder="All Taluka"
                            [class]="WebStorageService.getTalukaId() ? f['talukaId'].disable({ onlySelf: true }) : f['talukaId'].enable({ onlySelf: true })">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="talukaCtrl"
                                    placeholderLabel="{{lang == 'en' ? 'Search Taluka Name' : 'तालुक्याचे नाव शोधा'}}"
                                    noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor=" let taluka of talukaSubject | async" [value]="taluka.id">{{lang == 'en'
                                ? taluka.textEnglish :
                                taluka.textMarathi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.grampanchayat_filter_all'| translate}} </mat-label>
                        <mat-select formControlName="grampanchayatId"
                            placeholder="{{lang == 'en' ? 'All Grampanchayat' :'सर्व ग्रामपंचायत'}}"
                            [class]="WebStorageService.getGrampanchayatId() || !filterFrm.getRawValue().talukaId ? f['grampanchayatId'].disable({ onlySelf: true }) : f['grampanchayatId'].enable({ onlySelf: true })">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="gramPCtrl"
                                    placeholderLabel="{{lang == 'en' ? 'Search Grampanchayat Name' : 'ग्रामपंचायतीचे नाव शोधा'}}"
                                    noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor=" let gram of gramPSubject | async" [value]="gram.id">{{lang == 'en' ?
                                gram.textEnglish :
                                gram.textMarathi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'manrega.scheme'| translate}}</mat-label>
                        <mat-select formControlName="schemeTypeId" placeholder="All Scheme"  (selectionChange)="getAction()">
                            <mat-option *ngFor=" let scheme of schemeFilterArr" [value]="scheme.id">{{lang == 'en' ?
                                scheme.textEnglish : scheme.textMarathi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.action'| translate}}</mat-label>
                        <mat-select formControlName="actionId" placeholder="All Scheme"  [class]="!filterFrm.getRawValue().schemeTypeId ? f['actionId'].disable({ onlySelf: true }) : f['actionId'].enable({ onlySelf: true })">
                            <mat-option *ngFor=" let action of actionArr" [value]="action.id">{{lang == 'en' ?
                                action.textEnglish : action.textMarathi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <div class="d-flex align-items-center gap-2">
                        <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button"
                            (click)="getDashboardCount('filter')">
                            <mat-icon class="material-symbols-rounded">
                                search
                            </mat-icon>
                        </button>
                        <button mat-flat-button class="btn-main-light btn-icon" (click)="clearFilter()" matTooltip="edit" type="button">
                            <mat-icon class="material-symbols-rounded">
                                close
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-header>
    <mat-card-content class="card-body" id="dash-stats">
        <div class="row g-2">
            <div class="col-sm">
                <div class="card card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/images/dashboard-icons/applications.svg" alt="Total Applications"
                                class="green">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h2>{{dashboardData?.responseData?.totalApplications}}</h2>
                            <p>{{'dashboard.total_applications'| translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/images/dashboard-icons/beneficiary.svg" alt="Total Beneficiaries"
                                class="red">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h2>{{dashboardData?.responseData?.totalBeneficiaries}}</h2>
                            <p>{{'dashboard.total_beneficiaries'| translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/images/dashboard-icons/land.svg" alt="Land Cultivated (Hector)"
                                class="blue">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h2>{{dashboardData?.responseData?.totalLandCultivatedHectors}}</h2>
                            <p>{{'dashboard.land_cultivated'| translate}}<small class="text-muted px-1">{{'dashboard.hector'| translate}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h2>{{dashboardData?.responseData?.totalDBT}}</h2>
                            <p>{{'dashboard.total_DBT'| translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row g-2 align-items-center" *ngIf="manaregaArray.length">

            <div class="col-sm-3">
                <div class="card card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/images/dashboard-icons/manarega.svg" alt="Manrega Applications"
                                class="olive">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h2>{{manaregaCount}}</h2>
                            <p>{{lang == 'en' ? manaregaArray[0]?.schemeType : manaregaArray[0]?.m_SchemeType}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <table class="table dashboard-table mb-0">
                    <thead>
                        <tr>
                            <th>{{'common.action'| translate}}</th>
                            <th>{{'dashboard.approved'| translate}}</th>
                            <th>{{'dashboard.pending'| translate}}</th>
                            <th>{{'dashboard.resend'| translate}}</th>
                            <th>{{'dashboard.rejected'| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let res of manaregaArray">
                            <tr>
                                <td>{{lang == 'en' ? res?.actionName : res?.m_ActionName}}</td>
                                <td>

                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,12)"
                                        *ngIf="res?.approvedCount > 0">{{res?.approvedCount}}</a>
                                    <span *ngIf="res?.approvedCount <= 0"> 0 </span>
                                </td>
                                <td>
                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,1)"
                                        *ngIf="res?.pendingCount > 0">{{res?.pendingCount}}</a>
                                    <span *ngIf="res?.pendingCount <= 0"> 0 </span>
                                </td>
                                <td>
                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,11)"
                                        *ngIf="res?.resendCount > 0">{{res?.resendCount}}</a>
                                    <span *ngIf="res?.resendCount <= 0"> 0 </span>
                                </td>
                                <td>
                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,5)"
                                        *ngIf="res?.rejectCount > 0">{{res?.rejectCount}}</a>
                                    <span *ngIf="res?.rejectCount <= 0"> 0 </span>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>
        <div class="row g-2 align-items-center" *ngIf="samgraArray.length">
            <div class="col-sm-3">
                <div class="card card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/images/dashboard-icons/silk.svg" alt="Silk Samgra-2 Applications"
                                class="voilet">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h2>{{samgraCount}}</h2>
                            <p>{{lang == 'en' ? samgraArray[0]?.schemeType : samgraArray[0]?.m_SchemeType}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <table class="table dashboard-table mb-0">
                    <thead>
                        <tr>
                            <th>{{'common.action'| translate}}</th>
                            <th>{{'dashboard.approved'| translate}}</th>
                            <th>{{'dashboard.pending'| translate}}</th>
                            <th>{{'dashboard.resend'| translate}}</th>
                            <th>{{'dashboard.rejected'| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let res of samgraArray">
                            <tr>
                                <td>{{lang == 'en' ? res?.actionName : res?.m_ActionName}}</td>
                                <td>

                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,12)"
                                        *ngIf="res?.approvedCount > 0">{{res?.approvedCount}}</a>
                                    <span *ngIf="res?.approvedCount <= 0"> 0 </span>
                                </td>
                                <td>
                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,1)"
                                        *ngIf="res?.pendingCount > 0">{{res?.pendingCount}}</a>
                                    <span *ngIf="res?.pendingCount <= 0"> 0 </span>
                                </td>
                                <td>
                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,11)"
                                        *ngIf="res?.resendCount > 0">{{res?.resendCount}}</a>
                                    <span *ngIf="res?.resendCount <= 0"> 0 </span>
                                </td>
                                <td>
                                    <a class="text-main text-decoration-underline" (click)="redToAppPage(res,5)"
                                        *ngIf="res?.rejectCount > 0">{{res?.rejectCount}}</a>
                                    <span *ngIf="res?.rejectCount <= 0"> 0 </span>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>
