#dash-stats .card {
    border-radius: 15px;
}

#dash-stats img {
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 10px;
}

#dash-stats img.green {
    background-color: #edf2e5;
}

#dash-stats img.red {
    background-color: #fae5e5;
}

#dash-stats img.blue {
    background-color: #e5ecf5;
}

#dash-stats img.green-blue {
    background-color: #e5f6f7;
}

#dash-stats img.olive {
    background-color: #f8f7e5;
}

#dash-stats img.voilet {
    background-color: #e8e5fe;
}

#dash-stats h2 {
    font-weight: 800;
    margin-bottom: 0px;
}

#dash-stats p {
    font-size: 0.85rem;
    margin-bottom: 0px;
}