<p>silk-samgra works!</p>

<mat-card class="plain-card form-container">
  <mat-card-header class="card-header">
    <div class="text-main fw-bold">View Silk Samagra Application </div>
  </mat-card-header>

  <mat-card-content class="card-body">
    <div class="card card-body mb-3">
      <div class="row g-2">
        <!-- <div class="col-sm-3" *ngIf="!applicationData?.getSiteInspectionDataModel?.isSiteInspectionDone">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">{{'approvalProcess.applicant_id'| translate}} ({{'approvalProcess.date'| translate}}):</div>
            <div class="form-data">{{(applicationData?.applicationNo) | dash }} ({{applicationData?.applicationDate |
              date:'dd-MM-yyyy'}})</div>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="applicationData?.getSiteInspectionDataModel?.isSiteInspectionDone">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">{{'approvalProcess.mulberry_id'| translate}}:</div>
            <div class="form-data">{{applicantDetails?.mulberryId}}({{(applicantDetails?.mulberryIdGeneratedDate|
              date:'dd-MM-yyyy') | dash}})</div>
          </div>
        </div> -->
        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Applicant Name:</div>
            <div class="form-data">Jayesh Paygude</div>
          </div>
        </div>
        <!-- <div class="col-sm-2">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Mobie No:</div>
            <div class="form-data">8669264767 </div>
          </div>
        </div> -->
        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Scheme:</div>
            <div class="form-data">Silk Samagra -2 </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Process Department:</div>
            <div class="form-data">Sericulture</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Category:</div>
            <div class="form-data">Scheduled Caste </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Planation Area(Acre):</div>
            <div class="form-data">2.0 </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="d-flex gap-2">
            <div class="form-label mb-0">Address:</div>
            <div class="form-data"> : Nipani, Kalamb, Dharashiv</div>
          </div>
        </div>

      </div>
    </div>

    <div class="text-main fw-bold">Application Status</div>
    <table class="table dashboard-table">
      <thead>
        <tr>
          <th>
            <div class="form-label">Sr. No.</div>
          </th>
          <th>
            <div class="form-label">Action</div>
          </th>
          <th>
            <div class="form-label">Designation</div>
          </th>
          <th>
            <div class="form-label">Officer</div>
          </th>
          <th>
            <div class="form-label">Status</div>
          </th>
          <th>
            <div class="form-label">Date</div>
          </th>
          <th>
            <div class="form-label">Remark</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="form-data">  1</div>
          </td>
          <td>
            <div class="form-data">  Application Review</div>
          </td>

          <td>
            <div class="form-data"> Technical Assistant </div>
          </td>
          <td>
            <div class="form-data"> -</div>
          </td>
          <td>
            <div class="form-data bg-warning text-center rounded"> Pending</div>
          </td>
          <td>
            <div class="form-data "> </div>
          </td>
          <td>
            <div class="form-data "> -</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-data">  2</div>
          </td>
          <td>
            <div class="form-data"> Prior Santion</div>
          </td>

          <td>
            <div class="form-data"> Silk Development Officer </div>
          </td>
          <td>
            <div class="form-data"> -</div>
          </td>
          <td>
            <div class="form-data bg-warning text-center rounded"> Pending</div>
          </td>
          <td>
            <div class="form-data "> </div>
          </td>
          <td>
            <div class="form-data "> -</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-data">  3</div>
          </td>
          <td>
            <div class="form-data"> Land Survey</div>
          </td>

          <td>
            <div class="form-data"> Technical Assistant </div>
          </td>
          <td>
            <div class="form-data"> -</div>
          </td>
          <td>
            <div class="form-data bg-warning text-center rounded"> Pending</div>
          </td>
          <td>
            <div class="form-data "> </div>
          </td>
          <td>
            <div class="form-data "> -</div>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="card mb-3">
      <div class="card-header">
        <div class="form-data text-main">Application Details</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="d-flex gap-2">
              <div class="form-label">Application ID</div>
              <div class="form-data">: 2202315265292</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="d-flex gap-2">
              <div class="form-label">Date</div>
              <div class="form-data">: 2202315265292</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="d-flex gap-2">
              <div class="form-label">Aadhar No.</div>
              <div class="form-data">: 55491059968</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <!-- <div class="form-data text-main">{{'approvalProcess.applicant_details'| translate}}</div> -->
        <div class="form-data text-main">अर्जदारचा तपशील</div>
      </div>
      <div class="card-body">
        <div class="row application-details">
          <div class="col-sm-3">
            <!-- <img src="{{applicantDetails?.profilePhotoPath}}" alt="view Application Image"> -->
            <img src="../../../../../assets/images/logo.png" alt="view Application Image">
          </div>
          <div class="col-sm-9">
            <div class="row g-2 mb-2 pb-2 border-bottom">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-2 col-4">
                    <div class="form-label">Applicant Name :</div>
                  </div>
                  <div class="col-sm-4 col-8">
                    <div class="form-data">: Jayram Ramesh Tandale</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-2 col-4">
                <div class="form-label">Mobile No :</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: 8669264767</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Election Id No</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{applicantDetails?.mn_JobCardNo | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Gender :</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: Male</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Date of Birth</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: 15/03/1997</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Education</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">:12th</div>
              </div>

              <!-- <div class="col-sm-2 col-4">
                <div class="form-label">Aadhar Card</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data"> : 554922369985</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">{{'approvalProcess.date_of_birth'| translate}}</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{(applicantDetails?.birthDate | date: 'dd-MM-yyyy') | dash}}</div>
              </div> -->
              <div class="col-sm-2 col-4">
                <div class="form-label">State</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: Maharashtra</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">District</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: Dharahsiv</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Taluka</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: Kalamb</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Grampanchyat</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: Nipani</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Village</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: </div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">Pincode</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: 411011</div>
              </div>
              <!-- <div class="col-sm-2 col-4">
                <div class="form-label">{{'approvalProcess.alternate_mobile_number.'| translate}}</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data"> : {{applicantDetails?.mobileNo2 | dash}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">{{'approvalProcess.gender'| translate}}</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.gender | dash ) :
                  (applicantDetails?.m_gender | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">{{'approvalProcess.education'| translate}}</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.qualification | dash ) :
                  (applicantDetails?.m_Qualification | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">{{'common.District'| translate}}</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data">: {{lang == 'en' ? (applicantDetails?.district | dash ) :
                  (applicantDetails?.m_District | dash)}}</div>
              </div>
              <div class="col-sm-2 col-4">
                <div class="form-label">{{'approvalProcess.village_committee'| translate}}</div>
              </div>
              <div class="col-sm-4 col-8">
                <div class="form-data"> : {{lang == 'en' ? (applicantDetails?.grampanchayatName | dash ) :
                  (applicantDetails?.m_GrampanchayatName | dash)}}</div>
              </div> -->
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-2 col-4">
                    <div class="form-label">Address</div>
                  </div>
                  <div class="col-sm-4 col-8">
                    <div class="form-data">: Lakshmi Road, Near Hanuman Temple</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="d-flex gap-2">
              <div class="form-label">Category</div>
              <div class="form-data mb-0">: Scheduled Caste </div>
            </div>
            <div class="d-flex gap-2">

              <div class="form-label">Is Beneficiary below poverty line ?</div>

              <div class="form-data mb-0">: Yes </div>

            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <div class="text-main fw-bold">Land Details</div>
      </div>
      <div class="card-body">
        <div class="row gx-2">
          <div class="col-sm-6">
            <div class="fw-bold text-main">Land Details</div>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <div class="form-label">Total land in hectares in favor of beneficiaries (as per 8-A) </div>
                  </td>
                  <td>
                    <div class="form-data">2</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Landholding Category</div>
                  </td>
                  <td>
                    <div class="form-data">Medium</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Land Type</div>
                  </td>
                  <td>
                    <div class="form-data">Light</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Irrigation Facility</div>
                  </td>
                  <td>
                    <div class="form-data">Borewell</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Irrigation Period</div>
                  </td>
                  <td>
                    <div class="form-data">Perennial</div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="col-sm-6">
            <div class="fw-bold text-main">Mulberry planting details </div>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <div class="form-label">An improved breed of Mulberry</div>
                  </td>
                  <td>
                    <div class="form-data">V1</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Mulberry Planting Distance (feet) </div>
                  </td>
                  <td>
                    <div class="form-data">2 </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Mulberry Planting Land Group No./ Survey No </div>
                  </td>
                  <td>
                    <div class="form-data">1260 </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Mulberry Plantation Area (Acres) </div>
                  </td>
                  <td>
                    <div class="form-data">2 </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-label">Mulberry Plantation Method </div>
                  </td>
                  <td>
                    <div class="form-data">Through Plant </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="d-flex gap-2">
          <div class="form-label">Have you planted mulberry earlier under the government scheme ?</div>
          <div class="form-data">: Yes</div>
        </div>
        <table mat-table [dataSource]="dataSourcelandetails" class="dashboard-table mb-4">

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year of planting </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
          </ng-container>

          <ng-container matColumnDef="cultivatedarea">
            <th mat-header-cell *matHeaderCellDef> Cultivated Area (Acres) </th>
            <td mat-cell *matCellDef="let element"> {{element.cultivatedarea}} </td>
          </ng-container>

          <ng-container matColumnDef="landsurvey">
            <th mat-header-cell *matHeaderCellDef> Land Survey No. </th>
            <td mat-cell *matCellDef="let element"> {{element.landsurvey}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumnslandetails"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnslandetails;"></tr>
        </table>





        <div class="d-flex gap-2 my-1">
          <div class="form-data">Details of current crop and production:</div>
          <!-- <div class="form-data">: Yes</div> -->
        </div>

        <table mat-table [dataSource]="dataSourcecropProduction" class="dashboard-table mb-4">

          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
            <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
          </ng-container>

          <ng-container matColumnDef="cropname">
            <th mat-header-cell *matHeaderCellDef> Crop Name </th>
            <td mat-cell *matCellDef="let element"> {{element.cropname}} </td>
          </ng-container>

          <ng-container matColumnDef="areaacres">
            <th mat-header-cell *matHeaderCellDef> Area Acres </th>
            <td mat-cell *matCellDef="let element"> {{element.areaacres}} </td>
          </ng-container>
          <ng-container matColumnDef="producedquintal">
            <th mat-header-cell *matHeaderCellDef> Produced Quintal </th>
            <td mat-cell *matCellDef="let element"> {{element.producedquintal}} </td>
          </ng-container>
          <ng-container matColumnDef="avgrateperquintal">
            <th mat-header-cell *matHeaderCellDef> The average rate obtained per quintal </th>
            <td mat-cell *matCellDef="let element"> {{element.avgrateperquintal}} </td>
          </ng-container>
          <ng-container matColumnDef="finishedproduct">
            <th mat-header-cell *matHeaderCellDef> Finished Prod </th>
            <td mat-cell *matCellDef="let element"> {{element.finishedproduct}} </td>
          </ng-container>
          <ng-container matColumnDef="expenditureincurred">
            <th mat-header-cell *matHeaderCellDef> The expenditure incurred </th>
            <td mat-cell *matCellDef="let element"> {{element.expenditureincurred}} </td>
          </ng-container>
          <ng-container matColumnDef="netincome">
            <th mat-header-cell *matHeaderCellDef> Net income </th>
            <td mat-cell *matCellDef="let element"> {{element.netincome}} </td>
          </ng-container>
          <ng-container matColumnDef="netincomeperacre">
            <th mat-header-cell *matHeaderCellDef> Net income per acre </th>
            <td mat-cell *matCellDef="let element"> {{element.netincomeperacre}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnscropProduction"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnscropProduction;"></tr>
        </table>


        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-8 form-label">Do you have experience in the silk industry ?</div>
              <div class="col-sm-4 form-data">: Yes</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex justify-content-end gap-3">
              <div class="form-label">How many years ?</div>
              <div class="form-data">: 5</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-8 form-label">Have you done training in silk industry ?</div>
              <div class="col-sm-4 form-data">: Yes</div>
            </div>
          </div>
        </div>

        <div class="text-main fw-bold mt-4">Details </div>
        <div class="d-flex gap-2">
          <div class="form-label">Have you gone directly to the silk industry farmer and taken the information ?</div>
          <div class="form-data"> Yes</div>
        </div>

        <div class="card mb-2">
          <div class="card-header">
            <div class="d-flex gap-2">
              <div class="form-label">Have you benefited from any scheme under Silk Directorate before this ?</div>
              <div class="form-data"> Yes</div>
            </div>
          </div>
          <div class="card-body px-0">
            <table mat-table [dataSource]="dataSourcedetails" class="dashboard-table">

              <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="schemename">
                <th mat-header-cell *matHeaderCellDef> Scheme Name </th>
                <td mat-cell *matCellDef="let element"> {{element.schemename}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="benefityear">
                <th mat-header-cell *matHeaderCellDef> Benefit Year </th>
                <td mat-cell *matCellDef="let element"> {{element.benefityear}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="benefitamount">
                <th mat-header-cell *matHeaderCellDef> Benefit Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.benefitamount}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsdetails"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsdetails;"></tr>
            </table>


          </div>
        </div>


        <div class="card mb-2">
          <div class="card-header">
            <div class="text-main fw-bold">Bank Details</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="d-flex gap-2">
                  <div class="form-label mb-0">Bank Name:</div>
                  <div class="form-data">State Bank of India</div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="d-flex gap-2">
                  <div class="form-label mb-0">Branch:</div>
                  <div class="form-data">Kalamb</div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="d-flex gap-2">
                  <div class="form-label mb-0">IFSC Code:</div>
                  <div class="form-data">SBIN0003900 </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="d-flex gap-2">
                  <div class="form-label mb-0"> Account No:</div>
                  <div class="form-data">12345678901234 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex align-items-center mb-2">
      <mat-checkbox checked disabled></mat-checkbox>
      <div class="form-label text-justify">
        will plant the above mentioned trees as per the rules and conditions prescribed by the Government and also
        declare myself / efficient person of my family as a certified laborer under the Mahatma Gandhi National
        Rural Employment Guarantee Scheme. Proper care and protection of seedlings after planting. So let me
        participate in this plan. 7/12 excerpt ond 8-A are attached
      </div>
    </div> -->

    <div class="card mb-3">
      <div class="card-body">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChanged();">
          <mat-tab label="Applicant Document">
            <div class="table-responsive mt-2">
              <table class="table table-bordered dashboard-table">
                <thead>
                  <tr>
                    <th>
                      <div class="form-label">
                        Sr. No.
                      </div>
                    </th>
                    <th>
                      <div class="form-label">Document Name</div>
                    </th>
                    <th>
                      <div class="form-label">Document No.</div>
                    </th>
                    <th>
                      <div class="form-label">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-label">1</div>
                    </td>
                    <td>
                      <div class="form-label">Aadhaar Card</div>
                    </td>
                    <td>
                      <div class="form-label">5549 1203 9963 </div>
                    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-label">2</div>
                    </td>
                    <td>
                      <div class="form-label">7/12 mulberry certificate of land or Talathi Certificate </div>
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-label">3</div>
                    </td>
                    <td>
                      <div class="form-label">8-A tract of land </div>
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-label">3 </div>
                    </td>
                    <td>
                      <div class="form-label">Boundary map of land </div>
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-label">4</div>
                    </td>
                    <td>
                      <div class="form-label">First Page Photocopy of nationalized bank passbook which is Aadhaar linked
                      </div>
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-label">5</div>
                    </td>
                    <td>
                      <div class="form-label">Caste Certificate (For caste/tribe farmers)</div>
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <div class="form-label">Water Availability Certificate</div>
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-label">6</div>
                    </td>
                    <td>
                      <div class="form-label">Payment Receipt</div>
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Other Document">
            <div class="container-fluid">
              <!--  -->
              <form class="w-100 mt-2">
                <div class="row g-2">
                  <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Document Name</mat-label>
                      <input matInput placeholder="">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Document Number</mat-label>
                      <input matInput placeholder="">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <div class="file-upload border rounded-2 p-1">
                      <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                        data-placement="right">
                        Upload Document
                      </button>
                      <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" />
                      <div class="d-flex gap-2">
                        <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                          matTooltip="view">
                          <mat-icon class="material-symbols-rounded">
                            preview
                          </mat-icon>
                        </button>
                        <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                          matTooltip="delete">
                          <mat-icon class="material-symbols-rounded">
                            delete
                          </mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-auto">
                    <button mat-flat-button class="btn-main">
                      <mat-icon class="material-symbols-rounded">
                        add
                      </mat-icon>
                      Document
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="table-responsive">
              <table mat-table class="dashboard-table mb-0">
                <ng-container matColumnDef="srNo">
                  <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                  <td mat-cell *matCellDef=""> 1 </td>
                </ng-container>

                <ng-container matColumnDef="documentType">
                  <th mat-header-cell *matHeaderCellDef> Document Name </th>
                  <td mat-cell *matCellDef="let element"> Aadhar Card </td>
                </ng-container>

                <ng-container matColumnDef="docNo">
                  <th mat-header-cell *matHeaderCellDef>Document No
                  </th>
                  <td mat-cell *matCellDef="let element"> 55480105803369 </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    <div class="d-flex gap-02">
                      <button matTooltipPosition="above" mat-icon-button class="btn-icon bg-dark bg-opacity-10">
                        <span class="material-symbols-rounded text-dark">
                          visibility
                        </span>
                      </button>
                      <button matTooltipPosition="above" class="btn-icon bg-danger bg-opacity-10">
                        <span class="material-symbols-rounded text-danger">
                          delete
                        </span>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr class="mat-row p-2 w-100" *matNoDataRow col>
                  <td colspan="12">
                    <div class="alert alert-danger text-center m-2 p-2" colspan="12">
                      No Data Found
                    </div>
                  </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <!-- <div class="card mb-3">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="form-data text-main">Declaration</div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-label">
          <p>वरील प्रमाणे महात्मा गांधी रोजगार हमी योजनेशी निगडित रेशीम उद्योग विकास /तुती लागवड योजनेअंतर्गत मी अर्ज
            केला आहे. त्यास मंजुरी मिळाल्यास त्याकरिता माझ्या / आमच्या मालकीच्या /जमिनीवर हि योजना राबविण्यास संमती देत
            आहे / आहोत.</p>
          <ol class="mb-0">
            <li>सदर ची योजना राबविण्याकरिता मी स्वतः /माझे कुटुंबातील कार्यक्षम व्यक्ती महात्मा गांधी राष्ट्रीय ग्रामीण
              रोजगार हमी योजनेतील प्रामाणिक मजूर म्हणून घोषित करीत आहे / आहोत. या योजनेकरिता होणारी सर्व कामे
              प्रामुख्याने पूर्ण करण्याची जबाबदारी माझी किंव्हा जॉबकार्ड धारक मजुरांकडून करून घेण्याची जबाबदारी माझी /
              आमची राहील.</li>
            <li>योजनेअंतर्गत आवश्यक कलमे /रोपांची वाहतूक मला स्वतः करावी लागेल याची मला कल्पना देण्यात आलेली असून मला ते
              मान्य आहे.</li>
            <li>झाडांची लागवड केल्यानंतर हप्ता रक्कम मिळण्यासाठीचे पात्रता निकष मला अवगत</li>
            <li>या योजनेचे नियम व अटी मला बंधनकारक आहे व त्यानुसार मी कलाम / रोपांची लागवड / संगोपन / संरक्षण करीन.</li>
            <li>सदर योजनेअंतर्गत एकूण क्षेत्राप्रमाणे व नमुन्याप्रमाणे शासनाने प्रतिवर्षी मंजूर केलेल्या मर्यादेच्या
              प्रमाणकापेक्षा जास्त खर्च झाल्यास तो खर्च मी / स्वतः करील</li>
            <li>महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजनेशी निगडित रेशीम उद्योग विकास / तुती लागवड योजनेची माहिती
              मला / आम्हाला मान्य असल्याचे काबुल करून त्याप्रमाणे करार पत्रावर सह्या केल्या आहेत.</li>
            <li>या योजनेअंतर्गत शासन वेळोवेळी जे बदल करेल अथवा अटी घालेल त्या अटी / बदल मला / आम्हाला मान्य राहतील.</li>
            <li>महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजनेअंतर्गत रेशीम उद्योग विकास / तुती लागवड योजनेमध्ये
              समाविष्ठ करून / घ्या करीता मी / आम्ही दिलेला तपशील ७/१२ चे उताऱ्याप्रमाणे बरोबर आहे.</li>
            <li>मी / आम्ही संयुक्त खातेदार असून माझ्या / आमच्या हिश्याच्या भूमापन क्र. १२६० मध्ये १ हेक्टर क्षेत्रावर
              लागवड करण्यास परवानगी दिल्यास वरील अटी मला / आम्हाला मान्य राहतील.</li>
          </ol>
        </div>
      </div>
    </div> -->
    <!-- <div class="card" [class.d-none]="!applicationData?.isEdit">
      <div class="card-body">
        <form [formGroup]="approvalFrm" (ngSubmit)="onSubmitApprovalDetails()" #formDirectives="ngForm">
          <div class="row g-2">
            <div class="col-sm-auto">
              <div class="d-flex gap-2">
                <div>
                  <label class="form-label">Select Status</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="applicationStatus" (selectionChange)="getReason()">
                      <mat-option *ngFor="let apporvalStatus of approvalStatusArray" [value]="apporvalStatus?.id">{{lang
                        =="en" ? apporvalStatus?.textEnglish : apporvalStatus?.textMarathi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div
                  *ngIf="approvalFrm.getRawValue()?.applicationStatus == 5 || approvalFrm.getRawValue()?.applicationStatus == 11">
                  <label class="form-label">Select Reason</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="reason">
                      <mat-option *ngFor="let reason of reasonArray" [value]="reason?.id">{{lang
                        == "en" ? reason?.textEnglish : reason?.textMarathi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="file-upload border rounded-2 p-1"
                *ngIf="this.applicationData?.uploadDocTypeId !=0 && approvalFrm.value.applicationStatus == 12">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                  data-placement="right" (click)="uploadDepDocument.click()">
                  Upload Document
                </button>
                <input type="file" class="d-none" #uploadDepDocument (change)="imageUplod($event,'uplDepDoc')">
                <div class="d-flex gap-2" *ngIf="uploadedDepDoc?.docPath">
                  <button type="button" (click)="viewimage('uplDepDoc')" mat-flat-button
                    class="bg-primary-subtle text-primary btn-icon btn-action" matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                      preview
                    </mat-icon>
                  </button>
                  <button type="button" (click)="delDepDocument()" mat-flat-button
                    class="bg-danger-subtle text-danger btn-icon btn-action" matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-sm">
              <label class="form-label">Remark</label>
              <mat-form-field appearance="outline" class="w-100">
                <textarea matInput placeholder="" formControlName="remark"
                  (keypress)="validation.noFirstSpaceAllow($event)" style="height: 83px;"></textarea>

              </mat-form-field>
            </div>

          </div>
          <div class="d-flex align-items-center justify-content-end gap-2 my-2">
            <button mat-flat-button class="btn-main-light" type="button" [mat-dialog-close]="true">Cancel</button>
            <button mat-flat-button class="btn-main" type="submit">Submit</button>
          </div>
        </form>






      </div>
    </div> -->

    <div class="card mb-3">
      <div class="card-header">
        <div class="text-main">Action</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Status</mat-label>
              <mat-select>
                <mat-option>Approved</mat-option>
                <mat-option>Pending</mat-option>
                <mat-option>Rejected</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remark</mat-label>
              <textarea matInput placeholder="" rows="3"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2">
          <button mat-flat-button class="btn-main-light" type="button" [mat-dialog-close]="true">Cancel</button>
          <button mat-flat-button class="btn-main" type="submit">Processed</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Status</mat-label>
              <mat-select>
                <mat-option seleted>Rejected</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Reason</mat-label>
              <mat-select>
                <mat-option seleted>Select Reason</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remark</mat-label>
              <textarea matInput placeholder="" rows="3"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2">
          <button mat-flat-button class="btn-main-light" type="button" [mat-dialog-close]="true">Cancel</button>
          <button mat-flat-button class="btn-main" type="submit">Processed</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Status</mat-label>
              <mat-select>
                <mat-option seleted>Re-send</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Reason</mat-label>
              <mat-select>
                <mat-option seleted>Select Reason</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remark</mat-label>
              <textarea matInput placeholder="" rows="3"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2">
          <button mat-flat-button class="btn-main-light" type="button" [mat-dialog-close]="true">Cancel</button>
          <button mat-flat-button class="btn-main" type="submit">Processed</button>
        </div>
      </div>
    </div>
  </mat-card-content>
