<div class="row g-3">
  <div class="col-sm-8">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="text-main">Schemes</div>
      </mat-card-header>
      <mat-card-header class="card-header-control">
        <div class="row g-2 w-100">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Search Scheme Name</mat-label>
              <input matInput [formControl]="filterForm" placeholder="Search Name">
            </mat-form-field>
          </div>
          <div class="col-sm-auto">
            <div class="d-flex align-items-center gap-2">
              <button mat-flat-button class="btn-main btn-icon" matTooltip="search" (click)="getTableData()">
                <mat-icon class="material-symbols-rounded">
                  search
                </mat-icon>
              </button>
              <button mat-flat-button class="btn-main-light btn-icon" matTooltip="close">
                <mat-icon class="material-symbols-rounded">
                  close
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="card-body">
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <div class="card plain-card">
      <div class="card-header text-main">
        {{!data ? 'Add Scheme':'Update Scheme'}}
      </div>
      <form [formGroup]="schemeForm" (ngSubmit)="onSubmitData()" #formDirective="ngForm">
        <div class="card-body">
          <div class="mb-0">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Scheme Name</mat-label>
              <input matInput placeholder="" formControlName="schemeType">
            </mat-form-field>
          </div>
          <div class="row gx-2">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>State</mat-label>
                <mat-select formControlName="stateId" (selectionChange)="getDisrict()">
                  <mat-option *ngFor="let st of stateArray" [value]="st.id">{{st.state}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>District</mat-label>
                <mat-select formControlName="districtId">
                  <mat-option *ngFor="let dist of districtArray" [value]="dist.id">{{dist.district}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Scheme Name(Marathi)</mat-label>
                <input matInput placeholder="" formControlName="m_SchemeType">
              </mat-form-field>
            </div>
          </div>
          <div class="mb-0">
            Scheme Info
            <input matInput placeholder="" formControlName="schemeInfo">
          </div>
          <div class="mb-0">
            <div class="file-upload border rounded-2 p-1">
              <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip" (click)="uplodLogo.click()"
                data-placement="right">
                Upload Photo
              </button>
              <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec"(change)="imageUplod($event)"/>

              <div class="d-flex gap-2">
                <button type="button" *ngIf="imageResponse" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                  matTooltip="view" (click)="viewimage()">
                  <mat-icon class="material-symbols-rounded">
                    preview
                  </mat-icon>
                </button>
                <button type="button" *ngIf="imageResponse" (click)="deleteImage()" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                  matTooltip="delete">
                  <mat-icon class="material-symbols-rounded">
                    delete
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end gap-2 my-2">
            <button mat-flat-button class="btn-main-light">Cancel</button>
            <button mat-flat-button class="btn-main" type="submit">{{!data ? 'Submit' : 'Update'}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
