.btn-sidebar-close {
    display: none;
}

@media only screen and (max-width: 420px) {
    .btn-sidebar-close {
        display: block;
    }
}

#sidebar {
    height: 100%;
}

#sidebar .sidebar-header {
    padding: 5px 10px;
    text-align: center;
}

#sidebar .sidebar-header img {
    width: 200px;
}

#sidebar .sidebar-body {
    padding: 10px;
}

#sidebar .sidebar-body .avatar {
    border: solid 1px #ddd;
    border-radius: 5px;
}

#sidebar .sidebar-body .avatar img {
    border-radius: 50%;
    width: 40px;
}

#sidebar .sidebar-body .avatar p {
    color: #1d2127;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

#sidebar .sidebar-body .avatar small {
    font-size: 0.75rem;
    color: #555;
}

#sidebar .sidebar-body .avatar .avatar-menu {
    font-size: 0.8rem;
}

#sidebar .sidebar-body .avatar .avatar-menu a:hover {
    background-color: var(--main-light-color);
}

#sidebar .sidebar-body .avatar .avatar-menu a:hover .material-symbols-rounded {
    color: var(--main-color);
}

#sidebar .sidebar-body .avatar .avatar-menu a:last-child {
    border-bottom: 0;
    border-radius: 0.375rem;
}

#sidebar .sidebar-body .avatar .avatar-menu .material-symbols-rounded {
    font-size: 1rem;
    margin-right: 5px;
}