<div id="sidebar">
    <div class="sidebar-header">
        <img src="assets/images/logo.png">
        <button mat-icon-button class="btn-icon btn-sidebar-close" (click)="onCloseSidebar()">
            <span class="material-symbols-rounded">
                close
            </span>
        </button>
    </div>
    <div class="sidebar-body scrollbar">
        <ul class="menu">
            <li>
                <a routerLink="dashboard" routerLinkActive="active">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/dashboard.svg">
                        Dashboard
                    </div>
                </a>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseMaster" role="button" aria-expanded="false"
                    aria-controls="collapseMaster">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/master.svg">
                        Masters
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseMaster">
                    <ul class="submenu">
                        <li>
                            <a data-bs-toggle="collapse" href="#collapseOfficeMaster" role="button"
                                aria-expanded="false" aria-controls="collapseOfficeMaster" routerLinkActive="active"
                                class="submenu-link" aria-current="true">
                                <div>
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    Office Master
                                </div>
                                <span class="dropdown-toggle"></span>
                            </a>
                            <div class="collapse" id="collapseOfficeMaster">
                                <ul class="subsubmenu">
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Department
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Designation
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Block
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Circle
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Officer Registration
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Grainage
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" href="#collapseRuleMaster" role="button" aria-expanded="false"
                                aria-controls="collapseRuleMaster" routerLinkActive="active" class="submenu-link">
                                <div>
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    Rule Master
                                </div>
                                <span class="dropdown-toggle"></span>
                            </a>
                            <div class="collapse" id="collapseRuleMaster">
                                <ul class="subsubmenu">
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Schemes
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Set Rule
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" routerLinkActive="active">
                                            <mat-icon class="material-symbols-rounded">
                                                arrow_right_alt
                                            </mat-icon>
                                            Reject Reason
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a routerLink="teacher-registration" routerLinkActive="active" class="submenu-link">
                                <div>
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    TS Master
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
            <li>
                <a routerLink="dashboard" routerLinkActive="active">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/application.svg">
                        Application
                    </div>
                </a>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseReport" role="button" aria-expanded="false"
                    aria-controls="collapseReport">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/cms.svg">
                        CMS
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseReport">
                    <ul class="submenu">
                        <li>
                            <a routerLink="student-report" routerLinkActive="active" class="submenu-link"
                                aria-current="true">
                                <img src="assets/images/sidebar-icons/circle.svg">
                                Markets
                            </a>
                        </li>
                        <li>
                            <a routerLink="officer-report" routerLinkActive="active" class="submenu-link">
                                <img src="assets/images/sidebar-icons/circle.svg">
                                Market Rate
                            </a>
                        </li>
                        <li>
                            <a routerLink="school-report" routerLinkActive="active" class="submenu-link">
                                <img src="assets/images/sidebar-icons/circle.svg">
                                Blogs
                            </a>
                        </li>
                        <li>
                            <a routerLink="#" routerLinkActive="active" class="submenu-link">
                                <img src="assets/images/sidebar-icons/circle.svg">
                                FAQ's
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseAssetMgmt" role="button" aria-expanded="false"
                    aria-controls="collapseAssetMgmt">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/setting.svg">
                        Setting
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseAssetMgmt">
                    <ul class="submenu">
                        <li>
                            <a routerLink="category" routerLinkActive="active" class="submenu-link" aria-current="true">
                                <img src="assets/images/sidebar-icons/circle.svg">
                                Page Right Access
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>