<div id="sidebar" (mouseover)="mouseOver(true)" (mouseout)="mouseOver(false)">
    <div class="sidebar-header">
        <img src="assets/images/logo.png">
        <button mat-icon-button class="btn-icon btn-sidebar-close" (click)="onCloseSidebar()">
            <span class="material-symbols-rounded">
                close
            </span>
        </button>
    </div>
    <div class="sidebar-body scrollbar">
        <ul class="menu">
            <ng-container *ngFor="let master of pageListArray; let i = index">
                <li *ngIf="!master?.subMenu && master?.data[0]?.pageURL?.length == 1">
                    <a routerLinkActive="active" routerLink="{{master.data[0].pageURL[0]}}">
                        <div class="menu-item">
                            <img src="assets/images/sidebar-icons/dashboard.svg">
                            {{master?.mainMenu}}
                        </div>
                    </a>
                </li>

                <li *ngIf="!master?.subMenu && master?.data[0]?.pageURL?.length != 1">
                    <a data-bs-toggle="collapse" href="#collapseReport{{i}}" role="button" aria-expanded="false"
                        aria-controls="collapseReport">
                        <div class="menu-item">
                            <img src="assets/images/sidebar-icons/cms.svg">
                            {{master?.mainMenu}}
                        </div>
                        <span class="dropdown-toggle"></span>
                    </a>
                    <div class="collapse" id="collapseReport{{i}}">
                        <ul class="submenu">
                            <li *ngFor="let url of master?.data[0]?.pageName; let k= index">
                                <a routerLink="{{master?.data[0]?.pageURL[k]}}" routerLinkActive="active" class="submenu-link"
                                    aria-current="true">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/sidebar-icons/circle.svg">
                                        {{url}}
                                    </div>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </li>

                <li *ngIf="master?.subMenu">
                    <a data-bs-toggle="collapse" href="#submenu{{i}}"  role="button" aria-expanded="false"
                        aria-controls="collapseMaster">
                        <div class="menu-item">
                            <img src="assets/images/sidebar-icons/master.svg">
                            {{master?.mainMenu}}
                        </div>
                        <span class="dropdown-toggle"></span>
                    </a>
                    <div class="collapse"  id="submenu{{i}}">
                        <ul class="submenu">
                            <li *ngFor="let menu of master.data; let j = index">
                                <a data-bs-toggle="collapse" class="menu" href="#subLink{{j}}" role="button"
                                    aria-expanded="false" aria-controls="collapseOfficeMaster" routerLinkActive="active"
                                    class="submenu-link" aria-current="true">
                                    <div>
                                        <img src="assets/images/sidebar-icons/circle.svg">
                                        {{menu?.subMenu}}
                                    </div>
                                    <span class="dropdown-toggle"></span>
                                </a>
                                <div class="collapse" id="subLink{{j}}">
                                    <ul class="subsubmenu">
                                        <li  *ngFor="let sublink of menu?.pageURL; let m = index">
                                            <a   routerLinkActive="active" routerLink="{{sublink}}">
                                                <mat-icon class="material-symbols-rounded">
                                                    arrow_right_alt
                                                </mat-icon>
                                                {{menu?.pageName[m]}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                </li>

               
            </ng-container>
        </ul>
    </div>
</div>