<div id="sidebar">
    <div class="sidebar-header">
        <img src="assets/images/logo-text.svg">
        <button mat-icon-button class="btn-icon btn-sidebar-close" (click)="onCloseSidebar()">
            <span class="material-symbols-rounded">
                close
            </span>
        </button>
    </div>
    <div class="sidebar-body">
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <div>
                        <img src="assets/images/sidebar-icons/dashboard.svg" class="menu-icon">
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#" data-bs-toggle="collapse" href="#collapseMaster" role="button"
                    aria-expanded="false" aria-controls="collapseMaster">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/sidebar-icons/master.svg" class="menu-icon">
                        <span>Masters</span>
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseMaster">
                    <ul class="sub-menu">
                        <li>
                            <a class="submenu-link" href="#" data-bs-toggle="collapse" href="#collapseOfficeMaster"
                                role="button" aria-expanded="false" aria-controls="collapseOfficeMaster">
                                <div class="d-flex">
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    <span>Officer Master</span>
                                </div>
                                <span class="dropdown-toggle"></span>
                            </a>
                            <div class="collapse" id="collapseOfficeMaster">
                                <ul class="sub-submenu">
                                    <li>
                                        <a routerLink="department" routerLinkActive="active">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Department</span>
                                        </a>
                                        <!-- <a routerLink="department-levels" routerLinkActive="active">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Department Levels</span>
                                        </a> -->
                                        <a routerLink="designations" routerLinkActive="active">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Designations</span>
                                        </a>
                                        <a routerLink="block" routerLinkActive="active">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Block</span>
                                        </a>
                                        <a routerLink="circle" routerLinkActive="active">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Circle</span>
                                        </a>
                                        <a routerLink="officer-registration" routerLinkActive="active">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Officer Registration</span>
                                        </a>
                                        <a routerLink="grainage" routerLinkActive="active">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Grainage</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="submenu-link" href="#" data-bs-toggle="collapse" href="#collapseRuleMaster"
                                role="button" aria-expanded="false" aria-controls="collapseRuleMaster">
                                <div class="d-flex">
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    <span>Rule Master</span>
                                </div>
                                <span class="dropdown-toggle"></span>
                            </a>
                            <div class="collapse" id="collapseRuleMaster">
                                <ul class="sub-submenu">
                                    <li>
                                        <a routerLink="schemes">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Schemes</span>
                                        </a>
                                        <a routerLink="actions">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Actions</span>
                                        </a>
                                        <a routerLink="set-rule">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Set Rule</span>
                                        </a>
                                        <a routerLink="reject-reason">
                                            <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                            <span>Reject Reason</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="submenu-link" href="#">
                                <div class="d-flex">
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    <span>TS Master</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#" data-bs-toggle="collapse" href="#collapseCMS" role="button"
                  aria-expanded="false" aria-controls="collapseCMS" routerLink="manarega">
                  <div class="d-flex align-items-center">
                      <img src="assets/images/sidebar-icons/cms.svg" class="menu-icon">
                      <span>Application</span>
                  </div>
                  <span class="dropdown-toggle"></span>
              </a>
              <!-- <div class="collapse" id="collapseCMS">
                  <ul class="sub-menu">
                      <li>
                          <a class="submenu-link" routerLink="manarega">
                              <div class="d-flex">
                                  <img src="assets/images/sidebar-icons/circle.svg">
                                  <span>Manarega</span>
                              </div>
                          </a>
                      </li>
                  </ul>
              </div> -->
          </li>
            <li class="menu-item">
                <a class="menu-link" href="#" data-bs-toggle="collapse" href="#collapseCMS" role="button"
                    aria-expanded="false" aria-controls="collapseCMS">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/sidebar-icons/cms.svg" class="menu-icon">
                        <span>CMS</span>
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseCMS">
                    <ul class="sub-menu">
                        <li>
                            <a class="submenu-link" routerLink="markets">
                                <div class="d-flex">
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    <span>Markets</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="submenu-link" routerLink="market-rate">
                                <div class="d-flex">
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    <span>Market Rate</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="submenu-link" routerLink="blogs">
                                <div class="d-flex">
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    <span>Blogs</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="submenu-link" routerLink="faq">
                                <div class="d-flex">
                                    <img src="assets/images/sidebar-icons/circle.svg">
                                    <span>FAQ's</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#" data-bs-toggle="collapse" href="#collapseSetting" role="button"
                  aria-expanded="false" aria-controls="collapseSetting">
                  <div class="d-flex align-items-center">
                      <img src="assets/images/sidebar-icons/master.svg" class="menu-icon">
                      <span>Setting</span>
                  </div>
                  <span class="dropdown-toggle"></span>
              </a>
              <div class="collapse" id="collapseSetting">
                <ul class="sub-menu">
                    <li>
                        <a class="submenu-link" href="#" data-bs-toggle="collapse" href="#collapseOfficeMaster"
                            role="button" aria-expanded="false" aria-controls="collapseOfficeMaster">
                            <div class="d-flex">
                                <img src="assets/images/sidebar-icons/circle.svg">
                                <span>Setting</span>
                            </div>
                            <span class="dropdown-toggle"></span>
                        </a>
                        <div class="collapse" id="collapseOfficeMaster">
                            <ul class="sub-submenu">
                                <li>
                                    <a routerLink="page-right-access" routerLinkActive="active">
                                        <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                        <span>Page Right Access</span>
                                    </a>
                                    <!-- <a routerLink="department-levels" routerLinkActive="active">
                                        <img src="assets/images/sidebar-icons/arrow-small-right.svg">
                                        <span>Department Levels</span>
                                    </a> -->
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
          </li>
        </ul>
    </div>
</div>
