<mat-card class="plain-card">
    <mat-card-header class="card-header">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="text-main">{{'villageCircle.village_circle' | translate}}</div>
        <button mat-flat-button class="btn-main" (click)="AddVillage()">
          <mat-icon class="material-symbols-rounded">
            add
          </mat-icon>
          <span>{{'villageCircle.add_village' | translate}}</span>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="card-body">
  
      <div class="row gx-2">
        <!-- <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>All Type</mat-label>
            <mat-select>
              <mat-option>Option 1</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>All Block/Circle Name</mat-label>
            <mat-select>
              <mat-option>Option 1</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Block/Circle </mat-label>
            <mat-select>
              <mat-option>Block </mat-option>
              <mat-option>Circle</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
  
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'villageCircle.search_by_village_circle_name' | translate}}</mat-label>
            <input matInput [formControl]="filterForm">         
          </mat-form-field>
        </div> 
        
        <div class="col-sm-1">
          <div class="d-flex align-items-center gap-2">
            <button mat-flat-button class="btn-main btn-icon " type="button" matTooltip="edit" (click)="getTableData()">
              <mat-icon class="material-symbols-rounded">
                <!-- edit_square -->
                search
              </mat-icon>
            </button>
            <button mat-flat-button class="btn-main-light btn-icon" type="button" matTooltip="edit" (click)="clearFilter()">
              <mat-icon class="material-symbols-rounded">
                <!-- edit_square -->
                close
              </mat-icon>
            </button>
          </div>
        </div>
        <div class="col-sm text-end">
        </div>
      </div>
      <div class="table-responsive scrollbar">
        <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
  </div>
    </mat-card-content>
  </mat-card>
  
