<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="text-main">Beneficiary Details</div>
  </mat-card-header>
  <mat-card-content class="card-body form-container">
    <div class="row gx-2">
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68=""  src="assets/images/dashboard-icons/manarega.svg"  alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">{{profileData?.cultivatedFarmInHector || 0}} {{lang == 'en' ? 'sq. ft.': 'चौ. फूट'}}</h4>
              <div class="form-label">  {{lang == 'en' ? 'Plantation Area' : 'वृक्षारोपण क्षेत्र' || 0}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">{{profileData?.amountSantion || 0}}</h4>
              <div class="form-label">  {{lang == 'en' ? 'Amount Sanction' : 'रक्कम मंजूर' || 0}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">{{profileData?.amountDisbused || 0}}</h4>
              <div class="form-label">  {{lang == 'en' ? 'Amount Disbused' : 'वितरित रक्कम' || 0}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">{{profileData?.chawkiOrder || 0}}</h4>
              <div class="form-label">  {{lang == 'en' ? 'Chowki Orders' : 'चौकीचे आदेश' || 0}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">{{profileData?.silkSold || 0}} {{lang == 'en' ? 'KG' :'किलो'}}</h4>
              <div class="form-label">  {{lang == 'en' ? 'Silk Sold' : 'रेशीम विकले' || 0}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="{{lang == 'en' ? 'Beneficiery Profile' : 'लाभार्थी प्रोफाइल'}}"><app-beneficiery-profile></app-beneficiery-profile> </mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Beneficiary Timeline' : 'लाभार्थी टाइमलाइन'}}"><ng-template matTabContent><app-beneficiery-timeline></app-beneficiery-timeline></ng-template></mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Application History' : 'अनुप्रयोग इतिहास'}}"><ng-template matTabContent><app-beneficiery-application-history></app-beneficiery-application-history></ng-template></mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Chowki Order History' : 'चौकी ऑर्डर इतिहास'}}"><ng-template matTabContent><app-beneficiery-order-history></app-beneficiery-order-history></ng-template></mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Subsidy History' : 'सबसिडीचा इतिहास'}}"><ng-template matTabContent><app-beneficiery-subsidy-history></app-beneficiery-subsidy-history></ng-template></mat-tab>
      <mat-tab label=" {{lang == 'en' ? 'Silk Sell' : 'रेशीम विक्री'}}"><ng-template matTabContent><app-beneficiery-silk-sell-history></app-beneficiery-silk-sell-history></ng-template></mat-tab>
  </mat-tab-group>
  </mat-card-content>
</mat-card>

