<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="text-main">Beneficiary Details</div>
  </mat-card-header>
  <mat-card-content class="card-body form-container">
    <div class="row gx-2">
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68=""  src="assets/images/dashboard-icons/manarega.svg"  alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">0.40H</h4>
              <div class="form-label">Plantation Area</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">3.97,335</h4>
              <div class="form-label">Amount Sanction</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">1.97,335</h4>
              <div class="form-label">Amount Disbused</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">600 Q</h4>
              <div class="form-label">Chowki Orders</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body border-0 shadow">
          <div class="d-flex gap-2">
            <img _ngcontent-grp-c68="" src="assets/images/dashboard-icons/total.svg" alt="Total DBT(INR)" class="green-blue">
            <div class="d-flex flex-column">
              <h4 class="fw-bold">0 KG</h4>
              <div class="form-label">Silk Sold</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Beneficiery Profile "><app-beneficiery-profile></app-beneficiery-profile> </mat-tab>
      <mat-tab label="Beneficiary Timeline"><app-beneficiery-timeline></app-beneficiery-timeline></mat-tab>
      <!-- <mat-tab label="Application History"><app-beneficiery-application-history></app-beneficiery-application-history></mat-tab> -->
      <mat-tab label="Chowki Order History"><app-beneficiery-order-history></app-beneficiery-order-history></mat-tab>
      <mat-tab label="Subsidy History"><app-beneficiery-subsidy-history></app-beneficiery-subsidy-history></mat-tab>
      <mat-tab label="Silk Sell"><app-beneficiery-silk-sell-history></app-beneficiery-silk-sell-history></mat-tab>


  </mat-tab-group>
  </mat-card-content>
</mat-card>

