<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center gap-2 align-items-center justify-content-between w-100">
    <div class="text-main">View Details</div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<div mat-dialog-content class="modal-body form-container">
  <div class="text-main fw-bold">Declaration</div>
  <div class="form-label">
    वरील प्रमाणे महात्मा गांधी रोजगार हमी योजनेशी निगडित रेशीम उद्योग विकास /तुती लागवड योजनेअंतर्गत मी अर्ज केला आहे.
    त्यास मंजुरी मिळाल्यास त्याकरिता माझ्या / आमच्या मालकीच्या /जमिनीवर हि योजना राबविण्यास संमती देत आहे / आहोत.
  </div>
  <ul class="list-unstyled">
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        सदर ची योजना राबविण्याकरिता मी स्वतः /माझे कुटुंबातील कार्यक्षम व्यक्ती महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार
        हमी योजनेतील प्रामाणिक मजूर म्हणून घोषित करीत आहे / आहोत. या योजनेकरिता होणारी सर्व कामे प्रामुख्याने पूर्ण
        करण्याची जबाबदारी माझी किंव्हा जॉबकार्ड धारक मजुरांकडून करून घेण्याची जबाबदारी माझी / आमची राहील.
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        योजनेअंतर्गत आवश्यक कलमे /रोपांची वाहतूक मला स्वतः करावी लागेल याची मला कल्पना देण्यात आलेली असून मला ते मान्य आहे.
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        	झाडांची लागवड केल्यानंतर हप्ता रक्कम मिळण्यासाठीचे पात्रता निकष मला अवगत
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        	या योजनेचे नियम व अटी मला बंधनकारक आहे व त्यानुसार मी कलाम / रोपांची लागवड / संगोपन / संरक्षण करीन.
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        	सदर योजनेअंतर्गत एकूण क्षेत्राप्रमाणे व नमुन्याप्रमाणे शासनाने प्रतिवर्षी मंजूर केलेल्या मर्यादेच्या प्रमाणकापेक्षा जास्त खर्च झाल्यास तो खर्च मी / स्वतः करील
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        	महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजनेशी निगडित रेशीम उद्योग विकास / तुती लागवड योजनेची माहिती मला / आम्हाला मान्य असल्याचे काबुल करून त्याप्रमाणे करार पत्रावर सह्या केल्या आहेत.
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        	या योजनेअंतर्गत शासन वेळोवेळी जे बदल करेल अथवा अटी घालेल त्या अटी / बदल मला / आम्हाला मान्य राहतील.
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजनेअंतर्गत रेशीम उद्योग विकास / तुती लागवड योजनेमध्ये समाविष्ठ करून / घ्या करीता मी / आम्ही दिलेला तपशील ७/१२ चे उताऱ्याप्रमाणे बरोबर आहे.
      </div>
    </li>
    <li class="form-label">
      <div class="d-flex align-items-center gap-2">
        <mat-checkbox class="example-margin " checked></mat-checkbox>
        	मी / आम्ही संयुक्त खातेदार असून माझ्या / आमच्या हिश्याच्या भूमापन क्र. १२६० मध्ये १ हेक्टर क्षेत्रावर लागवड करण्यास परवानगी दिल्यास वरील अटी मला / आम्हाला मान्य राहतील.
      </div>
    </li>

  </ul>
</div>
