<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">{{!data ? ('talukaBlock.add_block'|translate) :viewFlag ?
      ('talukaBlock.view_Block' | translate):('talukaBlock.update_Block'|translate|translate)}}
    </div>
    <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
      <mat-icon class="material-symbols-outlined">
        close
      </mat-icon>
    </button>
  </div>
</div>


<mat-dialog-content class="modal-body form-container">
  <ng-container *ngIf="!viewFlag">
    <form [formGroup]="addBlockForm" #formDirective="ngForm">
      <div class="row gx-2 gy-2">
        <div class="col-sm-6">
          <!-- <mat-label class="form-label">{{'common.state'|translate}} <span class="text-danger fs-6">*</span></mat-label> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="form-label">{{'common.state'|translate}} </mat-label>
            <mat-select formControlName="stateId" (selectionChange)="getDistrict()"
              [class]="WebStorageService.getStateId() ? f['stateId'].disable({ onlySelf: true }) : f['stateId'].enable({ onlySelf: true })">
              <mat-option *ngFor="let state of stateArr" [value]="state.id">{{lang == 'en' ? state.textEnglish :
                state.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <!-- <mat-label class="form-label">{{'common.district'|translate}} <span
              class="text-danger fs-6">*</span></mat-label> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="form-label">{{'common.district'|translate}}</mat-label>
            <mat-select formControlName="districtId" (selectionChange)="getTaluka()"
              [class]="WebStorageService.getDistrictId() ? f['districtId'].disable({ onlySelf: true }) : f['districtId'].enable({ onlySelf: true })">
              <mat-option *ngFor="let district of districtArr" [value]="district.id">{{lang == 'en' ?
                district.textEnglish : district.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <!-- <mat-label class="form-label">{{'common.taluka'|translate}} <span
              class="text-danger fs-6">*</span></mat-label> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="form-label">{{'common.taluka'|translate}} </mat-label>
            <mat-select formControlName="talukas" multiple>
              <mat-option>
                <ngx-mat-select-search [formControl]="talukaCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Taluka Name' : 'तालुक्याचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let taluka of talukaSubject | async" [value]="taluka.id"
                [disabled]="taluka.isSelected && !taluka.isAssigned">{{lang == 'en' ? taluka.textEnglish :
                taluka.textMarathi}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="f['talukas'].hasError('required') ">{{'talukaBlock.please_select_taluka'|translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <!-- <mat-label class="form-label">{{'talukaBlock.block_name_en'|translate}} <span
              class="text-danger fs-6">*</span></mat-label> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="form-label">{{'talukaBlock.block_name_en'|translate}} </mat-label>
            <input matInput formControlName="blockName"
              (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
            <mat-error
              *ngIf="f['blockName'].hasError('required') ">{{'talukaBlock.please_enter_block_name(English)'|translate}}</mat-error>
            <mat-error
              *ngIf="f['blockName']?.hasError('pattern')">{{'talukaBlock.please_enter_valid_block_name(English)' |
              translate}}</mat-error>
            <mat-error *ngIf="f['blockName']?.hasError('maxLengthExceeded')">{{'talukaBlock.maximum_limit_30_characters'
              |
              translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <!-- <mat-label class="form-label">{{'talukaBlock.block_name_mr'|translate}} <span
              class="text-danger fs-6">*</span></mat-label> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="form-label">{{'talukaBlock.block_name_mr'|translate}} </mat-label>
            <input matInput formControlName="m_BlockName"
              (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiValidation($event)">
            <mat-error
              *ngIf="f['m_BlockName'].hasError('required') ">{{'talukaBlock.please_enter_block_name(Marathi)'|translate}}</mat-error>
            <mat-error
              *ngIf="f['m_BlockName']?.hasError('pattern')">{{'talukaBlock.please_enter_valid_block_name(Marathi)' |
              translate}}</mat-error>
            <mat-error
              *ngIf="f['m_BlockName']?.hasError('maxLengthExceeded')">{{'talukaBlock.maximum_limit_30_characters' |
              translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button type="button" class="btn-main-light"
          (click)="clearFormData()">{{'common.clear'|translate}}</button>
        <button mat-flat-button class="btn-main" type="submit" (click)="onSubmit()">{{data ? ('common.update'|translate)
          : ('common.add'|translate)}}</button>
      </div>
    </form>
  </ng-container>


  <ng-container *ngIf="viewFlag">
    <ul class="list-group list-group-flush">
      <li class="row gx-2">
        <div class="col-sm-5 form-label mb-0">{{'common.State'|translate}} </div>
        <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.state || '-') : (data?.m_State || '-')}}</div>
      </li>
      <li class="row gx-2">
        <div class="col-sm-5 form-label mb-0">{{'common.District'|translate}} </div>
        <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.district || '-') : (data?.m_District || '-')}}</div>
      </li>
      <li class="row gx-2">
        <div class="col-sm-5 form-label mb-0">{{'common.Taluka'|translate}}</div>
        <div class="col-sm-7 form-data">
          <span *ngFor="let taluka of data.getTalukaModel">
           : {{lang == 'en' ? (taluka?.taluka || '-'): (taluka?.m_Taluka || '-')}},
          </span>
        </div>
      </li>
      <li class="row gx-2">
        <div class="col-sm-5 form-label mb-0">{{'talukaBlock.block_name'|translate}}</div>
        <div class="col-sm-7 form-data">
          : {{lang == 'en' ? ( data?.blockName || '-'): (data?.m_BlockName ||'-' )}}
        </div>
      </li>
    </ul>
  </ng-container>
</mat-dialog-content>
