.afterplantation-imgs img{
  height: 100px !important;
  width: 100% !important;
}
table tbody tr td{
  // font-size: 0.5rem !important;
}

agm-map{
  height: 400px !important;
  width: 100%;
}

.mat-mdc-dialog-content {
  max-height: 100vh;
}
.form-container .form-data {
  font-family: "Public Sans", sans-serif !important;
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}
.line-height-update table tbody td{
  line-height: 20px !important;
}
