<div mat-dialog-title class="modal-header">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main">Add Village</div>
      <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
        <mat-icon class="material-symbols-outlined">
            close
        </mat-icon>
    </button>
    </div>
  </div>
  <form [formGroup]="villageForm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
  <mat-dialog-content class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>State</mat-label>
          <mat-select formControlName="stateId" (selectionChange)="getDisrict()">
            <mat-option *ngFor="let st of stateArray" [value]="st.id">{{st.textEnglish}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> District</mat-label>
          <mat-select formControlName="districtId"  (selectionChange)="getTaluka()">
            <mat-option *ngFor="let dist of districtArray" [value]="dist.id">{{dist.textEnglish}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Taluka</mat-label>
          <mat-select formControlName="talukaId" (selectionChange)="clearDropDown('village');getVillage()">
            <mat-option *ngFor="let taluka  of talukaArray" [value]="taluka.id">{{taluka.textEnglish}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Village</mat-label>
          <mat-select formControlName="villages" multiple>
            <mat-option  *ngFor="let vil  of talukaArray" [value]="vil.id">{{vil.textEnglish}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Circle Name(English)</mat-label>
          <input matInput formControlName="circleName">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Circle Name(Marathi)</mat-label>
          <input matInput formControlName="m_CircleName">
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-2">
      <button mat-flat-button mat-dialog-close type="button" class="btn-main-light">Cancel</button>
      <button mat-flat-button class="btn-main" type="submit">Submit</button>
    </div>
  </mat-dialog-content>
</form>
  