<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">{{!this.data ? ('villageCircle.add_village'|translate) :isViewFlag ?
      ("villageCircle.view_village" | translate): ('villageCircle.update_village'|translate)}}</div>
    <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
      <mat-icon class="material-symbols-outlined">
        close
      </mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content class="modal-body form-container scrollbar">
  <div class="" *ngIf="!isViewFlag">
    <form [formGroup]="villageForm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
      <div class="row">
        <div class="col-sm-6">
          <mat-label class="form-label">{{'villageCircle.select_state' | translate}}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'villageCircle.select_state' | translate}}</mat-label> -->
            <mat-select formControlName="stateId" (selectionChange)="getDisrict()"
              [class]="WebStorageService.getStateId() ? f['stateId'].disable({ onlySelf: true }) : f['stateId'].enable({ onlySelf: true })">
              <!-- [class]="villageForm.controls['stateId'].disable({ onlySelf: true })" -->
              <mat-option *ngFor="let st of stateArray" [value]="st.id">{{lang != 'en' ? st.textMarathi
                :st.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label class="form-label">{{'villageCircle.select_district' | translate}}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'villageCircle.select_district' | translate}}</mat-label> -->
            <mat-select formControlName="districtId" (selectionChange)="getTaluka()"
              [class]="WebStorageService.getDistrictId() ? f['districtId'].disable({ onlySelf: true }) : f['districtId'].enable({ onlySelf: true })">
              <mat-option *ngFor="let dist of districtArray" [value]="dist.id">{{lang != 'en' ? dist.textMarathi
                :dist.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-label class="form-label">{{'villageCircle.select_taluka' | translate}}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'villageCircle.select_taluka' | translate}}</mat-label> -->
            <mat-select formControlName="talukaId"
              (selectionChange)="clearvillageFlag=true;clearDropDown('village');getGrampanchayat()">
              <mat-option>
                <ngx-mat-select-search [formControl]="talukaCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Taluka Name' : 'तालुक्याचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let taluka of talukaSubject | async" [value]="taluka.id">{{lang != 'en' ?
                taluka.textMarathi
                :taluka.textEnglish}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['talukaId']?.hasError('required')">{{'villageCircle.please_select_taluka'|translate}}
            </mat-error>
            <mat-error *ngIf="this.clearvillageFlag">{{'villageCircle.please_select_taluka'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <!-- [class]="villageForm.controls['grampanchayats'].disable({ onlySelf: true })" -->
          <mat-label class="form-label">{{'villageCircle.select_grampanchayat' | translate}}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'villageCircle.select_grampanchayat' | translate}}</mat-label> -->
            <mat-select formControlName="grampanchayats" multiple>
              <mat-option>
                <ngx-mat-select-search [formControl]="gramPCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Grampanchayat Name' : 'ग्रामपंचायतीचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let vil of gramPSubject | async" [value]="vil.id"
                [disabled]="vil.isSelected && !vil.isAssigned">{{lang != 'en' ? vil.textMarathi
                :vil.textEnglish}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['grampanchayats']?.hasError('required') ||  clearvillageFlag">
              {{'villageCircle.please_select_grampanchayat' |
              translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-label class="form-label">{{'villageCircle.circle_name_en' | translate}}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'villageCircle.circle_name_en' | translate}}</mat-label> -->
            <input matInput formControlName="circleName"
              (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
            <mat-error *ngIf="f['circleName']?.hasError('required')">{{'villageCircle.please_enter_circle_name_en'
              | translate}}</mat-error>
            <mat-error *ngIf="f['circleName']?.hasError('pattern')">{{'villageCircle.please_enter_valid_circle_name_en'
              | translate}}</mat-error>
            <mat-error *ngIf="f['circleName']?.hasError('maxLengthExceeded')">
              {{'villageCircle.maximum_limit_30_characters' |
              translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-label class="form-label">{{'villageCircle.circle_name_mr' | translate}}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'villageCircle.circle_name_mr' | translate}}</mat-label> -->
            <input matInput formControlName="m_CircleName"
              (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiValidation($event)">
            <mat-error *ngIf="f['m_CircleName']?.hasError('required')">{{'villageCircle.please_enter_circle_name_mr'
              | translate}}</mat-error>
            <mat-error *ngIf="f['m_CircleName']?.hasError('pattern')">
              {{'villageCircle.please_enter_valid_circle_name_mr' |
              translate}}</mat-error>
            <mat-error *ngIf="f['m_CircleName']?.hasError('maxLengthExceeded')">
              {{'villageCircle.maximum_limit_30_characters' |
              translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button type="button" class="btn-main-light" type="button" (click)="clearFormData()">
          {{'villageCircle.clear'| translate}}</button>
        <button mat-flat-button class="btn-main" type="submit">{{!data ? ('common.add'| translate) : ('faq.update'|
          translate)}}</button>
      </div>
    </form>
  </div>

  <div class="" *ngIf="isViewFlag">
    <div class="row gy-2 gx-2">
      <div class="col-sm-12">
        <div class="row gx-2">
          <div class="col-sm-5 form-label">{{lang == 'en' ? 'State' : 'राज्य'}}</div>
          <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.state || '-') : (data?.m_State || '-')}}</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row gx-2">
          <div class="col-sm-5 form-label">{{lang == 'en' ? 'District' : 'जिल्हा'}}</div>
          <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.district || '-') : (data?.m_District || '-')}}</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row gx-2">
          <div class="col-sm-5 form-label">{{lang == 'en' ? 'Taluka' : 'तालुका'}}</div>
          <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.taluka || '-') : (data?.m_Taluka || '-')}}</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="row gx-2">
            <div class="col-sm-5 form-label">{{lang == 'en' ? 'Grampanchayat' : 'ग्रामपंचायत'}}</div>
            <div class="col-sm-7 form-data">:
              <span *ngFor="let villahes of data.grampanchayat">
                {{lang == 'en' ? (villahes?.grampanchayatName || '-'): (villahes?.m_GrampanchayatName || '-')}},
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row gx-2">
          <div class="col-sm-5 form-label">{{lang == 'en' ? 'Circle Name(English)' : 'मंडळाचे नाव(इंग्रजी)'}}</div>
          <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.circleName || '-') : (data?.circleName || '-')}}
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row gx-2">
          <div class="col-sm-5 form-label">{{lang == 'en' ? 'Circle Name(Marathi)' : 'मंडळाचे नाव(मराठी)'}}</div>
          <div class="col-sm-7 form-data">: {{lang == 'en' ? (data?.m_CircleName || '-') : (data?.m_CircleName || '-')}}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>