.login-wrapper {
    background-image: url('../../../assets/images/login-bg.jpg');
    filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.4);
    /* Black w/opacity/see-through */
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
}

.login-box .login-img {
    width: 100%;
    border-radius: 10px;
}

.login {
    padding: 30px;
}

#captcha {
    background-image: url('../../../assets/images/captcha_bg.jpg');
    border-radius: 0.375rem;
    height: 36px;
}