<ng-container *ngIf="!viewFlag">
  <div mat-dialog-title class="modal-header">
    <div class="d-flex align-items-center justify-content-between">
      <div class="text-main fw-bold">{{!data ? ('officerreg.officer_Registration' | translate) :
        ('officerreg.update_Officer' | translate)}}</div>
      <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
        <mat-icon class="material-symbols-outlined">
          close
        </mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content class="modal-body form-container scrollbar">
    <form [formGroup]="officeForm" (ngSubmit)="onSubmitData()" #formDirective="ngForm">
      <div class="row gx-2">
        <div class="col-sm-6">
          <mat-label class="form-label">{{'common.department' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.department' | translate}}</mat-label> -->
            <mat-select formControlName="departmentId"
              (selectionChange)="clearDropDown('levelclear');getDepartmentLevel()">
              <mat-option>
                <ngx-mat-select-search [formControl]="departmentctrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Department Name' : 'विभागाचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let department of departmentSubject | async" [value]="department.id">{{lang != 'en' ?
                department.textMarathi :department.textEnglish}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f['departmentId']?.hasError('required')">{{'common.Please_select_department'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label class="form-label">{{'common.designation_level' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.designation_level' | translate}}</mat-label> -->
            <mat-select formControlName="departmentLevelId"
              (selectionChange)="clearDropDown('deptLevelClear');dropDownCall(officeForm.value.departmentLevelId, false);getDesignation()">
              <mat-option>
                <ngx-mat-select-search [formControl]="departmentLevelCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Level Name' : 'स्तराचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let level of departmentLevelSubject | async" [value]="level.id">{{lang != 'en' ?
                level.textMarathi : level.textEnglish}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f['departmentLevelId']?.hasError('required')">
              {{'common.Please_select_designation_level'|translate}} </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6"
          *ngIf="(officeForm.value.departmentLevelId == 5)  || (officeForm.value.departmentLevelId == 4) || (officeForm.value.departmentLevelId == 3) || (officeForm.value.departmentLevelId == 2) || (officeForm.value.departmentLevelId == 1)">
          <mat-label class="form-label">{{'common.state' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.state' | translate}}</mat-label> -->
            <mat-select formControlName="stateId" (selectionChange)="getDisrict()"
              [class]="webService.getStateId() ? f['stateId'].disable({ onlySelf: true }) : f['stateId'].enable({ onlySelf: true })">
              <mat-option *ngFor="let state of stateArray" [value]="state.id">{{lang != 'en' ? state.textMarathi :
                state.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6"
          *ngIf="(officeForm.value.departmentLevelId == 5)  || (officeForm.value.departmentLevelId == 4) || (officeForm.value.departmentLevelId == 3) || (officeForm.value.departmentLevelId == 2) || (officeForm.value.departmentLevelId == 1)">
          <mat-label class="form-label">{{'common.district' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.district' | translate}}</mat-label> -->
            <mat-select formControlName="districtId"
              [class]="webService.getDistrictId() ? f['districtId'].disable({ onlySelf: true }) : f['districtId'].enable({ onlySelf: true })">
              <mat-option *ngFor="let district of districtArray" [value]="district.id">{{lang != 'en' ?
                district.textMarathi : district.textEnglish}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf="(officeForm.value.departmentLevelId == 2)">
          <mat-label class="form-label">{{'common.block' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.block' | translate}}</mat-label> -->
            <mat-select formControlName="blockId">
              <mat-option>
                <ngx-mat-select-search [formControl]="blockCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Block Name' : 'ब्लॉक नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let block of blockSubject | async" [value]="block.id">{{lang != 'en' ? block.textMarathi :
                block.textEnglish}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['blockId']?.hasError('required')">{{'common.Please_select_block'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf=" (officeForm.value.departmentLevelId == 4) || (officeForm.value.departmentLevelId == 3)
      || (officeForm.value.departmentLevelId == 1)">
          <mat-label class="form-label">{{'common.taluka' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.taluka' | translate}}</mat-label> -->
            <mat-select formControlName="talukaId"
              (selectionChange)="clearDropDown('talukaClear');getGrampanchayat();getCircle()">
              <mat-option>
                <ngx-mat-select-search [formControl]="talukaCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Taluka Name' : 'तालुक्याचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let taluka of talukaSubject | async" [value]="taluka.id">{{lang != 'en' ? taluka.textMarathi
                :taluka.textEnglish}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['talukaId']?.hasError('required')">{{'common.Please_select_taluka'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf="(officeForm.value.departmentLevelId == 1)">
          <mat-label class="form-label">{{'common.circle' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.circle' | translate}}</mat-label> -->
            <mat-select formControlName="circleId">
              <mat-option>
                <ngx-mat-select-search [formControl]="circleCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Circle Name' : 'मंडळाचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let circle of circleSubject | async" [value]="circle.id">{{lang != 'en' ? circle.textMarathi
                :circle.textEnglish}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['circleId']?.hasError('required')">{{'common.Please_select_circle'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf="(officeForm.value.departmentLevelId == 3)">
          <mat-label class="form-label">{{'common.select_grampanchayat' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'officerreg.select_grampanchayat' | translate}}</mat-label> -->
            <mat-select formControlName="grampanchayatId">
              <mat-option>
                <ngx-mat-select-search [formControl]="gramPCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Grampanchayat Name' : 'ग्रामपंचायतीचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let village of gramPSubject | async" [value]="village.id">{{lang != 'en' ?
                village.textMarathi : village.textEnglish}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['grampanchayatId']?.hasError('required')">
              {{'officerreg.please_select_grampanchayat'|translate}} </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label class="form-label">{{'common.designation' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.designation' | translate}}</mat-label> -->
            <mat-select formControlName="designationId">
              <mat-option>
                <ngx-mat-select-search [formControl]="designationCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Designation Name' : 'पदनाम नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let  designation of designationSubject | async" [value]="designation.id">
                {{lang != 'en' ? designation.textMarathi : designation.textEnglish}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['designationId']?.hasError('required')">{{'common.Please_select_designation'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label class="form-label">{{'common.officer_en' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.officer_en' | translate}}</mat-label> -->
            <input matInput formControlName="name"
              (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
            <mat-error *ngIf="officeForm.controls['name'].hasError('required')">{{'common.officer_Name_en'|translate}}
            </mat-error>
            <mat-error *ngIf="officeForm.controls['name'].hasError('pattern')">
              {{'common.officer_Name_en_valid'|translate}}
            </mat-error>
            <mat-error *ngIf="officeForm.controls['name'].hasError('maxLengthExceeded')">
              {{'common.officer_Name_limit'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label class="form-label">{{'common.officer_mr' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.officer_mr' | translate}}</mat-label> -->
            <input matInput formControlName="m_Name"
              (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiValidation($event)">
            <mat-error *ngIf="officeForm.controls['m_Name'].hasError('required')">{{'common.officer_Name_mr'|translate}}
            </mat-error>
            <mat-error *ngIf="officeForm.controls['m_Name'].hasError('pattern')">
              {{'common.address_Required_mr'|translate}}
            </mat-error>
            <mat-error *ngIf="officeForm.controls['m_Name'].hasError('maxLengthExceeded')">
              {{'common.officer_Name_limit'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label class="form-label"> {{'common.mobile' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label> {{'common.mobile' | translate}}</mat-label> -->
            <input matInput formControlName="mobNo1" maxlength="10"
              (keypress)="validator.noFirstSpaceAllow($event);validator.onlyDigits($event)">
            <mat-error *ngIf="officeForm.controls['mobNo1'].hasError('required')">
              {{'common.please_enter_mobile_number'|translate}}</mat-error>
            <mat-error *ngIf="officeForm.controls['mobNo1'].hasError('pattern')">
              {{'common.please_enter_valid_mobile_number'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-label class="form-label"> {{'common.email' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label> {{'common.email' | translate}}</mat-label> -->
            <input matInput formControlName="emailId"
              (keypress)="validator.noFirstSpaceAllow($event);validator.emailRegex($event)">
            <mat-error *ngIf="officeForm.controls['emailId'].hasError('required')">
              {{'common.please_enter_email_id'|translate}}</mat-error>
            <mat-error *ngIf="officeForm.controls['emailId'].hasError('email')">
              {{'common.Please_enter_valid_email_id'|translate}}
            </mat-error>
            <mat-error *ngIf="officeForm.controls['emailId'].hasError('maxLengthExceeded')">
              {{'common.Address_limit'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-label class="form-label">{{'common.address_en' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.address_en' | translate}}</mat-label> -->
            <textarea matInput formControlName="address" (keypress)="validator.noFirstSpaceAllow($event)"
              (keyup)="validator.alphaNumericWithSpacesAndSpecChars($event)"></textarea>
            <mat-error *ngIf="officeForm.controls['address'].hasError('maxLengthExceeded')">
              {{'common.Address_limit'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-label class="form-label">{{'common.address_mr' | translate}} <span class="text-danger fs-6">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.address_mr' | translate}}</mat-label> -->
            <textarea matInput formControlName="m_Address"
              (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiValidation($event)"></textarea>
          </mat-form-field>
          <mat-error *ngIf="officeForm.controls['m_Address'].hasError('maxLengthExceeded')">
            {{'common.officer_Name_limit'|translate}}
          </mat-error>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button class="btn-main-light" type="button" (click)="clearFormData()">{{'common.clear' |
          translate}}</button>
        <button mat-flat-button class="btn-main" type="submit">{{!data ? ('common.add' | translate) :
          ('common.update' | translate)}}</button>
      </div>
    </form>
  </mat-dialog-content>
</ng-container>
<div class="div" *ngIf="viewFlag">
  <div mat-dialog-title class="modal-header">
    <div class="d-flex align-items-center justify-content-between">
      <div class="text-main fw-bold">{{'officerreg.view_Officer' | translate}}</div>
      <mat-icon class="material-symbols-rounded" mat-dialog-close="true">
        close
      </mat-icon>
    </div>
  </div>
  <!---------------------------------------------------------------------- View Data-------------------------------------------------------------------- -->
  <mat-dialog-content class="modal-body form-container scrollbar">
    <h2 class="page-heading mb-0 fw-bold mb-3">{{'officerreg.officer_Details' | translate}}</h2>
    <div class="row gx-2 mb-2">
      <div class="col-sm-2">
        <div class="d-flex align-items-center justify-content-center">
          <div class="profile-pic position-relative">
            <img
              [src]="tableDataArray[0]?.profileImagePath !='string' ? tableDataArray[0]?.profileImagePath : 'assets/images/user.png'"
              class="">
            <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" #uplodLogo
              (change)="imageUplod($event)" />
            <div class="profile-btn text-center">
              <input type="file" class="profile-upload d-none">
              <button type="button" mat-icon-button class="btn text-primary add-btn" (click)="uplodLogo.click()">
                <mat-icon class="material-symbols-outlined">add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="row gx-2 gy-1">
          <div class="col-sm-6">
            <div class="row gx-2">
              <div class="col-sm-4 col-5">
                <div class=" form-label">{{'officerreg.officer_name' |translate}}</div>
              </div>
              <div class="col-sm col-7">
                <span class="form-data">: {{this.lang == 'en' ? tableDataArray[0]?.name : tableDataArray[0]?.m_Name||
                  '-'}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row gx-0">
              <div class="col-sm-5 col-5">
                <div class="form-label">{{'officerreg.designation' |translate}}</div>
              </div>
              <div class="col-sm col-7">
                <span class="form-data">: {{this.lang == 'en' ? tableDataArray[0]?.designationName :
                  tableDataArray[0]?.m_DesignationName || '-'}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row gx-2">
              <div class="col-sm-4 col-5">
                <div class="form-label">{{'officerreg.mobile_no' |translate}}</div>
              </div>
              <div class="col-sm col-7">
                <span class="form-data">: {{tableDataArray[0]?.mobNo1 || '-'}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row gx-0">
              <div class="col-sm-5 col-5">
                <div class="form-label">{{'officerreg.email_id' |translate}}</div>
              </div>
              <div class="col-sm col-7">
                <span class="form-data">: {{tableDataArray[0]?.emailId || '-'}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row gx-2">
              <div class="col-sm-4 col-5">
                <div class="form-label">{{'department.department' |translate}}</div>
              </div>
              <div class="col-sm col-7">
                <span class=" form-data">: {{this.lang == 'en' ? tableDataArray[0]?.departmentName :
                  tableDataArray[0]?.m_DepartmentName|| '-'}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row gx-0">
              <div class="col-sm-5 col-5">
                <div class="form-label"> {{'officerreg.department_level' |translate}}</div>
              </div>
              <div class="col-sm col-7">
                <span class="form-data">: {{this.lang == 'en' ? tableDataArray[0]?.departmentLevel :
                  tableDataArray[0]?.m_DepartmentLevel || '-'}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row gx-2">
              <div class="col-sm-4 col-5">
                <div class="form-label">{{'officerreg.address' |translate}}</div>
              </div>
              <div class="col-sm col-7">
                <span class="form-data">: {{this.lang == 'en' ? tableDataArray[0]?.address : tableDataArray[0]?.m_Address
                  ||
                  '-'}}</span>
              </div>
            </div>
          </div>

        </div>


        <div class="page-heading mb-0 fw-bold my-2">{{'officerreg.work_Area' | translate}}</div>
        <div class="row mb-4">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2 col-5">
                <div class="form-label">{{'common.State' |translate}}</div>
              </div>
              <div class="col-sm-auto col-7">
                <span class="form-data">: {{this.lang == 'en' ? tableDataArray[0]?.statId : tableDataArray[0]?.m_OfficeState
                  ||
                  '-'}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2 col-5">
                <div class="form-label">{{'common.District' |translate}}</div>
              </div>
              <div class="col-sm-auto col-7">
                <span class="form-data">: {{this.lang == 'en' ? tableDataArray[0]?.district : tableDataArray[0]?.m_District ||
                  '-'}}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="page-heading mb-0 fw-bold mb-2">{{'officerreg.account_Info' | translate}}</div>
        <form [formGroup]="statusForm" (ngSubmit)="submitStatusData()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-label">
                <mat-form-field appearance="outline" class="w-100"
                  [class]="statusForm.value.statusId == 0 ? sendData(statusForm.value.statusId) : '' ">
                  <mat-label>{{'officerreg.status' | translate}}</mat-label>
                  <mat-select formControlName="statusId" (selectionChange)="sendData(statusForm.value.statusId)">
                    <mat-option *ngFor="let st of statusArray" [value]="st.id">{{this.lang == 'en' ? st.value :
                      st.mr_value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="showFlag">
              <span class="form-data">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{'common.remark' | translate}}</mat-label>
                  <input matInput formControlName="remark"
                    (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
                  <mat-error *ngIf="fs['remark']?.hasError('required')">
                    {{'officerreg.Please_enter_remark'|translate}} </mat-error>
                </mat-form-field>
              </span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end gap-2">
            <button mat-flat-button class="btn-main-light" type="button" (click)="resetStatus()">{{'common.clear' |
              translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{'common.add' | translate}}</button>
          </div>
        </form>

      </div>
    </div>







    <!-- <h2 class="page-heading mb-0 fw-bold my-2">{{'officerreg.officer_Details' | translate}}</h2> -->
<!--
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class=" form-label">{{'officerreg.officer_name' |translate}}</div>
        </div>
        <span class="form-data">{{this.lang == 'en' ? tableDataArray[0]?.name : tableDataArray[0]?.m_Name|| '-'}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label">{{'officerreg.designation' |translate}}</div>
        </div>
        <span class="form-data">{{this.lang == 'en' ? tableDataArray[0]?.designationName :
          tableDataArray[0]?.m_DesignationName || '-'}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label">{{'officerreg.mobile_no' |translate}}</div>
        </div>
        <span class="form-data">{{tableDataArray[0]?.mobNo1 || '-'}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label">{{'officerreg.email_id' |translate}}</div>
        </div>
        <span class="form-data">{{tableDataArray[0]?.emailId || '-'}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label">{{'officerreg.department' |translate}}</div>
        </div>
        <span class=" form-data">{{this.lang == 'en' ? tableDataArray[0]?.departmentName :
          tableDataArray[0]?.m_DepartmentName|| '-'}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label"> {{'officerreg.department_level' |translate}}</div>
        </div>
        <span class="form-data">{{this.lang == 'en' ? tableDataArray[0]?.departmentLevel :
          tableDataArray[0]?.m_DepartmentLevel || '-'}}</span>
      </li>
      <li class="list-group-item d-flex  justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label">{{'officerreg.address' |translate}}</div>
        </div>
        <span class="form-data">{{this.lang == 'en' ? tableDataArray[0]?.address : tableDataArray[0]?.m_Address ||
          '-'}}</span>
      </li>
    </ol>
    <div class="page-heading mb-0 fw-bold my-2">{{'officerreg.work_Area' | translate}}</div>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label">{{'officerreg.state' |translate}}</div>
        </div>
        <span class="form-data">{{this.lang == 'en' ? tableDataArray[0]?.statId : tableDataArray[0]?.m_OfficeState ||
          '-'}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="form-label">{{'officerreg.district' |translate}}</div>
        </div>
        <span class="form-data">{{this.lang == 'en' ? tableDataArray[0]?.district : tableDataArray[0]?.m_District ||
          '-'}}</span>
      </li>
    </ol>
    <div class="page-heading mb-0 fw-bold my-2">{{'officerreg.account_Info' | translate}}</div>
    <ol class="list-group list-group-numbered">
      <div>
      </div>
      <form [formGroup]="statusForm" (ngSubmit)="submitStatusData()">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="form-label">
              <mat-form-field appearance="outline" class="w-100"
                [class]="statusForm.value.statusId == 0 ? sendData(statusForm.value.statusId) : '' ">
                <mat-label>{{'officerreg.status' | translate}}</mat-label>
                <mat-select formControlName="statusId" (selectionChange)="sendData(statusForm.value.statusId)">
                  <mat-option *ngFor="let st of statusArray" [value]="st.id">{{this.lang == 'en' ? st.value :
                    st.mr_value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <span class="form-data" *ngIf="showFlag">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'officerreg.remark' | translate}}</mat-label>
              <input matInput formControlName="remark"
                (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              <mat-error *ngIf="fs['remark']?.hasError('required')">
                {{'officerreg.Please_enter_remark'|translate}} </mat-error>
            </mat-form-field>
          </span>
          <div class="d-flex align-items-center justify-content-end gap-2">
            <button mat-flat-button class="btn-main-light" type="button" (click)="resetStatus()">{{'action.clear' |
              translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{'talukaBlock.save' | translate}}</button>
          </div>
        </li>
      </form>
    </ol> -->
  </mat-dialog-content>
</div>
