<!-- <p>generate-pdf-mgnrega works!</p> -->
<div id="printArea">
  <div class="letterhead">
    <img src="assets/images/Seal_of_Maharashtra.svg">
    <div class="letter-text">
      <h6>महाराष्ट्र शासन </h6>
      <h4>जिल्हा रेशीम कार्यालय</h4>
      <h6>मजूर फेडरेशन बिल्डिंग, भानूनगर कॉर्नर, धाराशिव - ४१३५०१</h6>
      <p>
        <span>Phone No. - (02472)223885</span>
        <span>E-Mail: dsoobd@gmail.com</span>
      </p>
    </div>
    <img src="assets/images/logo.png">
  </div>
  <div class="letter-bg">
    <div>जा.क्र. रेशीम/धा.शि./मनरेगा/तां. मं./ 2023/24/1017</div>
    <div>दिनांक:28-12-2023</div>
  </div>
  <mat-card class="plain-card form-container">
    <mat-card-content class="card-body">

      <div class="d-flex flex-column align-items-end gap-0">
        <p class="form-data mb-0">जा.क्र/रेशीम/जज.रे.का./तु.ला. पुर्व संमती/ / (2-23/SS0220231218)</p>
        <p class="form-data mb-0">जिल्हा रेशीम करायलय, धाराशीव</p>
        <p class="form-data mb-0">दिनांक :- (28-12-2023)</p>
      </div>
      <div class="d-flex flex-column gap-0">
        <h4 class="form-label mb-0">प्रति,</h4>
        <h4 class="form-data mb-0">श्री./श्रीमती <span class="form-data">(शेतकर्‍याचे नाव)</span></h4>
        <span class="form-label mb-0">रा. <span class="form-data">(ग्रामपंचायत)</span> ता. <span
            class="form-data mb-0">(तालुका)</span></span>
        <span class="form-label mb-0">जिल्हा <span class="form-data">(जिल्हा)</span> </span>
      </div>

      <p class="form-label text-center my-0">
        विषय :- केंद्र पुरस्कृत सिल्क समग्र-2 योजने अंतर्गत तुती लागवड योजनेकरीता पुर्व संमती दिले बाबत. <br>
        संदर्भ :-1.
        आपला केंद्र पुरस्कृत 'सिल्क समग्र-2' योजने अंतर्गत तुती लागवड योजनेसाठी पुर्व संमती
        (अर्ज दिनांक)
      </p>
      <div class="d-flex gap-2 my-1">
        <div class="form-data">लागवड क्षेत्र : </div>
        <div class="form-data"> (1/2 एकर )</div>
      </div>
      <p class="fw-bold mb-0 text-center">
        वरील संदर्भ-1 नुसार आपण केंद्र पुरस्कृत 'सिल्क समग्र-2' योजने अंतर्गत नवीन तुती लागवड योजनेसाठी पुर्व संमती
        करीता या कार्यालयाकडे अर्ज सादर केला आहे. आपले कागदपत्राची पाहणी केली असता आपणास पुढील प्रमाणे अटी व शर्तीनुसार
        नवीन तुती लागवड करण्यास मान्यता देण्यात येत आहे.
      </p>
      <ol>
        <li>आपण पुर्व संमती अर्जामध्ये नमुद केलेली सर्व माहिती अचुक असल्याचे लक्षात घेउनच आपणास तुती लागवडीस पूर्व संमती
          देण्यात येत आहे.</li>
        <li>आपणास नवीन तुती लागवड करनेपूर्वी आवश्यक प्रशिक्षण घेणे अनिवार्य आहे.</li>
        <li>आपण तुती लागवड तुतीचे सुधारित व्ही-1, जी-4 या जाती पासुन, माहे जुन ते 31 ऑगष्ट अखेर मागणी केलेल्या संपूर्ण
          क्षेत्रामध्ये पुर्ण करणे आवश्यक आहे.</li>
        <li>सदरची तुती लागवड तुती बेणे/रोपांपासुन करावी</li>
        <li>तुती लागवडीसाठी येणारा संपुर्ण खर्च (100%) आपणास स्वतः करावा लागेल.
        </li>
        <li>तुती लागवड करताना रेशीम कार्यालयाकडुन सांगितलेल्या सुचनांचे आपणास पालन करावे लागेल.</li>
        <li>तुती लागवडीचे काम पुर्ण झाल्यावर रेशीम कार्यालयास लेखी स्वरूपात कळवावे.
        </li>
        <li>
          कार्यालयाचे तांत्रिक अधीकारी-कर्मचारी यांनी तुती लागवडीचे काम करताना अथवा काम पुर्ण झाल्यानंतर केलेल्या पाहणी
          दरम्यान आपणास केलेल्या सुचना/सुधारणांची पुर्तता त्वरीत करने आपणावर बंधनकारक राहील.
        </li>
        <li>
          तांत्रिक कर्मचाऱ्याने मोजमाप केल्यानंतर दिलेल्या सुचना नुसार आपण विहीत नमुन्यातील अर्ज आवश्यक कागदपत्रे, व
          फोटो ग्राफ, करानामा सह कार्यालयात विनाविलंब दाखल करावा.
        </li>
        <li>
          कार्यालयाने वेळोवेळी मागणी केलेले कागदपत्रांची पुर्तता करने आपणावर बंधनकारक राहील
        </li>
        <li>
          विहीत मुदतीत. नमुद केलेल्या माणकाप्रमाणे काम पुर्ण न केल्यास आपणास देण्यात आलेली संमती रदद करण्यात येवुन आपणास
          कोणत्याही स्वरूपाचे अनुदान मिळणार नाही याची दखल घ्यावी.
        </li>
        <li>
          या पत्राव्दारे केवळ केंद्र पुरस्कृत सिल्क समग्र 2 योजनेतर्गत नविन तुती लागवड करण्यास परवानगी देण्यात आली असुन
          अनुदान मंजुर करण्यात आलेले नाही. काम समाधानकारकरित्या विहीत मुदतीत पुर्ण केल्यानंतर व पात्र असल्यानंर्वोरच
          अनुदान मंजुरी बाबतचा प्रस्ताव स्वीकारुन सदरचा प्रस्ताव मान्यतेसाठी वरिष्ठकार्यालयास पाठविण्यात येणार असून
          केंद्रीय रेशीम मंडळ व महाराष्ट्र शासनाकडून एकत्रित निधी प्राप्त झालेनंतरच पात्रतेनुसार अनुदान वितरीत करण्याची
          कार्यवाही करण्यात येईल.
        </li>
        <li>
          केंद्र पुरस्कृत 'सिल्क समग्र-2' अंतर्गत तुती लागवड अनुदान तपशिल खालीलप्रमाणे.
          <table class="table3 table-bordered w-100 my-0">
            <thead>
              <tr>
                <th>वर्गवारी</th>
                <th>लागवड क्षेत्र (एकर)</th>
                <th>यूनिट कॉष्ट</th>
                <th>केंद्र हिस्सा (50%) </th>
                <th>राज्य हिस्सा (25%) </th>
                <th>लाभार्थी हिस्सा (25%) </th>
                <th>देय अनुदान (75%) </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>सर्वसाधारण</td>
                <td>02 एकर</td>
                <td>120000</td>
                <td>60000</td>
                <td>30000</td>
                <td>30000</td>
                <td>90000</td>
              </tr>
            </tbody>
          </table>
          <table class="table3 table-bordered w-100">
            <thead>
              <tr>
                <th>वर्गवारी</th>
                <th>लागवड क्षेत्र (एकर)</th>
                <th>यूनिट कॉष्ट</th>
                <th>केंद्र हिस्सा (65%) </th>
                <th>राज्य हिस्सा (25%) </th>
                <th>लाभार्थी हिस्सा (10%) </th>
                <th>देय अनुदान (90%) </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SC/ST</td>
                <td>02 एकर</td>
                <td>120000</td>
                <td>60000</td>
                <td>30000</td>
                <td>30000</td>
                <td>90000</td>
              </tr>
            </tbody>
          </table>
          <table class="table3 table-bordered w-100">
            <thead>
              <tr>
                <th>वर्गवारी</th>
                <th>लागवड क्षेत्र (एकर)</th>
                <th>यूनिट कॉष्ट</th>
                <th>केंद्र हिस्सा (50%) </th>
                <th>राज्य हिस्सा (25%) </th>
                <th>लाभार्थी हिस्सा (25%) </th>
                <th>देय अनुदान (75%) </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>सर्वसाधारण</td>
                <td>02 एकर</td>
                <td>120000</td>
                <td>60000</td>
                <td>30000</td>
                <td>30000</td>
                <td>90000</td>
              </tr>
            </tbody>
          </table>
          <table class="table3 table-bordered w-100">
            <thead>
              <tr>
                <th>वर्गवारी</th>
                <th>लागवड क्षेत्र (एकर)</th>
                <th>यूनिट कॉष्ट</th>
                <th>केंद्र हिस्सा (65%) </th>
                <th>राज्य हिस्सा (25%) </th>
                <th>लाभार्थी हिस्सा (10%) </th>
                <th>देय अनुदान (90%) </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SC/ST</td>
                <td>02 एकर</td>
                <td>120000</td>
                <td>60000</td>
                <td>30000</td>
                <td>30000</td>
                <td>90000</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ol>
      <div class="d-flex flex-column align-items-end gap-0 my-4">
        <p class="form-data mb-0">रेशीम विकास आधिकारी श्रेणी - 1/2</p>
        <p class="form-data mb-0">जिल्हा रेशीम कार्यालय, धाराशीव</p>
      </div>
    </mat-card-content>

  </mat-card>
</div>
