<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="{{lang == 'English' ? 'assets/images/logo-text.svg':'assets/images/logo-text-marathi.svg'}}" class="footer-logo">
                <p>
                    {{'publicFooter.like_dairy_and_poultry_farming' | translate}}
                </p>
            </div>
            <div class="col-sm-2">
                <h4>{{'publicFooter.important_links' | translate}}</h4>
                <ul class="footer-links">
                    <li><a routerLink="home">{{'contactUs.home' | translate}}</a></li>
                    <li><a routerLink="about-us">{{'publicFooter.about_us' | translate}}</a></li>
                    <li><a routerLink="schemes-programs">{{'publicFooter.schemes_programs' | translate}}</a></li>
                    <li><a routerLink="track-application">{{'publicFooter.track_application' | translate}}</a></li>
                    <li><a routerLink="contact-us">{{'contactUs.contact_us' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>{{'publicFooter.useful_links' | translate}}</h4>
                <ul class="footer-links">
                    <li><a>{{'publicFooter.online_process' | translate}}</a></li>
                    <li><a>{{'publicFooter.privacy_policy' | translate}}</a></li>
                    <li><a>{{'publicFooter.terms_and_conditions' | translate}}</a></li>
                    <li><a>{{'publicFooter.about_silk_business' | translate}}</a></li>
                    <li><a>{{'publicFooter.success_stories' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <h4>{{'contactUs.dist_sericulture_office_dharashiv' | translate}}</h4>
                <div class="d-flex contact">
                    <div class="flex-shrink-0">
                        <img src="assets/images/footer/marker.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        {{'publicFooter.mayur_federation_building_bhanunagar_corn' | translate}}
                        <br>{{'publicFooter.dharashiv_maharashtra_413501' | translate}}
                    </div>
                </div>
                <div class="d-flex align-items-center contact">
                    <div class="flex-shrink-0">
                        <img src="assets/images/footer/phone.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <a href="tel:02472223885">{{'contactUs.02472_223885' | translate}}</a>
                    </div>
                </div>
                <div class="d-flex align-items-center contact">
                    <div class="flex-shrink-0">
                        <img src="assets/images/footer/mail.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <a href="mailto:dsoobd@gmail.com">dsoobd@gmail.com</a>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3 social mt-4">
                    <a><img src="assets/images/footer/facebook.svg"></a>
                    <a><img src="assets/images/footer/twitter.svg"></a>
                    <a><img src="assets/images/footer/instagram.svg"></a>
                    <a><img src="assets/images/footer/youtube.svg"></a>
                    <a><img src="assets/images/footer/blogger.svg"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<button *ngIf="isShow" (click)="gotoTop()" class="gotop">
    <span class="material-symbols-rounded">
        arrow_upward
    </span>
</button>