<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">23.1 सध्या घेत असलेल्या पीक व उत्पादनाचा तपशील</div>
    <!-- <button mat-icon-button class="btn-modal-close"  [mat-dialog-close]="true"> -->
      <button mat-icon-button class="btn-modal-close" (click)="dialogRef.close('close')">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<form [formGroup]="cropDetailsForm">
<div mat-dialog-content class="modal-body form-container"> 
  <div class="row g-3">
    <div class="col-sm-4">
      <div class="form-label">पीक निवडा</div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select formControlName="cropId">
          <mat-option *ngFor="let farmsGood of farmsGoodArray" [value]="farmsGood.id">{{farmsGood.textEnglish}}</mat-option>
          <!-- <mat-option>अल्प</mat-option>
          <mat-option>मध्यम</mat-option>
          <mat-option>उच्च भूधारक</mat-option> -->
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <div class="form-label">क्षेत्र एकर</div>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder=""  formControlName="area" maxlength="10" 
        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <div class="form-label">झालेले उत्पादन ( क्विंटल ) </div>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput placeholder="" formControlName="totalProduction" 
        maxlength="10"  (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <div class="form-label">मिळालेला सरासरी दर प्रती रु  </div>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="" formControlName="averageRate"
        maxlength="10"  (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <div class="form-label">झालेला उत्पादन रु </div>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="" formControlName="totalProductionAmt"
        maxlength="10"  (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <div class="form-label">आलेला खर्च रु </div>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="" formControlName="totalExpenses"
        maxlength="10"  (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <div class="form-label">झालेला निव्वळ उत्पन्न रु</div>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="" formControlName="netIncome"
        maxlength="10"  (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <div class="form-label">प्रती एकर निव्वळ उत्पन्न रु</div>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="" formControlName="acreNetIncome"
        maxlength="10"  (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
      </mat-form-field>
    </div>

  </div>
</div>
<div mat-dialog-actions class="modal-footer float-end">
    <button mat-flat-button class="btn-main" (click)="onSubmit()">Save</button>
</div>
</form>
