<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center gap-2 justify-content-between w-100">
    <div class="text-main fw-bold">स्थळ पाहणी ( लागवडीनंतर  )</div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<mat-dialog-content class="modal-content form-container scrollbar">
  <div class="d-flex align-items-center justify-content-between py-1 mb-2 border-bottom">
    <div class="d-flex align-items-center gap-2 my-1">
      <div class="form-label mb-0">View Place Details Date</div>
      <div class="form-data">: {{data?.mulberryCultivationDate | date :'dd-MM-yyyy'}}</div>
    </div>
    <!-- <div class="d-flex align-items-center gap-2 text-danger">
      <div class="form-label mb-0">Smaranpatra</div>
      <div class="form-data">: 01</div>
    </div> -->
  </div>

  <div class="row gy-3">
    <div class="col-sm-4 border-end">
      <div class="container-flud">

        <div class="form-data my-1">शेतीचे सिमांकन (लागवडीनंतर )</div>
        <div class="container-fluid mt-2 p-0">
          <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)">
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="container-fluid afterplantation-imgs">
          <div class="form-data my-1">तुती बागेचे शेकर्‍यांसामवेत फोटो</div>
          <div class="row gx-2 pb-4 mb-3 border-bottom">
            <div class="col-sm-3" *ngFor="let img of data?.allSiteInspectionDocument">
              <img [src]="img?.docPath" alt="" class="img-fluid rounded">
            </div>
            <!-- <div class="col-sm-3">
              <img src="assets/images/login-bg.jpg" alt="" class="img-fluid rounded">
            </div>
            <div class="col-sm-3">
              <img src="assets/images/login-bg.jpg" alt="" class="img-fluid rounded">
            </div>
            <div class="col-sm-3">
              <img src="assets/images/login-bg.jpg" alt="" class="img-fluid rounded">
            </div> -->
          </div>
          <div class="row gx-2 line-height-update">
            <div class="col-md-12">
              <div class="form-data my-1">तुती लागवडीचा तपशील</div>
            </div>
            <div class="col-sm-6">
              <div class="table-responsive scrollbar mt-1">
                <table class="dashboard-table table table-sm table-bordered w-100 mb-0">
                  <tbody>
                    <tr>
                      <td class="form-label">तुती लागवड दिनांक</td>
                      <td class="form-data">{{(data?.mulberryCultivationDate | date:"dd-MM-yyyy") | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label">तुती लागवड क्षेत्र (हेक्टर)</td>
                      <td class="form-data">{{data?.mulberryCultivationArea | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label">तुती लागवडचा प्रकार</td>
                      <td>
                        <p class="form-data">
                          {{data?.m_CultiverType| dash}}
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="form-label">तुती लागवडची जात </td>
                      <td class="form-data">{{data?.m_ImprovedMulberryCast | dash}}</td>
                      <!-- M_ImprovedMulberryCast -->
                    </tr>
                    <tr>
                      <td class="form-label">तुती लागवडचे आंतर (फुट)</td>
                      <td class="form-data">{{data?.mulberryCultivationSpacing | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label">तुती लागवड क्षेत्राची (लंबी व रुंदी) फुट </td>
                      <td class="form-data">{{(data?.mulberryCultivationLength | dash) + 'x' +
                        (data?.mulberryCultivationWidth | dash) }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- <div class="form-data my-1"></div> -->
              <div class="table-responsive scrollbar mt-1">
                <table class="dashboard-table table table-sm table-bordered w-100 mb-0">
                  <tbody>
                    <tr>
                      <td class="form-label">एकूणतुती रांग/ ओळींची संख्या</td>
                      <td class="form-data">{{data?.totalCultiverLines | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label">एका तुती रांगेतील / ओळीत झाडांची संख्या</td>
                      <td class="form-data">{{data?.totalServingMulberryTreesOneLine | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label">एका तुती रांगेतील / ओळीतिल हयात झाडांची संख्या </td>
                      <td class="form-data">{{data?.totalServingMulberryTreesOneLine | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label">एकूण तुती झाडांची संख्या </td>
                      <td class="form-data">{{data?.totalMulberryTrees | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label">एकूण हयात तुती झाडांची संख्या</td>
                      <td class="form-data">{{data?.totalMulberryTreesAverage | dash}}</td>
                    </tr>
                    <tr>
                      <td class="form-label"> हयात तुती झाडांची टक्केवारी</td>
                      <td class="form-data">{{(data?.totalMulberryTreesPercentage | dash)  +'%'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</mat-dialog-content>
