<div class="row g-3">
  <div class="col-sm-8">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="text-main">Department</div>
      </mat-card-header>
      <mat-card-header class="card-header-control">
        <form [formGroup]="filterFrm">
          <div class="row g-2 w-100">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Search</mat-label>
                <input matInput formControlName="TextSearch" placeholder=""
                (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-auto">
              <div class="d-flex align-items-center gap-2">
                <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="submit"
                (click)="getTableData('filter')">
                  <mat-icon class="material-symbols-rounded">
                    search
                  </mat-icon>
                </button>
                <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit"
                  type="button" (click)="clearSearchFilter()">
                  <mat-icon class="material-symbols-rounded" >
                    close
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-header>
      <mat-card-content class="card-body">

        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
          <!-- <table mat-table [dataSource]="dataSource" class="dashboard-table">

            <ng-container matColumnDef="srno">
              <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
              <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
            </ng-container>

            <ng-container matColumnDef="departmentname">
              <th mat-header-cell *matHeaderCellDef> Department Name </th>
              <td mat-cell *matCellDef="let element"> {{element.departmentname}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex gap-1">
                  <button mat-flat-button class="btn-icon text-primary" matTooltip="edit">
                    <span class="material-symbols-rounded">
                      edit_square
                    </span>
                  </button>
                  <button mat-flat-button class="btn-icon text-danger" matTooltip="delete">
                    <span class="material-symbols-rounded">
                      delete
                    </span>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <form [formGroup]="departmentFrm" #formDirective="ngForm">
      <div class="card plain-card">
        <div class="card-header text-main">
          Add Department
        </div>
        <div class="card-body">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Department</mat-label>
            <input matInput formControlName="departmentName" placeholder="" minlength="2" maxlength="20"
            (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
          </mat-form-field>
          <div class="d-flex align-items-center justify-content-end gap-2">
            <button mat-flat-button class="btn-main-light" (click)="clearFormData()"
            type="button">Clear</button>
            <button mat-flat-button class="btn-main" type="submit">{{!editFlag ? 'Add' : 'Update'}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>