<div class="row g-3">
  <div class="col-sm-8">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="text-main">Department</div>
      </mat-card-header>
      <mat-card-header class="card-header-control">
        <form [formGroup]="filterFrm" class="w-100">
          <div class="row g-2 w-100">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Search Department</mat-label>
                <input matInput formControlName="textSearch"
                  (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-auto">
              <div class="d-flex align-items-center gap-2">
                <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button"
                  (click)="getTableData('filter')">
                  <mat-icon class="material-symbols-rounded">
                    search
                  </mat-icon>
                </button>
                <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button"
                  (click)="clearSearchFilter()">
                  <mat-icon class="material-symbols-rounded">
                    close
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-header>
      <mat-card-content class="card-body">
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <form [formGroup]="departmentFrm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
      <div class="card plain-card">
        <div class="card-header text-main">
           {{editFlag ? "Update Department" : "Add Department"}}
        </div>
        <div class="card-body">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Department Name(English)</mat-label>
            <input matInput formControlName="departmentName"  minlength="2" maxlength="20"
              (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              <mat-error *ngIf="f['departmentName']?.errors">
                <span class="text-danger"
                    *ngIf="f['departmentName']?.hasError('minlength') || f['departmentName']?.hasError('pattern')">
                    {{f['departmentName'].hasError('minlength') ? 'Please Enter Minimum 2 Characters' : 'Please Enter Valid Department Name'}}
                </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Department Name(Marathi)</mat-label>
            <input matInput formControlName="m_DepartmentName"  minlength="2" maxlength="20"
              (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiValidation($event)">
              <mat-error *ngIf="f['m_DepartmentName']?.errors">
                <span class="text-danger"
                    *ngIf="f['m_DepartmentName']?.hasError('minlength') || f['m_DepartmentName']?.hasError('pattern')">
                    {{f['m_DepartmentName'].hasError('minlength') ? 'कृपया किमान 2 वर्ण प्रविष्ट करा' : 'कृपया वैध विभागाचे नाव प्रविष्ट करा'}}
                </span>
            </mat-error>
          </mat-form-field>
          <div class="d-flex align-items-center justify-content-end gap-2">
            <button mat-flat-button class="btn-main-light" (click)="clearFormData()" type="button">Clear</button>
            <button mat-flat-button class="btn-main" type="submit">{{!editFlag ? 'Save' : 'Update'}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
