<div class="row g-3">
  <div class="col-sm-8">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="text-main">{{"department.department" | translate}}</div>
      </mat-card-header>
      <mat-card-header class="card-header-control">
        <form [formGroup]="filterFrm" class="w-100">
          <div class="row g-2 w-100">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{"department.searchDepartment" | translate}}</mat-label>
                <input matInput formControlName="textSearch"
                  (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-auto">
              <div class="d-flex align-items-center gap-2">
                <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="button"
                  (click)="getTableData('filter')">
                  <mat-icon class="material-symbols-rounded">
                    search
                  </mat-icon>
                </button>
                <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit" type="button"
                  (click)="clearSearchFilter()">
                  <mat-icon class="material-symbols-rounded">
                    close
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-header>
      <mat-card-content class="card-body">
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <form [formGroup]="departmentFrm" #formDirective="ngForm" (ngSubmit)="onSubmitData()">
      <div class="card plain-card">
        <div class="card-header text-main">
           {{editFlag ? ('department.update_department'|translate) : ('department.add_designation'|translate)}}
        </div>
        <div class="card-body">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"department.departmentName_en" | translate}}</mat-label>
            <input matInput formControlName="departmentName"  
              (keypress)="validator.noFirstSpaceAllow($event);validator.alphabetsWithSpaces($event)">
            <mat-error *ngIf="f['departmentName']?.hasError('required')">{{'department.department_required'|translate}} </mat-error>
            <mat-error *ngIf="f['departmentName']?.hasError('maxLengthExceeded')">{{'department.department_maxLength'|translate}} </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"department.departmentName_mr" | translate}}</mat-label>
            <input matInput formControlName="m_DepartmentName"  
              (keypress)="validator.noFirstSpaceAllow($event);validator.unicodeMarathiValidation($event)">
            <mat-error *ngIf="f['m_DepartmentName']?.hasError('required')">{{'department.department_required'|translate}} </mat-error>
            <mat-error *ngIf="f['m_DepartmentName']?.hasError('maxLengthExceeded')">{{'department.department_maxLength'|translate}} </mat-error>
          </mat-form-field>
          <div class="d-flex align-items-center justify-content-end gap-2">
            <button mat-flat-button class="btn-main-light" (click)="clearFormData()" type="button">{{'department.clear'|translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{!editFlag ? ('department.add'|translate) :
              ('department.update'|translate)}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
