nav.navbar .navbar-brand img {
  height: 50px;
}

nav.navbar .nav-link {
  font-size: 0.85rem;
  color: black;
  font-weight: 500;
  padding-inline: 15px;
  border-bottom: solid 3px transparent;
}

nav.navbar .nav-link:active,
nav.navbar .nav-link:hover,
nav.navbar .nav-link.active {
  color: var(--main-dark-color);
  border-bottom: solid 3px var(--main-color);
}

.dropdown-menu {
  font-size: 0.85rem;
  padding: 5px;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:hover {
  background-color: var(--main-light-color);
  color: var(--main-color);
}

#topbar {
  padding-block: 3px;
  font-size: 0.85rem;
}

#topbar .btn {
  font-size: 0.7rem;
}

#topbar .btn-check:checked+.btn,
#topbar .btn.active :not(.btn-check)+.btn:active {
  background-color: #fff;
  color: var(--main-color);
}

#topbar .btn-outline-primary {
  border-color: #fff;
  color: #fff;
}