<nav class="navbar bg-white py-1 border-bottom shadow-sm">

  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-end w-100">

      <div class="dropdown">
        <button mat-flat-button class="btn-icon border-0 bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/images/language.svg">
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          <ng-container *ngFor="let getLag of lag">
            <button class="dropdown-item" (click)="changeLanguage(getLag)"
                [class.active]="getLag == selLang">
                <div class="d-flex align-items-center">
                    <img [src]="getLag == 'English' ? 'assets/images/english.svg' : 'assets/images/marathi.svg'">
                    <span>{{getLag}}</span>
                </div>
            </button>
        </ng-container>
        </div>
      </div>
      <button mat-flat-button class="btn-main">
        <a routerLink="/login" class="text-white text-decoration-none">Login</a>
      </button>
    </div>
  </div>
</nav>
