<!-- <nav class="navbar bg-white py-1 border-bottom shadow-sm fixed-top">

  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-end w-100">

      <div class="dropdown">
        <button mat-flat-button class="btn-icon border-0 bg-transparent" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="assets/images/language.svg">
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          <ng-container *ngFor="let getLag of lag">
            <button class="dropdown-item" (click)="changeLanguage(getLag)" [class.active]="getLag == selLang">
              <div class="d-flex align-items-center">
                <img [src]="getLag == 'English' ? 'assets/images/english.svg' : 'assets/images/marathi.svg'">
                <span>{{getLag}}</span>
              </div>
            </button>
          </ng-container>
        </div>
      </div>
      <button mat-flat-button class="btn-main">
        <a routerLink="/login" class="text-white text-decoration-none">Login</a>
      </button>
    </div>
  </div>
</nav> -->
<div class="top-bar">
  <div class="container border-bottom border-secondary-subtle">
    <div class="row align-items-center g-2" id="topbar">
      <div class="col-sm col">
        <div class="news-ticker">
          <div class="news-left">
            News
          </div>
          <div class="news-right">
            <marquee behavior="" direction="">
              जिल्ह्यात महारेशीम नोंदणी अभियानाची सुरूवात यंदा दहा हजार एकर रेशीम शेतीचे उद्दिष्ट
            </marquee>
          </div>
        </div>
      </div>
      <div class="col-sm-auto col-auto">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
          <ng-container *ngFor="let lang of getLang">
            <input type="radio" class="btn-check" id="{{lang}}" (click)="changeLanguage(lang)"
              [checked]="setLang == lang" autocomplete="off">
            <label class="btn btn-outline-primary" for="{{lang}}">
              <div class="d-lg-block d-none">{{lang}}</div>
            </label>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg" [ngClass]="isNavbarFixed?'fixed':'notfixed'" (scroll)="onScroll()">
  <div class="container">
    <a class="navbar-brand" routerLink="#">
      <img src="assets/images/logo-text.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About Us
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="about-us" routerLinkActive="active">About Us</a></li>
              <li><a class="dropdown-item" routerLink="#" routerLinkActive="active">Online Process</a></li>
              <li><a class="dropdown-item" routerLink="#" routerLinkActive="active">Silk Business</a></li>
              <li><a class="dropdown-item" routerLink="schemes-programs" routerLinkActive="active">Schemes &
                  Programs</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">Success Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/farmer-login">Farmer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Officer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/track-application" routerLinkActive="active">Track Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>