<div class="row gx-2">
  <div class="col-sm-12">
    <mat-card class="plain-card">
      <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="text-main">{{'designation.designation'|translate}}</div>
          <button mat-flat-button class="btn-main" *ngIf="pageAccessObject?.writeRight == true" (click)="addDesignation()">
            <mat-icon class="material-symbols-rounded">
              add
            </mat-icon>
            {{lang == 'en' ? "Add Designation" : "पदनाम जोडा"}}
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="card-body">
        <form [formGroup]="filterFrm">
          <div class="row gx-2">
            <div class="col-sm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'designation.depertment'|translate}}</mat-label>
                <mat-select formControlName="deptId">
                  <mat-option *ngFor="let department of departmentArray" [value]="department.id">{{lang == 'en' ?
                    department.textEnglish : department.textMarathi}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'designation.designation_level'|translate}}</mat-label>
                <mat-select formControlName="deptLevelId">
                  <mat-option *ngFor="let deptLevel of departmentLevelArray" [value]="deptLevel.id">{{lang == 'en' ?
                    deptLevel.textEnglish : deptLevel.textMarathi}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'designation.search_by_designation'|translate}}</mat-label>
                <input matInput formControlName="textSearch"
                  (keypress)="validation.noFirstSpaceAllow($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-1">
              <div class="d-flex align-items-center gap-2">
                <button mat-flat-button class="btn-main btn-icon " matTooltip="edit" (click)="bindTable('filter')">
                  <mat-icon class="material-symbols-rounded">
                    search
                  </mat-icon>
                </button>
                <button mat-flat-button class="btn-main-light btn-icon " matTooltip="edit" (click)="clearForm()">
                  <mat-icon class="material-symbols-rounded">
                    close
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive scrollbar">
          <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
