<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">Add Designation</div>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<mat-dialog-content class="modal-body form-container">
    <div class="mb-0">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Department</mat-label>
        <mat-select formControlName="departmentId">
          <!-- <mat-option *ngFor="let department of departmentArrayAdd"
            [value]="department.id">{{lang == 'en' ? department.textEnglish : department.textMarathi}}
          </mat-option> -->
          <mat-option>Option 1
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="a['departmentId'].hasError('required')">{{'designation.department_required'|translate}}</mat-error> -->
      </mat-form-field>
    </div>
    <div class="mb-0">
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'designation.designation_level'|translate}}</mat-label> -->
        <mat-label>{{'designation.designation_level'|translate}}</mat-label>
        <!-- <mat-select formControlName="departmentLevelId">
          <mat-option *ngFor="let deptLevel of departmentLevelAddArray"
            [value]="deptLevel.id">{{lang == 'en' ? deptLevel.textEnglish : deptLevel.textMarathi}}</mat-option>
        </mat-select> -->
        <mat-select>
          <mat-option>Option 1</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="a['departmentLevelId'].hasError('required')">{{'designation.designation_level_required'|translate}}</mat-error> -->
      </mat-form-field>
    </div>
    <div class="mb-0">
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'designation.designation_en'|translate}}</mat-label> -->
        <mat-label>Designation (English)</mat-label>
        <!-- <input matInput formControlName="designationName" maxlength="50"
          (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
        <mat-error *ngIf="a['designationName'].hasError('pattern')">{{'designation.Please_enter_designation'|translate}}</mat-error>
        <mat-error *ngIf="a['designationName'].hasError('maxlength')">{{'designation.maximum 50 character_allowed'|translate}}</mat-error>
        <mat-error *ngIf="a['designationName'].hasError('required')">{{'designation.designation_en_required'|translate}}</mat-error> -->
        <input matInput maxlength="50">
      </mat-form-field>
    </div>
    <div class="mb-0">
      <mat-form-field appearance="outline" class="w-100">
        <!-- <mat-label>{{'designation.designation_mr'|translate}}</mat-label> -->
        <mat-label>Designation (Marathi) </mat-label>
        <!-- <input matInput formControlName="m_DesignationName" maxlength="50"
          (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)">
          <mat-error *ngIf="a['designationName'].hasError('pattern')">{{'designation.Please_enter_designation_mr'|translate}}</mat-error>
          <mat-error *ngIf="a['designationName'].hasError('maxlength')">{{'designation.maximum 50 character_allowed'|translate}}</mat-error>
          <mat-error *ngIf="a['designationName'].hasError('required')">{{'designation.designation_mr_required'|translate}}</mat-error> -->
        <input matInput  maxlength="50">
        </mat-form-field>
    </div>

    <div class="d-flex align-items-center justify-content-end gap-2">
      <!-- <button mat-flat-button class="btn-main-light" type="button">{{'designation.clear'|translate}}</button>
      <button mat-flat-button class="btn-main" type="submit" >{{this.editFlag ? ('designation.update'|translate) :
        ('designation.add'|translate)}}</button> -->
      <button mat-flat-button class="btn-main-light" type="button">Clear</button>
      <button mat-flat-button class="btn-main" type="submit" >Add </button>
    </div>


    <!-- View Details Section -->
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main">View Designation</div>
      <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
        <span class="material-symbols-rounded">close</span>
      </button>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-6 form-label">Department Name</div>
          <div class="col-sm-6 form-data">: Department Name</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-label">Designation Level</div>
          <div class="col-sm-6 form-data">: Designation Name</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-auto form-label">Designation Name(English)</div>
          <div class="col-sm-auto form-data">: Designation Name</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-auto form-label">Designation Name(Marathi)</div>
          <div class="col-sm-auto form-data">: Designation Name</div>
        </div>
      </div>
    </div>




</mat-dialog-content>
