<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main fw-bold">Chowki Order Details</div>
    <!-- <button mat-icon-button class="btn-modal-close"  [mat-dialog-close]="true"> -->
      <button mat-icon-button class="btn-modal-close">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<div mat-dialog-content class="modal-body form-container">
  <section>
    <h6 class="text-main border-bottom border-success border-opacity-50">Booking Details</h6>
    <div class="row gx-2">
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <div class="form-label">CRC Name</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.crcName : chowkiOrderData?.m_CRCName || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">CRC Address</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.crcAddress : chowkiOrderData?.m_CRCAddress || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Grainage</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.grainage : chowkiOrderData?.m_Grainage || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Grainage Address</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.grainageAddress || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Type</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.type : chowkiOrderData?.m_Type || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Delivery Slabs</div>
              </th>
              <th>
                <div class="form-label"> {{chowkiOrderData?.deliverySlab || '-'}}</div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <div class="form-label">Order Id</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.orderId || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Order Date</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.orderDate | date :'dd-MM-YYYY' || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Product Name </div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.procuctName || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Quantity</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.totalChawkiRequest || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Rate(INR) </div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.chalkyRate || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Total Amount(INR)</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.totalAmount || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Payment Receipt</div>
              </th>
              <th>
                <div class="form-label">
                  <span class="material-symbols-rounded">visibility</span>
                </div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </section>
  <section>
    <h6 class="text-main border-bottom border-succcess border-opacity-50">Delivery Details</h6>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="d-flex gap-2">
        <div class="form-label">Order Qunatity</div>
        <div class="form-data">: {{chowkiOrderData?.chalkyRate || '-'}}</div>
      </div>
      <div class="d-flex gap-2">
        <div class="form-label text-danger">Balance Quantity</div>
        <div class="form-data text-danger">: {{chowkiOrderData?.balanceQty || '-'}}</div>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      <table mat-table [dataSource]="dataSource" class="dashboard-table">
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef>Sr. No. </th>
          <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="lotNumber">
          <th mat-header-cell *matHeaderCellDef> Lot No. </th>
          <td mat-cell *matCellDef="let element"> {{element.lotNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="raceType">
          <th mat-header-cell *matHeaderCellDef> Race </th>
          <td mat-cell *matCellDef="let element"> {{element.raceType}} </td>
        </ng-container>
        <ng-container matColumnDef="distributionChawki">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.distributionChawki}} </td>
        </ng-container>
        <ng-container matColumnDef="ledDate">
          <th mat-header-cell *matHeaderCellDef> Led Date </th>
          <td mat-cell *matCellDef="let element"> {{element.ledDate | date :'dd-MM-YYYY'}} </td>
        </ng-container>
        <ng-container matColumnDef="hatchingDate">
          <th mat-header-cell *matHeaderCellDef> Hatching Date </th>
          <td mat-cell *matCellDef="let element"> {{element.hatchingDate | date :'dd-MM-YYYY'}} </td>
        </ng-container>
        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
          <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date :'dd-MM-YYYY'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
    </div>
  </section>
</div>
