<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main fw-bold">Chowki Order Details</div>
    <!-- <button mat-icon-button class="btn-modal-close"  [mat-dialog-close]="true"> -->
      <button mat-icon-button class="btn-modal-close">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<div mat-dialog-content class="modal-body form-container">
  <section>
    <h6 class="text-main border-bottom border-success border-opacity-50">Booking Details</h6>
    <div class="row gx-2">
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <div class="form-label">CRC Name</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.crcName : chowkiOrderData?.m_CRCName || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">CRC Address</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.crcAddress : chowkiOrderData?.m_CRCAddress || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Grainage</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.grainage : chowkiOrderData?.m_Grainage || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Grainage Address</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.grainageAddress || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Type</div>
              </th>
              <th>
                <div class="form-label">{{lang == 'en' ? chowkiOrderData?.type : chowkiOrderData?.m_Type || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Delivery Slabs</div>
              </th>
              <th>
                <div class="form-label"> {{chowkiOrderData?.deliverySlab || '-'}}</div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <div class="form-label">Order Id</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.orderId || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Order Date</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.orderDate | date :'dd-MM-YYYY' || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Product Name </div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.procuctName || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Quantity</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.totalChawkiRequest || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Rate(INR) </div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.chalkyRate || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Total Amount(INR)</div>
              </th>
              <th>
                <div class="form-label">{{chowkiOrderData?.totalAmount || '-'}}</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Payment Receipt</div>
              </th>
              <th>
                <div class="form-label">
                  <span class="material-symbols-rounded">visibility</span>
                </div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </section>
  <section>
    <h6 class="text-main border-bottom border-succcess border-opacity-50">Delivery Details</h6>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="d-flex gap-2">
        <div class="form-label">Order Qunatity</div>
        <div class="form-data">: {{chowkiOrderData?.chalkyRate || '-'}}</div>
      </div>
      <div class="d-flex gap-2">
        <div class="form-label text-danger">Balance Quantity</div>
        <div class="form-data text-danger">: {{chowkiOrderData?.balanceQty || '-'}}</div>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      <table class="table">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Lot No.</th>
            <th>Race</th>
            <th>Quantity</th>
            <th>Led Date</th>
            <th>Hatching Date</th>
            <th>Delivery Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of chowkiOrderData?.deliveryDetails ;let i = index">
            <th>{{i+1}}</th>
            <td>{{data?.lotNumber}}</td>
            <td>{{data?.raceType}}</td>
            <td>{{data?.distributionChawki}}</td>
            <td>{{data?.ledDate}}</td>
            <td>{{data?.hatchingDate}}</td>
            <td>{{data?.deliveryDate}}</td>
          </tr>         
        </tbody>
      </table>
    </div>
  </section>
</div>
