<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main fw-bold">Chowki Order Details</div>
    <!-- <button mat-icon-button class="btn-modal-close"  [mat-dialog-close]="true"> -->
      <button mat-icon-button class="btn-modal-close">
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>
</div>
<div mat-dialog-content class="modal-body form-container">
  <section>
    <h6 class="text-main border-bottom border-success border-opacity-50">Booking Details</h6>
    <div class="row gx-2">
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <div class="form-label">CRC Name</div>
              </th>
              <th>
                <div class="form-label">Roman Silkwrrom Rearing Center</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">CRC Address</div>
              </th>
              <th>
                <div class="form-label">Nipani Kalamb Dharashiv</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Grainage</div>
              </th>
              <th>
                <div class="form-label">Silk Wroom Production Center</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Grainage Address</div>
              </th>
              <th>
                <div class="form-label">Gadhinglaj Kolhapur</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Type</div>
              </th>
              <th>
                <div class="form-label">Government</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Delivery Slabs</div>
              </th>
              <th>
                <div class="form-label">15 September</div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <div class="form-label">Order Id</div>
              </th>
              <th>
                <div class="form-label">2036548971023564</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Order Date</div>
              </th>
              <th>
                <div class="form-label">15/09/2023 03:25 PM</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Product Name </div>
              </th>
              <th>
                <div class="form-label">Chawki</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Quantity</div>
              </th>
              <th>
                <div class="form-label">200</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Rate(INR) </div>
              </th>
              <th>
                <div class="form-label">2700.00 (per 100 DFL)</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Total Amount(INR)</div>
              </th>
              <th>
                <div class="form-label">5400.00</div>
              </th>
            </tr>
            <tr>
              <th>
                <div class="form-label">Payment Receipt</div>
              </th>
              <th>
                <div class="form-label">
                  <span class="material-symbols-rounded">visibility</span>
                </div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </section>
  <section>
    <h6 class="text-main border-bottom border-succcess border-opacity-50">Delivery Details</h6>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="d-flex gap-2">
        <div class="form-label">Order Qunatity</div>
        <div class="form-data">: 350 Dlf's</div>
      </div>
      <div class="d-flex gap-2">
        <div class="form-label text-danger">Balance Quantity</div>
        <div class="form-data text-danger">: 150 Dlf's</div>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      Table
    </div>
  </section>
</div>
