<mat-card class="plain-card">
  <!-- <mat-card-header class="card-header">
    <h6 class="text-main fw-bold mb-0">{{data?.header}}</h6>
  </mat-card-header> -->
  <mat-card-content class="card-body">
  <div id="delete">
    <div class="row">
      <div class="col-12">
          <div class="card card-body border-0 bg-danger-subtle text-center mb-3" *ngIf="!data.statusFlag">
            <div class="py-3">
              <img src="assets/images/delete.svg" class="w-25 mx-auto">
            </div>
          </div>
          <div class="card card-body border-0 bg-danger-subtle text-center mb-3" *ngIf="data.statusFlag == 'Toggle' || data.statusFlag == 'टॉगल'"> 
            <div class="py-3">
              <img src="assets/images/active_scheme@3x.png" class="w-25 mx-auto">
            </div>
          </div>
          <h6>{{data?.header}}</h6>
          <p class="fs-main text-secondary">{{data?.title}}</p>
          <div mat-dialog-actions align="end">
            <div *ngIf="data.discription">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Remark</mat-label>
                <textarea matInput [formControl]="remark" rows="4"
                  (keyup)="valiService.removeSpaceAtBegining($event)"> </textarea>
              </mat-form-field>
            </div>
            <!-- *ngIf="data?.okButton && data?.cancelButton" -->
            <div class="d-flex gap-2" >
              <button mat-flat-button mat-dialog-close class="btn-default bg-secondary-subtle w-50"
                (click)="closeDialog('No')" *ngIf="data?.cancelButton">{{data?.cancelButton}}</button>
              <button mat-flat-button cdkFocusInitial  *ngIf="data?.okButton" type="submit" class="btn-default bg-danger w-50 text-white"
                (click)="closeDialog('Yes')">{{data?.okButton}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
