<mat-card class="plain-card">
    <mat-card-header class="card-header">
      <div class="text-main">Profile</div>
    </mat-card-header>
    <mat-card-content class="card-body form-container">
      <form [formGroup]="statusForm">
      <div class="row gy-2">
        <div class="col-sm-2">
          <div class="text-center">
            <img src="assets/images/user.png" alt="" class="img-fluid">
            <h6 class="form-data">Abhay Chowki Rearing Center</h6>
            <p class="bg-success-subtle text-success p-2 rounded-2"> {{tableDataArray?.status || '-'}}</p>
          </div>
        </div>
        <div class="col-sm-10">
          <h6 class="text-main border-bottom border-success border-opacity-50">CRC Center Details</h6>
          <div class="row gx-2 gy-2 ">
            <div class="col-sm-6">
              <div class="row gx-2">
                <div class="col-sm-auto form-label">Registration No.</div>
                <div class="col-sm form-data">: {{tableDataArray?.crcRegNo || '-'}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row justify-content-end">
                <div class="col-sm-2 form-label">Certificate.</div>
                <div class="col-sm">
                  <mat-icon class="material-symbols-outlined" (click)="viewPdf()">
                    visibility
                    </mat-icon>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row gx-2">
                <div class="col-sm-4 form-label">State</div>
                <div class="col-sm-8 form-data">: {{lang == 'en' ?  tableDataArray?.state :  tableDataArray?.crcRegNo|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="d-flex gap-2">
                <div class="form-label">District</div>
                <div class="form-data">: {{lang == 'en' ?  tableDataArray?.district :  tableDataArray?.m_District|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="d-flex gap-2">
                <div class="form-label">Taluka</div>
                <div class="form-data">: {{lang == 'en' ?  tableDataArray?.taluka :  tableDataArray?.m_Taluka|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="d-flex gap-2">
                <div class="form-label">Village</div>
                <div class="form-data">: {{lang == 'en' ?  tableDataArray?.village :  tableDataArray?.m_Village|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row gx-2">
                <div class="col-sm-4 form-label">Pincode</div>
                <div class="col-sm-8 form-data">: {{tableDataArray?.pinCode || '-'}}</div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row gx-2">
                <div class="col-sm-1 form-label">Address</div>
                <div class="col-sm-11 form-data">: {{lang == 'en' ?  tableDataArray?.address :  tableDataArray?.m_Address|| '-'}}</div>
              </div>
            </div>
  
          </div>
          <div class="d-flex align-items-center justify-content-between w-100 mb-3">
            <div class="d-flex gap-2">
              <div class="form-label">Certificate Issue Date</div>
              <div class="form-data">: {{tableDataArray?.certificateIssueDate  | date:'dd-MM-yyyy' || '-'}}</div>
            </div>
            <div class="d-flex gap-2">
              <div class="form-label">Certificate Expiry Date</div>
              <div class="form-data">: {{tableDataArray?.certificateExpiryDate  | date:'dd-MM-yyyy' || '-'}}</div>
            </div>
          </div>
          <section>
            <h6 class="text-main border-bottom border-success border-opacity-50">CRC Owner Details</h6>
            <div class="row gy-2 mb-3">
              <div class="col-sm-12">
                <div class="row gx-2 gy-2">
                  <div class="col-sm-1 form-label">Owner Name</div>
                  <div class="col-sm-11 form-data">:{{lang == 'en' ?  tableDataArray?.ownerName :  tableDataArray?.m_OwnerName|| '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-3 form-label">Mobile No</div>
                  <div class="col-sm-9 form-data">: {{tableDataArray?.mobileNo || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Alt Mobile No</div>
                  <div class="col-sm-8 form-data">: {{tableDataArray?.altMobileNo || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Aadhar Card No.</div>
                  <div class="col-sm-8 form-data">: {{tableDataArray?.aadharNumber || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-3 form-label">Email Id.</div>
                  <div class="col-sm-9 form-data">: {{tableDataArray?.emailId || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Gender</div>
                  <div class="col-sm-8 form-data">: {{tableDataArray?.gender || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Date of Birth</div>
                  <div class="col-sm-8 form-data">: {{tableDataArray?.dob  | date:'dd-MM-yyyy' || '-'}}</div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h6 class="text-main border-bottom border-success border-opacity-50">Rearing Area Details</h6>
            <div class="row gy-2">
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Total area available for CRC</div>
                  <div class="col-sm-8 form-data">: {{tableDataArray?.totalAreaForCRC || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">area Under CRC</div>
                  <div class="col-sm-8 form-data">: {{tableDataArray?.areaUnderCRC || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Select Status</div>
                  <div class="col-sm-8 form-data">: {{tableDataArray?.status || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Rearing Capacity</div>
                  <div class="col-sm-4 form-data">: {{tableDataArray?.chalkyCapacity || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select Status</mat-label>
                  <mat-select formControlName="status" (selectionChange)="addValidation(statusForm.value.status)">
                    <mat-option *ngFor="let arr of statusArray" [value]="arr.id">{{lang == 'en' ? arr.textEnglish : arr.textMarathi}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6" *ngIf="statusForm.value.status == 2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Rearing Capacity</mat-label>
                  <input matInput placeholder="Rearing Capacity" formControlName="chalkyApprovedQty" maxlength="10"  (keypress)="validator.noFirstSpaceAllow($event);validator.onlyDigits($event)">
                </mat-form-field>
              </div>
              <div class="col-sm-6" *ngIf="statusForm.value.status == 5">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Remark</mat-label>
                  <input matInput placeholder="Remark" formControlName="reason" maxlength="100"  (keypress)="validator.noFirstSpaceAllow($event)">
                </mat-form-field>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button class="btn-main-light" type="button" (click)="clearFormData()">Cancel</button>
        <button mat-flat-button class="btn-main" type="submit" (click)="onSubmitData()">Edit</button>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
  