<mat-card class="plain-card">
    <mat-card-header class="card-header">
      <div class="text-main">Profile</div>
    </mat-card-header>
    <mat-card-content class="card-body form-container">
      <div class="row gy-2">
        <div class="col-sm-2">
          <div class="text-center">
            <img src="assets/images/user.png" alt="" class="img-fluid">
            <h6 class="form-data">Abhay Chowki Rearing Center</h6>
            <p class="bg-success-subtle text-success p-2 rounded-2">Active</p>
          </div>
        </div>
        <div class="col-sm-10">
          <h6 class="text-main border-bottom border-success border-opacity-50">CRC Center Details</h6>
          <div class="row gx-2 gy-2 ">
            <div class="col-sm-6">
              <div class="row gx-2">
                <div class="col-sm-auto form-label">Registration No.</div>
                <div class="col-sm form-data">: MH/01/RCR/45</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row justify-content-end">
                <div class="col-sm-2 form-label">Certificate.</div>
                <div class="col-sm form-data">: pdf</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row gx-2">
                <div class="col-sm-4 form-label">State</div>
                <div class="col-sm-8 form-data">: Maharashtra</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="d-flex gap-2">
                <div class="form-label">District</div>
                <div class="form-data">: Dharahsiv</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="d-flex gap-2">
                <div class="form-label">Taluka</div>
                <div class="form-data">: Kalamb</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="d-flex gap-2">
                <div class="form-label">Village</div>
                <div class="form-data">: Kalamb</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row gx-2">
                <div class="col-sm-4 form-label">Pincode</div>
                <div class="col-sm-8 form-data">: 411002</div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row gx-2">
                <div class="col-sm-1 form-label">Address</div>
                <div class="col-sm-11 form-data">: vjdnfglijgpgjhrgp</div>
              </div>
            </div>
  
          </div>
          <div class="d-flex align-items-center justify-content-between w-100 mb-3">
            <div class="d-flex gap-2">
              <div class="form-label">Certificate Issue Date</div>
              <div class="form-data">: 25/11/2019</div>
            </div>
            <div class="d-flex gap-2">
              <div class="form-label">Certificate Expiry Date</div>
              <div class="form-data">: 12/08/2024</div>
            </div>
          </div>
          <section>
            <h6 class="text-main border-bottom border-success border-opacity-50">CRC Owner Details</h6>
            <div class="row gy-2 mb-3">
              <div class="col-sm-12">
                <div class="row gx-2 gy-2">
                  <div class="col-sm-1 form-label">Owner Name</div>
                  <div class="col-sm-11 form-data">: Sudhakar Shrihari Jadhav</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-3 form-label">Mobile No</div>
                  <div class="col-sm-9 form-data">: 8669264767</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Alt Mobile No</div>
                  <div class="col-sm-8 form-data">: 8669264767</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Aadhar Card No.</div>
                  <div class="col-sm-8 form-data">: 5589 4521 66902</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-3 form-label">Email Id.</div>
                  <div class="col-sm-9 form-data">: abhay@gmail.com</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Gender</div>
                  <div class="col-sm-8 form-data">: Male</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Date of Birth</div>
                  <div class="col-sm-8 form-data">: 15/03/1997</div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h6 class="text-main border-bottom border-success border-opacity-50">Rearing Area Details</h6>
            <div class="row gy-2">
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Total area available for CRC</div>
                  <div class="col-sm-8 form-data">: 400 Sq. Ft.</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">area Under CRC</div>
                  <div class="col-sm-8 form-data">: 300 Sq. Ft</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Select Status</div>
                  <div class="col-sm-8 form-data">:Approved</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">Rearing Capacity</div>
                  <div class="col-sm-4 form-data">:5000 DFL</div>
                </div>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select Status</mat-label>
                  <mat-select>
                    <mat-option >Approved</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Rearing Capacityr</mat-label>
                  <input matInput placeholder="Mulberry Id/ Farmer Name/Mobile Number">
                </mat-form-field>
              </div>
            </div>
          </section>
  
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button class="btn-main-light">Cancel</button>
        <button mat-flat-button class="btn-main">Edit</button>
      </div>
    </mat-card-content>
  </mat-card>
  