<mat-card class="plain-card">
    <mat-card-header class="card-header">
      <div class="d-flex gap-2 align-items-center justify-content-between w-100">
        <div class="text-main">{{lang == 'en' ? 'Profile' : 'प्रोफाइल'}}</div>
        <button mat-flat-button class=" btn-main"  (click)="viewPdf()">
          <mat-icon class="material-symbols-outlined">
            visibility
            </mat-icon>
            <span>View Certificate</span>
        </button>
      </div>

    </mat-card-header>
    <mat-card-content class="card-body form-container">
      <form [formGroup]="statusForm">
      <div class="row gy-2">
        <div class="col-sm-2">
          <div class="text-center crc-profile-img">
            <img [src]="tableDataArray?.profileImagePath ? tableDataArray?.profileImagePath :  'assets/images/user.png'" alt="" class="img-fluid">
            <h6 class="form-data">{{lang == 'en' ? tableDataArray?.crcName :  tableDataArray?.m_CRCName || '-'}}</h6>
            <p [class]="tableDataArray?.statusId == 5 ?  'bg-danger-subtle text-danger p-2 rounded-2' : tableDataArray?.statusId == 1 ? 'bg-warning-subtle text-warning p-2 rounded-2' :'bg-success-subtle text-success p-2 rounded-2'"> {{lang == 'en' ? tableDataArray?.status : tableDataArray?.m_Status || '-'}}</p>
          </div>
        </div>
        <div class="col-sm-10">
          <h6 class="text-main border-bottom border-success border-opacity-50">{{'crc.crc_center_details' | translate}}</h6>
          <div class="row gx-2 gy-2 ">
            <div class="col-sm-6">
              <div class="row gx-2">
                <div class="col-sm-4 form-label">{{lang == 'en' ? 'Registration No': 'नोंदणी क्रमांक '}}</div>
                <div class="col-sm form-data"> : &nbsp; {{ tableDataArray?.crcRegNo || '-'}}</div>
              </div>
            </div>
            <div class="col-sm-6 ">
              <div class="row align-items-center float-end">
                <div class="col-sm-auto form-label">{{lang == 'en' ? 'Certificate': 'प्रमाणपत्र '}}</div>
                <div class="col-sm">
                  <mat-icon class="material-symbols-outlined" (click)="viewPdf()">
                    visibility
                    </mat-icon>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row gx-2">
                <div class="col-sm-6 form-label">{{lang == 'en' ? 'State': 'राज्य'}}</div>
                <div class="col-sm form-data">: &nbsp; {{lang == 'en' ?  tableDataArray?.state :  tableDataArray?.m_State|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row gx-2 ">
                <div class="col-sm-3 form-label"> {{lang == 'en' ? 'District': 'जिल्हा'}}</div>
                <div class="col-sm-9 form-data">:  &nbsp; {{lang == 'en' ?  tableDataArray?.district :  tableDataArray?.m_District|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row gx-2">
                <div class="col-sm-3 form-label"> {{lang == 'en' ? 'Taluka': 'तालुका'}}</div>
                <div class="col-sm-9 form-data">:  &nbsp;   {{lang == 'en' ?  tableDataArray?.taluka :  tableDataArray?.m_Taluka|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row gx-2">
                <div class="col-sm-6 form-label"> {{lang == 'en' ? 'Village': 'गाव'}}</div>
                <div class="col-sm form-data">:  &nbsp;  {{lang == 'en' ?  tableDataArray?.village :  tableDataArray?.m_Village|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row gx-2">
                <div class="col-sm-3 form-label"> {{lang == 'en' ? 'Pincode': 'पिन कोड'}}</div>
                <div class="col-sm-9 form-data">:  &nbsp; {{tableDataArray?.pinCode || '-'}}</div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row gx-2">
                <div class="col-sm-2 form-label"> {{lang == 'en' ? 'Address': 'पत्ता'}}</div>
                <div class="col-sm-10 form-data">:  &nbsp; {{lang == 'en' ?  tableDataArray?.address :  tableDataArray?.m_Address|| '-'}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row gx-2">
                <div class="col-sm-4 form-label"> {{lang == 'en' ? 'Certificate Issue Date': 'प्रमाणपत्र जारी करण्याची तारीख'}}</div>
                <div class="col-sm form-data">:  &nbsp; {{tableDataArray?.certificateIssueDate  | date:'dd-MM-yyyy' || '-'}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row gx-2">
                <div class="col-sm-4 form-label"> {{lang == 'en' ? 'Certificate Expiry Date': 'प्रमाणपत्र कालबाह्यता तारीख'}}</div>
                <div class="col-sm form-data">:  &nbsp; {{tableDataArray?.certificateExpiryDate  | date:'dd-MM-yyyy' || '-'}}</div>
              </div>
            </div>
          </div>
          <section>
            <h6 class="text-main border-bottom border-success border-opacity-50"> {{lang == 'en' ? 'CRC Owner Details': 'CRC मालक तपशील'}}</h6>
            <div class="row gy-2 mb-3 gx-2">
              <div class="col-sm-12">
                <div class="row gx-2 gy-2">
                  <div class="col-sm-1 form-label">{{lang == 'en' ? 'Owner Name': 'मालकाचे नाव'}}</div>
                  <div class="col-sm-11 form-data"> :  &nbsp; {{lang == 'en' ?  tableDataArray?.ownerName :  tableDataArray?.m_OwnerName|| '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-3 form-label"> {{lang == 'en' ? 'Mobile No': 'मोबाईल नंबर'}}</div>
                  <div class="col-sm-9 form-data">:  &nbsp; {{tableDataArray?.mobileNo || '-'}}</div>
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">{{lang == 'en' ? 'Alt Mobile No ': 'पर्यायी मोबाईल नंबर'}}</div>
                  <div class="col-sm-8 form-data">:  &nbsp; {{tableDataArray?.altMobileNo || '-'}}</div>
                </div>
              </div> -->
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">{{lang == 'en' ? 'Aadhar Card No': 'आधार कार्ड क्रमांक.'}}</div>
                  <div class="col-sm-8 form-data">:  &nbsp; {{tableDataArray?.aadharNumber || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-3 form-label"> {{lang == 'en' ? 'Email Id': 'ई - मेल आयडी'}}</div>
                  <div class="col-sm-9 form-data">:  &nbsp; {{tableDataArray?.emailId || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-3 form-label"> {{lang == 'en' ? 'Gender': 'लिंग'}}</div>
                  <div class="col-sm-8 form-data">:  &nbsp; {{tableDataArray?.gender || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label">{{lang == 'en' ? 'Date of Birth ': 'Date of Birth '}}</div>
                  <div class="col-sm-8 form-data">:  &nbsp; {{tableDataArray?.dob  | date:'dd-MM-yyyy' || '-'}}</div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h6 class="text-main border-bottom border-success border-opacity-50"
            > {{lang == 'en' ? 'Rearing Area Details': 'संगोपन क्षेत्र तपशील'}}</h6>
            <div class="row gy-2">
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label"> {{lang == 'en' ? 'Total area available for CRC': 'CRC साठी उपलब्ध एकूण क्षेत्र'}}</div>
                  <div class="col-sm-8 form-data">:  &nbsp; {{tableDataArray?.totalAreaForCRC || '-'}} {{lang == 'en' ? 'sq.ft.': 'चौ.फूट'}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label"> {{lang == 'en' ? 'Area Under CRC': 'CRC अंतर्गत क्षेत्र'}}</div>
                  <div class="col-sm-8 form-data">:  &nbsp; {{tableDataArray?.areaUnderCRC || '-'}} {{lang == 'en' ? 'sq.ft.': 'चौ.फूट'}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2">
                  <div class="col-sm-4 form-label"> {{lang == 'en' ? 'Status': 'स्थिती'}}</div>
                  <div class="col-sm-8 form-data"  [class]="tableDataArray?.statusId == 5 ?  'bg-danger-subtle text-danger p-2 rounded-2' : tableDataArray?.statusId == 1 ? 'bg-warning-subtle text-warning p-2 rounded-2' :'bg-success-subtle text-success p-2 rounded-2'">:  &nbsp; {{tableDataArray?.status || '-'}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row gx-2 mb-4">
                  <div class="col-sm-4 form-label"> {{lang == 'en' ? 'Rearing Capacity': 'संगोपन क्षमता'}}</div>
                  <div class="col-sm-4 form-data">:  &nbsp; {{tableDataArray?.chalkyCapacity || '-'}} DFLs</div>
                </div>
              </div>
            </div>
              <h6 class="text-main border-bottom border-success border-opacity-50"  *ngIf="tableDataArray?.statusId !=5">{{lang == 'en' ? 'CRC Status' : 'CRC स्थिती'}}</h6>
            <div class="row my-4" *ngIf="tableDataArray?.statusId !=5">
              <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{lang == 'en' ? 'Select Status ': 'स्थिती निवडा'}}</mat-label>
                  <mat-select formControlName="status" (selectionChange)="addValidation(statusForm.value.status)">
                    <mat-option *ngFor="let arr of statusArray" [value]="arr.id">{{lang == 'en' ? arr.textEnglish : arr.textMarathi}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3" *ngIf="statusForm.value.status == 12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{lang == 'en' ? 'Rearing Capacity': 'संगोपन क्षमता'}}</mat-label>
                  <input matInput placeholder="Rearing Capacity" formControlName="chalkyApprovedQty" maxlength="10"  (keypress)="validator.noFirstSpaceAllow($event);validator.onlyDigits($event)">
                </mat-form-field>
              </div>
              <div class="col-sm-9" *ngIf="statusForm.value.status == 5">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{lang == 'en' ? 'Remark': 'शेरा'}}</mat-label>
                  <textarea matInput placeholder="Remark" formControlName="reason" maxlength="100"  (keypress)="validator.noFirstSpaceAllow($event)"></textarea>
                </mat-form-field>
              </div>
            </div>

          </section>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2"  *ngIf="tableDataArray?.statusId !=5">
        <button mat-flat-button class="btn-main-light" type="button" (click)="clearFormData()">{{lang == 'en' ? 'Cancel' :'रद्द करा'}}</button>
        <button mat-flat-button class="btn-main" type="submit" (click)="onSubmitData()"> {{lang == 'en' ? 'Update' :'संपादित'}}</button>
      </div>
    </form>
    </mat-card-content>
  </mat-card>





