<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="text-main">Beneficiary Details</div>
  </mat-card-header>
  <mat-card-content class="card-body form-container">
    <div class="row">
      <div class="col-sm-2 text-center">
        <img src="assets/images/user.png" alt="" class="img-fluid">
        <div class="d-flex align-items--center justify-content-center gap-2 my-3">
          <h4 class="form-label">Mulberry Id</h4>
          <h4 class="form-data">: MN12012452</h4>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="row gy-2">
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">Name</div>
              <div class="form-data">: Jayram Ramesh Tandale</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">Mobile Number</div>
              <div class="form-data">: 8669264767</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">Gender</div>
              <div class="form-data">: Male</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">State</div>
              <div class="form-data">: Maharashtra</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">District</div>
              <div class="form-data">: Dharahsiv</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">Taluka</div>
              <div class="form-data">: Bhum</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">Grampanchayat</div>
              <div class="form-data">: Ambi</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">Address</div>
              <div class="form-data">: Lakshami Road, Infront of Primary School, Ward No. 1</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex gap-2">
              <div class="form-label">Pincode</div>
              <div class="form-data">: 4122027</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
