<div>
  <div mat-dialog-title class="modal-header">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main">{{!this.data ?'Add Rule':isViewFlag?'View Rule':'Update Rule'}}</div>

      <!-- {{!this.data ? ('designation.add_designation'|translate) :isViewFlag ?
      ("designation.view_Designation" | translate): ('designation.update_designation'|translate)}} -->
      <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
        <span class="material-symbols-rounded">close</span>
      </button>
    </div>
  </div>

  <div *ngIf="!isViewFlag">
    <form [formGroup]="setRulefrm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
      <mat-dialog-content class="modal-body form-container">
        <div class="row gx-2" [class.disable]="editFlag">
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select State</mat-label>
              <mat-select formControlName="state" [disabled]="true"
                [class]="setRulefrm.controls['state'].disable({ onlySelf: true })">
                <mat-option *ngFor="let data of statresponse" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['state'].hasError('required')">State Is Required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select District</mat-label>
              <mat-select formControlName="district"
                [class]="setRulefrm.controls['district'].disable({ onlySelf: true })">
                <mat-option *ngFor="let data of districtresp" [value]="data.id">{{data.textEnglish}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['district'].hasError('required')">District Is Required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Scheme</mat-label>
              <mat-select formControlName="scheme"
                [class]="editFlag ? setRulefrm.controls['scheme'].disable({ onlySelf: true }) :setRulefrm.controls['scheme'].enable({ onlySelf: true })">
                <mat-option *ngFor="let data of schemeTyperesp" [value]="data.id">{{data.textEnglish}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['scheme'].hasError('required')">Scheme Is Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Department</mat-label>
              <mat-select formControlName="department"
                [class]="editFlag ? setRulefrm.controls['department'].disable({ onlySelf: true }) :setRulefrm.controls['department'].enable({ onlySelf: true })">
                <mat-option *ngFor="let data of departmentresp" [value]="data.id">{{data.textEnglish}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['department'].hasError('required')">Department Is Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex w-100 justify-content-between align-items-center mb-3">
          <p class="mb-0 text-main fw-bold small"></p>
          <button mat-flat-button type="button" class="btn-main" (click)="checkPrevData()">
            <mat-icon class="material-symbols-rounded">add</mat-icon>{{editFlag?'Update Level':' Add Level'}}
           
          </button>
        </div>

        <div class="row gx-2 align-items-center">
          <ng-container formArrayName="approvalLevels">
            <ng-container *ngFor="let lessonForm of approvallistForm.controls; let i = index" [formGroupName]="i">

              <div class="row  gx-2">
                <div class="col-sm-auto" [class.disable]="approvallistForm.getRawValue()[i].disabled">
                  <div class="form-data">Order</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="approvalLevel">
                      <mat-option *ngFor="let data of approveLevelResp"
                        [value]="data.id">{{data.textEnglish}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-auto" [class.disable]="approvallistForm.getRawValue()[i].disabled">
                  <div class="form-data">Action</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="actionId">
                      <mat-option *ngFor="let data of actionresp" [value]="data.id">{{data.textEnglish}}</mat-option>
                    </mat-select>
                    <!-- <div *ngIf="approvallistForm.controls['actionId'].hasError('required')">
                    Pipe Diameter is Required.
                </div> -->
                  </mat-form-field>
                </div>
                <div class="col-sm-auto" [class.disable]="approvallistForm.getRawValue()[i].disabled">
                  <div class="form-data">Designation Level</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <!-- <mat-label>Designation Level</mat-label> -->
                    <mat-select formControlName="departmentLevelId">
                      <mat-option *ngFor="let data of levelResp" [value]="data.id">{{data.textEnglish}}</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="g['departmentLevelId'].hasError('required')">Department Level Is Required</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-sm-auto" [class.disable]="approvallistForm.getRawValue()[i].disabled">
                  <div class="form-data">Designation</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <!-- <mat-label>Designation</mat-label> -->
                    <mat-select formControlName="designationId">
                      <mat-option *ngFor="let data of designationResp"
                        [value]="data.id">{{data.textEnglish}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div class="col-sm-2">
              <button  mat-flat-button type="button"
                class="btn-icon mt-4 text-danger bg-danger bg-opacity-10" (click)="addList()">
                <mat-icon class="material-symbols-rounded">add</mat-icon>
              </button>
            </div> -->
                <div class="col-sm-auto">
                  <button *ngIf="approvallistForm.length >= 1" mat-flat-button type="button"
                    class="btn-icon mt-4 text-danger bg-danger bg-opacity-10 me-2" (click)="deleteApproveLevel(i)">
                    <mat-icon class="material-symbols-rounded">delete</mat-icon>
                  </button>
                  <button mat-flat-button type="button" *ngIf="(approvallistForm.length -1) == i"
                    class="btn-icon mt-4 text-danger bg-danger bg-opacity-10" (click)="addList()">
                    <mat-icon class="material-symbols-rounded">add</mat-icon>
                  </button>
                </div>
              </div>

              <!-- <div class="col-sm-6">
                <div class="form-data">Order</div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Order</mat-label>
                  <input matInput formControlName="approvalLevel">
                </mat-form-field>
              </div> -->

              <!-- <div class="col-sm-auto">
          <button mat-icon-button class="btn-main rounded" type="button">
            <span class="material-symbols-rounded">close</span>
          </button>
        </div> -->

            </ng-container>
          </ng-container>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions class="modal-footer">
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-flat-button class="btn-main-light" type="button" mat-dialog-close  (click)="clearForm()">Cancel</button>
          <button mat-flat-button class="btn-main" type="submit">{{editFlag?'Update':'Submit'}}</button>
        </div>
      </mat-dialog-actions>
    </form>
  </div>
</div>

<!-- *************************** -->
<div *ngIf="isViewFlag">
  <mat-dialog-content class="modal-body form-container">
    <div class="row gx-2">

      <div class="col-sm">
        <div class="d-flex gap-2">
          <div class="form-label"> State</div>
          <div class="form-data">: {{data?.state}}</div>
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex gap-2">
          <div class="form-label"> district</div>
          <div class="form-data">: {{data?.district}}</div>
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex gap-2">
          <div class="form-label">Scheme</div>
          <div class="form-data">: {{data?.schemeType}}</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex gap-2">
          <div class="form-label"> Department</div>
          <div class="form-data">: {{data?.departmentName}}</div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="tableData" class="w-100 dashboard-table border">

        <ng-container matColumnDef="Sr.No">
          <th mat-header-cell *matHeaderCellDef>Sr.No </th>
          <td mat-cell *matCellDef="let element; let i= index"> {{i+1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="Order">
          <th mat-header-cell *matHeaderCellDef>Order </th>
          <td mat-cell *matCellDef="let element"> {{element.approvalLevel==1?'First Level':element.approvalLevel==2?'Second Level':element.approvalLevel==3?'Third Level':element.approvalLevel==4?'Fourth Level':'Fifth Level'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th class="w-10" mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> {{element.actionName}} </td>
        </ng-container>

        <ng-container matColumnDef="Designation Level">
          <th class="w-10" mat-header-cell *matHeaderCellDef> Designation Level </th>
          <td mat-cell *matCellDef="let element"> {{element.departmentLevel}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Designation">
          <th class="w-10" mat-header-cell *matHeaderCellDef> Designation </th>
          <td mat-cell *matCellDef="let element"> {{element.designationName}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>


  </mat-dialog-content>
</div>