<div>
  <div mat-dialog-title class="modal-header">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main">{{!this.data
        ?('setRule.add_rule'|translate):isViewFlag?('setRule.view_rule'|translate):('setRule.update_rule'|translate)}}
      </div>
      <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
        <span class="material-symbols-rounded">close</span>
      </button>
    </div>
  </div>

  <div>
    <form [formGroup]="setRulefrm" #formDirective="ngForm"  >
      <mat-dialog-content class="modal-body form-container">
        <div class="row gx-2" [class.disable]="editFlag">
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'setRule.select_state'|translate}}</mat-label>
              <mat-select formControlName="state" [disabled]="true"
                [class]="setRulefrm.controls['state'].disable({ onlySelf: true })">
                <mat-option *ngFor="let data of stateArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['state'].hasError('required')"> {{'common.Please_select_state'|translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'setRule.select_district'|translate}}</mat-label>
              <mat-select formControlName="district"
                [class]="setRulefrm.controls['district'].disable({ onlySelf: true })">
                <mat-option *ngFor="let data of districtArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['district'].hasError('required')">{{'common.Please_select_district'|translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'setRule.select_scheme'|translate}}</mat-label>
              <mat-select formControlName="scheme"
                [class]="editFlag ? setRulefrm.controls['scheme'].disable({ onlySelf: true }) :setRulefrm.controls['scheme'].enable({ onlySelf: true })">
                <mat-option *ngFor="let data of schemeTypeArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['scheme'].hasError('required')">{{'setRule.scheme_required'|translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'common.department'|translate}}</mat-label>
              <mat-select formControlName="department"
              (selectionChange)="getAllAction()" [ngClass]="(!f['scheme'].getRawValue() || editFlag) ? f['department']?.disable() : f['department']?.enable()">
                <mat-option *ngFor="let data of departmentArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['department'].hasError('required')">{{'setRule.select_department'|translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row gx-2 align-items-center">
          <table>
            <thead>
              <tr>
              <th>Order</th>
              <th>Action</th>
              <th>Department</th>
              <th>Designation</th>
              <th>Check</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of actionArray">
              <td>   
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{'setRule.select_state'|translate}}</mat-label>
                  <mat-select formControlName="aa">
                    <mat-option *ngFor="let data of stateArray" [value]="data.id">{{lang == 'en' ?
                      data.textEnglish : data.textMarathi}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </td>
              <td>      
                <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="approvalLevel" placeholder="Select Order">
                  <mat-option value="sfdsf"   [disabled]="true">asda</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
              <td>      
                <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="approvalLevel" placeholder="Select Order">
                  <mat-option value="sfdsf"   [disabled]="true">asda</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
              <td>      
                <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="approvalLevel" placeholder="Select Order">
                  <mat-option value="sfdsf"   [disabled]="true">asda</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
              <td>      
                <mat-checkbox class="example-margin"></mat-checkbox>
            </td>
          </tr>
            </tbody>
          </table>
          </div>

<!-- 
        <div class="row gx-2 align-items-center">
          <ng-container formArrayName="approvalLevels">
            <ng-container *ngFor="let lessonForm of approvallistForm.controls; let i = index" [formGroupName]="i">

              <div class="row  gx-2">
                <div class="col-sm-auto">
                  {{i + 1}}
                </div>
                <div class="col-sm-auto">
                  <div class="form-data">{{'setRule.order'|translate}}</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="approvalLevel" placeholder="Select Order">
                      <mat-option *ngFor="let data of approveLevelResp" [value]="data.id"   [disabled]="data.id == 0">{{lang == 'en' ?
                        data.textEnglish : data.textMarathi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-auto">
                  <div class="form-data">{{'setRule.action'|translate}}</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="actionId" placeholder="Select Action">
                      <mat-option  [value]="data.id"  [disabled]="data.id == 0">{{lang == 'en' ?
                        data.actionName : data.m_ActionName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-auto">
                  <div class="form-data">{{'setRule.designation_level'|translate}}</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="departmentLevelId" placeholder="Select Department Level">
                      <mat-option  [value]="data.id"  [disabled]="data.id == 0">{{lang == 'en' ?
                        data.textEnglish : data.textMarathi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-auto">
                  <div class="form-data">{{'common.designation'|translate}}</div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="designationId" placeholder="Select Designation">
                      <mat-option *ngFor="let data of designationResp" [value]="data.id"  [disabled]="data.id == 0">{{lang == 'en' ?
                        data.textEnglish : data.textMarathi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-auto">
                  <div class="form-data">{{'common.designation'|translate}}</div>
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div> -->
        
      </mat-dialog-content>





      <mat-dialog-actions class="modal-footer">
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-flat-button class="btn-main-light" type="button" mat-dialog-close
           >{{'common.cancel'|translate}}</button>
          <button mat-flat-button class="btn-main" type="submit">{{editFlag?(('blogs.update'|translate)):('villageCircle.save'|translate)}}</button>
        </div>
      </mat-dialog-actions>
    </form>
  </div>
</div>