<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!-- <li class="breadcrumb-item" aria-current="page">Setting</li> -->
    <li class="breadcrumb-item" aria-current="page">{{lang == 'en' ? "Page Right Access" : "पृष्ठ अधिकार"}} </li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header-control  form-container">
    <form [formGroup]="filterFrm" #formDirective="ngForm" class="w-100">
      <div class="row align-items-center justify-content-start g-2">
        <div class="col-sm-2">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'designation.depertment'|translate}}</mat-label> -->
            <mat-select formControlName="departmentId" placeholder="Select Department" (selectionChange)="clearDropdown('deptId');getDesignationLevel();">
              <mat-option *ngFor="let department of departmentArray" [value]="department.id">{{lang == 'en' ?
                department.textEnglish : department.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'designation.designation_level'|translate}}</mat-label> -->
            <mat-select formControlName="designationLevelId" placeholder="Select Designation Level" (selectionChange)="clearDropdown('deptLevelId');getDesignation()">
              <mat-option *ngFor="let level of designationLevelArray" [value]="level.id">{{lang == 'en' ?
                level.textEnglish : level.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'pageAccess.designation'|translate}}</mat-label> -->
            <mat-select formControlName="designationId" placeholder="Select Designation">
              <mat-option *ngFor="let  designation of designationArray" [value]="designation.id">{{lang == 'en' ?
                designation.textEnglish : designation.textMarathi}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'pageAccess.search_page_name'|translate}}</mat-label> -->
            <input matInput formControlName="searchText" placeholder="Search Page Name" (keypress)="validation.noFirstSpaceAllow($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <div class="d-flex gap-2">
            <button mat-flat-button class="btn-main btn-icon " matTooltip="edit" (click)="getTableData()">
              <mat-icon class="material-symbols-rounded">
                search
              </mat-icon>
            </button>
            <button mat-flat-button class="btn-main-light btn-icon " matTooltip="edit" (click)="clearForm()">
              <mat-icon class="material-symbols-rounded">
                close
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-header>
  <mat-card-content class="card-body pt-0">
    <ng-container *ngIf="dataSource?.length; else elseBlock">
      <div class="table-height scrollbar mb-3">
        <table mat-table [dataSource]=" dataSource" class="dashboard-table">
          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef>{{lang == 'en' ? "Sr. No." : "अनुक्रमणिका"}}</th>
            <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="module">
            <th mat-header-cell *matHeaderCellDef>{{lang == 'en' ? "Module" : "मॉड्यूल"}}</th>
            <td mat-cell *matCellDef="let element">{{lang == 'en' ? element.mainMenu : element.m_MainMenu}}</td>
          </ng-container>

          <ng-container matColumnDef="submodule">
            <th mat-header-cell *matHeaderCellDef>{{lang == 'en' ? "SubModule" : "सबमॉड्यूल"}}</th>
            <td mat-cell *matCellDef="let element"> {{lang == 'en' ? element.subMenu : element.m_SubMenu}} </td>
          </ng-container>


          <ng-container matColumnDef="pagename">
            <th mat-header-cell *matHeaderCellDef>{{lang == 'en' ? "Page Name" : "पृष्ठाचे नाव"}}</th>
            <td mat-cell *matCellDef="let element">{{lang == 'en' ? element.pageName : element.m_PageName}}</td>
          </ng-container>

          <ng-container matColumnDef="read">
            <th mat-header-cell *matHeaderCellDef> Read </th>
            <td mat-cell *matCellDef="let element;let i=index">
              <mat-checkbox class="example-margin" [(ngModel)]="element.readRight"
                [checked]="element.readRight"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="write">
            <th mat-header-cell *matHeaderCellDef> Write </th>
            <td mat-cell *matCellDef="let element;let i=index">
              <mat-checkbox class="example-margin" [(ngModel)]="element.writeRight"
                [checked]="element.writeRight"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element;let i=index">
              <mat-checkbox class="example-margin" [(ngModel)]="element.deleteRight"
                [checked]="element.deleteRight"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="all">
            <th mat-header-cell *matHeaderCellDef> All </th>
            <td mat-cell *matCellDef="let element;let i=index">
              <mat-checkbox class="example-margin" (change)="selectRow($event,i)"
                [(ngModel)]="element.readRight && element.writeRight && element.deleteRight && element.isSideBarMenu"
                [checked]="(element.readRight && element.writeRight  && element.deleteRight && element.isSideBarMenu)">
              </mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </ng-container>

    <ng-template #elseBlock>
      <div class="text-center alert alert-danger">
        {{lang == 'en' ? "No Data Found" : "माहित उपलब्ध नाही"}}
      </div>
    </ng-template>

    <div class="text-end" *ngIf="dataSource?.length">
      <button mat-flat-button class="btn-main" type="submit"
        (click)="onSubmitData()">{{'pageAccess.add'|translate}}</button>
    </div>
  </mat-card-content>

</mat-card>
