<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="text-main">{{lang == 'en' ? 'Farmer Dashboard' : 'फार्मर डॅशबोर्ड'}}</div>
  </mat-card-header>
  <mat-card-content class="card-body" id="dash-stats">
    <div class="row">
      <div class="col-sm-3"></div>
      <ng-container *ngFor="let scheme of schemeDataArray">
        <div class="col-sm-3">
          <div class="card card-body mb-4" (click)="aadhaarNoVal(scheme?.id)">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img src="{{scheme?.logoPath}}" alt="Manrega Applications" class="olive">
              </div>
              <div class="flex-grow-1 ms-3">
                <p>{{lang == 'en' ? scheme?.schemeType : scheme?.m_SchemeType}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>