<mat-card class="plain-card">
  <mat-card-header class="card-header-control">
    <div class="text-main">Farmer Dashboard</div>
  </mat-card-header>
  <mat-card-content class="card-body" id="dash-stats">
    <div class="row">
      <div class="col-sm-3 border-end">
        <div class="card card-body mb-4">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="assets/images/dashboard-icons/manarega.svg" alt="Manrega Applications" class="olive">
            </div>
            <div class="flex-grow-1 ms-3">
              <h2>7</h2>
              <p>Manarega</p>
            </div>
          </div>
        </div>
        <div class="card card-body">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="assets/images/dashboard-icons/silk.svg" alt="Silk Samgra-2 Applications" class="voilet">
            </div>
            <div class="flex-grow-1 ms-3">
              <h2>7</h2>
              <p>SILK SAMGRA-2 </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="table-responsive scrollbar">
          Table
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
