<div mat-dialog-title class="modal-header">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h6 class="text-main mb-0 fw-bold">{{'common.change_password'|translate}}</h6>
        <button mat-icon-button class="btn-modal-close" mat-dialog-close="true" (click)="closeDialogue()">
            <mat-icon class="material-symbols-outlined">
                close
            </mat-icon>
        </button>
    </div>
</div>
<form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
    <div mat-dialog-content class="modal-body">
        <div class="row">
            <div class="col-sm-6">
              <div class="mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'changePassword.enter_current_password'|translate}}</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="{{'changePassword.enter_current_password'|translate}}"
                    formControlName="currentPass" (keypress)="validation.noSpacesAtStart($event)" maxlength="20">
                    <mat-error *ngIf="f['currentPass'].errors">
                        <span class="text-danger" *ngIf="f['currentPass'].hasError('required')">{{'changePassword.current_password_is_required'|translate}}</span>
                        <span class="text-danger" *ngIf="f['currentPass'].hasError('pattern')">{{'changePassword.please_enter_valid_current_password'|translate}}</span>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <span class="material-symbols-rounded">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
              </div>
              <div class="mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'changePassword.enter_new_password'|translate}}</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="{{'changePassword.enter_new_password'|translate}}"
                    formControlName="newPass" (keypress)="validation.noSpacesAtStart($event)" maxlength="20">
                     <mat-error *ngIf="f['newPass'].errors">
                        <span class="text-danger" *ngIf="f['newPass'].hasError('required')">{{'changePassword.new_password_is_required'|translate}}</span>
                        <span class="text-danger" *ngIf="f['newPass'].hasError('pattern')">{{'changePassword.please_enter_valid_new_password'|translate}}</span>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <span class="material-symbols-rounded">{{hide1 ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
              </div>
              <div class="mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'changePassword.enter_confirm_password'|translate}}</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="{{'changePassword.enter_confirm_password'|translate}}"
                    formControlName="confirmPass" (keypress)="validation.noSpacesAtStart($event)" maxlength="20"
                    (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" (keypress.enter)="onSubmit()">
                      <mat-error *ngIf="f['confirmPass'].errors">
                        <span class="text-danger" *ngIf="f['confirmPass'].hasError('required')">{{'changePassword.confirm_password_is_required'|translate}}</span>
                        <span class="text-danger" *ngIf="f['confirmPass'].hasError('pattern')">{{'changePassword.please_enter_valid_confirm_password'|translate}}</span>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <span class="material-symbols-rounded">{{hide2 ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="notes">
                    <p class="fw-bold text-dark">{{'changePassword.passwords_must_contains'|translate}}:</p>
                    <ul class="text-secondary">
                        <li>{{'changePassword.at_least8-15characters_long'|translate}}</li>
                        <li>{{'changePassword.at_least_1_lowercase_characters(a-z)'|translate}}</li>
                        <li>{{'changePassword.at_least1uppercase_characters(A-Z)'|translate}}</li>
                        <li>{{'changePassword.at_least1digits(0-9)'|translate}}</li>
                        <li>{{'changePassword.atleast1_special_characters(*$@#)'|translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="modal-footer">
        <div class="d-flex gap-2">
            <button mat-flat-button mat-dialog-close type="button" class="btn-main-light" (click)="clearFormData()">{{'common.clear'|translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{'common.change_password'|translate}}</button>
        </div>
    </div>
</form>
