<div mat-dialog-title class="modal-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="text-main">Add Scheme</div>
    <button mat-icon-button class="btn-modal-close" mat-dialog-close="true">
      <mat-icon class="material-symbols-outlined">
        close
      </mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content class="modal-body form-container">
  <div class="mb-0">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Scheme Name (English)</mat-label>
      <input matInput placeholder="">
      <!-- <input matInput placeholder="" formControlName="schemeType"
      (keypress)="validator.noFirstSpaceAllow($event);validator.alphaNumericWithSpacesAndSpecCharss($event)">
      <mat-error *ngIf="f['schemeType']?.hasError('required')">{{'scheme.please_enter_scheme_name'|translate}}
      </mat-error>
      <mat-error *ngIf="f['schemeType']?.hasError('pattern')">
        {{'scheme.please_enter_valid_scheme_name'|translate}} </mat-error>
        <mat-error *ngIf="f['schemeType']?.hasError('maxLengthExceeded')">{{'scheme.maximum_limit_100_characters'|translate}} </mat-error> -->
    </mat-form-field>
  </div>
  <div class="col-sm-12">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Select State</mat-label>
      <mat-select>
        <mat-option>Maharashtra</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{'scheme.select_state' | translate }}</mat-label>
      <mat-select formControlName="stateId" (selectionChange)="getDisrict()"
      [class]="schemeForm.controls['stateId'].disable({ onlySelf: true })">
        <mat-option *ngFor="let st of stateArray" [value]="st.id">{{lang != 'en' ? st.textMarathi
          :st.textEnglish}}</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <div class="col-sm-12">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Select District</mat-label>
      <mat-select>
        <mat-option>Maharashtra</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{'scheme.select_district' | translate }}</mat-label>
      <mat-select formControlName="districtId"  [class]="schemeForm.controls['districtId'].disable({ onlySelf: true })">
        <mat-option *ngFor="let dist of districtArray" [value]="dist.id">{{lang != 'en' ? dist.textMarathi
          :dist.textEnglish}}</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <div class="col-sm-12">
    scheme Description
  </div>
  <div class="col-sm-12">
    <div class="mb-0">
      <div class="file-upload border rounded-2 p-1">
        <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
          (click)="uplodLogo.click()" data-placement="right">
          {{'scheme.scheme_logo' | translate }}
        </button>
        <input type="file" #uplodLogo accept=".jpg,.jpeg,.jfif,.png,.hvec" />

        <div class="d-flex gap-2" >
          <button type="button"  mat-flat-button
            class="bg-primary-subtle text-primary btn-icon btn-action" matTooltip="view" >
            <mat-icon class="material-symbols-rounded">
              preview
            </mat-icon>
          </button>
          <button type="button" mat-flat-button
            class="bg-danger-subtle text-danger btn-icon btn-action" matTooltip="delete">
            <mat-icon class="material-symbols-rounded">
              delete
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- View Section -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 form-label">Scheme Name (English)</div>
        <div class="col-sm-6 form-data">: Scheme Name</div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 form-label">Select State</div>
        <div class="col-sm-6 form-data">: Maharashtra</div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 form-label">Select District</div>
        <div class="col-sm-6 form-data">: Pune</div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 form-label">Scheme Description</div>
        <div class="col-sm-6 form-data">: Pune</div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 form-label">Scheme Logo</div>
        <div class="col-sm-6 form-data">
          logo
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end w-100">
    <button  mat-flat-button class="btn-main-light" mat-dialog-close>Cancel</button>
    <button mat-flat-button class="btn-main" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
  </div>
</mat-dialog-actions>
