<div>
  <div mat-dialog-title class="modal-header">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main">
        {{data?.label == 'View' ? ('setRule.view_rule'|translate) : editFlag ? ('setRule.update_rule'|translate) : ('setRule.add_rule'|translate)}}
      </div>
      <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
        <span class="material-symbols-rounded">close</span>
      </button>
    </div>
  </div>

  <div *ngIf="!isViewFlag">
    <form [formGroup]="setRulefrm" #formDirective="ngForm">
      <mat-dialog-content class="modal-body form-container scrollbar">
        <div class="row gx-2" >
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'setRule.select_state'|translate}}</mat-label>
              <mat-select formControlName="state" [disabled]="true"
                [class]="setRulefrm.controls['state'].disable({ onlySelf: true })">
                <mat-option *ngFor="let data of stateArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['state'].hasError('required')"> {{'common.Please_select_state'|translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'setRule.select_district'|translate}}</mat-label>
              <mat-select formControlName="district"
                [class]="setRulefrm.controls['district'].disable({ onlySelf: true })">
                <mat-option *ngFor="let data of districtrArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="f['district'].hasError('required')">{{'common.Please_select_district'|translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'setRule.select_scheme'|translate}}</mat-label> -->
              <mat-select formControlName="scheme" placeholder="{{'setRule.select_scheme'|translate}}" (selectionChange)="approveLevelArray = [];editFlag = false;f['department'].setValue('');getDepartment()"
                [class]="data?.label == 'Edit' ? setRulefrm.controls['scheme'].disable({ onlySelf: true }) :setRulefrm.controls['scheme'].enable({ onlySelf: true })">
                <mat-option *ngFor="let data of schemeTypeArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f['scheme'].hasError('required')">{{'setRule.scheme_required'|translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'common.department'|translate}}</mat-label> -->
              <mat-select formControlName="department" placeholder="{{'common.department'|translate}}"
                (selectionChange)="approveLevelArray = [];clearAddRuleForm();getAllApprovalMasterLevels()"
                [class]="(data?.label == 'Edit' || !f['scheme'].getRawValue()) ? f['department'].disable() :f['department'].enable()">
                <mat-option *ngFor="let data of departmentArray" [value]="data.id">{{lang == 'en' ?
                  data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="f['department'].hasError('required')">{{'setRule.select_department'|translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>

      <div class="mt-2 text-end">
          <!-- <div class="alert alert-danger text-center py-2" *ngIf="!f['scheme'].getRawValue() || !f['department'].getRawValue()">Select Above Filter..!</div> -->
          <!-- <div class="alert alert-danger text-center py-2" *ngIf="f['scheme'].getRawValue() && f['department'].getRawValue() && approvallistForm.controls?.length == 0">No Data Found..!</div> -->
      </div>
            <!-- ..................................  Add Rule Code Start Here ............................... -->

    <div class="card p-2" *ngIf="f['department'].getRawValue()">
      <div class="card-header">
        <div class="row form-container">
          <div class="col-sm-auto">
            <span class="form-label">Total Order Level</span>
          </div>
          <div class="col-sm-auto">
            <span class="form-data">: {{this.getAllActionArray?.length}}</span>
          </div>
        </div>
      </div>
     <div class="card-body px-0">
      <ng-container>
        <form [formGroup]="AddRulefrm" #addRuleformDirective="ngForm" (ngSubmit)="addRule()">
        <div class="row  gx-2">
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="approvalLevel" placeholder="{{'setRule.select_order'|translate}}" (selectionChange)="setActionDropdown()"
              [class]="addRuleEditFlag == true ? g['approvalLevel'].disable() : g['approvalLevel'].enable()">
                <mat-option *ngFor="let data of getAllActionArray" [value]="data.orderLevel">{{lang == 'en' ? data.approvalLevel : data.m_ApprovalLevel}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="actionId" placeholder="{{'setRule.select_action'|translate}}" [class]="g['actionId'].disable({ onlySelf: true })">
                <mat-option *ngFor="let data of getAllActionArray" [value]="data?.id">
                  {{lang == 'en' ? data.actionName : data.m_ActionName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="departmentLevelId" placeholder="{{'common.designation_level'|translate}}" (selectionChange)="g['designationId'].setValue('');getDesignation()">
                <mat-option *ngFor="let data of designationLevelArray" [value]="data.id" [disabled]="data.id == 0">
                  {{lang == 'en' ? data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="designationId" placeholder="{{'common.designation'|translate}}">
                <mat-option *ngFor="let data of designationArray" [value]="data.id"
                  [disabled]="data.id == 0">{{lang == 'en' ? data.textEnglish : data.textMarathi}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-auto">
              <button mat-flat-button class="btn-main px-2" type="submit">{{addRuleEditFlag == true ? ('common.update'|translate) : ('common.add'|translate)}}</button>
              <button mat-flat-button class="btn-main-light mx-1 px-2" type="button" (click)="clearAddRuleForm()">{{'common.clear'|translate}}</button>
          </div>
        </div>
      </form>
      </ng-container>

       <!-- ..............................  Table Add Rule ............................ -->
      <div class="table-responsive">
        <table mat-table [dataSource]="approveLevelArray" class="w-100 dashboard-table border">
          <ng-container matColumnDef="Sr.No">
            <th mat-header-cell *matHeaderCellDef>{{'common.srNo'|translate}} </th>
            <td mat-cell *matCellDef="let element; let i= index"> {{i+1}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Order">
            <th mat-header-cell *matHeaderCellDef>{{'setRule.Order'|translate}} </th>
            <td mat-cell *matCellDef="let element">
              {{this.lang == 'mr-IN'?element.m_approvalLevel:element.approvalLevel}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th class="w-10" mat-header-cell *matHeaderCellDef> {{'common.action'|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{this.lang == 'mr-IN'?element.m_ActionName:element.actionName}} </td>
          </ng-container>

          <ng-container matColumnDef="Designation Level">
            <th class="w-10" mat-header-cell *matHeaderCellDef> {{'setRule.department_level'|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{this.lang ==
              'mr-IN'?element.m_DepartmentLevel:element.departmentLevel}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Designation">
            <th class="w-10" mat-header-cell *matHeaderCellDef> {{'setRule.designation'|translate}} </th>
            <td mat-cell *matCellDef="let element">{{this.lang ==
              'mr-IN'?element.m_designationName:element.designationName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th class="w-10" mat-header-cell *matHeaderCellDef> {{'common.edit' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <button  matTooltipPosition="above" mat-icon-button class=" btn-icon bg-warning bg-opacity-10" (click)="editAddRule(element)">
              <span class="material-symbols-rounded text-warning">edit_square</span>
          </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="addRuledisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: addRuledisplayedColumns;"></tr>
        </table>
      </div>
     </div>
    </div>

      <!-- ............................................  Add Rule Code End Here .............................. -->

      </mat-dialog-content>
      <mat-dialog-actions class="modal-footer">
        <div class="d-flex align-items-center justify-content-end gap-2 w-100">
          <button mat-flat-button class="btn-main-light" type="button" mat-dialog-close
            (click)="clearForm()">{{'common.cancel'|translate}}</button>
          <button mat-flat-button class="btn-main" type="submit"
            (click)="onSubmit()">{{editFlag?(('common.update'|translate)):('villageCircle.save'|translate)}}</button>
        </div>
      </mat-dialog-actions>
    </form>
  </div>
</div>

<!-- *************************** View Model Code Start Here **********************************-->

<div *ngIf="isViewFlag">
  <mat-dialog-content class="modal-body form-container scrollbar">
    <div class="row mb-2 gx-2">

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-2 form-label"> {{'setRule.state'|translate}}</div>
          <div class="col-sm-10 form-data">: {{lang == 'mr-IN'?(data?.m_State):(data?.state)}}</div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row gx-2">
          <div class="col-sm-3 form-label"> {{'setRule.district'|translate}}</div>
          <div class="col-sm-9 form-data">: {{lang == 'mr-IN'?(data?.m_District):(data?.district)}}</div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row gx-2">
          <div class="col-sm-2 form-label"> {{'scheme.scheme'|translate}}</div>
          <div class="col-sm-10 form-data">: {{lang == 'mr-IN'?(data?.m_SchemeType):(data?.schemeType)}}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row gx-2">
          <div class="col-sm-3 form-label"> {{'department.department'|translate}}</div>
          <div class="col-sm-9 form-data">: {{lang == 'mr-IN'?(data?.m_DepartmentName):(data?.departmentName)}}</div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="tableData" class="w-100 dashboard-table border">

        <ng-container matColumnDef="Sr.No">
          <th mat-header-cell *matHeaderCellDef>{{'common.srNo'|translate}} </th>
          <td mat-cell *matCellDef="let element; let i= index"> {{i+1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="Order">
          <th mat-header-cell *matHeaderCellDef>{{'setRule.Order'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            {{this.lang == 'mr-IN'?element.m_ApprovalLevel:element.approvalLevel}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th class="w-10" mat-header-cell *matHeaderCellDef> {{'common.action'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{this.lang == 'mr-IN'?element.m_ActionName:element.actionName}} </td>
        </ng-container>

        <ng-container matColumnDef="Designation Level">
          <th class="w-10" mat-header-cell *matHeaderCellDef> {{'setRule.department_level'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{this.lang ==
            'mr-IN'?element.m_DepartmentLevel:element.departmentLevel}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Designation">
          <th class="w-10" mat-header-cell *matHeaderCellDef> {{'setRule.designation'|translate}} </th>
          <td mat-cell *matCellDef="let element">{{this.lang ==
            'mr-IN'?element.m_DesignationName:element.designationName}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </mat-dialog-content>
</div>

<!-- *************************** View Model Code End Here **********************************-->
