<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main">{{'officerreg.register_Officer' | translate}}</div>
      <div class="col-sm-auto">
        <button mat-flat-button class="btn-main" (click)="registerofficer()">
          <mat-icon class="material-symbols-rounded">
            add
          </mat-icon>
          {{'officerreg.add_registered_officer' | translate}}
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <form [formGroup]="filterForm" #formDirective="ngForm">
      <div class="row gx-2">
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.department_filter' | translate}}</mat-label> -->
            <mat-select formControlName="departmentId"  (selectionChange)="clearDropDown('dept');getDepartmentLevel()">
              <!-- <mat-option [value]="0">{{'officerreg.allDepartment' | translate}}</mat-option> -->
              <mat-option>
                <ngx-mat-select-search [formControl]="departmentctrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Department Name' : 'विभागाचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let department of departmentSubject | async" [value]="department.id">{{lang != 'en' ?
                department.textMarathi :department.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.designation_lev_filter' | translate}}</mat-label> -->
            <mat-select formControlName="departmentLevelId" placeholder="All Level" (selectionChange)="clearDropDown('clearAll');getDesignation()">
              <!-- <mat-option [value]="0"> {{'officerreg.allLevel' | translate}}</mat-option> -->
              <mat-option>
                <ngx-mat-select-search [formControl]="departmentLevelCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Level Name' : 'स्तराचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let level of departmentLevelSubject | async" [value]="level.id">{{lang != 'en' ?
                level.textMarathi : level.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.designation_filter' | translate}}</mat-label> -->
            <mat-select formControlName="designationId"  placeholder="All Designation Level">
              <!-- <mat-option [value]="0"> {{'officerreg.allDesignation' | translate}}</mat-option> -->
              <mat-option>
                <ngx-mat-select-search [formControl]="designationCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Designation Name' : 'पदनाम नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let  designation of designationSubject | async" [value]="designation.id">{{lang != 'en' ?
                designation.textMarathi : designation.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.taluka_filter' | translate}}</mat-label> -->
            <mat-select formControlName="talukaId"  placeholder="Taluka Level" (selectionChange)="clearDropDown('gram');getGrampanchayat();getCircle()">
              <mat-option>
                <ngx-mat-select-search [formControl]="talukaCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Taluka Name' : 'तालुक्याचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let taluka of talukaSubject | async" [value]="taluka.id">{{lang != 'en' ? taluka.textMarathi :
                taluka.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.block_filter' | translate}}</mat-label> -->
            <mat-select formControlName="blockId"  placeholder="All Blocks">
              <mat-option>
                <ngx-mat-select-search [formControl]="blockCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Block Name' : 'ब्लॉक नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let block of blockSubject | async" [value]="block.id">{{lang != 'en' ? block.textMarathi :
                block.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.circle_filter' | translate}}</mat-label> -->
            <mat-select formControlName="circleId" placeholder="All Circle">
              <!-- <mat-option [value]="0"> {{'officerreg.allCircle' | translate}}</mat-option> -->
              <mat-option>
                <ngx-mat-select-search [formControl]="circleCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Circle Name' : 'मंडळाचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let circle of circleSubject | async" [value]="circle.id">{{lang != 'en' ? circle.textMarathi :
                circle.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>{{'common.grampanchayat_filter' | translate}}</mat-label> -->
            <mat-select formControlName="grampanchayatId"  placeholder="Grampanchayat">
              <!-- <mat-option [value]="0">{{'officerreg.all_grampanchayat' | translate}}</mat-option> -->
              <mat-option>
                <ngx-mat-select-search [formControl]="gramPCtrl"
                  placeholderLabel="{{lang == 'en' ? 'Search Grampanchayat Name' : 'ग्रामपंचायतीचे नाव शोधा'}}"
                  noEntriesFoundLabel="{{lang == 'en' ? 'No Data Found' : 'माहिती उपलब्ध नाही'}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let village of gramPSubject | async" [value]="village.id">{{lang != 'en' ?
                village.textMarathi : village.textEnglish}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <div class="d-flex gap-2">
            <mat-form-field appearance="outline" class="w-100">
              <!-- <mat-label>{{'common.searchbyMobile_email' | translate}}</mat-label> -->
              <input matInput formControlName="searchtext" placeholder="Search by Mobile No/Email ID" (keypress)="validation.noFirstSpaceAllow($event)">
            </mat-form-field>
            <div class="d-flex align-items-center gap-2 mb-4">
              <button mat-flat-button class="btn-main btn-icon" matTooltip="edit" type="submit"
                (click)="filterFlag=true;bindTable('filter')">
                <mat-icon class="material-symbols-rounded">
                  search
                </mat-icon>
              </button>
              <button mat-flat-button class="btn-main-light btn-icon" matTooltip="edit"
                (click)="filterFlag=false;clearFilter()">
                <mat-icon class="material-symbols-rounded">
                  close
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="table-responsive scrollbar">
      <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
    </div>
  </mat-card-content>
</mat-card>
