// CSS for Technical Estimate
#report3 h4 {
    font-weight: 800;
    font-size: 1.1rem;
    margin-bottom: 3px;
}

#report3 h5 {
    font-weight: 700;
    font-size: 0.95rem;
    margin-bottom: 3px;
}

#report3 h6 {
    font-weight: 600;
    font-size: 0.85rem;
    margin-bottom: 3px;
}

#report3 p {
    font-size: 0.75rem;
    margin-bottom: 5px;
}

#report3 .table3 {
    font-size: 10pt;
    width: 100%;
}

#report3 .table31 {
    font-size: 10pt;
    width: 30%;
}

#report4 .table4 th,
#report4 .table41 th,
#report3 .table3 th,
#report3 .table3 td,
#report4 .table4 td,
#report4 .table41 td,
#report3 .table31 th,
#report3 .table31 td {
    padding-block: 3px;
}

#report3 .table31 td {
    text-align: center;
}

#report3 .table3 tr th:nth-child(1) {
    width: 30px;
}

s #report3 .table3 tr th:nth-child(n+3) {
    width: 50px;
}

#report3 .table31 tr th:nth-child(n+2) {
    width: 50px;
}

#report4 .table4,
#report4 .table41 {
    font-size: 10pt;
    width: 100%;
}


// CSS for Technical Sanction
#tao {
    width: 100%;
    border: solid 1px #353535;
}

#tao .letterhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    column-gap: 15px;
}

#tao .letterhead .letter-text {
    text-align: center;
    width: 100%;
}

#tao .letterhead img {
    height: 80px;
}

#tao .letterhead h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

#tao .letterhead h6 {
    font-size: 0.95rem;
    font-weight: 600;
}

#tao .letterhead p {
    font-size: 0.9rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

#tao .letter-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    color: #fff;
    font-size: 10pt;
    padding: 10px;
}

#tao .letter-content {
    padding: 15px;
    font-size: 10pt;
}

#tao .letter-content h4 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
}

#tao .report-table {
    width: 100%;
    border: 1px solid #aaa;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#tao .report-table th,
#tao .report-table td {
    border: 1px solid #aaa;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

#tao .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    row-gap: 30px;
    align-items: flex-end;
    font-weight: 600;
}


// CSS for Administrative Approval Letter
#aal {
    font-size: 10pt;
    width: 100%;
}

#aal .letterhead {
    text-align: center;
    border-bottom: solid 1px #aaa;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#aal .letterhead h4 {
    font-weight: 600;
    font-size: 14pt;
}

#aal .letterhead h6 {
    font-weight: 500;
    font-size: 11pt;
}

#aal .letterhead .contact {
    display: flex;
    justify-content: space-between;
}

#aal .letter-header {
    margin-bottom: 10px;
}

#aal .letter-header h6 {
    text-align: center;
    font-weight: 600;
    font-size: 11pt;
    text-decoration: underline;
}

#aal .main-content .head-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#aal .main-content h6 {
    font-weight: 600;
    font-size: 10pt;
    text-decoration: underline;
}

#aal .main-content p {
    text-indent: 4rem;
}

#aal .main-content ol,
#aal .main-content p {
    font-size: 10pt;
    line-height: 18pt;
    margin-bottom: 10px;
    text-align: justify;
}

#aal .main-content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10pt;
    border: solid 1px #aaa;
    margin-bottom: 10px;
}

#aal .main-content table th,
#aal .main-content table td {
    border-collapse: collapse;
    border: solid 1px #aaa;
    padding-block: 3px;
    text-align: center;
}

#aal .main-content .sign {
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 10pt;
    font-weight: 600;
    margin-top: 3rem;
}