<mat-card class="plain-card form-container">
    <mat-card-content class="card-body" id="report3">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>परिशिष्ट - ३</h4>
                <h5>रेशीम संचालनालय, नागपूर</h5>
                <h6>मनरेगा अंतर्गत केंद्र शासनाची अधिसूचना दिनांक २३/०४/२०२३</h6>
                <p>महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजने अंतर्गत एक एकर तुती लागवड संवर्धन व
                    कोषउत्पादनासाठीखर्चाचे अंदाजपत्रक (रुपये) तक्ता क्रमांक - १</p>
            </div>
        </div>
        <table class="table3 table-bordered">
            <tbody class="text-center">
                <tr>
                    <th rowspan="3">अ. क्र.</th>
                    <th rowspan="3">कामाचा तपशील</th>
                    <th colspan="7">पहिले वर्ष</th>
                    <th colspan="6">दुसरे वर्ष</th>
                    <th colspan="6">तिसरे वर्ष</th>
                    <th colspan="6">एकूण खर्चाचा तपशील</th>
                </tr>
                <tr>
                    <th rowspan="2">एकक</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">मंजुरी दर रु. २७३/- प्रति दिन</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">दर</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">दर</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">दर</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                </tr>
                <tr>
                    <th>मजुरी</th>
                    <th>सामुग्री ख. रक्कम</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                    <th>मजुरी</th>
                    <th>सामुग्री</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                    <th>मजुरी</th>
                    <th>सामुग्री</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                    <th>मजुरी</th>
                    <th>सामुग्री</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                </tr>
                <tr>
                    <th>१</th>
                    <th>२</th>
                    <th>३</th>
                    <th>४</th>
                    <th>५</th>
                    <th>६</th>
                    <th>७</th>
                    <th>८</th>
                    <th>९</th>
                    <th>१०</th>
                    <th>११</th>
                    <th>१२</th>
                    <th>१३</th>
                    <th>१४</th>
                    <th>१५</th>
                    <th>१६</th>
                    <th>१७</th>
                    <th>१८</th>
                    <th>१९</th>
                    <th>२०</th>
                    <th>२१</th>
                    <th>२२</th>
                    <th>२३</th>
                    <th>२४</th>
                    <th>२५</th>
                    <th>२६</th>
                    <th>२७</th>
                </tr>
            </tbody>
            <tbody>
                <tr class="text-center">
                    <td class="text-center"><strong>अ.</strong></td>
                    <td class="text-center"><strong>मजुरी</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">१</td>
                    <td>जमीन तयार करणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">२</td>
                    <td>शेणखत पसरविणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">३</td>
                    <td>सरी वरंबे तयार करणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">४</td>
                    <td>तुतीची रोपे लागवड</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td rowspan="6" class="text-center">५</td>
                    <td>अ) निंदणी व खुरपणी वर्षातून ४ वेळा</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>ब) जमीन कुळवणी वर्षातून ४ वेळा</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>क) पाणी देणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>ड) कंपोष्ट खत देणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>इ) जैविक व तुती पोषक औषधी फवारणी</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>फ) तुती छाटणी, गळफाद्या/बगलफुटी काढणे, तुती अळी भरणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td rowspan="3" class="text-center">६</td>
                    <td>अ) शेड निर्जंतुकरण</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>ब) फांदी कापणे, टाकणे, किटक संगोपन करणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>क) कोष काढणे</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td></td>
                    <td><strong>एकूण मजुरी (अ)</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center"><strong>ब</strong></td>
                    <td class="text-center"><strong>सामुग्री</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">७</td>
                    <td>तुतीची रोपे (६००० * ३ )</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">८</td>
                    <td>चंद्रिका (१०० * ७०)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">९</td>
                    <td>निर्जंतुकीकरणाची औषधी (Disinfectant)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">१०</td>
                    <td>हायग्रोमीटर १ नग (डिजिटल Hygrometer)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td class="text-center">११</td>
                    <td>बॅटरी ऑपरेटेड स्प्रे पंप १ नग</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td></td>
                    <td><strong>एकूण सामुग्री (ब)</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <th></th>
                    <th class="fw-bold text-center">एकूण अ + ब</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
        <p class="my-1">टिप : पहिले वर्ष शेतकऱ्यांनी १०० अंडीपुंज व दुसऱ्या वर्षी ४०० अंडीपूंजाचे किटक संगोपन करणे
            आवश्यक आहे. </p>
        <table class="table31 table-bordered mb-3">
            <thead class="text-center">
                <tr>
                    <th>तपशील </th>
                    <th>म. दि.</th>
                    <th>दर</th>
                    <th>अकुशल</th>
                    <th>कुशल</th>
                    <th>एकूण</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>तुती लागवड</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>किटक संगोपनगृह बांधकाम </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>एकूण अनुदान </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>एकूण गुणोत्तर</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>





        <div class="pagebreak"></div>
        <div style="width: 66%;" id="report4">
            <h4 class="text-center mb-3">
                रेशीम संचालनालय, महाराष्ट्र राज्य नागपुर
            </h4>
            <h5 class="text-center mb-2">
                मनरेगा अंतर्गत केंद्र शासनाची आधिसूचना दिनांक 23/04/2023 नुसार रेशीम किटक संगोपनसह 50*22 लॅम्ब *
                बंद
                फुट
                मोडेलसाठी
                लागणार्‍या खर्चाचे एक एकर तुति लागवड नुसार सुधारित आंदजपत्रक
            </h5>
            <table class="table4 table-bordered">
                <tbody class="text-center">
                    <tr>
                        <th rowspan="2">अ. क्र.</th>
                        <th rowspan="2">कामाचा तपशील</th>
                        <th colspan="6">
                            1100 चौ फुट ( 150 ते 250 ) अंडीपूंज / बॅच
                        </th>
                    </tr>
                    <tr>
                        <th>एकक</th>
                        <th>दर रु 273-/ म दिवस</th>
                        <th>मात्रा दिवस</th>
                        <th>एकूण म. दिवस</th>
                        <th>दर रु</th>
                        <th>मनरेगा अंतर्गत मंजूरी</th>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>अ .)</td>
                        <td>मंजूरी</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>शेडसाठी जागा , वाट तयार करणे</td>
                        <td>मी-2</td>
                        <td>5</td>
                        <td>4</td>
                        <td>20</td>
                        <td>273</td>
                        <td>5460</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>वळू चाळणे, सीमेंट वाळू खडी मिक्सिंग करणे व त्याची पाया भरणी करिता वाहतूक</td>
                        <td>मी-2</td>
                        <td>6</td>
                        <td>5</td>
                        <td>30</td>
                        <td>273</td>
                        <td>8190</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>पाया खोदणी, पाईपा करिता खड्डे तयार करणे , पाईप उभा करणे कोक्रीटॅग तयार करणे/ पाया
                            भरणे
                            इत्यादी.</td>
                        <td>मी-2</td>
                        <td>20</td>
                        <td>5</td>
                        <td>100</td>
                        <td>273</td>
                        <td>27300</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>मुरूम वाहतूक व आतील जमिनीवर मुरूम टाकणे</td>
                        <td>मी-2</td>
                        <td>6</td>
                        <td>2</td>
                        <td>12</td>
                        <td>273</td>
                        <td>3276</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>मुरूम धुमस करणे</td>
                        <td>मी-2</td>
                        <td>6</td>
                        <td>2</td>
                        <td>12</td>
                        <td>273</td>
                        <td>3276</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>बांधकामा अंतर्गत पाणी भरणे</td>
                        <td>0</td>
                        <td>1</td>
                        <td>9</td>
                        <td>9</td>
                        <td>273</td>
                        <td>2457</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>शेंड्साठी पाईप कापणे, फिटिंग</td>
                        <td></td>
                        <td>6</td>
                        <td>5</td>
                        <td>30</td>
                        <td>273</td>
                        <td>8190</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>अ ) एकूण अकुशल मंजूरी</td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td>213</td>
                        <td>273</td>
                        <td>58149</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-data">ब ) कुशल कामांचा तपशील</div>
            <table class="table41 table-bordered">
                <tbody>
                    <tr>
                        <th>
                            <p>अ. क्र.</p>
                        </th>
                        <th>साहित्याचे नाव</th>
                        <th>प्रमाण</th>
                        <th colspan="2">मात्रा</th>
                        <th>दर रु</th>
                        <th>देय रक्कम</th>
                        <th>शेरा</th>
                    </tr>
                </tbody>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>लोखंडी पाइप/ अंघल 3 किंवा 4 " साइज</td>
                        <td>किलो</td>
                        <td colspan="2">250</td>
                        <td>65</td>
                        <td>16250</td>
                        <td rowspan="6">सीमेंट पत्रे ऐवजी लोखंडी पत्रे, सीमेंट पाइप / कॉलम ऐवजी लोखंडी पाइप,
                            आधिक
                            मुलाच्या वस्तु तसेच सीमेंट, वाळू करिता इस्टिमेटपेक्षा जास्त खर्च शेतकरी स्वछ करू
                            शकतील.
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>लोखंडी क्वायर पाइप / आंगल 1.5" किंवा 2" साइज</td>
                        <td>किलो</td>
                        <td colspan="2">450</td>
                        <td>65</td>
                        <td>29250</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>पत्रे सीमेंट / लोखंडी 3*8</td>
                        <td>नग</td>
                        <td colspan="2">30</td>
                        <td>1700</td>
                        <td>51000</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>पात्राचे क्लॅप 7 ते 8 फुट</td>
                        <td>फुट / किलो</td>
                        <td colspan="2">20</td>
                        <td>65</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>स्क्रू व इतर</td>
                        <td>किलो</td>
                        <td colspan="2">20</td>
                        <td>65</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>सीमेंट वाळू विटा लोहा इ॰</td>
                        <td>किलो</td>
                        <td colspan="2">लागणारे प्रमाणात</td>
                        <td></td>
                        <td>18900</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>जनमाहिती फलक</td>
                        <td></td>
                        <td colspan="2">रुंदी 3*4 लांबी फुट</td>
                        <td>एकत्रीत</td>
                        <td>3000</td>
                        <td>विटा/रेती/सीमेंटच्या फळकवर योजनेचे नाव शेतकरी नाव कामाचा कोड व एकूण रक्कम व आदि
                            रक्कम
                            नमूद
                            असावी.</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>ब ) एकूण कुशल रक्कम</td>
                        <td></td>
                        <td colspan="2"></td>
                        <td></td>
                        <td>121000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>एकूण रक्कम (अ + ब )</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div class="form-data">वरिष्ठ तांत्रिक सहा.</div>
                    <div class="form-data">रेशीम संचालनालय, नागपुर</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div class="form-data">संचालक.</div>
                    <div class="form-data">रेशीम संचालनालय, नागपुर</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div class="form-data">उपसंचालक.</div>
                    <div class="form-data">रेशीम संचालनालय, नागपुर</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div class="form-data">आयुक्त.</div>
                    <div class="form-data">मनरेगा</div>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center w-100 d-print-none">
                <button mat-flat-button class="btn-main-light">Cancel</button>
                <button mat-flat-button class="btn-main">Print</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>