<!-- <mat-card class="plain-card form-container">
    <mat-card-content class="card-body" id="report3">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>परिशिष्ट - ३</h4>
                <h5>रेशीम संचालनालय, नागपूर</h5>
                <h6>मनरेगा अंतर्गत केंद्र शासनाची अधिसूचना दिनांक २३/०४/२०२३</h6>
                <p>महात्मा गांधी राष्ट्रीय ग्रामीण रोजगार हमी योजने अंतर्गत एक एकर तुती लागवड संवर्धन व
                    कोषउत्पादनासाठीखर्चाचे अंदाजपत्रक (रुपये) तक्ता क्रमांक - १</p>
            </div>
        </div>
        <table class="table3 table-bordered">
            <tbody style="text-align: center;">
                <tr>
                    <th rowspan="3">अ. क्र.</th>
                    <th rowspan="3">कामाचा तपशील</th>
                    <th colspan="7">पहिले वर्ष</th>
                    <th colspan="6">दुसरे वर्ष</th>
                    <th colspan="6">तिसरे वर्ष</th>
                    <th colspan="6">एकूण खर्चाचा तपशील</th>
                </tr>
                <tr>
                    <th rowspan="2">एकक</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">मंजुरी दर रु. २७३/- प्रति दिन</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">दर</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">दर</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                    <th rowspan="2">मनुष्य दिवस</th>
                    <th rowspan="2">दर</th>
                    <th colspan="4">मनरेगा अंतर्गत खर्चाचा तपशील</th>
                </tr>
                <tr>
                    <th>मजुरी</th>
                    <th>सामुग्री ख. रक्कम</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                    <th>मजुरी</th>
                    <th>सामुग्री</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                    <th>मजुरी</th>
                    <th>सामुग्री</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                    <th>मजुरी</th>
                    <th>सामुग्री</th>
                    <th>लाभार्थी हिस्सा</th>
                    <th>एकूण</th>
                </tr>
                <tr>
                    <th>१</th>
                    <th>२</th>
                    <th>३</th>
                    <th>४</th>
                    <th>५</th>
                    <th>६</th>
                    <th>७</th>
                    <th>८</th>
                    <th>९</th>
                    <th>१०</th>
                    <th>११</th>
                    <th>१२</th>
                    <th>१३</th>
                    <th>१४</th>
                    <th>१५</th>
                    <th>१६</th>
                    <th>१७</th>
                    <th>१८</th>
                    <th>१९</th>
                    <th>२०</th>
                    <th>२१</th>
                    <th>२२</th>
                    <th>२३</th>
                    <th>२४</th>
                    <th>२५</th>
                    <th>२६</th>
                    <th>२७</th>
                </tr>
            </tbody>
            <tbody>
                <tr style="text-align: center;">
                    <td style="text-align: center;"><strong>अ.</strong></td>
                    <td style="text-align: center;"><strong>मजुरी</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <ng-container *ngFor="let data of this.estimateArray;let i=index">
                    <tr style="text-align: center;">
                        <td style="text-align: center;">{{i + 1}}</td>
                        <td>{{data.m_WorkDetail || '-'}}</td>
                        <td>{{data.m_Unit || '-'}}</td>
                        <td>{{data.manPower_1 || 0}}</td>
                        <td>{{data.wagesRate_1 || 0}}</td>
                        <td>{{data.wages_1 || 0}}</td>
                        <td>{{data.accessoriesAmount_1 || 0}}</td>
                        <td>{{data.benificiaryShares_1 || 0}}</td>
                        <td>{{data.total_1 || 0}}</td>


                        <td>{{data.manPower_2 || 0}}</td>
                        <td>{{data.wagesRate_2 || 0}}</td>
                        <td>{{data.wages_2|| 0}}</td>
                        <td>{{data.accessoriesAmount_2 || 0}}</td>
                        <td>{{data.benificiaryShares_2 || 0}}</td>
                        <td>{{data.total_2 || 0}}</td>


                        <td>{{data.manPower_3 || 0}}</td>
                        <td>{{data.wagesRate_3 || 0}}</td>
                        <td>{{data.wages_3 || 0}}</td>
                        <td>{{data.accessoriesAmount_3 || 0}}</td>
                        <td>{{data.benificiaryShares_3 || 0}}</td>
                        <td>{{data.total_3|| 0}}</td>


                        <td>{{data.totalManPower || 0}}</td>
                        <td>{{data.totalWagesRate|| 0}}</td>
                        <td>{{data.totalWages|| 0}}</td>
                        <td>{{data.totalAccessoriesAmount || 0}}</td>
                        <td>{{data.benificiaryShares || 0}}</td>
                        <td>{{data.grandTotal || 0}}</td>

                    </tr>
                </ng-container>
                <tr style="text-align: center;">
                    <td></td>
                    <td><strong>एकूण मजुरी (अ)</strong></td>
                    <td></td>
                    <td>{{year1Obj?.manPowerAllyear || 0}}</td>
                    <td>{{year1Obj?.wagesRateAllyear || 0}}</td>
                    <td>{{year1Obj?.wages_TotalAllyear || 0}}</td>
                    <td></td>
                    <td></td>
                    <td>{{year1Obj?.wages_TotalAllyear || 0}}</td>
                    <td>{{year2Obj?.manPowerAllyear || 0}}</td>
                    <td>{{year2Obj?.wagesRateAllyear || 0}}</td>
                    <td>{{year2Obj?.wages_TotalAllyear || 0}}</td>
                    <td></td>
                    <td></td>
                    <td>{{year2Obj?.wages_TotalAllyear || 0}}</td>
                    <td>{{year3Obj?.manPowerAllyear || 0}}</td>
                    <td>{{year3Obj?.wagesRateAllyear || 0}}</td>
                    <td>{{year3Obj?.wages_TotalAllyear || 0}}</td>
                    <td></td>
                    <td></td>
                    <td>{{year3Obj?.wages_TotalAllyear || 0}}</td>

                    <td>{{totalUnSkillObject?.totalManPower || 0}}</td>
                    <td>{{totalUnSkillObject?.wagesRate || 0}}</td>
                    <td>{{totalUnSkillObject?.totalWages || 0}}</td>
                    <td>{{totalUnSkillObject?.totalAccessoriesAmount || 0}}</td>
                    <td>{{totalUnSkillObject?.totalBenificiaryShares || 0}}</td>
                    <td>{{totalUnSkillObject?.grandTotal || 0}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr style="text-align: center;">
                    <td style="text-align: center;"><strong>ब</strong></td>
                    <td style="text-align: center;"><strong>सामुग्री</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <ng-container *ngFor="let evv of estimateSkillArray;let j =index">
                    <tr style="text-align: center;">
                        <td style="text-align: center;">{{j + 1}}</td>
                        <td>{{evv.m_WorkDetail || '-'}}</td>
                        <td>{{evv.m_Unit || '-'}}</td>
                        <td>{{evv.manPower_1 || 0}}</td>
                        <td>{{evv.wagesRate_1 || 0}}</td>
                        <td>{{evv.wages_1 || 0}}</td>
                        <td>{{evv.accessoriesAmount_1 || 0}}</td>
                        <td>{{evv.benificiaryShares_1 || 0}}</td>
                        <td>{{evv.total_2 || 0}}</td>
                        <td>{{evv.manPower_2 || 0}}</td>
                        <td>{{evv.wagesRate_2 || 0}}</td>
                        <td>{{evv.wages_2 || 0}}</td>
                        <td>{{evv.accessoriesAmount_2 || 0}}</td>
                        <td>{{evv.benificiaryShares_2 || 0}}</td>
                        <td>{{evv.total_3 || 0}}</td>
                        <td>{{evv.manPower_3 || 0}}</td>
                        <td>{{evv.wagesRate_3 || 0}}</td>
                        <td>{{evv.wages_3 || 0}}</td>
                        <td>{{evv.accessoriesAmount_3 || 0}}</td>
                        <td>{{evv.benificiaryShares_3 || 0}}</td>
                        <td>{{evv.total_3 || 0}}</td>
                        <td>{{evv.totalManPower || 0}}</td>
                        <td>{{evv.totalWagesRate || 0}}</td>
                        <td>{{evv.totalWages || 0}}</td>
                        <td>{{evv.totalAccessoriesAmount || 0}}</td>
                        <td>{{evv.benificiaryShares || 0}}</td>
                        <td>{{evv.grandTotal || 0}}</td>
                    </tr>
                </ng-container>
                <tr style="text-align: center;">
                    <td></td>
                    <td><strong>एकूण सामुग्री (ब)</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>{{totalSkillObject?.totalManPower || 0}}</th>
                    <th>{{totalSkillObject?.wagesRate || 0}}</th>
                    <th>{{totalSkillObject?.totalWages || 0}}</th>
                    <th>{{totalSkillObject?.totalAccessoriesAmount || 0}}</th>
                    <th>{{totalSkillObject?.totalBenificiaryShares || 0}}</th>
                    <th>{{totalSkillObject?.grandTotal || 0}}</th>
                </tr>
                <tr style="text-align: center;">
                    <th></th>
                    <th class="fw-bold text-center">एकूण अ + ब</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{skillYear1Obj?.totalWages_A_B || 0}}</th>
                    <th>{{skillYear1Obj?.totalAccessoriesAmount_A_B || 0}}</th>
                    <th></th>
                    <th>{{skillYear1Obj?.total_A_B || 0}}</th>
                    <th></th>
                    <th></th>
                    <th>{{skillYear2Obj?.totalWages_A_B || 0}}</th>
                    <th>{{skillYear2Obj?.totalAccessoriesAmount_A_B || 0}}</th>
                    <th></th>
                    <th>{{skillYear2Obj?.total_A_B || 0}}</th>
                    <th></th>
                    <th></th>
                    <th>{{skillYear3Obj?.totalWages_A_B || 0}}</th>
                    <th>{{skillYear3Obj?.totalAccessoriesAmount_A_B || 0}}</th>
                    <th></th>
                    <th>{{skillYear3Obj?.total_A_B || 0}}</th>
                    <th></th>
                    <th></th>
                    <th>{{finalTotalRes?.wages || 0}}</th>
                    <th>{{finalTotalRes?.accessoriesAmount || 0}}</th>
                    <th></th>
                    <th>{{finalTotalRes?.total || 0}}</th>
                </tr>
            </tbody>
        </table>
        <p class="my-1">टिप : पहिले वर्ष शेतकऱ्यांनी १०० अंडीपुंज व दुसऱ्या वर्षी ४०० अंडीपूंजाचे किटक संगोपन करणे
            आवश्यक आहे. </p>
        <table class="table31 table-bordered mb-3">
            <thead style="text-align: center;">
                <tr>
                    <th>तपशील </th>
                    <th>म. दि.</th>
                    <th>दर</th>
                    <th>अकुशल</th>
                    <th>कुशल</th>
                    <th>एकूण</th>
                </tr>
            </thead>
            <tbody >
                <ng-container  *ngFor="let err of finaltotalArray">
                <tr>
                    <th>{{err.m_Name || '-'}}</th>
                    <td>{{err.manPower || 0}}</td>
                    <td>{{err.wagesRate || 0}}</td>
                    <td>{{err.unskill || 0}}</td>
                    <td>{{err.skill || 0}}</td>
                    <td>{{err.total || 0}}</td>
                </tr>
            </ng-container>
            </tbody>
            <tbody>   
                <tr>
                    <th>{{totalMappingArray?.m_Name || '-'}}</th>
                    <td></td>
                    <td></td>
                    <td>{{totalMappingArray?.unskill || 0}}</td>
                    <td>{{totalMappingArray?.skill || 0}}</td>
                    <td>{{totalMappingArray?.total || 0}}</td>
                </tr>
            </tbody>
        </table>





        <div class="pagebreak"></div>
        <div style="width: 66%;" id="report4">
            <h4 class="text-center mb-3">
                रेशीम संचालनालय, महाराष्ट्र राज्य नागपुर
            </h4>
            <h5 class="text-center mb-2">
                मनरेगा अंतर्गत केंद्र शासनाची आधिसूचना दिनांक 23/04/2023 नुसार रेशीम किटक संगोपनसह 50*22 लॅम्ब *
                बंद
                फुट
                मोडेलसाठी
                लागणार्‍या खर्चाचे एक एकर तुति लागवड नुसार सुधारित आंदजपत्रक
            </h5>
            <table class="table4 table-bordered">
                <tbody style="text-align: center;">
                    <tr>
                        <th rowspan="2">अ. क्र.</th>
                        <th rowspan="2">कामाचा तपशील</th>
                        <th colspan="6">
                            1100 चौ फुट ( 150 ते 250 ) अंडीपूंज / बॅच
                        </th>
                    </tr>
                    <tr>
                        <th>एकक</th>
                        <th>दर रु 273-/ म दिवस</th>
                        <th>मात्रा दिवस</th>
                        <th>एकूण म. दिवस</th>
                        <th>दर रु</th>
                        <th>मनरेगा अंतर्गत मंजूरी</th>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>अ .)</td>
                        <td>मंजूरी</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <ng-container *ngFor="let ev of  skillDataArray.unSkillArray;let i=index">
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{ev.m_WorkDetail || '-'}}</td>
                            <td>{{ev.m_Unit || '-'}}</td>
                            <td>{{ev.manPower || 0}}</td>
                            <td>{{ev.aroundDay || 0}}</td>
                            <td>{{ev.totalManPower || 0}}</td>
                            <td>{{ev.wagesRate || 0}}</td>
                            <td>{{ev.totalWages || 0}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngFor="let err of skillDataArray.totalUnskill">
                        <tr>
                            <td></td>
                            <td>अ ) एकूण अकुशल मंजूरी</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{err.totalManPowerDays || 0}}</td>
                            <td>{{err.wagesRate || 0}}</td>
                            <td>{{err.wagesUnderManrega || 0}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div style="font-size:10pt;font-weight: 600;">ब ) कुशल कामांचा तपशील</div>
            <table class="table41 table-bordered">
                <tbody>
                    <tr>
                        <th>
                            <p>अ. क्र.</p>
                        </th>
                        <th>साहित्याचे नाव</th>
                        <th>प्रमाण</th>
                        <th colspan="2">मात्रा</th>
                        <th>दर रु</th>
                        <th>देय रक्कम</th>
                        <th>शेरा</th>
                    </tr>
                </tbody>
                <tbody>
                        <tr *ngFor="let err of skillDataArray.skillArray;let i =index">
                            <td>{{i + 1}}</td>
                            <td>{{err.m_WorkDetail || '-'}}</td>
                            <td>{{err.m_Unit || '-'}}</td>
                            <td colspan="2">{{err.aroundDay ||0}}</td>
                            <td>{{err.wagesRate ||0}}</td>
                            <td>{{err.totalWages ||0}}</td>
                            <td rowspan="6" *ngIf="i == 0">
                                {{technicalUnSkillObj?.action1}}
                            </td>
                            <td *ngIf="i == 6">
                                {{technicalUnSkillObj?.action2}}
                            </td>
                        </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>8</td>
                        <td>ब ) एकूण कुशल रक्कम</td>
                        <td></td>
                        <td colspan="2"></td>
                        <td></td>
                        <td>{{tableDataArray?.responseData4?.wagesUnderManrega || 0}}</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>9</td>
                        <td>एकूण रक्कम (अ + ब )</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{tableDataArray?.responseData5?.total ||0}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div style="font-size:10pt;font-weight: 600;">वरिष्ठ तांत्रिक सहा.</div>
                    <div style="font-size:10pt;font-weight: 600;">रेशीम संचालनालय, नागपुर</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div style="font-size:10pt;font-weight: 600;">संचालक.</div>
                    <div style="font-size:10pt;font-weight: 600;">रेशीम संचालनालय, नागपुर</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div style="font-size:10pt;font-weight: 600;">उपसंचालक.</div>
                    <div style="font-size:10pt;font-weight: 600;">रेशीम संचालनालय, नागपुर</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>--</div>
                    <div style="font-size:10pt;font-weight: 600;">आयुक्त.</div>
                    <div style="font-size:10pt;font-weight: 600;">मनरेगा</div>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center w-100 d-print-none">
                <button mat-flat-button class="btn-main-light"  type="button">Cancel</button>
                <button mat-flat-button class="btn-main" type="button" (click)="print()">Print</button>
            </div>
        </div>
    </mat-card-content>
</mat-card> -->
<div style="font-size: 0.85rem;"  id="document">
    
</div>

<div style="display:flex;justify-content:center;column-gap: 15px;width: 100%;">
    <button mat-flat-button class="btn-main" type="button" (click)="confirm()">Confirm</button>
</div>