<div class="login-wrapper">

</div>
<div class="login-box">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/login.jpg" class="login-img">
        </div>
        <div class="col-sm-6">
            <form>
                <div class="login form-container">
                    <div class="mb-2 text-center">
                        <img src="assets/images/logo-text.svg" class="w-75">
                    </div>
                    <h4 class="fw-bold text-center mb-2">FARMER SIGN UP</h4>
                    <div class="mb-0">
                        <label class="form-label">Full Name</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Full Name</mat-label>
                            <input matInput placeholder="Full Name">
                        </mat-form-field>
                    </div>
                    <div class="row gx-2">
                        <div class="col-sm-6">
                            <label class="form-label">Mobile No.</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput placeholder="Mobile No.">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">District</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>District</mat-label>
                                <mat-select>
                                    <mat-option value="volvo">Volvo</mat-option>
                                    <mat-option value="saab">Saab</mat-option>
                                    <mat-option value="mercedes">Mercedes</mat-option>
                                    <mat-option value="audi">Audi</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Taluka</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Taluka</mat-label>
                                <mat-select>
                                    <mat-option value="volvo">Volvo</mat-option>
                                    <mat-option value="saab">Saab</mat-option>
                                    <mat-option value="mercedes">Mercedes</mat-option>
                                    <mat-option value="audi">Audi</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Village</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Village</mat-label>
                                <mat-select>
                                    <mat-option value="volvo">Volvo</mat-option>
                                    <mat-option value="saab">Saab</mat-option>
                                    <mat-option value="mercedes">Mercedes</mat-option>
                                    <mat-option value="audi">Audi</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row align-items-start g-2">
                        <div class="col-sm">
                            <div id="captcha"></div>
                        </div>
                        <div class="col-sm-auto">
                            <button mat-flat-button type="button" class="btn-icon btn-main">
                                <span class="material-symbols-rounded">
                                    autorenew
                                </span>
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="Captcha">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <button mat-flat-button class="btn-main w-100">
                                SIGN UP
                            </button>
                        </div>
                        <div class="col-sm-6 text-end">
                            <a class="text-main" href="../login">Back to Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>