<div class="login-wrapper">

</div>
<div class="login-box">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/login.jpg" class="login-img">
        </div>
        <div class="col-sm-6">
            <form [formGroup]="signUpForm" >
                <div class="login form-container">
                    <div class="mb-2 text-center">
                        <img src="assets/images/logo-text.svg" class="w-75">
                    </div>
                    <h4 class="fw-bold text-center mb-2">{{'farmerSignUp.farmer_sign_up' |translate}}</h4>
                    <div class="mb-0">
                        <label class="form-label">{{'farmerSignUp.Full_Name'|translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <!-- <mat-label>Full Name</mat-label> -->
                            <input matInput formControlName="name" (keypress)="validator.noFirstSpaceAllow($event);validator.onlyAlphabetsWithSpace($event)" maxlength="20">
                            <mat-error class="text-danger" *ngIf="f['name'].hasError('required')">{{'farmerSignUp.Please_enter_full_name'|translate}}</mat-error>
                            <mat-error class="text-danger" *ngIf="f['name'].hasError('pattern')">{{'farmerSignUp.Please_enter_valid_full_name'|translate}} </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row gx-2">
                        <div class="col-sm-6">
                            <label class="form-label">{{'farmerSignUp.Mobile_No'|translate}}</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <!-- <mat-label>Mobile No.</mat-label> -->
                                <input matInput  maxlength="10" formControlName="mobileNo" (keypress)="validator.noFirstSpaceAllow($event);validator.onlyDigits($event)">
                                <mat-error class="text-danger" *ngIf="f['mobileNo'].hasError('required')">{{'farmerSignUp.Please_enter_mobile_number'|translate}} </mat-error>
                                <mat-error class="text-danger" *ngIf="f['mobileNo'].hasError('pattern')">{{'farmerSignUp.Please_enter_valid_mobile_number'|translate}} </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">{{'common.district'|translate}} </label>
                            <mat-form-field appearance="outline" class="w-100"
                            [class]="f['districtId'].value ? f['districtId'].disable({ onlySelf: true }) : f['districtId'].enable({ onlySelf: true })">
                                <!-- <mat-label>District</mat-label> -->
                                <mat-select formControlName="districtId" (selectionChange)="getTaluka()">                                    
                                    <mat-option *ngFor="let district of districtArray" [value]="district.id">{{lang == 'en' ? district.textEnglish : district.textMarathi}}</mat-option>                                                          
                                </mat-select>
                                <mat-error class="text-danger" *ngIf="f['districtId'].hasError('required')">{{'farmerSignUp.Please_select_district'|translate}} </mat-error>      
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">{{'common.taluka'|translate}}</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <!-- <mat-label>Taluka</mat-label> -->
                                <mat-select formControlName="talukaId"  (selectionChange)="getGrampanchayat();clearDependancy()">
                                    <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{lang == 'en' ? taluka.textEnglish : taluka.textMarathi}}</mat-option>                                                             
                                </mat-select>
                                <mat-error class="text-danger" *ngIf="f['talukaId'].hasError('required')">{{'farmerSignUp.Please_select_taluka'|translate}} </mat-error>      
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">{{'common.select_grampanchayat'|translate}}</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <!-- <mat-label>Village</mat-label> -->
                                <mat-select formControlName="grampanchayatId">
                                    <mat-option *ngFor="let grampanchayat of grampanchayatArray" [value]="grampanchayat.id">{{lang == 'en' ? grampanchayat.textEnglish : grampanchayat.textMarathi}}</mat-option>                                                       
                                </mat-select>
                                <mat-error class="text-danger" *ngIf="f['grampanchayatId'].hasError('required')">{{'farmerSignUp.Please_select_grampanchayat'|translate}} </mat-error>  
                            </mat-form-field>
                        </div>

                        <div  class="col-sm-6">
                            <label class="form-label">{{'farmerSignUp.village'|translate}}</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <!-- <mat-label>Full Name</mat-label> -->
                                <input matInput formControlName="village" (keypress)="validator.noFirstSpaceAllow($event);validator.onlyAlphabetsWithSpace($event)" maxlength="20">
                                <mat-error class="text-danger" *ngIf="f['village'].hasError('required')">{{'farmerSignUp.Please_enter_village_name'|translate}} </mat-error>
                                <mat-error class="text-danger" *ngIf="f['village'].hasError('pattern')">{{'farmerSignUp.Please_enter_valid_village_name'|translate}} </mat-error>                                
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- <div class="row align-items-start g-2">
                        <div class="col-sm">
                            <div id="captcha"></div>
                        </div>
                        <div class="col-sm-auto">
                            <button mat-flat-button type="button" class="btn-icon btn-main">
                                <span class="material-symbols-rounded">
                                    autorenew
                                </span>
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="Captcha">
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="row align-items-center">
                  
                        <div class="col-sm-6">
                            <button mat-flat-button class="btn-main w-100" (click)="openSendOtpComponent()">
                                {{'farmerSignUp.SIGN_UP'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>